Repository CybercentreCanada/howler: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check-api, poetry-check-client, poetry-check-evidence, poetry-check-sentinel, lint-staged, bad-ui-imports

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - commit-msg

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.8.0
    hooks:
      # Run the linter.
      - id: ruff
        name: Ruff Linting
        args: [--fix, --output-format=concise]
      # Run the formatter.
      - id: ruff-format
        name: Ruff Formatting
  # - repo: https://github.com/compilerla/conventional-pre-commit
  #   rev: v4.3.0
  #   hooks:
  #     - id: conventional-pre-commit
  #       stages: [commit-msg]
  - repo: local
    hooks:
      - id: poetry-check-api
        name: poetry-check-api
        entry: hooks/check_poetry.sh
        args: [api]
        language: script
        stages: [pre-commit]
        files: ^api/.*\.(toml|lock)
      - id: poetry-check-client
        name: Poetry Check (client)
        entry: hooks/check_poetry.sh
        args: [client]
        language: script
        stages: [pre-commit]
        files: ^client/.*\.(toml|lock)
      - id: poetry-check-evidence
        name: Poetry Check (Evidence Plugin)
        entry: hooks/check_poetry.sh
        args: [plugins/evidence]
        language: script
        stages: [pre-commit]
        files: ^plugins/evidence/.*\.(toml|lock)
      - id: poetry-check-sentinel
        name: Poetry Check (Sentinel Plugin)
        entry: hooks/check_poetry.sh
        args: [plugins/sentinel]
        language: script
        stages: [pre-commit]
        files: ^plugins/sentinel/.*\.(toml|lock)
      - id: lint-staged
        name: lint-staged
        entry: ui/build_scripts/lint_staged.sh
        language: script
        stages: [pre-commit]
        files: ^ui/.*
      - id: bad-ui-imports
        name: Check for bad UI imports
        entry: ui/build_scripts/find_bad_imports.py
        language: python
        stages: [pre-commit]
        files: ^ui/.*
      - id: check-commit-msg
        name: Validate Commit Message
        entry: hooks/commit-msg.py
        language: python
        stages: [commit-msg]
        additional_dependencies: ["conventional-pre-commit", "rich"]
        verbose: true

pr feedback
  client/howler_client/module/search/facet.py
  client/howler_client/module/search/histogram.py
  client/howler_client/module/search/stats.py
Due: none

corrected some head problem and comments
  ui/src/components/elements/hit/related/PivotLink.tsx
Due: lint-staged, bad-ui-imports

test coverage
  client/test/unit/test_search_defaults.py
Due: none

removed comment i used to understand what happened in the file
  ui/src/components/elements/hit/HitLabels.tsx
Due: lint-staged, bad-ui-imports

fix ui test to check expected arguments and allow extra trailing undefined values
  ui/src/components/app/providers/ViewProvider.test.tsx
Due: lint-staged, bad-ui-imports

added docstring for permission control functions
  api/howler/odm/models/action.py
  api/howler/odm/models/dossier.py
  api/howler/odm/models/view.py
Due: none

pr feedback
  client/test/unit/test_search_defaults.py
Due: none

fix(client): unit test fixes (#423)
  client/howler_client/module/hit.py
  client/howler_client/module/search/facet.py
  client/howler_client/module/search/grouped.py
  client/howler_client/module/search/histogram.py
  client/howler_client/module/search/stats.py
  client/howler_client/module/search/stream.py
  client/test/integration/test_hit.py
  client/test/unit/test_search_defaults.py
  client/test/utils.py
Due: none

fix typing and set response with functional update
  ui/src/components/app/providers/SearchResponseProvider.tsx
Due: lint-staged, bad-ui-imports

fallback to commit for create hit calls if refresh is true
  api/howler/api/v1/hit.py
  api/test/integration/api/test_wait_for_refresh.py
Due: none

added ability to close cases with unresolved alerts
  ui/pnpm-lock.yaml
  ui/src/components/routes/cases/modals/ResolveModal.test.tsx
  ui/src/components/routes/cases/modals/ResolveModal.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports

show entity_obj on failure to identify issues with random test data generation
  api/test/integration/api/test_wait_for_refresh.py
Due: none

remove null from type for parameter marked as optional
  ui/src/components/app/providers/SearchResponseProvider.tsx
Due: lint-staged, bad-ui-imports

feat(ui,api): add better case handling in cases sidebar
  api/howler/services/case_service.py
  api/test/unit/services/test_case_service.py
  ui/src/api/v2/case/items.ts
  ui/src/components/routes/cases/detail/CaseTask.tsx
  ui/src/components/routes/cases/detail/TaskPanel.tsx
  ui/src/components/routes/cases/detail/sidebar/CaseFolder.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports

Fix fallback for request in audit
  api/howler/common/logging/audit.py
Due: none

chore(ui): update workflow to pnpm v11
  .github/workflows/ui-workflow.yml
Due: none

Potential fix for pull request finding
  api/howler/common/logging/audit.py
Due: none

fix(api): add fallback for when audit log is generated outside of requests context (#426)
  api/howler/common/logging/audit.py
Due: none

fix(ui): bump to node v24
  .github/workflows/ui-workflow.yml
Due: none

Add health check for redis
  api/howler/healthz.py
Due: none

fix(ui): pnpm workspace issues
  ui/.gitignore
  ui/package.json
  ui/pnpm-workspace.yaml
  ui/src/components/elements/addons/search/SearchTotal.test.tsx
  ui/src/components/routes/ErrorOccured.test.tsx
  ui/src/components/routes/home/AddNewCard.test.tsx
  ui/src/components/routes/home/ViewRefresh.test.tsx
Due: lint-staged, bad-ui-imports

fix(ui): more pnpm workspace issues
  ui/pnpm-lock.yaml
Due: lint-staged, bad-ui-imports

Add exception handling to ds.ping()
  api/howler/healthz.py
Due: none

fix workflow
  .github/workflows/ui-workflow.yml
Due: none

fix pre-commit
  .pre-commit-config.yaml
Due: none

remove check_translation script
  ui/build_scripts/check_translation.py
Due: lint-staged, bad-ui-imports

build fixes
  .github/workflows/ui-workflow.yml
Due: none

resolving conflicts with new removecount functionality
  ui/src/components/elements/hit/HitBanner.tsx
  ui/src/components/elements/hit/elements/Assigned.tsx
  ui/src/components/routes/cases/Cases.tsx
  ui/src/components/routes/hits/search/grid/RecordRow.tsx
Due: lint-staged, bad-ui-imports

fix types
  api/howler/api/v1/hit.py
  api/howler/api/v1/tool.py
Due: none

fix lockfiles
  plugins/evidence/poetry.lock
  plugins/sentinel/poetry.lock
Due: poetry-check-evidence, poetry-check-sentinel

fix style unit tests
  ui/src/components/elements/display/HowlerCard.test.tsx
Due: lint-staged, bad-ui-imports

fixing refresh tests
  api/test/integration/api/test_wait_for_refresh.py
Due: none

fix client unit test
  client/test/integration/test_v2_search.py
Due: none

feat(api): add redis ping for healthz (#427)
  api/howler/healthz.py
Due: none

fix assert message in refresh unit tests
  api/test/integration/api/test_wait_for_refresh.py
Due: none

oops
  api/test/integration/api/test_wait_for_refresh.py
Due: none
