Repository CybercentreCanada/howler: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check-api, poetry-check-client, poetry-check-evidence, poetry-check-sentinel, lint-staged

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.8.0
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix, --output-format=concise]
      # Run the formatter.
      - id: ruff-format
  - repo: local
    hooks:
      - id: poetry-check-api
        name: poetry-check-api
        entry: api/build_scripts/check_poetry.sh
        language: script
        stages: [pre-commit]
        files: ^api/.*\.(toml|lock)
      - id: poetry-check-client
        name: poetry-check-client
        entry: client/build_scripts/check_poetry.sh
        language: script
        stages: [pre-commit]
        files: ^client/.*\.(toml|lock)
      - id: poetry-check-evidence
        name: poetry-check-evidence
        entry: plugins/evidence/build_scripts/check_poetry.sh
        language: script
        stages: [pre-commit]
        files: ^plugins/evidence/.*\.(toml|lock)
      - id: poetry-check-sentinel
        name: poetry-check-sentinel
        entry: plugins/sentinel/build_scripts/check_poetry.sh
        language: script
        stages: [pre-commit]
        files: ^plugins/sentinel/.*\.(toml|lock)
      - id: lint-staged
        name: lint-staged
        entry: ui/build_scripts/lint_staged.sh
        language: script
        stages: [pre-commit]
        files: ^ui/.*

Convert moment to dayjs
  .vscode/settings.json
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/commons/components/notification/elements/item/NotificationItemDate.tsx
  ui/src/components/app/drawers/ApiKeyDrawer.tsx
  ui/src/components/elements/hit/aggregate/HitGraph.tsx
  ui/src/components/elements/hit/elements/HitTimestamp.tsx
  ui/src/components/hooks/useMyChart.tsx
  ui/src/components/routes/advanced/QueryBuilder.tsx
  ui/src/components/routes/analytics/AnalyticOverview.tsx
  ui/src/components/routes/analytics/AnalyticOverviews.tsx
  ui/src/components/routes/analytics/AnalyticTemplates.tsx
  ui/src/components/routes/analytics/RuleView.tsx
  ui/src/components/routes/analytics/TriageSettings.tsx
  ui/src/components/routes/analytics/widgets/Assessment.tsx
  ui/src/components/routes/analytics/widgets/Created.tsx
  ui/src/components/routes/analytics/widgets/Detection.tsx
  ui/src/components/routes/analytics/widgets/Escalation.tsx
  ui/src/components/routes/analytics/widgets/Stacked.tsx
  ui/src/components/routes/analytics/widgets/Status.tsx
  ui/src/components/routes/help/TemplateDocumentation.tsx
  ui/src/components/routes/hits/search/HitBrowser.tsx
  ui/src/components/routes/hits/search/shared/CustomSpan.tsx
  ui/src/components/routes/home/index.tsx
  ui/src/components/routes/settings/SecuritySection.tsx
  ui/src/index.tsx
  ui/src/utils/constants.tsx
  ui/src/utils/utils.ts
Due: lint-staged

Convert moment to dayjs (#66)
  .vscode/settings.json
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/commons/components/notification/elements/item/NotificationItemDate.tsx
  ui/src/components/app/drawers/ApiKeyDrawer.tsx
  ui/src/components/elements/hit/aggregate/HitGraph.tsx
  ui/src/components/elements/hit/elements/HitTimestamp.tsx
  ui/src/components/hooks/useMyChart.tsx
  ui/src/components/routes/advanced/QueryBuilder.tsx
  ui/src/components/routes/analytics/AnalyticOverview.tsx
  ui/src/components/routes/analytics/AnalyticOverviews.tsx
  ui/src/components/routes/analytics/AnalyticTemplates.tsx
  ui/src/components/routes/analytics/RuleView.tsx
  ui/src/components/routes/analytics/TriageSettings.tsx
  ui/src/components/routes/analytics/widgets/Assessment.tsx
  ui/src/components/routes/analytics/widgets/Created.tsx
  ui/src/components/routes/analytics/widgets/Detection.tsx
  ui/src/components/routes/analytics/widgets/Escalation.tsx
  ui/src/components/routes/analytics/widgets/Stacked.tsx
  ui/src/components/routes/analytics/widgets/Status.tsx
  ui/src/components/routes/help/TemplateDocumentation.tsx
  ui/src/components/routes/hits/search/HitBrowser.tsx
  ui/src/components/routes/hits/search/shared/CustomSpan.tsx
  ui/src/components/routes/home/index.tsx
  ui/src/components/routes/settings/SecuritySection.tsx
  ui/src/index.tsx
  ui/src/utils/constants.tsx
  ui/src/utils/utils.ts
Due: lint-staged

release ui=2.13.1 (chart.js adpater fixes)
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/components/elements/hit/aggregate/HitGraph.tsx
  ui/src/components/hooks/useMyChart.tsx
  ui/src/components/routes/analytics/AnalyticOverview.tsx
  ui/src/components/routes/analytics/AnalyticOverviews.tsx
  ui/src/components/routes/analytics/AnalyticTemplates.tsx
  ui/src/components/routes/analytics/RuleView.tsx
  ui/src/components/routes/analytics/TriageSettings.tsx
  ui/src/components/routes/analytics/widgets/Assessment.tsx
  ui/src/components/routes/analytics/widgets/Created.tsx
  ui/src/components/routes/analytics/widgets/Detection.tsx
  ui/src/components/routes/analytics/widgets/Escalation.tsx
  ui/src/components/routes/analytics/widgets/Stacked.tsx
  ui/src/components/routes/analytics/widgets/Status.tsx
Due: lint-staged

Added release notes
  .vscode/settings.json
  docs/RELEASES.md
Due: none

chore: release api=2.11.1 (compare metadata fixes)
  api/howler/services/hit_service.py
  api/pyproject.toml
  api/test/unit/services/test_hit_service.py
  docs/RELEASES.md
Due: poetry-check-api

Starting release notes
  docs/RELEASES.md
Due: none

Implemented fix
  api/howler/services/analytic_service.py
  api/howler/services/hit_service.py
  api/howler/services/overview_service.py
  api/howler/services/template_service.py
  api/pyproject.toml
  api/test/unit/services/test_hit_service.py
Due: poetry-check-api

Added changelog note
  docs/RELEASES.md
Due: none

fixed docstrings
  api/howler/services/overview_service.py
  api/howler/services/template_service.py
Due: none

Simplify tests
  api/test/unit/services/test_hit_service.py
Due: none

More metadata fixes
  api/howler/services/hit_service.py
  ui/src/components/elements/hit/HitBanner.tsx
Due: lint-staged

Fix augment metadata (#68)
  api/howler/services/analytic_service.py
  api/howler/services/hit_service.py
  api/howler/services/overview_service.py
  api/howler/services/template_service.py
  api/pyproject.toml
  api/test/unit/services/test_hit_service.py
  docs/RELEASES.md
  ui/src/components/elements/hit/HitBanner.tsx
Due: poetry-check-api, lint-staged

Fix bug in home page when selecting views
  ui/package.json
  ui/src/components/routes/home/AddNewCard.tsx
  ui/src/components/routes/home/index.tsx
Due: lint-staged

Fix issue with pivot-only dossiers
  ui/src/components/routes/hits/view/HitViewer.tsx
Due: lint-staged

Updated release notes
  docs/RELEASES.md
Due: none

Fixing view selection
  ui/src/components/app/providers/HitSearchProvider.tsx
  ui/src/components/app/providers/ViewProvider.tsx
  ui/src/components/elements/hit/aggregate/HitGraph.tsx
  ui/src/components/routes/hits/search/shared/HitSort.tsx
  ui/src/components/routes/hits/search/shared/SearchSpan.tsx
Due: lint-staged

More tweaks to view provider
  ui/src/components/app/providers/ViewProvider.test.tsx
  ui/src/components/app/providers/ViewProvider.tsx
Due: lint-staged

Fixing view selection (#69)
  ui/src/components/app/providers/HitSearchProvider.tsx
  ui/src/components/app/providers/ViewProvider.test.tsx
  ui/src/components/app/providers/ViewProvider.tsx
  ui/src/components/elements/hit/aggregate/HitGraph.tsx
  ui/src/components/routes/hits/search/shared/HitSort.tsx
  ui/src/components/routes/hits/search/shared/SearchSpan.tsx
Due: lint-staged

Update RELEASES.md
  docs/RELEASES.md
Due: none

Working on import validation, fix runtime error in fzf implementation
  .pre-commit-config.yaml
  ui/build_scripts/find_bad_imports.py
  ui/build_scripts/lint_staged.sh
  ui/package.json
  ui/src/components/routes/hits/search/HitQuery.tsx
Due: lint-staged

Importer work
  ui/build_scripts/find_bad_imports.py
Due: lint-staged

More work on the pre-commit check
  ui/build_scripts/find_bad_imports.py
Due: lint-staged

Finaly tweaks
  ui/build_scripts/find_bad_imports.py
Due: lint-staged

Added translation for starting markdown template
  ui/src/components/elements/display/handlebars/helpers.tsx
  ui/src/components/routes/overviews/startingTemplate.ts
  ui/src/components/routes/overviews/template/en.md
  ui/src/components/routes/overviews/template/fr.md
Due: lint-staged

PR Feedback
  ui/src/components/elements/display/handlebars/helpers.tsx
  ui/src/components/routes/overviews/startingTemplate.ts
  ui/src/components/routes/overviews/template/en.md
Due: lint-staged

Update ui/src/components/routes/overviews/template/fr.md
  ui/src/components/routes/overviews/template/fr.md
Due: lint-staged

Added translation for starting markdown template (#73)
  ui/src/components/elements/display/handlebars/helpers.tsx
  ui/src/components/routes/overviews/startingTemplate.ts
  ui/src/components/routes/overviews/template/en.md
  ui/src/components/routes/overviews/template/fr.md
Due: lint-staged

Fix borealis plugin documentation
  ui/src/plugins/borealis/helpers.tsx
Due: lint-staged

Fixed UserProfile to not immediately close on settings edit
  ui/src/commons/components/topnav/UserProfile.tsx
Due: lint-staged

Refactoring dockerfile location
  .github/workflows/api-workflow.yml
  .github/workflows/ui-workflow.yml
  api/Dockerfile
  api/docker/build_container.sh
  ui/Dockerfile
Due: lint-staged

Refactoring dockerfile location (#75)
  .github/workflows/api-workflow.yml
  .github/workflows/ui-workflow.yml
  api/Dockerfile
  api/docker/build_container.sh
  ui/Dockerfile
Due: lint-staged

Update CONTRIBUTING.md
  api/doc/CONTRIBUTING.md
Due: none

More documentation updates
  api/doc/run_debug.png
  api/doc/tasks.png
  docs/api/CONTRIBUTING.md
  docs/patching.md
Due: none

Small docs updates
  docs/patching.md
Due: none

pinned views sorting
  api/howler/api/v1/view.py
  ui/build_scripts/find_bad_imports.py
  ui/src/components/app/providers/FavouritesProvider.tsx
  ui/src/components/app/providers/ViewProvider.tsx
Due: lint-staged

updated failing test
  ui/src/components/app/providers/ViewProvider.test.tsx
Due: lint-staged

updated failing test pt.2
  ui/src/components/app/providers/ViewProvider.test.tsx
Due: lint-staged
