Repository CybercentreCanada/howler: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check-api, poetry-check-client, poetry-check-evidence, poetry-check-sentinel, lint-staged, bad-ui-imports

poetry-check-api:
  name: poetry-check-api
  entry: api/build_scripts/check_poetry.sh
  language: script
  stages:
  - pre-commit

poetry-check-client:
  name: poetry-check-client
  entry: client/build_scripts/check_poetry.sh
  language: script
  stages:
  - pre-commit

poetry-check-evidence:
  name: poetry-check-evidence
  entry: plugins/evidence/build_scripts/check_poetry.sh
  language: script
  stages:
  - pre-commit

poetry-check-sentinel:
  name: poetry-check-sentinel
  entry: plugins/sentinel/build_scripts/check_poetry.sh
  language: script
  stages:
  - pre-commit

lint-staged:
  name: lint-staged
  entry: ui/build_scripts/lint_staged.sh
  language: script
  stages:
  - pre-commit

bad-ui-imports:
  name: bad-ui-imports
  entry: ui/build_scripts/find_bad_imports.py
  language: python
  stages:
  - pre-commit

Add basic auth alternative for connecting to datastore (#38)
  api/howler/datastore/store.py
Due: none

Remove references to unused filestore configurations
  docs/api/codebase.md
  howler-helm/templates/_helpers.tpl
  howler-helm/values.yaml
Due: none

Update ui workflow with comments, add type checking
  .github/workflows/ui-workflow.yml
Due: none

howler-docs to howler
  api/howler/odm/base.py
Due: none

Added explanation endpoint to search API
  api/howler/api/v1/search.py
  api/test/integration/api/test_search.py
Due: none

PR Feedback
  api/howler/api/v1/search.py
Due: none

Removing unnecessary TODOs
  api/test/integration/api/test_search.py
Due: none

Finish borealis->clue refactor
  api/howler/api/__init__.py
  api/howler/api/v1/clue.py
  api/howler/app.py
  api/howler/odm/helper.py
  api/howler/odm/models/config.py
  api/howler/odm/models/lead.py
  api/howler/odm/models/pivot.py
  api/howler/security/__init__.py
  api/howler/services/config_service.py
  api/test/integration/plugins/test_config_validation.py
  api/test/integration/plugins/test_plugin_auth.py
  docs/api/codebase.md
  docs/api/plugins.md
  documentation/docs/installation/configuration.md
  documentation/docs/installation/default_configuration.md
  documentation/docs/odm/class/lead.md
  ui/vite.config.ts
Due: lint-staged, bad-ui-imports

Changes to schema
  api/howler/datastore/collection.py
  api/howler/datastore/constants.py
  api/howler/datastore/support/build.py
  api/howler/external/reindex_data.py
  api/howler/odm/base.py
  api/howler/odm/models/analytic.py
  api/howler/odm/models/ecs/client.py
  api/howler/odm/models/howler_data.py
  api/howler/odm/models/view.py
Due: none

Update api/howler/odm/base.py
  api/howler/odm/base.py
Due: none

Fix AI being silly
  api/howler/odm/base.py
Due: none

Fix workflow
  .github/workflows/api-workflow.yml
Due: none

Fix test
  api/howler/odm/randomizer.py
Due: none

Fix issues with type hints on 3.9
  api/howler/utils/lucene.py
Due: none

Fix workflows
  .github/workflows/api-workflow.yml
  .github/workflows/client-workflow.yml
  .github/workflows/evidence-plugin-workflow.yml
  .github/workflows/sentinel-plugin-workflow.yml
Due: none

Fix type errors
  api/howler/utils/lucene.py
Due: none

Bump version to v3, add migration guide
  api/pyproject.toml
  documentation/docs/migration.md
Due: poetry-check-api

Added explain UI
  ui/src/api/search/explain/hit.ts
  ui/src/api/search/hit.ts
  ui/src/api/search/index.ts
  ui/src/components/routes/advanced/QueryBuilder.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports

remove enum validation from lead format
  api/howler/odm/models/lead.py
Due: none

Added explanation endpoint to search API (#105)
  api/howler/api/v1/search.py
  api/test/integration/api/test_search.py
  ui/src/api/search/explain/hit.ts
  ui/src/api/search/hit.ts
  ui/src/api/search/index.ts
  ui/src/components/routes/advanced/QueryBuilder.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports

Dashboard Optimizations and fixes
  ui/src/components/routes/analytics/widgets/Created.tsx
  ui/src/components/routes/analytics/widgets/Stacked.tsx
  ui/src/components/routes/home/ViewCard.tsx
Due: lint-staged, bad-ui-imports

Fix injection of markdown components
  ui/src/components/elements/display/HandlebarsMarkdown.tsx
  ui/src/plugins/store.ts
Due: lint-staged, bad-ui-imports

Fix dossier loading to properly handle changing selections
  ui/src/components/elements/hit/related/PivotLink.tsx
  ui/src/components/routes/hits/search/InformationPane.tsx
Due: lint-staged, bad-ui-imports

PR Feedback
  ui/src/components/elements/hit/related/PivotLink.tsx
Due: lint-staged, bad-ui-imports

Small fix to layouts
  ui/src/components/elements/hit/related/PivotLink.tsx
Due: lint-staged, bad-ui-imports

release ui=2.14.1 (fix to publishing script)
  ui/build_scripts/prep_for_publish.py
  ui/package.json
Due: lint-staged, bad-ui-imports

Finish borealis->clue refactor (#104)
  api/howler/api/__init__.py
  api/howler/api/v1/clue.py
  api/howler/app.py
  api/howler/odm/helper.py
  api/howler/odm/models/config.py
  api/howler/odm/models/pivot.py
  api/howler/security/__init__.py
  api/howler/services/config_service.py
  api/test/integration/plugins/test_config_validation.py
  api/test/integration/plugins/test_plugin_auth.py
  docs/api/codebase.md
  docs/api/plugins.md
  documentation/docs/installation/configuration.md
  documentation/docs/installation/default_configuration.md
  documentation/docs/odm/class/lead.md
  ui/vite.config.ts
Due: lint-staged, bad-ui-imports

better error handling for missing helpers
  ui/src/components/elements/display/HandlebarsMarkdown.tsx
Due: lint-staged, bad-ui-imports

Move dayjs extensions
  ui/src/components/app/App.tsx
  ui/src/index.tsx
Due: lint-staged, bad-ui-imports

Improved markdown retention
  ui/src/components/routes/help/markdown/en/retention.md
  ui/src/components/routes/help/markdown/fr/retention.md
Due: lint-staged, bad-ui-imports

Fix dossier loading to properly handle changing selections (#109)
  ui/src/components/elements/hit/related/PivotLink.tsx
  ui/src/components/routes/hits/search/InformationPane.tsx
Due: lint-staged, bad-ui-imports

Path conditions:
  poetry-check-api: any of: ^api/.*\.(toml|lock)
  poetry-check-client: any of: ^client/.*\.(toml|lock)
  poetry-check-evidence: any of: ^plugins/evidence/.*\.(toml|lock)
  poetry-check-sentinel: any of: ^plugins/sentinel/.*\.(toml|lock)
  lint-staged: any of: ^ui/.*
  bad-ui-imports: any of: ^ui/.*
