Repository CybercentreCanada/howler: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check-api, poetry-check-client, poetry-check-evidence, poetry-check-sentinel, lint-staged, bad-ui-imports

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - commit-msg

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.8.0
    hooks:
      # Run the linter.
      - id: ruff
        name: Ruff Linting
        args: [--fix, --output-format=concise]
      # Run the formatter.
      - id: ruff-format
        name: Ruff Formatting
  # - repo: https://github.com/compilerla/conventional-pre-commit
  #   rev: v4.3.0
  #   hooks:
  #     - id: conventional-pre-commit
  #       stages: [commit-msg]
  - repo: local
    hooks:
      - id: poetry-check-api
        name: poetry-check-api
        entry: hooks/check_poetry.sh
        args: [api]
        language: script
        stages: [pre-commit]
        files: ^api/.*\.(toml|lock)
      - id: poetry-check-client
        name: Poetry Check (client)
        entry: hooks/check_poetry.sh
        args: [client]
        language: script
        stages: [pre-commit]
        files: ^client/.*\.(toml|lock)
      - id: poetry-check-evidence
        name: Poetry Check (Evidence Plugin)
        entry: hooks/check_poetry.sh
        args: [plugins/evidence]
        language: script
        stages: [pre-commit]
        files: ^plugins/evidence/.*\.(toml|lock)
      - id: poetry-check-sentinel
        name: Poetry Check (Sentinel Plugin)
        entry: hooks/check_poetry.sh
        args: [plugins/sentinel]
        language: script
        stages: [pre-commit]
        files: ^plugins/sentinel/.*\.(toml|lock)
      - id: lint-staged
        name: lint-staged
        entry: ui/build_scripts/lint_staged.sh
        language: script
        stages: [pre-commit]
        files: ^ui/.*
      - id: bad-ui-imports
        name: Check for bad UI imports
        entry: ui/build_scripts/find_bad_imports.py
        language: python
        stages: [pre-commit]
        files: ^ui/.*
      - id: check-commit-msg
        name: Validate Commit Message
        entry: hooks/commit-msg.py
        language: python
        stages: [commit-msg]
        additional_dependencies: ["conventional-pre-commit", "rich"]
        verbose: true

fix(api): keyerror when mappings is not initialized
  api/howler/services/dossier_service.py
Due: none

fix(helm): updated helm chart to match modern deployment
  hooks/commit-msg.py
  howler-helm/Chart.yaml
  howler-helm/charts/common-2.1.2.tgz
  howler-helm/templates/NOTES.txt
  howler-helm/templates/_helpers.tpl
  howler-helm/templates/certs.yaml
  howler-helm/templates/config.yaml
  howler-helm/templates/correlation-deployment.yaml
  howler-helm/templates/elasticsearch-deployment.yml
  howler-helm/templates/elasticsearch-service.yml
  howler-helm/templates/ingress.yaml
  howler-helm/templates/podmonitor.yaml
  howler-helm/templates/rest-deployment.yaml
  howler-helm/templates/rest-hpa.yaml
  howler-helm/templates/rest-service.yaml
  howler-helm/templates/ui-deployment.yaml
  howler-helm/templates/ui-service.yaml
  howler-helm/templates/websocket-deployment.yaml
  howler-helm/templates/websocket-service.yaml
  howler-helm/values.yaml
Due: none

fix(ui): update hostname parsing to fail safely
  ui/src/components/elements/display/Markdown.tsx
Due: lint-staged, bad-ui-imports

fix(ui): persist template edits on tab change (#361)
  ui/src/components/routes/templates/TemplateViewer.tsx
Due: lint-staged, bad-ui-imports

feat(ui): add error and prompt delete when detection for template no longer exists (#362)
  ui/src/components/elements/addons/lists/TuiListBase.tsx
  ui/src/components/elements/addons/lists/TuiListElement.tsx
  ui/src/components/elements/addons/lists/index.tsx
  ui/src/components/elements/display/modals/ConfirmDeleteModal.tsx
  ui/src/components/routes/templates/TemplateCard.tsx
  ui/src/components/routes/templates/Templates.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports

fix(ui): quickfix localisation bugs (#387)
  .github/workflows/ui-workflow.yml
  .pre-commit-config.yaml
  ui/build_scripts/check_translation.py
  ui/src/components/app/App.tsx
  ui/src/components/app/providers/FavouritesProvider.tsx
  ui/src/components/elements/display/HowlerAvatar.tsx
  ui/src/components/hooks/useMyPreferences.tsx
  ui/src/components/routes/action/view/ActionDetails.tsx
  ui/src/components/routes/analytics/AnalyticDetails.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports

feat(ui): add user toggle for query summary graph (#346)
  ui/src/components/elements/hit/HitSummary.tsx
  ui/src/components/routes/settings/LocalSection.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
  ui/src/utils/constants.tsx
Due: lint-staged, bad-ui-imports

fix(ui): Custom timespan persistance (#388)
  ui/src/components/app/App.tsx
  ui/src/components/routes/hits/search/shared/CustomSpan.test.tsx
  ui/src/components/routes/hits/search/shared/CustomSpan.tsx
Due: lint-staged, bad-ui-imports

fix(api): updated action service to use a queue to limit es query spam (#385)
  api/howler/api/v1/hit.py
  api/howler/api/v1/tool.py
  api/howler/cronjobs/action_queue_worker.py
  api/howler/odm/models/config.py
  api/howler/services/action_service.py
  api/howler/services/hit_service.py
  api/test/integration/api/test_actions.py
  api/test/integration/service/test_action_service.py
  api/test/unit/services/test_enqueue_action.py
Due: none

feat(api): add cronjob to remove analytics with no matching hits (#353)
  api/howler/cronjobs/retention.py
  api/howler/datastore/collection.py
  api/howler/datastore/types.py
  api/test/integration/cronjobs/test_retention.py
  api/test/integration/test_datastore.py
Due: none

chore: add note on lockfile changes
  .github/copilot-instructions.md
Due: none

chore(ui): expand UI test coverage for utility modules (#393)
  ui/.gitignore
  ui/src/setupTests.ts
  ui/src/utils/actionUtils.test.ts
  ui/src/utils/stringUtils.test.ts
  ui/src/utils/utils.test.ts
  ui/src/utils/viewUtils.test.ts
Due: lint-staged, bad-ui-imports

feat(config): add option to disable eureka discovery (#384)
  api/howler/helper/discover.py
  api/howler/odm/helper.py
  api/howler/odm/models/config.py
  api/howler/security/utils.py
  api/test/unit/helper/test_discover.py
  api/test/unit/services/test_config_service.py
  api/test/unit/utils/test_disco_url.py
Due: none

chore(ui): expand test coverage for remaining non-React utility modules (#394)
  ui/src/rest/FetchClient.test.ts
  ui/src/utils/Throttler.test.ts
  ui/src/utils/actionUtils.test.ts
  ui/src/utils/hitFunctions.test.ts
  ui/src/utils/localStorage.test.ts
  ui/src/utils/menuUtils.test.ts
  ui/src/utils/sessionStorage.test.ts
  ui/src/utils/socketUtils.test.ts
  ui/src/utils/utils.test.ts
  ui/src/utils/xsrf.test.ts
Due: lint-staged, bad-ui-imports

feat(ui): add confirm dialogue before deletions (#390)
  ui/src/components/app/providers/ModalProvider.tsx
  ui/src/components/routes/action/view/ActionDetails.tsx
  ui/src/components/routes/action/view/ActionSearch.tsx
  ui/src/components/routes/analytics/AnalyticDetails.tsx
  ui/src/components/routes/dossiers/Dossiers.tsx
  ui/src/components/routes/overviews/OverviewViewer.tsx
  ui/src/components/routes/overviews/Overviews.tsx
  ui/src/components/routes/templates/TemplateViewer.tsx
  ui/src/components/routes/views/Views.tsx
Due: lint-staged, bad-ui-imports

chore(config): remove old eureka discovery flag from configuration (#400)
  api/howler/odm/models/config.py
Due: none

feat(api): added host.hostname to ecs fields
  .vscode/settings.json
  api/howler/odm/models/ecs/host.py
Due: none

fix(api)!: updated integer to long for file.size (#391)
  api/howler/odm/models/ecs/file.py
Due: none

fix(ui): remove unused variables/imports in tests and revert lockfile (#403)
  ui/src/components/elements/addons/buttons/CustomButton.test.tsx
  ui/src/components/elements/addons/layout/FlexOne.test.tsx
  ui/src/components/elements/addons/search/SearchPagination.test.tsx
  ui/src/components/elements/addons/search/SearchTotal.test.tsx
  ui/src/components/elements/display/DocumentationButton.test.tsx
  ui/src/components/elements/display/DynamicTabs.test.tsx
  ui/src/components/elements/display/HowlerCard.test.tsx
  ui/src/components/elements/display/Image.test.tsx
  ui/src/components/elements/display/QueryResultText.test.tsx
  ui/src/components/elements/display/TextDivider.test.tsx
  ui/src/components/elements/display/TypingIndicator.test.tsx
  ui/src/components/routes/403.test.tsx
  ui/src/components/routes/404.test.tsx
  ui/src/components/routes/ErrorBoundary.test.tsx
  ui/src/components/routes/ErrorOccured.test.tsx
  ui/src/components/routes/Logout.test.tsx
  ui/src/components/routes/home/AddNewCard.test.tsx
  ui/src/components/routes/home/ViewRefresh.test.tsx
  ui/src/components/routes/overviews/OverviewCard.test.tsx
  ui/src/components/routes/settings/SettingsSection.test.tsx
  ui/src/components/routes/templates/TemplateCard.test.tsx
Due: lint-staged, bad-ui-imports

fix(datastore): preserve bare `*` in `_expand_fl` and guard against empty fl entries (#404)
  api/howler/datastore/collection.py
  api/test/integration/api/test_search.py
  api/test/unit/test_expand_fl.py
Due: none

fix(api)!: Change process pid data type to long (#414)
  api/howler/odm/models/ecs/process.py
  documentation/docs/odm/class/parentparentprocess.md
  documentation/docs/odm/class/parentprocess.md
  documentation/docs/odm/class/process.md
Due: none

chore(api): update howler api version to v4 due to reindexing changes
  api/pyproject.toml
Due: poetry-check-api

refactor(api): refactor reindexing process (#416)
  api/howler/datastore/collection.py
  api/howler/external/reindex_data.py
  api/test/integration/test_datastore.py
Due: none

feat(ui,api): store and display the user who submitted the last assessment for a hit (#406)
  api/howler/actions/demote.py
  api/howler/actions/promote.py
  api/howler/helper/hit.py
  api/howler/odm/helper.py
  api/howler/odm/models/howler_data.py
  api/howler/odm/random_data.py
  api/howler/services/hit_service.py
  api/test/integration/api/test_hit_transition.py
  ui/src/components/elements/hit/HitBanner.tsx
  ui/src/components/elements/hit/elements/Assigned.tsx
  ui/src/components/elements/hit/elements/HitUsers.tsx
  ui/src/components/routes/hits/search/grid/HitRow.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
  ui/src/models/entities/generated/Hit.d.ts
  ui/src/models/entities/generated/Howler.d.ts
  ui/src/models/entities/generated/UserUser.d.ts
Due: lint-staged, bad-ui-imports

feat(api): fixes to enable ilm (#386)
  api/howler/api/v1/search.py
  api/howler/datastore/collection.py
  api/howler/datastore/howler_store.py
  api/howler/datastore/store.py
  api/howler/odm/models/config.py
  api/test/integration/service/test_queries.txt
  api/test/integration/test_ilm.py
  api/test/unit/config.yml
  api/test/unit/test_ilm_collection.py
  api/test/unit/test_ilm_config.py
  api/test/utils/queries.py
  client/howler_client/module/search/__init__.py
  documentation/docs/migration.md
  ui/src/components/routes/help/markdown/en/client.md
  ui/src/components/routes/help/markdown/fr/client.md
Due: lint-staged, bad-ui-imports

feat(client): auth callbacks, general client fixes and updates (#392)
  .github/workflows/api-workflow.yml
  .github/workflows/client-workflow.yml
  api/howler/api/v1/tool.py
  api/test/integration/api/test_doc.py
  api/test/integration/regression/test_bundle_api_contract.py
  client/build_scripts/coverage_reports.py
  client/howler_client/__init__.py
  client/howler_client/common/dict_utils.py
  client/howler_client/connection.py
  client/howler_client/module/bundle.py
  client/howler_client/module/hit.py
Due: none

feat(api): add special-use and private tlds to domain validation (#422)
  api/howler/common/net.py
  api/test/unit/test_net.py
Due: none

fix(ci): coverage report stuff
  api/build_scripts/coverage_reports.py
  client/build_scripts/coverage_reports.py
  plugins/evidence/build_scripts/coverage_reports.py
  plugins/sentinel/build_scripts/coverage_reports.py
Due: none

fix(api): allow long fields to be analyzed as a number in stats
  api/howler/api/v1/search.py
Due: none

fix(api): add fallback for when audit log is generated outside of requests context (#426)
  api/howler/common/logging/audit.py
Due: none

fix(client): unit test fixes (#423)
  client/howler_client/module/hit.py
  client/howler_client/module/search/facet.py
  client/howler_client/module/search/grouped.py
  client/howler_client/module/search/histogram.py
  client/howler_client/module/search/stats.py
  client/howler_client/module/search/stream.py
  client/test/integration/test_hit.py
  client/test/unit/test_search_defaults.py
  client/test/utils.py
Due: none

fix(api): dependency updates
  api/poetry.lock
  api/pyproject.toml
  client/poetry.lock
  client/pyproject.toml
  plugins/evidence/poetry.lock
  plugins/evidence/pyproject.toml
  plugins/sentinel/poetry.lock
  plugins/sentinel/pyproject.toml
Due: poetry-check-api, poetry-check-client, poetry-check-evidence, poetry-check-sentinel

chore(ui): update workflow to pnpm v11
  .github/workflows/ui-workflow.yml
Due: none

fix(ui): bump to node v24
  .github/workflows/ui-workflow.yml
Due: none

fix(ui): pnpm workspace issues
  ui/.gitignore
  ui/package.json
  ui/pnpm-workspace.yaml
  ui/src/components/elements/addons/search/SearchTotal.test.tsx
  ui/src/components/routes/ErrorOccured.test.tsx
  ui/src/components/routes/home/AddNewCard.test.tsx
  ui/src/components/routes/home/ViewRefresh.test.tsx
Due: lint-staged, bad-ui-imports

feat(api): add redis ping for healthz (#427)
  api/howler/healthz.py
Due: none

fix(ui): more pnpm workspace issues
  ui/pnpm-lock.yaml
Due: lint-staged, bad-ui-imports

feat(api): upgrade redis-py and improve redis resiliency (#428)
  api/howler/odm/models/config.py
  api/howler/remote/datatypes/__init__.py
  api/howler/remote/datatypes/counters.py
  api/howler/remote/datatypes/hash.py
  api/howler/remote/datatypes/user_quota_tracker.py
  api/poetry.lock
  api/pyproject.toml
  api/test/integration/test_event_sink.py
  api/test/unit/test_redis_datatypes.py
Due: poetry-check-api

fix(api): remove unused test requirements file
  api/test/requirements.txt
Due: none
