Repository CybercentreCanada/howler: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check-api, poetry-check-client, poetry-check-evidence, poetry-check-sentinel, lint-staged, bad-ui-imports

poetry-check-api:
  name: poetry-check-api
  entry: hooks/check_poetry.sh
  args:
  - api
  language: script
  stages:
  - pre-commit

poetry-check-client:
  name: Poetry Check (client)
  entry: hooks/check_poetry.sh
  args:
  - client
  language: script
  stages:
  - pre-commit

poetry-check-evidence:
  name: Poetry Check (Evidence Plugin)
  entry: hooks/check_poetry.sh
  args:
  - plugins/evidence
  language: script
  stages:
  - pre-commit

poetry-check-sentinel:
  name: Poetry Check (Sentinel Plugin)
  entry: hooks/check_poetry.sh
  args:
  - plugins/sentinel
  language: script
  stages:
  - pre-commit

lint-staged:
  name: lint-staged
  entry: ui/build_scripts/lint_staged.sh
  language: script
  stages:
  - pre-commit

bad-ui-imports:
  name: Check for bad UI imports
  entry: ui/build_scripts/find_bad_imports.py
  language: python
  stages:
  - pre-commit

fix: pyright config
  pyrightconfig.json
Due: none

fix: pyright updates
  api/howler/datastore/collection.py
  pyrightconfig.json
Due: none

add types-passlib
  api/poetry.lock
  api/pyproject.toml
Due: poetry-check-api

fix(ui): update hostname parsing to fail safely
  ui/src/components/elements/display/Markdown.tsx
Due: lint-staged, bad-ui-imports

refactor: rename search parameter aggs -> aggregations
  api/howler/cronjobs/retention.py
  api/howler/datastore/collection.py
  api/test/integration/test_datastore.py
Due: none

found how we do it
  ui/src/components/elements/hit/HitLabels.tsx
  ui/src/components/elements/hit/HitLinks.tsx
Due: lint-staged, bad-ui-imports

use ConfirmDeleteModal directly in TemplateCard
  ui/src/components/routes/templates/TemplateCard.tsx
Due: lint-staged, bad-ui-imports

fix(helm): updated helm chart to match modern deployment
  hooks/commit-msg.py
  howler-helm/Chart.yaml
  howler-helm/charts/common-2.1.2.tgz
  howler-helm/templates/NOTES.txt
  howler-helm/templates/_helpers.tpl
  howler-helm/templates/certs.yaml
  howler-helm/templates/config.yaml
  howler-helm/templates/correlation-deployment.yaml
  howler-helm/templates/elasticsearch-deployment.yml
  howler-helm/templates/elasticsearch-service.yml
  howler-helm/templates/ingress.yaml
  howler-helm/templates/podmonitor.yaml
  howler-helm/templates/rest-deployment.yaml
  howler-helm/templates/rest-hpa.yaml
  howler-helm/templates/rest-service.yaml
  howler-helm/templates/ui-deployment.yaml
  howler-helm/templates/ui-service.yaml
  howler-helm/templates/websocket-deployment.yaml
  howler-helm/templates/websocket-service.yaml
  howler-helm/values.yaml
Due: none

refactor onTypeToggle callback to short circuit on noFieldChange
  ui/src/components/routes/templates/TemplateViewer.tsx
Due: lint-staged, bad-ui-imports

remove template from list / session list on delete fixes delete button shown and inconsistent keys for template after delete
  ui/src/components/routes/templates/TemplateViewer.tsx
Due: lint-staged, bad-ui-imports

fix(ui): persist template edits on tab change (#361)
  ui/src/components/routes/templates/TemplateViewer.tsx
Due: lint-staged, bad-ui-imports

fix divider
  ui/src/components/elements/hit/HitSummary.tsx
Due: lint-staged, bad-ui-imports

use shorthand for potentially undefined function call
  ui/src/components/routes/templates/TemplateCard.tsx
Due: lint-staged, bad-ui-imports

rename search result field agg_result -> aggregations to match the field name in es rest query result
  api/howler/cronjobs/retention.py
  api/howler/datastore/collection.py
  api/howler/datastore/types.py
  api/test/integration/test_datastore.py
Due: none

fix signature add aggregations param after existing positional params
  api/howler/datastore/collection.py
Due: none

fix docstring for empty hits test
  api/test/integration/cronjobs/test_retention.py
Due: none

fix lucene query generator
  api/test/utils/queries.py
Due: none

feat(ui): add error and prompt delete when detection for template no longer exists (#362)
  ui/src/components/elements/addons/lists/TuiListBase.tsx
  ui/src/components/elements/addons/lists/TuiListElement.tsx
  ui/src/components/elements/addons/lists/index.tsx
  ui/src/components/elements/display/modals/ConfirmDeleteModal.tsx
  ui/src/components/routes/templates/TemplateCard.tsx
  ui/src/components/routes/templates/Templates.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports

feat(ui): add user toggle for query summary graph (#346)
  ui/src/components/elements/hit/HitSummary.tsx
  ui/src/components/routes/settings/LocalSection.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
  ui/src/utils/constants.tsx
Due: lint-staged, bad-ui-imports

feat(config): add option to disable eureka discovery
  api/howler/helper/discover.py
  api/howler/odm/models/config.py
Due: none

feat(config): rename disable_eureka_discovery to enable_eureka_discovery and update logic, add tests
  api/howler/helper/discover.py
  api/howler/odm/models/config.py
  api/test/unit/helper/test_discover.py
  api/test/unit/services/test_config_service.py
Due: none

fix(api): updated action service to use a queue to limit es query spam
  api/howler/api/v1/hit.py
  api/howler/api/v1/tool.py
  api/howler/cronjobs/action_queue_worker.py
  api/howler/odm/models/config.py
  api/howler/services/action_service.py
  api/howler/services/hit_service.py
  api/test/integration/service/test_action_service.py
  api/test/unit/services/test_action_service.py
  api/test/unit/services/test_enqueue_action.py
Due: none

add warning if size of aggs exceeds configured max buckets setting
  api/howler/cronjobs/retention.py
  api/howler/datastore/collection.py
  api/test/integration/cronjobs/test_retention.py
  api/test/integration/test_datastore.py
Due: none

pr feedback
  api/howler/services/action_service.py
  api/howler/services/hit_service.py
  api/test/unit/services/test_action_service.py
  api/test/unit/services/test_enqueue_action.py
Due: none

pr feedback
  api/test/unit/services/test_action_service.py
  api/test/unit/services/test_enqueue_action.py
Due: none

fix: check to not remove rule analytics and add corresponding tests
  api/howler/cronjobs/retention.py
  api/test/integration/cronjobs/test_retention.py
Due: none

add missing and fix errors in translation keys
  ui/src/components/routes/action/view/ActionDetails.tsx
  ui/src/components/routes/analytics/AnalyticDetails.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports

started modification. this is a fall back safe
  api/howler/api/v1/action.py
  api/howler/api/v1/dossier.py
  api/howler/api/v1/view.py
  api/howler/odm/models/action.py
  api/howler/odm/models/dossier.py
  api/howler/odm/models/view.py
  api/howler/services/dossier_service.py
  api/howler/services/permission_service.py
  api/poetry.lock
  api/test/conftest.py
  api/test/integration/api/test_dossier.py
  api/test/integration/api/test_view.py
  api/test/integration/service/test_dossier_service.py
Due: poetry-check-api

fix left nav spacing and don't skip favourite views refresh
  ui/src/commons/components/app/AppDefaults.ts
  ui/src/components/app/providers/FavouritesProvider.tsx
Due: lint-staged, bad-ui-imports

sync dayjs locale with i18next locale
  ui/src/commons/components/topnav/ThemeSelection.tsx
  ui/src/components/app/App.tsx
Due: lint-staged, bad-ui-imports

feat(api): fixes to enable ilm
  api/howler/api/v1/search.py
  api/howler/datastore/collection.py
  api/howler/datastore/howler_store.py
  api/howler/datastore/store.py
  api/howler/odm/models/config.py
  api/test/integration/test_ilm.py
  api/test/unit/config.yml
  api/test/unit/test_ilm_collection.py
  api/test/unit/test_ilm_config.py
  client/howler_client/module/search/__init__.py
  documentation/docs/migration.md
  ui/src/components/routes/help/markdown/en/client.md
  ui/src/components/routes/help/markdown/fr/client.md
Due: lint-staged, bad-ui-imports

fix tests
  api/test/integration/api/test_actions.py
Due: none

use translation key for unassigned in card assignment chip tooltip
  ui/src/components/elements/display/HowlerAvatar.tsx
Due: lint-staged, bad-ui-imports

pr feedback
  api/howler/cronjobs/action_queue_worker.py
Due: none

wrap language change handler in use callback
  ui/src/commons/components/topnav/ThemeSelection.tsx
Due: lint-staged, bad-ui-imports

move dayjs i18n callback registration to App.tsx
  ui/src/commons/components/topnav/ThemeSelection.tsx
  ui/src/components/app/App.tsx
Due: lint-staged, bad-ui-imports

refactor creation of agg search result and clarify warning
  api/howler/cronjobs/retention.py
  api/howler/datastore/collection.py
Due: none

set leftnav default width correctly
  ui/src/commons/components/app/AppDefaults.ts
  ui/src/components/hooks/useMyPreferences.tsx
Due: lint-staged, bad-ui-imports

keeping track
  api/howler/api/v1/view.py
  api/howler/odm/models/action.py
  api/howler/odm/models/dossier.py
  api/howler/odm/models/view.py
  api/howler/services/dossier_service.py
  api/howler/services/permission_service.py
  ui/src/components/elements/display/HowlerAvatar.tsx
  ui/src/components/routes/action/view/ActionDetails.tsx
Due: lint-staged, bad-ui-imports

added more missing localization keys
  .github/workflows/ui-workflow.yml
  .pre-commit-config.yaml
  ui/build_scripts/check_translation.py
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports

Path conditions:
  poetry-check-api: any of: ^api/.*\.(toml|lock)
  poetry-check-client: any of: ^client/.*\.(toml|lock)
  poetry-check-evidence: any of: ^plugins/evidence/.*\.(toml|lock)
  poetry-check-sentinel: any of: ^plugins/sentinel/.*\.(toml|lock)
  lint-staged: any of: ^ui/.*
  bad-ui-imports: any of: ^ui/.*
