Repository CybercentreCanada/howler: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check-api, poetry-check-client, poetry-check-evidence, poetry-check-sentinel, lint-staged

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.8.0
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix, --output-format=concise]
      # Run the formatter.
      - id: ruff-format
  - repo: local
    hooks:
      - id: poetry-check-api
        name: poetry-check-api
        entry: api/build_scripts/check_poetry.sh
        language: script
        stages: [pre-commit]
        files: ^api/.*\.(toml|lock)
      - id: poetry-check-client
        name: poetry-check-client
        entry: client/build_scripts/check_poetry.sh
        language: script
        stages: [pre-commit]
        files: ^client/.*\.(toml|lock)
      - id: poetry-check-evidence
        name: poetry-check-evidence
        entry: plugins/evidence/build_scripts/check_poetry.sh
        language: script
        stages: [pre-commit]
        files: ^plugins/evidence/.*\.(toml|lock)
      - id: poetry-check-sentinel
        name: poetry-check-sentinel
        entry: plugins/sentinel/build_scripts/check_poetry.sh
        language: script
        stages: [pre-commit]
        files: ^plugins/sentinel/.*\.(toml|lock)
      - id: lint-staged
        name: lint-staged
        entry: ui/build_scripts/lint_staged.sh
        language: script
        stages: [pre-commit]
        files: ^ui/.*

SPBK-3678: Fixing commit
  ui/src/plugins/borealis/components/BorealisTypography.tsx
Due: lint-staged

SPBK-3678: Added config mappings check to ui
  ui/src/components/app/App.tsx
  ui/src/components/app/providers/ApiConfigProvider.tsx
  ui/src/models/entities/generated/ApiType.ts
  ui/src/plugins/borealis/components/BorealisTypography.tsx
Due: lint-staged

SPBK-3678: Removed console log statement
  ui/src/components/app/App.tsx
Due: lint-staged

SPBK-3678: Fixed formatting issues
  ui/src/components/app/App.tsx
Due: lint-staged

Function cleanup
  ui/src/models/entities/generated/ApiType.ts
  ui/src/plugins/borealis/components/BorealisTypography.tsx
Due: lint-staged

Howler fields mapping to borealis on UI (#50)
  ui/src/components/app/providers/ApiConfigProvider.tsx
  ui/src/models/entities/generated/ApiType.ts
  ui/src/plugins/borealis/components/BorealisTypography.tsx
Due: lint-staged

Changes to schema
  api/howler/datastore/collection.py
  api/howler/datastore/constants.py
  api/howler/datastore/support/build.py
  api/howler/external/reindex_data.py
  api/howler/odm/base.py
  api/howler/odm/models/analytic.py
  api/howler/odm/models/ecs/client.py
  api/howler/odm/models/howler_data.py
  api/howler/odm/models/view.py
Due: none

Update api/howler/odm/base.py
  api/howler/odm/base.py
Due: none

Fix AI being silly
  api/howler/odm/base.py
Due: none

Fix workflow
  .github/workflows/api-workflow.yml
Due: none

Fix test
  api/howler/odm/randomizer.py
Due: none

Fix workflows
  .github/workflows/api-workflow.yml
  .github/workflows/client-workflow.yml
  .github/workflows/evidence-plugin-workflow.yml
  .github/workflows/sentinel-plugin-workflow.yml
Due: none

Fix issues with type hints on 3.9
  api/howler/utils/lucene.py
Due: none

Fix type errors
  api/howler/utils/lucene.py
Due: none

more type fixes
  api/howler/services/hit_service.py
Due: none

Added theme toggle for overview editor
  ui/src/components/routes/overviews/OverviewViewer.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged

Fixed view filtering (#53)
  ui/src/components/routes/views/Views.tsx
Due: lint-staged

Fixed fzf history mode
  ui/src/components/routes/advanced/QueryEditor.tsx
Due: lint-staged

Add optional parameter to Link model and refactor PivotLink and RelatedLink components
  api/howler/odm/models/howler_data.py
  ui/src/components/elements/hit/related/PivotLink.tsx
  ui/src/components/elements/hit/related/RelatedIcon.tsx
  ui/src/components/elements/hit/related/RelatedLink.tsx
Due: lint-staged

PR Feedback
  ui/src/components/elements/hit/related/RelatedIcon.tsx
Due: lint-staged

Added button to allow users to trigger howler actions in markdown
  ui/src/components/elements/display/ActionButton.tsx
  ui/src/components/elements/display/handlebars/helpers.tsx
Due: lint-staged

Add optional parameter to Link model and refactor PivotLink and RelatedLink components (#58)
  api/howler/odm/models/howler_data.py
  ui/src/components/elements/hit/related/PivotLink.tsx
  ui/src/components/elements/hit/related/RelatedIcon.tsx
  ui/src/components/elements/hit/related/RelatedLink.tsx
Due: lint-staged

Convert docker images to alpine
  api/docker/Dockerfile
  ui/docker/Dockerfile
Due: lint-staged

more alpine fixes
  api/docker/Dockerfile
  ui/docker/Dockerfile
Due: lint-staged

Add a build step to test building the docker image on PR
  .github/workflows/api-workflow.yml
Due: none

Removing netifaces as a dependency
  api/poetry.lock
  api/pyproject.toml
Due: poetry-check-api

Fixed view editing to allow changing of view type (#52)
  api/howler/api/v1/view.py
  api/test/integration/api/test_view.py
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/api/view/index.ts
  ui/src/components/app/providers/ViewProvider.test.tsx
  ui/src/components/app/providers/ViewProvider.tsx
  ui/src/components/routes/views/ViewComposer.tsx
  ui/src/setupTests.ts
  ui/src/tests/MockLocalStorage.ts
  ui/src/tests/server-handlers.ts
  ui/src/tests/server.ts
Due: lint-staged

Fixed middle click analytic name in Hit Banner (#55)
  ui/src/components/elements/hit/HitBanner.tsx
  ui/src/components/routes/hits/search/SearchPane.tsx
Due: lint-staged

SPBK-3709: Added clear button on icon
  ui/src/components/routes/hits/search/HitQuery.tsx
Due: lint-staged

SPBK-3708: Added docs
  ui/src/components/routes/help/SearchDocumentation.tsx
Due: lint-staged

Update ui/src/components/elements/display/ActionButton.tsx
  ui/src/components/elements/display/ActionButton.tsx
Due: lint-staged

Added button to allow users to trigger howler actions in markdown (#59)
  ui/src/components/elements/display/ActionButton.tsx
  ui/src/components/elements/display/handlebars/helpers.tsx
Due: lint-staged

Refactored/slimmed down analytic context
  api/howler/services/analytic_service.py
  api/howler/services/hit_service.py
  api/test/integration/api/test_search.py
  ui/src/components/app/App.tsx
  ui/src/components/app/hooks/useMatchers.tsx
  ui/src/components/app/providers/AnalyticProvider.tsx
  ui/src/components/elements/hit/HitActions.tsx
  ui/src/components/elements/hit/HitBanner.tsx
  ui/src/components/elements/hit/HitComments.tsx
  ui/src/components/routes/analytics/AnalyticSearch.tsx
  ui/src/components/routes/hits/search/HitContextMenu.tsx
  ui/src/components/routes/hits/search/InformationPane.tsx
  ui/src/components/routes/hits/search/grid/HitGrid.tsx
  ui/src/components/routes/hits/view/HitViewer.tsx
  ui/src/components/routes/overviews/OverviewViewer.tsx
  ui/src/models/WithMetadata.ts
Due: lint-staged

Build fixes
  .github/workflows/ui-workflow.yml
  ui/package.json
Due: lint-staged

Prettier feedback
  ui/src/components/elements/hit/HitActions.tsx
  ui/src/components/elements/hit/HitComments.tsx
  ui/src/components/routes/hits/search/HitContextMenu.tsx
  ui/src/components/routes/hits/search/grid/HitGrid.tsx
Due: lint-staged

PR Feedback
  api/howler/services/analytic_service.py
Due: none

Type fix
  api/howler/services/analytic_service.py
Due: none

Refactored/slimmed down analytic context (#56)
  .github/workflows/ui-workflow.yml
  api/howler/services/analytic_service.py
  api/howler/services/hit_service.py
  api/test/integration/api/test_search.py
  ui/package.json
  ui/src/components/app/App.tsx
  ui/src/components/app/hooks/useMatchers.tsx
  ui/src/components/app/providers/AnalyticProvider.tsx
  ui/src/components/elements/hit/HitActions.tsx
  ui/src/components/elements/hit/HitBanner.tsx
  ui/src/components/elements/hit/HitComments.tsx
  ui/src/components/routes/analytics/AnalyticSearch.tsx
  ui/src/components/routes/hits/search/HitContextMenu.tsx
  ui/src/components/routes/hits/search/InformationPane.tsx
  ui/src/components/routes/hits/search/grid/HitGrid.tsx
  ui/src/components/routes/hits/view/HitViewer.tsx
  ui/src/components/routes/overviews/OverviewViewer.tsx
  ui/src/models/WithMetadata.ts
Due: lint-staged

SPBK-3708: Added tab for text vs keywords
  ui/src/components/routes/help/SearchDocumentation.tsx
Due: lint-staged
