Repository CybercentreCanada/howler: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check-api, poetry-check-client, poetry-check-evidence, poetry-check-sentinel, lint-staged, bad-ui-imports

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - commit-msg

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.8.0
    hooks:
      # Run the linter.
      - id: ruff
        name: Ruff Linting
        args: [--fix, --output-format=concise]
      # Run the formatter.
      - id: ruff-format
        name: Ruff Formatting
  # - repo: https://github.com/compilerla/conventional-pre-commit
  #   rev: v4.3.0
  #   hooks:
  #     - id: conventional-pre-commit
  #       stages: [commit-msg]
  - repo: local
    hooks:
      - id: poetry-check-api
        name: poetry-check-api
        entry: hooks/check_poetry.sh
        args: [api]
        language: script
        stages: [pre-commit]
        files: ^api/.*\.(toml|lock)
      - id: poetry-check-client
        name: Poetry Check (client)
        entry: hooks/check_poetry.sh
        args: [client]
        language: script
        stages: [pre-commit]
        files: ^client/.*\.(toml|lock)
      - id: poetry-check-evidence
        name: Poetry Check (Evidence Plugin)
        entry: hooks/check_poetry.sh
        args: [plugins/evidence]
        language: script
        stages: [pre-commit]
        files: ^plugins/evidence/.*\.(toml|lock)
      - id: poetry-check-sentinel
        name: Poetry Check (Sentinel Plugin)
        entry: hooks/check_poetry.sh
        args: [plugins/sentinel]
        language: script
        stages: [pre-commit]
        files: ^plugins/sentinel/.*\.(toml|lock)
      - id: lint-staged
        name: lint-staged
        entry: ui/build_scripts/lint_staged.sh
        language: script
        stages: [pre-commit]
        files: ^ui/.*
      - id: bad-ui-imports
        name: Check for bad UI imports
        entry: ui/build_scripts/find_bad_imports.py
        language: python
        stages: [pre-commit]
        files: ^ui/.*
      - id: check-commit-msg
        name: Validate Commit Message
        entry: hooks/commit-msg.py
        language: python
        stages: [commit-msg]
        additional_dependencies: ["conventional-pre-commit", "rich"]
        verbose: true

clear assessor along with assessment in promote/demote
  api/howler/actions/demote.py
  api/howler/actions/promote.py
Due: none

Fix copilot comment
  api/test/integration/test_datastore.py
Due: none

refactor(api): refactor reindexing process (#416)
  api/howler/datastore/collection.py
  api/howler/external/reindex_data.py
  api/test/integration/test_datastore.py
Due: none

add refresh param to modification endpoints
  api/howler/api/v1/action.py
  api/howler/api/v1/analytic.py
  api/howler/api/v1/dossier.py
  api/howler/api/v1/hit.py
  api/howler/api/v1/overview.py
  api/howler/api/v1/template.py
  api/howler/api/v1/user.py
  api/howler/api/v1/utils/params.py
  api/howler/api/v1/utils/string_utils.py
  api/howler/api/v1/view.py
  api/howler/common/exceptions.py
  api/howler/datastore/collection.py
  api/howler/services/dossier_service.py
  api/howler/services/hit_service.py
  api/howler/services/user_service.py
  api/test/integration/api/test_wait_for_refresh.py
Due: none

update analytic from batched hits
  api/howler/api/v1/analytic.py
  api/howler/api/v1/hit.py
  api/howler/api/v1/tool.py
  api/howler/odm/random_data.py
  api/howler/services/analytic_service.py
  api/test/integration/api/test_wait_for_refresh.py
  plugins/sentinel/sentinel/routes/ingest.py
Due: none

fix forward refresh from delete_by_query
  api/howler/datastore/collection.py
Due: none

add tests for hit endpoints
  api/howler/api/v1/hit.py
  api/test/integration/api/test_wait_for_refresh.py
Due: none

add refresh param to ui interface methods
  ui/src/api/action/index.ts
  ui/src/api/analytic/index.ts
  ui/src/api/analytic/owner.ts
  ui/src/api/analytic/rules.ts
  ui/src/api/dossier/index.ts
  ui/src/api/hit/index.ts
  ui/src/api/hit/labels.ts
  ui/src/api/hit/overwrite.ts
  ui/src/api/hit/transition.ts
  ui/src/api/index.ts
  ui/src/api/overview/index.ts
  ui/src/api/template/index.ts
  ui/src/api/user/index.ts
  ui/src/api/view/index.ts
  ui/src/components/routes/action/useMyActionFunctions.tsx
  ui/src/components/routes/analytics/AnalyticDetails.tsx
Due: lint-staged, bad-ui-imports

refactor: remove useless userAvatar function
  ui/src/components/elements/hit/elements/HitUsers.tsx
Due: lint-staged, bad-ui-imports

do not display assignee if assessor is non empty
  ui/src/components/elements/hit/elements/HitUsers.tsx
Due: lint-staged, bad-ui-imports

remove auto assign on assessment transition
  api/howler/services/hit_service.py
Due: none

moved tooltips from hitlinks to hitnotebook
  ui/src/components/elements/hit/HitLinks.tsx
  ui/src/components/elements/hit/HitNotebooks.tsx
Due: lint-staged, bad-ui-imports

updated translation to fit format
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports

fix test to match no longer assigning on assessment and add checks for assessor on transitions
  api/test/integration/api/test_hit_transition.py
Due: none

update docstrings for all endpoints with refresh param
  api/howler/api/v1/analytic.py
  api/howler/api/v1/hit.py
  api/howler/api/v1/template.py
  api/howler/api/v1/user.py
Due: none

feat(ui,api): store and display the user who submitted the last assessment for a hit (#406)
  api/howler/actions/demote.py
  api/howler/actions/promote.py
  api/howler/helper/hit.py
  api/howler/odm/helper.py
  api/howler/odm/models/howler_data.py
  api/howler/odm/random_data.py
  api/howler/services/hit_service.py
  api/test/integration/api/test_hit_transition.py
  ui/src/components/elements/hit/HitBanner.tsx
  ui/src/components/elements/hit/elements/Assigned.tsx
  ui/src/components/elements/hit/elements/HitUsers.tsx
  ui/src/components/routes/hits/search/grid/HitRow.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
  ui/src/models/entities/generated/Hit.d.ts
  ui/src/models/entities/generated/Howler.d.ts
  ui/src/models/entities/generated/UserUser.d.ts
Due: lint-staged, bad-ui-imports

refactor replace for-append with list comprehension
  api/howler/api/v1/hit.py
Due: none

fix typing
  api/howler/api/v1/utils/params.py
Due: none

corrected modification done before geekweek without testing :(
  api/howler/api/v1/action.py
  api/howler/api/v1/dossier.py
  api/howler/odm/helper.py
  api/howler/odm/models/action.py
  api/howler/odm/models/view.py
  api/howler/odm/random_data.py
  api/howler/services/dossier_service.py
  api/howler/services/permission_service.py
  api/test/integration/api/test_dossier.py
  api/test/integration/api/test_view.py
  api/test/integration/service/test_dossier_service.py
Due: none

python is not c and does not point to variable. it give a copy. i forgot
  api/howler/api/v1/action.py
  api/howler/api/v1/view.py
  api/howler/odm/models/action.py
  api/howler/odm/models/dossier.py
  api/howler/odm/models/view.py
  api/howler/services/dossier_service.py
  api/test/integration/api/test_dossier.py
Due: none

feat(api): fixes to enable ilm (#386)
  api/howler/api/v1/search.py
  api/howler/datastore/collection.py
  api/howler/datastore/howler_store.py
  api/howler/datastore/store.py
  api/howler/odm/models/config.py
  api/test/integration/service/test_queries.txt
  api/test/integration/test_ilm.py
  api/test/unit/config.yml
  api/test/unit/test_ilm_collection.py
  api/test/unit/test_ilm_config.py
  api/test/utils/queries.py
  client/howler_client/module/search/__init__.py
  documentation/docs/migration.md
  ui/src/components/routes/help/markdown/en/client.md
  ui/src/components/routes/help/markdown/fr/client.md
Due: lint-staged, bad-ui-imports

feat(client): auth callbacks, general client fixes and updates (#392)
  .github/workflows/api-workflow.yml
  .github/workflows/client-workflow.yml
  api/howler/api/v1/tool.py
  api/test/integration/api/test_doc.py
  api/test/integration/regression/test_bundle_api_contract.py
  client/build_scripts/coverage_reports.py
  client/howler_client/__init__.py
  client/howler_client/common/dict_utils.py
  client/howler_client/connection.py
  client/howler_client/module/bundle.py
  client/howler_client/module/hit.py
Due: none

fix search test
  api/howler/api/v1/search.py
Due: none

Add special-use TLDs to domain validation
  api/howler/common/net.py
  api/test/unit/test_net.py
Due: none

added value to match back end object format for action.d, view.d and dossier.d
  ui/src/models/entities/generated/Action.d.ts
  ui/src/models/entities/generated/HowlerDossier.d.ts
  ui/src/models/entities/generated/View.d.ts
Due: lint-staged, bad-ui-imports

Implement copilot review suggestions
  api/howler/common/net.py
  api/test/unit/test_net.py
Due: none

updated translation for add member button
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports

Review suggestions
  api/howler/common/net.py
  api/test/unit/test_net.py
Due: none

feat(api): add special-use and private tlds to domain validation (#422)
  api/howler/common/net.py
  api/test/unit/test_net.py
Due: none

fix(ci): coverage report stuff
  api/build_scripts/coverage_reports.py
  client/build_scripts/coverage_reports.py
  plugins/evidence/build_scripts/coverage_reports.py
  plugins/sentinel/build_scripts/coverage_reports.py
Due: none

added first draft of adding member to actions. will be use for other object as well
  api/howler/api/v1/action.py
  ui/src/components/routes/action/view/ActionDetails.tsx
Due: lint-staged, bad-ui-imports

updated ResolvePivotUtl to resolvePivotUrl
  ui/src/components/elements/hit/HitLinks.tsx
Due: lint-staged, bad-ui-imports

refactor test so request building logic is centralised
  api/test/integration/api/test_wait_for_refresh.py
Due: none

apply correction base on internal syntax
  ui/src/components/elements/hit/ResolvePivotUrl.ts
Due: lint-staged, bad-ui-imports

fix(client): unit test fixes
  client/howler_client/module/hit.py
  client/howler_client/module/search/facet.py
  client/howler_client/module/search/grouped.py
  client/howler_client/module/search/stats.py
  client/howler_client/module/search/stream.py
  client/test/integration/test_hit.py
  client/test/utils.py
Due: none

fix(api): allow long fields to be analyzed as a number in stats
  api/howler/api/v1/search.py
Due: none

fix(api): dependency updates
  api/poetry.lock
  api/pyproject.toml
  client/poetry.lock
  client/pyproject.toml
  plugins/evidence/poetry.lock
  plugins/evidence/pyproject.toml
  plugins/sentinel/poetry.lock
  plugins/sentinel/pyproject.toml
Due: poetry-check-api, poetry-check-client, poetry-check-evidence, poetry-check-sentinel

updated copilot comments for the links
  ui/src/components/elements/hit/HitLinks.tsx
  ui/src/components/elements/hit/ResolvePivotUrl.ts
Due: lint-staged, bad-ui-imports

apply comments requests
  ui/src/components/elements/hit/HitLinks.tsx
  ui/src/components/elements/hit/PivotTooltip.tsx
  ui/src/components/elements/hit/ResolvePivotUrl.ts
  ui/src/components/elements/hit/related/PivotLink.tsx
  ui/src/components/elements/hit/related/RelatedLink.tsx
Due: lint-staged, bad-ui-imports
