Repository CybercentreCanada/howler: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check-api, poetry-check-client, poetry-check-evidence, poetry-check-sentinel, lint-staged, bad-ui-imports

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - commit-msg

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.8.0
    hooks:
      # Run the linter.
      - id: ruff
        name: Ruff Linting
        args: [--fix, --output-format=concise]
      # Run the formatter.
      - id: ruff-format
        name: Ruff Formatting
  # - repo: https://github.com/compilerla/conventional-pre-commit
  #   rev: v4.3.0
  #   hooks:
  #     - id: conventional-pre-commit
  #       stages: [commit-msg]
  - repo: local
    hooks:
      - id: poetry-check-api
        name: poetry-check-api
        entry: hooks/check_poetry.sh
        args: [api]
        language: script
        stages: [pre-commit]
        files: ^api/.*\.(toml|lock)
      - id: poetry-check-client
        name: Poetry Check (client)
        entry: hooks/check_poetry.sh
        args: [client]
        language: script
        stages: [pre-commit]
        files: ^client/.*\.(toml|lock)
      - id: poetry-check-evidence
        name: Poetry Check (Evidence Plugin)
        entry: hooks/check_poetry.sh
        args: [plugins/evidence]
        language: script
        stages: [pre-commit]
        files: ^plugins/evidence/.*\.(toml|lock)
      - id: poetry-check-sentinel
        name: Poetry Check (Sentinel Plugin)
        entry: hooks/check_poetry.sh
        args: [plugins/sentinel]
        language: script
        stages: [pre-commit]
        files: ^plugins/sentinel/.*\.(toml|lock)
      - id: lint-staged
        name: lint-staged
        entry: ui/build_scripts/lint_staged.sh
        language: script
        stages: [pre-commit]
        files: ^ui/.*
      - id: bad-ui-imports
        name: Check for bad UI imports
        entry: ui/build_scripts/find_bad_imports.py
        language: python
        stages: [pre-commit]
        files: ^ui/.*
      - id: check-commit-msg
        name: Validate Commit Message
        entry: hooks/commit-msg.py
        language: python
        stages: [commit-msg]
        additional_dependencies: ["conventional-pre-commit", "rich"]
        verbose: true

remove unneccessary spans
  api/howler/services/event_service.py
Due: none

Instrument for azure monitor
  api/howler/telemetry.py
Due: none

Change tracer name
  api/howler/services/hit_service.py
Due: none

formatting
  api/howler/app.py
  api/howler/services/event_service.py
  api/howler/telemetry.py
Due: none

Remove comment
  api/howler/app.py
Due: none

lint fixes
  api/howler/api/v1/clue.py
  api/howler/helper/oauth.py
  api/howler/odm/models/config.py
  api/howler/security/__init__.py
  api/howler/services/auth_service.py
  api/howler/services/user_service.py
Due: none

Added test cases to handle count filters via mocked collection
  api/test/integration/api/test_search.py
Due: none

chore(ui,api): post-release version bumps
  api/pyproject.toml
  ui/package.json
Due: poetry-check-api, lint-staged, bad-ui-imports

chore(ui): new utility, tests
  .github/copilot-instructions.md
  ui/src/components/hooks/useLocalStorage.test.ts
  ui/src/components/hooks/useParamState.test.ts
  ui/src/components/hooks/useParamState.ts
Due: lint-staged, bad-ui-imports

chore: linting
  ui/src/components/hooks/useParamState.test.ts
Due: lint-staged, bad-ui-imports

chore(ci): update ruff's pre-commit hook
  .pre-commit-config.yaml
Due: none

fix(api): resolve python warnings in test output (#265)
  api/howler/api/v1/view.py
  api/howler/datastore/collection.py
  api/howler/datastore/store.py
  api/howler/remote/datatypes/__init__.py
  api/test/integration/test_datastore.py
  api/test/unit/test_str_utils.py
Due: none

chore(ui): update clue to 1.2.4
  ui/package.json
  ui/pnpm-lock.yaml
Due: lint-staged, bad-ui-imports

feat(ui): migrate ui to chainguard images
  .github/workflows/ui-workflow.yml
  ui/Dockerfile
Due: lint-staged, bad-ui-imports

feat(api): set upstream python image to chainguard (#284)
  .github/workflows/api-workflow.yml
  api/Dockerfile
  api/poetry.lock
  api/pyproject.toml
Due: poetry-check-api

chore(api): fix chainguard entrypoint
  api/Dockerfile
Due: none

fix(api): fixed issue command for new chainguard image
  api/Dockerfile
Due: none

fix(ui): fixed ui image build
  ui/Dockerfile
  ui/nginx.conf
Due: lint-staged, bad-ui-imports

refactor(api): Refactor reindex script (#286)
  api/howler/external/README.md
  api/howler/external/reindex_data.py
Due: none

fix(api): installing tzdata in new chainguard image
  api/Dockerfile
Due: none

fix(api): include tzdata package to circumvent chainguard image issues
  api/poetry.lock
  api/pyproject.toml
Due: poetry-check-api

chore(api): add howler plugin directory to base image, fix test build image
  .github/workflows/api-workflow.yml
  api/Dockerfile
Due: none

chore: normalize logging string format style (#275)
  api/build_scripts/generate_classes.py
  api/howler/api/v1/auth.py
  api/howler/api/v1/clue.py
  api/howler/api/v1/hit.py
  api/howler/api/v1/tool.py
  api/howler/app.py
  api/howler/common/loader.py
  api/howler/cronjobs/retention.py
  api/howler/cronjobs/rules.py
  api/howler/cronjobs/view_cleanup.py
  api/howler/datastore/collection.py
  api/howler/datastore/migrations/fix_process.py
  api/howler/helper/discover.py
  api/howler/odm/helper.py
  api/howler/odm/random_data.py
  api/howler/remote/datatypes/__init__.py
  api/howler/security/__init__.py
  api/howler/security/socket.py
  api/howler/services/event_service.py
Due: none

feat(ui): add default name when adding alerts to case
  ui/src/components/routes/cases/modals/AddToCaseModal.tsx
Due: lint-staged, bad-ui-imports

add modal unit tests
  ui/src/components/routes/cases/modals/AddToCaseModal.test.tsx
Due: lint-staged, bad-ui-imports

fix bundle test
  ui/src/components/app/providers/RecordSearchProvider.test.tsx
Due: lint-staged, bad-ui-imports

feat(api): added add to case action
  api/howler/actions/add_to_case.py
Due: none

added unit tests for the add to case modal
  api/test/unit/actions/test_add_to_case.py
Due: none

small lockfile update
  ui/pnpm-lock.yaml
Due: lint-staged, bad-ui-imports

Adjust docs
  documentation/docs/installation/configuration.md
  documentation/docs/installation/default_configuration.md
Due: none

Remove legacy apm from docs
  documentation/docs/installation/configuration.md
  documentation/docs/installation/default_configuration.md
Due: none

Fix docs
  documentation/docs/installation/configuration.md
  documentation/docs/installation/default_configuration.md
Due: none

Conflict in pyproject
  api/poetry.lock
  api/pyproject.toml
Due: poetry-check-api

Copilot fixes
  api/howler/api/socket.py
  api/howler/telemetry.py
Due: none

Add default service name and remove env var check for otel
  api/howler/telemetry.py
Due: none

feat(ui): added create case modal ui, updated add to case modal
  ui/src/components/elements/record/RecordContextMenu.tsx
  ui/src/components/routes/cases/modals/AddToCaseModal.test.tsx
  ui/src/components/routes/cases/modals/AddToCaseModal.tsx
  ui/src/components/routes/cases/modals/CaseRecordRow.tsx
  ui/src/components/routes/cases/modals/CreateCaseModal.test.tsx
  ui/src/components/routes/cases/modals/CreateCaseModal.tsx
  ui/src/components/routes/cases/modals/hooks.ts
  ui/src/components/routes/cases/modals/types.d.ts
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports

fix tests
  ui/src/components/app/providers/RecordSearchProvider.test.tsx
  ui/src/components/elements/record/RecordContextMenu.test.tsx
  ui/src/components/routes/cases/modals/hooks.ts
Due: lint-staged, bad-ui-imports

test fixes
  api/howler/actions/add_to_case.py
  api/howler/odm/random_data.py
  api/test/integration/actions/__init__.py
  api/test/integration/actions/test_add_label.py
  api/test/integration/actions/test_add_to_case.py
  api/test/integration/actions/test_change_field.py
  api/test/integration/actions/test_demote.py
  api/test/integration/actions/test_prioritization.py
  api/test/integration/actions/test_promote.py
  api/test/integration/actions/test_remove_label.py
Due: none

test fixes
  pyrightconfig.json
Due: none
