Repository CybercentreCanada/howler: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check-api, poetry-check-client, poetry-check-evidence, poetry-check-sentinel, lint-staged, bad-ui-imports

poetry-check-api:
  name: poetry-check-api
  entry: hooks/check_poetry.sh
  args:
  - api
  language: script
  stages:
  - pre-commit

poetry-check-client:
  name: Poetry Check (client)
  entry: hooks/check_poetry.sh
  args:
  - client
  language: script
  stages:
  - pre-commit

poetry-check-evidence:
  name: Poetry Check (Evidence Plugin)
  entry: hooks/check_poetry.sh
  args:
  - plugins/evidence
  language: script
  stages:
  - pre-commit

poetry-check-sentinel:
  name: Poetry Check (Sentinel Plugin)
  entry: hooks/check_poetry.sh
  args:
  - plugins/sentinel
  language: script
  stages:
  - pre-commit

lint-staged:
  name: lint-staged
  entry: ui/build_scripts/lint_staged.sh
  language: script
  stages:
  - pre-commit

bad-ui-imports:
  name: Check for bad UI imports
  entry: ui/build_scripts/find_bad_imports.py
  language: python
  stages:
  - pre-commit

bump version by a major
  api/pyproject.toml
Due: poetry-check-api

small fixes
  .github/workflows/ui-workflow.yml
  api/howler/services/case_service.py
Due: none

feat(ui): implemented reference handling in cases
  ui/src/components/routes/cases/detail/sidebar/CaseFolder.tsx
  ui/src/components/routes/cases/detail/sidebar/utils.ts
Due: lint-staged, bad-ui-imports

pr feedback
  ui/src/components/routes/cases/detail/sidebar/CaseFolder.tsx
Due: lint-staged, bad-ui-imports

chore(ui,api): post-release version bumps
  api/pyproject.toml
  ui/package.json
Due: poetry-check-api, lint-staged, bad-ui-imports

fix(ui): fixed rerender loop in home dashboard
  ui/package.json
  ui/src/components/routes/home/AnalyticCard.tsx
  ui/src/components/routes/home/ViewRefresh.tsx
  ui/src/components/routes/home/index.tsx
Due: lint-staged, bad-ui-imports

fix(ui): added noopener noreferrer to dossier links
  ui/src/components/elements/hit/related/PivotLink.tsx
  ui/src/components/elements/hit/related/RelatedLink.tsx
Due: lint-staged, bad-ui-imports

chore: release notes
  docs/RELEASES.md
Due: none

feat(ui): implemented reference handling in cases (#252)
  ui/src/components/routes/cases/detail/sidebar/CaseFolder.tsx
  ui/src/components/routes/cases/detail/sidebar/utils.ts
Due: lint-staged, bad-ui-imports

chore: update title check
  .github/workflows/pr-title-check.yml
Due: none

fix(ui): added more granular control over template field count
  docs/RELEASES.md
  ui/src/components/elements/EditRow.tsx
  ui/src/components/elements/hit/HitOutline.tsx
  ui/src/components/routes/settings/LocalSection.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
  ui/src/utils/constants.tsx
Due: lint-staged, bad-ui-imports

feat(ui): updated localstorage to better handle updates to the underlying record
  ui/src/components/app/providers/LocalStorageProvider.tsx
  ui/src/components/elements/display/ChipPopper.tsx
  ui/src/components/hooks/useLocalStorage.ts
  ui/src/components/hooks/useLocalStorageItem.test.tsx
  ui/src/components/hooks/useLocalStorageItem.tsx
  ui/src/components/hooks/useMyLocalStorage.ts
  ui/src/components/routes/hits/search/LayoutSettings.tsx
  ui/src/components/routes/hits/search/SearchPane.tsx
Due: lint-staged, bad-ui-imports

feat(ui): added layout settings dropdown to the search page
  .github/copilot-instructions.md
  docs/RELEASES.md
Due: none

fix ui-workflow.yml
  .github/workflows/ui-workflow.yml
Due: none

release(ui): version 2.17.1 (#257)
  .github/copilot-instructions.md
  .github/workflows/pr-title-check.yml
  .github/workflows/ui-workflow.yml
  docs/RELEASES.md
  ui/package.json
  ui/src/components/app/providers/LocalStorageProvider.tsx
  ui/src/components/elements/EditRow.tsx
  ui/src/components/elements/display/ChipPopper.tsx
  ui/src/components/elements/hit/HitOutline.tsx
  ui/src/components/elements/hit/related/PivotLink.tsx
  ui/src/components/elements/hit/related/RelatedLink.tsx
  ui/src/components/hooks/useLocalStorage.ts
  ui/src/components/hooks/useLocalStorageItem.test.tsx
  ui/src/components/hooks/useLocalStorageItem.tsx
  ui/src/components/hooks/useMyLocalStorage.ts
  ui/src/components/routes/hits/search/LayoutSettings.tsx
  ui/src/components/routes/hits/search/SearchPane.tsx
  ui/src/components/routes/home/AnalyticCard.tsx
  ui/src/components/routes/home/ViewRefresh.tsx
  ui/src/components/routes/home/index.tsx
  ui/src/components/routes/settings/LocalSection.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
  ui/src/utils/constants.tsx
Due: lint-staged, bad-ui-imports

fix(ui): ensure view card opens the view it is referring to
  ui/src/components/routes/home/ViewCard.tsx
Due: lint-staged, bad-ui-imports

fix(ui): ensure that template field count doesn't affect details
  ui/src/components/elements/hit/HitOutline.tsx
  ui/src/components/routes/hits/search/InformationPane.tsx
  ui/src/components/routes/hits/view/HitViewer.tsx
Due: lint-staged, bad-ui-imports

chore: bump version
  ui/package.json
Due: lint-staged, bad-ui-imports

feat(ui): added field count to layout settings
  ui/src/components/routes/hits/search/LayoutSettings.tsx
Due: lint-staged, bad-ui-imports

feat(ui): added persistence to table settings in grid view
  ui/src/components/routes/hits/search/grid/AddColumnModal.tsx
  ui/src/components/routes/hits/search/grid/HitGrid.tsx
  ui/src/utils/constants.tsx
Due: lint-staged, bad-ui-imports

fix(api): fixed dossier queries not respecting dossier visibility
  .vscode/settings.json
  api/howler/api/v1/dossier.py
  api/howler/api/v1/search.py
  api/howler/services/dossier_service.py
  api/howler/services/hit_service.py
  api/test/integration/api/test_dossier.py
  api/test/integration/service/test_action_service.py
  api/test/integration/service/test_dossier_service.py
  api/test/integration/service/test_hit_service.py
Due: none

chore: bump patch version
  api/pyproject.toml
Due: poetry-check-api

chore: agent notes
  .github/copilot-instructions.md
Due: none

fix(ui): added success notifications when creating or updating a dossier
  ui/src/components/routes/dossiers/DossierEditor.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports

chore: update release notes
  docs/RELEASES.md
Due: none

chore: pr feedback
  ui/src/components/routes/hits/search/grid/HitGrid.tsx
  ui/src/components/routes/home/ViewCard.tsx
Due: lint-staged, bad-ui-imports

chore: pr feedback
  ui/src/components/routes/hits/search/grid/HitGrid.tsx
Due: lint-staged, bad-ui-imports

fix(ui): moved the dashboard editing functionality to the app bar
  ui/src/components/app/App.tsx
  ui/src/components/app/providers/AppBarProvider.tsx
  ui/src/components/hooks/useMyPreferences.tsx
  ui/src/components/routes/home/HomeSettings.tsx
  ui/src/components/routes/home/ViewRefresh.tsx
  ui/src/components/routes/home/index.tsx
Due: lint-staged, bad-ui-imports

fix(api): fixed logic error in lucene query parsing
  api/howler/services/lucene_service.py
  api/test/integration/service/test_lucene_service.py
Due: none

chore: release note updates, more copilot instructions
  .github/copilot-instructions.md
  docs/RELEASES.md
Due: none

fix(ci): diff report
  api/build_scripts/coverage_reports.py
Due: none

temp
  api/howler/services/case_service.py
  api/test/integration/service/test_case_service.py
  ui/src/components/routes/cases/detail/AlertPanel.tsx
Due: lint-staged, bad-ui-imports

fix localization
  ui/src/components/routes/hits/search/shared/IndexPicker.tsx
Due: lint-staged, bad-ui-imports

more fixes
  api/howler/odm/models/case.py
  ui/src/components/routes/hits/view/HitViewer.tsx
Due: lint-staged, bad-ui-imports

more case tweaks
  ui/src/components/routes/cases/detail/CaseDashboard.tsx
  ui/src/components/routes/cases/detail/CaseSidebar.tsx
  ui/src/components/routes/cases/detail/sidebar/CaseFolder.tsx
  ui/src/components/routes/hits/view/HitViewer.tsx
Due: lint-staged, bad-ui-imports

chore(ui): new utility, tests
  .github/copilot-instructions.md
  ui/src/components/hooks/useLocalStorage.test.ts
  ui/src/components/hooks/useParamState.test.ts
  ui/src/components/hooks/useParamState.ts
Due: lint-staged, bad-ui-imports

migrated to v2
  api/howler/odm/models/view.py
  ui/src/api/v2/search/index.ts
  ui/src/components/elements/view/ViewTitle.tsx
  ui/src/components/routes/home/ViewCard.tsx
  ui/src/components/routes/views/ViewComposer.tsx
  ui/src/models/entities/generated/View.d.ts
  ui/src/utils/viewUtils.ts
Due: lint-staged, bad-ui-imports

Path conditions:
  poetry-check-api: any of: ^api/.*\.(toml|lock)
  poetry-check-client: any of: ^client/.*\.(toml|lock)
  poetry-check-evidence: any of: ^plugins/evidence/.*\.(toml|lock)
  poetry-check-sentinel: any of: ^plugins/sentinel/.*\.(toml|lock)
  lint-staged: any of: ^ui/.*
  bad-ui-imports: any of: ^ui/.*
