Repository CybercentreCanada/howler: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check-api, poetry-check-client, poetry-check-evidence, poetry-check-sentinel, lint-staged, bad-ui-imports

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.8.0
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix, --output-format=concise]
      # Run the formatter.
      - id: ruff-format
  # - repo: https://github.com/DavidAnson/markdownlint-cli2
  #   rev: v0.18.1
  #   hooks:
  #     - id: markdownlint-cli2
  #       args: [--config, .markdownlint-cli2.yaml]
  - repo: local
    hooks:
      - id: poetry-check-api
        name: poetry-check-api
        entry: api/build_scripts/check_poetry.sh
        language: script
        stages: [pre-commit]
        files: ^api/.*\.(toml|lock)
      - id: poetry-check-client
        name: poetry-check-client
        entry: client/build_scripts/check_poetry.sh
        language: script
        stages: [pre-commit]
        files: ^client/.*\.(toml|lock)
      - id: poetry-check-evidence
        name: poetry-check-evidence
        entry: plugins/evidence/build_scripts/check_poetry.sh
        language: script
        stages: [pre-commit]
        files: ^plugins/evidence/.*\.(toml|lock)
      - id: poetry-check-sentinel
        name: poetry-check-sentinel
        entry: plugins/sentinel/build_scripts/check_poetry.sh
        language: script
        stages: [pre-commit]
        files: ^plugins/sentinel/.*\.(toml|lock)
      - id: lint-staged
        name: lint-staged
        entry: ui/build_scripts/lint_staged.sh
        language: script
        stages: [pre-commit]
        files: ^ui/.*
      - id: bad-ui-imports
        name: bad-ui-imports
        entry: ui/build_scripts/find_bad_imports.py
        language: python
        stages: [pre-commit]
        files: ^ui/.*

chore: release ui=2.14.2 (dossier fixes)
  ui/package.json
Due: lint-staged, bad-ui-imports

Add nightly tag
  .github/workflows/api-workflow.yml
Due: none

Fix dossier validation
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/components/app/providers/ApiConfigProvider.tsx
  ui/src/components/elements/ThemedEditor.tsx
  ui/src/components/routes/advanced/QueryEditor.tsx
  ui/src/components/routes/dossiers/DossierEditor.test.tsx
  ui/src/components/routes/dossiers/DossierEditor.tsx
  ui/src/components/routes/dossiers/LeadEditor.tsx
  ui/src/components/routes/dossiers/LeadForm.tsx
  ui/src/components/routes/dossiers/PivotForm.tsx
  ui/src/components/routes/hits/search/HitQuery.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports

Cleanup
  ui/src/components/routes/dossiers/DossierEditor.tsx
Due: lint-staged, bad-ui-imports

Update ui/src/components/routes/dossiers/DossierEditor.tsx
  ui/src/components/routes/dossiers/DossierEditor.tsx
Due: lint-staged, bad-ui-imports

Improved markdown retention (#110)
  ui/src/components/routes/help/markdown/en/retention.md
  ui/src/components/routes/help/markdown/fr/retention.md
Due: lint-staged, bad-ui-imports

Fix dossier validation (#111)
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/components/app/providers/ApiConfigProvider.tsx
  ui/src/components/elements/ThemedEditor.tsx
  ui/src/components/routes/advanced/QueryEditor.tsx
  ui/src/components/routes/dossiers/DossierEditor.test.tsx
  ui/src/components/routes/dossiers/DossierEditor.tsx
  ui/src/components/routes/dossiers/LeadEditor.tsx
  ui/src/components/routes/dossiers/LeadForm.tsx
  ui/src/components/routes/dossiers/PivotForm.tsx
  ui/src/components/routes/hits/search/HitQuery.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports

Dashboard Optimizations and fixes
  ui/src/components/routes/analytics/widgets/Created.tsx
  ui/src/components/routes/analytics/widgets/Stacked.tsx
  ui/src/components/routes/home/ViewCard.tsx
Due: lint-staged, bad-ui-imports

Dashboard Optimizations and fixes (#107)
  ui/src/components/routes/analytics/widgets/Created.tsx
  ui/src/components/routes/analytics/widgets/Stacked.tsx
  ui/src/components/routes/home/ViewCard.tsx
Due: lint-staged, bad-ui-imports

Fix injection of markdown components
  ui/src/components/elements/display/HandlebarsMarkdown.tsx
  ui/src/plugins/store.ts
Due: lint-staged, bad-ui-imports

Update ui/src/components/elements/display/HandlebarsMarkdown.tsx
  ui/src/components/elements/display/HandlebarsMarkdown.tsx
Due: lint-staged, bad-ui-imports

Fix injection of markdown components (SPBK-3796) (#108)
  ui/src/components/elements/display/HandlebarsMarkdown.tsx
  ui/src/plugins/store.ts
Due: lint-staged, bad-ui-imports

Small fix to useTitle
  ui/src/components/app/hooks/useTitle.tsx
Due: lint-staged, bad-ui-imports

Changes to schema
  api/howler/datastore/collection.py
  api/howler/datastore/constants.py
  api/howler/datastore/support/build.py
  api/howler/external/reindex_data.py
  api/howler/odm/base.py
  api/howler/odm/models/analytic.py
  api/howler/odm/models/ecs/client.py
  api/howler/odm/models/howler_data.py
  api/howler/odm/models/view.py
Due: none

Fix AI being silly
  api/howler/odm/base.py
Due: none

Update api/howler/odm/base.py
  api/howler/odm/base.py
Due: none

Fix workflow
  .github/workflows/api-workflow.yml
Due: none

Fix test
  api/howler/odm/randomizer.py
Due: none

Fix workflows
  .github/workflows/api-workflow.yml
  .github/workflows/client-workflow.yml
  .github/workflows/evidence-plugin-workflow.yml
  .github/workflows/sentinel-plugin-workflow.yml
Due: none

Fix issues with type hints on 3.9
  api/howler/utils/lucene.py
Due: none

Fix type errors
  api/howler/utils/lucene.py
Due: none

Bump version to v3, add migration guide
  api/pyproject.toml
  documentation/docs/migration.md
Due: poetry-check-api

Changes to schema (#57)
  .github/workflows/api-workflow.yml
  .github/workflows/client-workflow.yml
  .github/workflows/evidence-plugin-workflow.yml
  .github/workflows/sentinel-plugin-workflow.yml
  api/howler/datastore/collection.py
  api/howler/datastore/constants.py
  api/howler/datastore/support/build.py
  api/howler/external/reindex_data.py
  api/howler/odm/base.py
  api/howler/odm/models/analytic.py
  api/howler/odm/models/ecs/client.py
  api/howler/odm/models/howler_data.py
  api/howler/odm/models/view.py
  api/howler/odm/randomizer.py
  api/howler/utils/lucene.py
  api/pyproject.toml
  documentation/docs/migration.md
Due: poetry-check-api

Some other schema changes
  api/howler/odm/models/analytic.py
  api/howler/odm/models/ecs/threat.py
  api/howler/odm/models/howler_data.py
Due: none

Update image tags to cccs/howler-
  .github/workflows/api-workflow.yml
  .github/workflows/client-workflow.yml
  .github/workflows/ui-workflow.yml
  client/test/docker-compose.yml
  docs/patching.md
  documentation/docs/installation/deployment.md
  documentation/docs/migration.md
Due: none

Update README.md
  ui/README.md
Due: lint-staged, bad-ui-imports

Remove support for python 3.9
  .github/workflows/client-workflow.yml
  .github/workflows/evidence-plugin-workflow.yml
  .github/workflows/sentinel-plugin-workflow.yml
  ansible/howler.yml
  api/poetry.lock
  api/pyproject.toml
  client/README.fr.md
  client/README.md
  client/azure_pipelines.yml
  client/poetry.lock
  client/pyproject.toml
  docs/api/plugins.md
  documentation/docs/developer/client.fr.md
  documentation/docs/ingestion/client.fr.md
  documentation/docs/ingestion/client.md
  documentation/docs/ingestion/example.md
  plugins/evidence/poetry.lock
  plugins/evidence/pyproject.toml
  plugins/sentinel/poetry.lock
  plugins/sentinel/pyproject.toml
Due: poetry-check-api, poetry-check-client, poetry-check-evidence, poetry-check-sentinel

Type fixes
  api/howler/actions/__init__.py
  api/howler/api/v1/action.py
  api/howler/api/v1/configs.py
  api/howler/api/v1/hit.py
  api/howler/api/v1/user.py
  api/howler/common/README.md
  api/howler/common/hexdump.py
  api/howler/common/iprange.py
  api/howler/helper/oauth.py
  api/howler/services/config_service.py
  api/howler/services/user_service.py
  api/pyproject.toml
  api/test/unit/test_common.py
Due: poetry-check-api

More type fixes
  .github/workflows/sentinel-plugin-workflow.yml
  plugins/sentinel/poetry.lock
  plugins/sentinel/pyproject.toml
Due: poetry-check-sentinel

client workflow fixes
  .github/workflows/client-workflow.yml
Due: none

Undo package changes
  api/poetry.lock
  api/pyproject.toml
Due: poetry-check-api

More lockfile reverts
  plugins/evidence/poetry.lock
  plugins/evidence/pyproject.toml
  plugins/sentinel/poetry.lock
  plugins/sentinel/pyproject.toml
Due: poetry-check-evidence, poetry-check-sentinel

Fix test compose
  client/test/docker-compose.yml
Due: none

More fixes
  .github/workflows/client-workflow.yml
  plugins/sentinel/poetry.lock
Due: poetry-check-sentinel

Fix poetry lockfile
  plugins/evidence/poetry.lock
Due: poetry-check-evidence

Undo client lockfile changes
  client/poetry.lock
Due: poetry-check-client

Remove support for python 3.9 (#115)
  .github/workflows/client-workflow.yml
  .github/workflows/evidence-plugin-workflow.yml
  .github/workflows/sentinel-plugin-workflow.yml
  ansible/howler.yml
  api/howler/actions/__init__.py
  api/howler/api/v1/action.py
  api/howler/api/v1/configs.py
  api/howler/api/v1/hit.py
  api/howler/api/v1/user.py
  api/howler/common/README.md
  api/howler/common/hexdump.py
  api/howler/common/iprange.py
  api/howler/helper/oauth.py
  api/howler/services/config_service.py
  api/howler/services/user_service.py
  api/test/unit/test_common.py
  client/README.fr.md
  client/README.md
  client/azure_pipelines.yml
  client/poetry.lock
  client/pyproject.toml
  client/test/docker-compose.yml
  docs/api/plugins.md
  documentation/docs/developer/client.fr.md
  documentation/docs/ingestion/client.fr.md
  documentation/docs/ingestion/client.md
  documentation/docs/ingestion/example.md
  plugins/evidence/poetry.lock
  plugins/sentinel/poetry.lock
  plugins/sentinel/pyproject.toml
Due: poetry-check-client, poetry-check-evidence, poetry-check-sentinel

Small docs change
  docs/api/codebase.md
Due: none

Fixed bug where null viewIds would trigger search error
  ui/src/components/app/providers/ViewProvider.tsx
  ui/src/components/routes/hits/search/HitBrowser.tsx
Due: lint-staged, bad-ui-imports

working on exclude by
  ui/src/components/routes/hits/search/HitContextMenu.test.tsx
  ui/src/components/routes/hits/search/HitContextMenu.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
  ui/src/setupTests.ts
  ui/src/tests/server-handlers.ts
  ui/src/tests/utils.ts
Due: lint-staged, bad-ui-imports
