Repository CybercentreCanada/howler: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check-api, poetry-check-client, poetry-check-evidence, poetry-check-sentinel, lint-staged, bad-ui-imports

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - commit-msg

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.8.0
    hooks:
      # Run the linter.
      - id: ruff
        name: Ruff Linting
        args: [--fix, --output-format=concise]
      # Run the formatter.
      - id: ruff-format
        name: Ruff Formatting
  # - repo: https://github.com/compilerla/conventional-pre-commit
  #   rev: v4.3.0
  #   hooks:
  #     - id: conventional-pre-commit
  #       stages: [commit-msg]
  - repo: local
    hooks:
      - id: poetry-check-api
        name: poetry-check-api
        entry: hooks/check_poetry.sh
        args: [api]
        language: script
        stages: [pre-commit]
        files: ^api/.*\.(toml|lock)
      - id: poetry-check-client
        name: Poetry Check (client)
        entry: hooks/check_poetry.sh
        args: [client]
        language: script
        stages: [pre-commit]
        files: ^client/.*\.(toml|lock)
      - id: poetry-check-evidence
        name: Poetry Check (Evidence Plugin)
        entry: hooks/check_poetry.sh
        args: [plugins/evidence]
        language: script
        stages: [pre-commit]
        files: ^plugins/evidence/.*\.(toml|lock)
      - id: poetry-check-sentinel
        name: Poetry Check (Sentinel Plugin)
        entry: hooks/check_poetry.sh
        args: [plugins/sentinel]
        language: script
        stages: [pre-commit]
        files: ^plugins/sentinel/.*\.(toml|lock)
      - id: lint-staged
        name: lint-staged
        entry: ui/build_scripts/lint_staged.sh
        language: script
        stages: [pre-commit]
        files: ^ui/.*
      - id: bad-ui-imports
        name: Check for bad UI imports
        entry: ui/build_scripts/find_bad_imports.py
        language: python
        stages: [pre-commit]
        files: ^ui/.*
      - id: check-commit-msg
        name: Validate Commit Message
        entry: hooks/commit-msg.py
        language: python
        stages: [commit-msg]
        additional_dependencies: ["conventional-pre-commit", "rich"]
        verbose: true

Fixed comments
  ui/src/components/routes/hits/search/HitContextMenu.tsx
Due: lint-staged, bad-ui-imports

chore(api): bump gevent version
  api/poetry.lock
  api/pyproject.toml
Due: poetry-check-api

more case work
  .vscode/settings.json
  api/howler/api/__init__.py
  api/howler/api/v2/case.py
  api/howler/api/v2/ingest.py
  api/howler/api/v2/search.py
  api/howler/app.py
  api/howler/odm/models/case.py
  api/howler/odm/random_data.py
  api/howler/services/case_service.py
  ui/src/api/index.ts
  ui/src/api/v2/case/index.ts
  ui/src/api/v2/index.ts
  ui/src/api/v2/search/index.ts
  ui/src/components/app/App.tsx
  ui/src/components/hooks/useMySitemap.tsx
  ui/src/components/routes/cases/CaseViewer.tsx
  ui/src/components/routes/cases/constants.ts
  ui/src/components/routes/cases/detail/CaseAggregate.tsx
  ui/src/components/routes/cases/detail/CaseDashboard.tsx
  ui/src/components/routes/cases/detail/CaseSidebar.tsx
  ui/src/components/routes/cases/detail/ItemPage.tsx
  ui/src/components/routes/hits/search/InformationPane.tsx
  ui/src/models/entities/generated/Case.d.ts
Due: lint-staged, bad-ui-imports

fix(ui): added check for when no integrations are enabled
  ui/src/components/routes/action/view/Integrations.tsx
  ui/src/components/routes/action/view/markdown/integrations.en.md
  ui/src/components/routes/action/view/markdown/integrations.fr.md
Due: lint-staged, bad-ui-imports

chore(ui): added nightly image
  .github/workflows/ui-workflow.yml
Due: none

chore(demo): update image tag for ui
  demo/docker-compose.yml
  hooks/commit-msg.py
Due: none

more case work
  ui/src/components/routes/cases/CaseCard.tsx
  ui/src/components/routes/cases/detail/AlertPanel.tsx
  ui/src/components/routes/cases/detail/CaseAggregate.tsx
  ui/src/components/routes/cases/detail/CaseDashboard.tsx
  ui/src/components/routes/cases/detail/CaseSidebar.tsx
  ui/src/components/routes/cases/detail/CaseTask.tsx
  ui/src/components/routes/cases/detail/ItemPage.tsx
  ui/src/components/routes/cases/detail/RelatedCasePanel.tsx
  ui/src/components/routes/cases/detail/TaskPanel.tsx
  ui/src/components/routes/cases/detail/sidebar/CaseFolder.tsx
  ui/src/components/routes/cases/detail/sidebar/types.d.ts
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports

darken the ui
  ui/src/commons/components/leftnav/LeftNavDrawer.tsx
  ui/src/components/elements/addons/search/phrase/Phrase.tsx
  ui/src/components/elements/display/HowlerCard.tsx
  ui/src/components/elements/hit/HitBanner.tsx
  ui/src/components/elements/view/ViewTitle.tsx
  ui/src/components/hooks/useMyTheme.tsx
  ui/src/components/routes/action/view/ActionSearch.tsx
  ui/src/components/routes/advanced/QueryBuilder.tsx
  ui/src/components/routes/analytics/AnalyticSearch.tsx
  ui/src/components/routes/cases/CaseCard.tsx
  ui/src/components/routes/cases/detail/CaseSidebar.tsx
  ui/src/components/routes/cases/detail/CaseTask.tsx
  ui/src/components/routes/help/ApiDocumentation.tsx
  ui/src/components/routes/hits/search/HitContextMenu.tsx
  ui/src/components/routes/hits/search/ViewLink.tsx
Due: lint-staged, bad-ui-imports

feat: implement classification and entra id oauth login
  api/howler/common/classification.py
  api/howler/config.py
  api/howler/helper/azure.py
  api/howler/helper/oauth.py
  api/howler/helper/search.py
  api/howler/odm/models/config.py
  api/howler/odm/randomizer.py
  api/howler/services/jwt_service.py
Due: none

feat(ui): add basic observable support
  ui/src/api/v2/search/index.ts
  ui/src/components/elements/ObjectDetails.tsx
  ui/src/components/elements/PluginTypography.tsx
  ui/src/components/routes/cases/detail/ItemPage.tsx
  ui/src/components/routes/hits/search/InformationPane.tsx
  ui/src/components/routes/observables/ObservableViewer.tsx
Due: lint-staged, bad-ui-imports

feat(api): added observable odm, added ability to inherit odm models
  api/howler/datastore/howler_store.py
  api/howler/odm/base.py
  api/howler/odm/models/hit.py
  api/howler/odm/models/observable.py
  api/howler/odm/models/record.py
  api/test/unit/services/test_hit_service.py
Due: none

fix(api): observable fixes
  api/howler/helper/discover.py
  api/howler/odm/helper.py
  api/howler/odm/models/observable.py
  api/howler/odm/random_data.py
Due: none

heck
  api/howler/datastore/howler_store.py
Due: none

tasks ui
  ui/src/api/v2/case/index.ts
  ui/src/components/elements/UserList.tsx
  ui/src/components/routes/cases/CaseViewer.tsx
  ui/src/components/routes/cases/detail/CaseDashboard.tsx
  ui/src/components/routes/cases/detail/CaseTask.tsx
  ui/src/components/routes/cases/detail/TaskPanel.tsx
  ui/src/components/routes/hits/view/HitViewer.tsx
Due: lint-staged, bad-ui-imports

Create and add CaseLog ODM to Case ODM, create_case service
  api/howler/api/v1/hit.py
  api/howler/api/v2/case.py
  api/howler/odm/base.py
  api/howler/odm/models/case.py
  api/howler/services/case_service.py
  api/howler/services/hit_service.py
Due: none

Audit True
  api/howler/api/v1/hit.py
Due: none

Minor fixes
  api/howler/api/v2/case.py
  api/howler/services/case_service.py
Due: none

Work on adding/removing case items
  api/howler/api/v2/case.py
  api/howler/odm/models/ecs/related.py
Due: none

pr feedback
  ui/src/components/elements/UserList.tsx
  ui/src/components/routes/cases/detail/CaseTask.tsx
Due: lint-staged, bad-ui-imports

Consolidate updating, without ODM Helper
  api/howler/services/case_service.py
Due: none

Add Case services and endpoints (#200)
  api/howler/api/v1/hit.py
  api/howler/api/v2/case.py
  api/howler/odm/base.py
  api/howler/odm/models/case.py
  api/howler/services/case_service.py
  api/howler/services/hit_service.py
Due: none

tasks ui (#201)
  ui/src/api/v2/case/index.ts
  ui/src/components/elements/UserList.tsx
  ui/src/components/routes/cases/CaseViewer.tsx
  ui/src/components/routes/cases/detail/CaseDashboard.tsx
  ui/src/components/routes/cases/detail/CaseTask.tsx
  ui/src/components/routes/cases/detail/TaskPanel.tsx
  ui/src/components/routes/hits/view/HitViewer.tsx
Due: lint-staged, bad-ui-imports

ruff fix
  api/howler/odm/helper.py
Due: none

ui bundle removals
  ui/src/components/elements/display/icons/BundleButton.tsx
  ui/src/components/elements/hit/HitBanner.tsx
  ui/src/components/elements/hit/outlines/DefaultOutline.tsx
  ui/src/components/routes/hits/search/BundleParentMenu.tsx
  ui/src/components/routes/hits/search/InformationPane.tsx
  ui/src/components/routes/hits/search/SearchPane.tsx
  ui/src/components/routes/hits/view/HitViewer.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
  ui/src/plugins/clue/components/ClueTypography.tsx
  ui/src/plugins/clue/utils.ts
Due: lint-staged, bad-ui-imports

more ui stabilization
  ui/src/components/elements/UserList.tsx
  ui/src/components/hooks/useHitSelection.tsx
  ui/src/components/routes/cases/CaseViewer.tsx
  ui/src/components/routes/hits/search/SearchPane.tsx
  ui/src/components/routes/hits/search/grid/EnhancedCell.tsx
  ui/src/components/routes/home/ViewCard.tsx
Due: lint-staged, bad-ui-imports

type fix
  api/howler/api/v2/ingest.py
Due: none

Add ability to remove/add cases to the related.cases field on Observable|Hit
  api/howler/api/v2/case.py
Due: none

test fixes
  api/howler/api/v2/__init__.py
  api/howler/app.py
  api/test/integration/api/test_hit.py
  api/test/integration/service/test_search_service.py
Due: none

Removed bad merge
  api/howler/api/v2/case.py
Due: none

CaseDashboard stuff
  ui/src/components/routes/cases/CaseViewer.tsx
  ui/src/components/routes/cases/detail/CaseDashboard.tsx
  ui/src/components/routes/cases/detail/CaseOverview.tsx
Due: lint-staged, bad-ui-imports

Tests for Cases
  api/test/unit/endpoints/test_case_endpoint.py
  api/test/unit/odm/test_case.py
  api/test/unit/services/test_case_service.py
Due: none

Add hiding of cases, update tests
  api/howler/api/v2/case.py
  api/howler/odm/models/case.py
  api/howler/services/case_service.py
  api/test/unit/endpoints/test_case_endpoint.py
  api/test/unit/odm/test_case.py
  api/test/unit/services/test_case_service.py
Due: none

blah
  api/howler/api/v2/case.py
Due: none

Tests for Cases (#205)
  api/howler/api/v2/case.py
  api/howler/odm/models/case.py
  api/howler/services/case_service.py
  api/test/unit/endpoints/test_case_endpoint.py
  api/test/unit/odm/test_case.py
  api/test/unit/services/test_case_service.py
Due: none

- Added support for StrEnum to odm.Enum - Changed v2/cases.py to use new Enum - Added CaseItemTypes Enum - Updated observable generation code - Fixed random data issues with new observables
  api/howler/api/v2/case.py
  api/howler/odm/base.py
  api/howler/odm/helper.py
  api/howler/odm/models/case.py
  api/howler/odm/random_data.py
Due: none

Work on adding/removing case items
  api/howler/api/v2/case.py
Due: none

Added overview editing
  ui/src/components/elements/MarkdownEditor.tsx
  ui/src/components/routes/cases/detail/CaseAggregate.tsx
  ui/src/components/routes/cases/detail/CaseDashboard.tsx
  ui/src/components/routes/cases/detail/CaseOverview.tsx
  ui/src/components/routes/overviews/OverviewViewer.tsx
Due: lint-staged, bad-ui-imports

Change case creation
  api/howler/api/v2/case.py
  api/howler/odm/models/case.py
  api/howler/services/case_service.py
Due: none
