Repository CybercentreCanada/howler: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check-api, poetry-check-client, poetry-check-evidence, poetry-check-sentinel, lint-staged, bad-ui-imports

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - commit-msg

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.8.0
    hooks:
      # Run the linter.
      - id: ruff
        name: Ruff Linting
        args: [--fix, --output-format=concise]
      # Run the formatter.
      - id: ruff-format
        name: Ruff Formatting
  # - repo: https://github.com/compilerla/conventional-pre-commit
  #   rev: v4.3.0
  #   hooks:
  #     - id: conventional-pre-commit
  #       stages: [commit-msg]
  - repo: local
    hooks:
      - id: poetry-check-api
        name: poetry-check-api
        entry: hooks/check_poetry.sh
        args: [api]
        language: script
        stages: [pre-commit]
        files: ^api/.*\.(toml|lock)
      - id: poetry-check-client
        name: Poetry Check (client)
        entry: hooks/check_poetry.sh
        args: [client]
        language: script
        stages: [pre-commit]
        files: ^client/.*\.(toml|lock)
      - id: poetry-check-evidence
        name: Poetry Check (Evidence Plugin)
        entry: hooks/check_poetry.sh
        args: [plugins/evidence]
        language: script
        stages: [pre-commit]
        files: ^plugins/evidence/.*\.(toml|lock)
      - id: poetry-check-sentinel
        name: Poetry Check (Sentinel Plugin)
        entry: hooks/check_poetry.sh
        args: [plugins/sentinel]
        language: script
        stages: [pre-commit]
        files: ^plugins/sentinel/.*\.(toml|lock)
      - id: lint-staged
        name: lint-staged
        entry: ui/build_scripts/lint_staged.sh
        language: script
        stages: [pre-commit]
        files: ^ui/.*
      - id: bad-ui-imports
        name: Check for bad UI imports
        entry: ui/build_scripts/find_bad_imports.py
        language: python
        stages: [pre-commit]
        files: ^ui/.*
      - id: check-commit-msg
        name: Validate Commit Message
        entry: hooks/commit-msg.py
        language: python
        stages: [commit-msg]
        additional_dependencies: ["conventional-pre-commit", "rich"]
        verbose: true

feat(api): Replace ElasticAPM with OpenTelemetry tracing (#297)
  api/howler/api/socket.py
  api/howler/api/v1/clue.py
  api/howler/app.py
  api/howler/datastore/collection.py
  api/howler/helper/oauth.py
  api/howler/odm/models/config.py
  api/howler/security/__init__.py
  api/howler/security/utils.py
  api/howler/services/auth_service.py
  api/howler/services/config_service.py
  api/howler/services/event_service.py
  api/howler/services/hit_service.py
  api/howler/services/user_service.py
  api/howler/telemetry.py
  api/poetry.lock
  api/pyproject.toml
  documentation/docs/installation/configuration.md
  documentation/docs/installation/default_configuration.md
Due: poetry-check-api

added hadolint validation to workflow
  .github/workflows/api-workflow.yml
Due: none

hadolint validation fixes
  .github/workflows/api-workflow.yml
  api/Dockerfile
Due: none

feat(ci): added hadolint validation to workflow (#287)
  .github/workflows/api-workflow.yml
  api/Dockerfile
Due: none

fix(api): Added filter to match hit graph with queried number of hits (#277)
  api/howler/api/v1/search.py
  api/howler/datastore/collection.py
  api/test/integration/api/test_search.py
Due: none

feat(api): added add to case action (#296)
  api/howler/actions/add_to_case.py
  api/howler/odm/random_data.py
  api/test/integration/actions/__init__.py
  api/test/integration/actions/test_add_label.py
  api/test/integration/actions/test_add_to_case.py
  api/test/integration/actions/test_change_field.py
  api/test/integration/actions/test_demote.py
  api/test/integration/actions/test_prioritization.py
  api/test/integration/actions/test_promote.py
  api/test/integration/actions/test_remove_label.py
  api/test/unit/actions/test_add_to_case.py
  pyrightconfig.json
Due: none

create case modal validation fix
  ui/src/components/routes/cases/modals/CreateCaseModal.test.tsx
  ui/src/components/routes/cases/modals/CreateCaseModal.tsx
Due: lint-staged, bad-ui-imports

more pr work
  api/howler/api/v1/user.py
  api/howler/odm/random_data.py
  api/howler/services/user_service.py
Due: none

more progress on classification pr
  api/howler/common/classification.py
  api/howler/helper/azure.py
  api/howler/helper/oauth.py
  api/howler/services/jwt_service.py
Due: none

rollback unnecessary change
  api/howler/odm/randomizer.py
Due: none

done first pass of access control pr
  api/howler/helper/oauth.py
  api/howler/odm/randomizer.py
  api/howler/services/user_service.py
Due: none

type check fixes
  api/howler/odm/random_data.py
Due: none

Ensure all plugin routes are registered before the router is created
  ui/src/components/app/App.tsx
Due: lint-staged, bad-ui-imports

Show appropriate message according to outcome
  ui/src/components/routes/action/useMyActionFunctions.tsx
Due: lint-staged, bad-ui-imports

added unit tests for access control functionality
  api/test/integration/api/test_access_control.py
  api/test/unit/test_access_control.py
Due: none

unit test fixes
  api/test/integration/api/test_access_control.py
  api/test/unit/endpoints/test_auth_endpoint.py
Due: none

Open links in a new tab; Add Clickable Source Alert Link on Hitcard
  ui/src/components/elements/hit/HitBanner.tsx
Due: lint-staged, bad-ui-imports

feat(ui): added create case modal ui, updated add to case modal (#298)
  ui/src/components/elements/record/RecordContextMenu.test.tsx
  ui/src/components/elements/record/RecordContextMenu.tsx
  ui/src/components/routes/cases/modals/AddToCaseModal.test.tsx
  ui/src/components/routes/cases/modals/AddToCaseModal.tsx
  ui/src/components/routes/cases/modals/CaseRecordRow.tsx
  ui/src/components/routes/cases/modals/CreateCaseModal.test.tsx
  ui/src/components/routes/cases/modals/CreateCaseModal.tsx
  ui/src/components/routes/cases/modals/hooks.ts
  ui/src/components/routes/cases/modals/types.d.ts
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports

fix classification issues
  api/build_scripts/classification.yml
Due: none

fix auth unit tests issue
  api/test/unit/endpoints/test_auth_endpoint.py
Due: none

fix test script
  api/build_scripts/run_tests.py
Due: none

unit test fixes
  api/test/unit/endpoints/test_auth_endpoint.py
  api/test/unit/test_access_control.py
Due: none

more unit test fixes
  api/howler/common/classification.py
Due: none

added parameterized test suite for ad-hoc classifications
  api/howler/common/classification.py
  api/test/unit/test_access_control.py
Due: none

more access control tests
  api/build_scripts/run_tests.py
  api/test/integration/api/test_access_control.py
Due: none

more lookup tests
  api/test/integration/api/test_access_control.py
Due: none

Update api/howler/services/jwt_service.py
  api/howler/services/jwt_service.py
Due: none

Update api/howler/common/classification.py
  api/howler/common/classification.py
Due: none

Update api/howler/helper/oauth.py
  api/howler/helper/oauth.py
Due: none

pr feedback
  api/howler/common/classification.py
  api/howler/helper/oauth.py
  api/howler/services/user_service.py
Due: none

Update ui/src/components/app/App.tsx
  ui/src/components/app/App.tsx
Due: lint-staged, bad-ui-imports

Add error message when !result Fix action outcome handling to account for multiple operation results
  ui/src/components/routes/action/useMyActionFunctions.tsx
Due: lint-staged, bad-ui-imports

Small fixes
  ui/src/components/elements/hit/HitBanner.tsx
Due: lint-staged, bad-ui-imports

more unit tests
  api/test/unit/services/test_jwt_service.py
  api/test/unit/services/test_user_service.py
  api/test/unit/utils/test_azure.py
Due: none

chore(api): updating pytest to 9.0.3
  api/.coveragerc.pytest
  api/build_scripts/run_tests.py
  api/howler/api/__init__.py
  api/howler/api/v1/clue.py
  api/howler/cronjobs/rules.py
  api/howler/helper/discover.py
  api/howler/odm/helper.py
  api/howler/odm/random_data.py
  api/howler/security/__init__.py
  api/howler/services/action_service.py
  api/howler/services/lucene_service.py
  api/howler/utils/constants.py
  api/poetry.lock
  api/pyproject.toml
Due: poetry-check-api

fix(ui): ensure all plugin routes are registered before the router is created (#299)
  ui/src/components/app/App.tsx
Due: lint-staged, bad-ui-imports

chore(ci): update pr-title-check
  .github/workflows/pr-title-check.yml
Due: none

feat(ui): display mitre tactic/technique in case timeline
  ui/src/components/routes/cases/detail/CaseTimeline.tsx
Due: lint-staged, bad-ui-imports

add tooltip
  ui/src/components/routes/cases/detail/CaseTimeline.tsx
Due: lint-staged, bad-ui-imports
