Repository CybercentreCanada/howler: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check-api, poetry-check-client, poetry-check-evidence, poetry-check-sentinel, lint-staged, bad-ui-imports

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - commit-msg

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.8.0
    hooks:
      # Run the linter.
      - id: ruff
        name: Ruff Linting
        args: [--fix, --output-format=concise]
      # Run the formatter.
      - id: ruff-format
        name: Ruff Formatting
  # - repo: https://github.com/compilerla/conventional-pre-commit
  #   rev: v4.3.0
  #   hooks:
  #     - id: conventional-pre-commit
  #       stages: [commit-msg]
  - repo: local
    hooks:
      - id: poetry-check-api
        name: poetry-check-api
        entry: hooks/check_poetry.sh
        args: [api]
        language: script
        stages: [pre-commit]
        files: ^api/.*\.(toml|lock)
      - id: poetry-check-client
        name: Poetry Check (client)
        entry: hooks/check_poetry.sh
        args: [client]
        language: script
        stages: [pre-commit]
        files: ^client/.*\.(toml|lock)
      - id: poetry-check-evidence
        name: Poetry Check (Evidence Plugin)
        entry: hooks/check_poetry.sh
        args: [plugins/evidence]
        language: script
        stages: [pre-commit]
        files: ^plugins/evidence/.*\.(toml|lock)
      - id: poetry-check-sentinel
        name: Poetry Check (Sentinel Plugin)
        entry: hooks/check_poetry.sh
        args: [plugins/sentinel]
        language: script
        stages: [pre-commit]
        files: ^plugins/sentinel/.*\.(toml|lock)
      - id: lint-staged
        name: lint-staged
        entry: ui/build_scripts/lint_staged.sh
        language: script
        stages: [pre-commit]
        files: ^ui/.*
      - id: bad-ui-imports
        name: Check for bad UI imports
        entry: ui/build_scripts/find_bad_imports.py
        language: python
        stages: [pre-commit]
        files: ^ui/.*
      - id: check-commit-msg
        name: Validate Commit Message
        entry: hooks/commit-msg.py
        language: python
        stages: [commit-msg]
        additional_dependencies: ["conventional-pre-commit", "rich"]
        verbose: true

Initial commit
  ui/src/components/elements/hit/actions/ButtonActions.tsx
  ui/src/components/routes/home/ViewCard.tsx
Due: lint-staged, bad-ui-imports

chore(ui,api): bump versions post-release
  ui/package.json
Due: lint-staged, bad-ui-imports

Bump versions post-release
  ui/package.json
Due: lint-staged, bad-ui-imports

feat(api): add clue types conditionally to howler odm
  api/howler/datastore/howler_store.py
  api/howler/odm/models/clue.py
  api/test/unit/odm/test_clue.py
  pyrightconfig.json
Due: none

added clue plugin
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/components/app/App.tsx
  ui/src/models/entities/generated/ApiType.d.ts
  ui/src/plugins/clue/Provider.tsx
  ui/src/plugins/clue/components/ClueChip.tsx
  ui/src/plugins/clue/components/ClueLeadForm.tsx
  ui/src/plugins/clue/components/CluePivot.tsx
  ui/src/plugins/clue/components/CluePivotForm.tsx
  ui/src/plugins/clue/components/ClueTypography.tsx
  ui/src/plugins/clue/helpers.tsx
  ui/src/plugins/clue/index.tsx
  ui/src/plugins/clue/locales/clue.en.json
  ui/src/plugins/clue/locales/clue.fr.json
  ui/src/plugins/clue/setup.ts
Due: lint-staged, bad-ui-imports

feat(ui): exposed clue plugin via env variable for testing
  ui/.env
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/components/app/App.tsx
  ui/src/index.tsx
  ui/src/plugins/store.ts
Due: lint-staged, bad-ui-imports

Update ui/src/plugins/clue/components/CluePivotForm.tsx
  ui/src/plugins/clue/components/CluePivotForm.tsx
Due: lint-staged, bad-ui-imports

feat(api): added custom clue metadata when clue is enabled
  api/howler/odm/random_data.py
Due: none

added fixes to allow usage of the hit mapping across the ui
  api/build_scripts/generate_classes.py
  ui/src/components/elements/PluginChip.tsx
  ui/src/components/elements/PluginTypography.tsx
  ui/src/components/elements/hit/HitBanner.tsx
  ui/src/components/elements/hit/HitDetails.tsx
  ui/src/components/elements/hit/outlines/DefaultOutline.tsx
  ui/src/components/routes/hits/search/grid/EnhancedCell.tsx
  ui/src/components/routes/hits/search/grid/HitRow.tsx
  ui/src/models/entities/generated/Analytic.d.ts
  ui/src/models/entities/generated/ApiType.d.ts
  ui/src/models/entities/generated/Clue.d.ts
  ui/src/models/entities/generated/Hit.d.ts
  ui/src/models/entities/generated/Labels.d.ts
  ui/src/models/entities/generated/Type.d.ts
  ui/src/plugins/clue/components/ClueChip.tsx
  ui/src/plugins/clue/components/ClueTypography.tsx
Due: lint-staged, bad-ui-imports

more minor fixes, localization
  .prettierignore
  api/howler/odm/models/clue.py
  ui/.prettierignore
  ui/src/plugins/clue/helpers.tsx
  ui/src/plugins/clue/locales/clue.en.json
  ui/src/plugins/clue/locales/clue.fr.json
Due: lint-staged, bad-ui-imports

final tweaks to the clue mapping
  ui/src/plugins/clue/Provider.tsx
  ui/src/plugins/clue/components/ClueChip.tsx
  ui/src/plugins/clue/components/ClueTypography.tsx
  ui/src/plugins/clue/utils.ts
Due: lint-staged, bad-ui-imports

fix no-console warn
  ui/src/plugins/HowlerPlugin.ts
Due: lint-staged, bad-ui-imports

feat(ui,api): improved clue type support and ui plugin (#137)
  .prettierignore
  api/build_scripts/generate_classes.py
  api/howler/datastore/howler_store.py
  api/howler/odm/models/clue.py
  api/howler/odm/random_data.py
  api/test/unit/odm/test_clue.py
  pyrightconfig.json
  ui/.env
  ui/.prettierignore
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/components/elements/PluginChip.tsx
  ui/src/components/elements/PluginTypography.tsx
  ui/src/components/elements/hit/HitBanner.tsx
  ui/src/components/elements/hit/HitDetails.tsx
  ui/src/components/elements/hit/outlines/DefaultOutline.tsx
  ui/src/components/routes/hits/search/grid/EnhancedCell.tsx
  ui/src/components/routes/hits/search/grid/HitRow.tsx
  ui/src/index.tsx
  ui/src/models/entities/generated/Analytic.d.ts
  ui/src/models/entities/generated/ApiType.d.ts
  ui/src/models/entities/generated/Clue.d.ts
  ui/src/models/entities/generated/Hit.d.ts
  ui/src/models/entities/generated/Labels.d.ts
  ui/src/models/entities/generated/Type.d.ts
  ui/src/plugins/HowlerPlugin.ts
  ui/src/plugins/clue/Provider.tsx
  ui/src/plugins/clue/components/ClueChip.tsx
  ui/src/plugins/clue/components/ClueLeadForm.tsx
  ui/src/plugins/clue/components/CluePivot.tsx
  ui/src/plugins/clue/components/CluePivotForm.tsx
  ui/src/plugins/clue/components/ClueTypography.tsx
  ui/src/plugins/clue/helpers.tsx
  ui/src/plugins/clue/index.tsx
  ui/src/plugins/clue/locales/clue.en.json
  ui/src/plugins/clue/locales/clue.fr.json
  ui/src/plugins/clue/setup.ts
  ui/src/plugins/clue/utils.ts
  ui/src/plugins/store.ts
Due: lint-staged, bad-ui-imports

fix(ui): fixed search with views selected defaulting to no view first time
  ui/package.json
  ui/src/components/app/providers/HitSearchProvider.test.tsx
  ui/src/components/app/providers/HitSearchProvider.tsx
  ui/src/components/app/providers/ViewProvider.test.tsx
  ui/src/components/app/providers/ViewProvider.tsx
  ui/src/components/routes/hits/search/ViewLink.test.tsx
  ui/src/components/routes/hits/search/ViewLink.tsx
Due: lint-staged, bad-ui-imports

fix view composer
  ui/src/components/routes/views/ViewComposer.tsx
Due: lint-staged, bad-ui-imports

Update ui/src/components/app/providers/HitSearchProvider.test.tsx
  ui/src/components/app/providers/HitSearchProvider.test.tsx
Due: lint-staged, bad-ui-imports

fix(ui): fixed search with views selected defaulting to no view first time (#181)
  ui/package.json
  ui/src/components/app/providers/HitSearchProvider.test.tsx
  ui/src/components/app/providers/HitSearchProvider.tsx
  ui/src/components/app/providers/ViewProvider.test.tsx
  ui/src/components/app/providers/ViewProvider.tsx
  ui/src/components/routes/hits/search/ViewLink.test.tsx
  ui/src/components/routes/hits/search/ViewLink.tsx
  ui/src/components/routes/views/ViewComposer.tsx
Due: lint-staged, bad-ui-imports

fix(ui): fixed view composer nbot allowing query edits
  ui/package.json
  ui/src/components/routes/views/ViewComposer.tsx
Due: lint-staged, bad-ui-imports

chore(ci): changes to dependabot config
  .github/dependabot.yml
Due: none

chore(ci): remove flake8
  .vscode/settings.json
  api/.flake8
  api/poetry.lock
  api/pyproject.toml
  client/.flake8
  plugins/evidence/.flake8
  plugins/sentinel/.flake8
Due: poetry-check-api

chore(ui,api): bump versions post-release
  api/pyproject.toml
  ui/package.json
Due: poetry-check-api, lint-staged, bad-ui-imports

fix: more evil version updates
  ui/package.json
  ui/pnpm-lock.yaml
Due: lint-staged, bad-ui-imports

chore: small type fix
  api/howler/services/hit_service.py
Due: none

fix: more evil version updates
  .vscode/settings.json
  ui/pnpm-lock.yaml
Due: lint-staged, bad-ui-imports

ci: update pr-title-check
  .github/workflows/pr-title-check.yml
Due: none

ci: added ui tag support for npm publish
  .github/workflows/ui-workflow.yml
Due: none

Added auth, ssl and cluster support
  api/howler/odm/models/config.py
  api/howler/remote/datatypes/__init__.py
Due: none

Adjusted docstring
  api/howler/remote/datatypes/__init__.py
Due: none

Speed improvements to flatten()
  api/howler/utils/dict_utils.py
Due: none

Fixed imports
  api/howler/remote/datatypes/__init__.py
Due: none

Fixed missing extra params on pool creation
  api/howler/remote/datatypes/__init__.py
Due: none

PR fix for modern Python support
  api/howler/utils/dict_utils.py
Due: none

pin monaco-editor
  ui/package.json
  ui/pnpm-lock.yaml
Due: lint-staged, bad-ui-imports

Fixing lock file dups
  ui/pnpm-lock.yaml
Due: lint-staged, bad-ui-imports

fix(ci): updated health checks to check elasticsearch as well
  .github/workflows/api-workflow.yml
  api/build_scripts/docker_health.py
  docs/api/codebase.md
Due: none

chore(ci): more logging in docker health script
  api/build_scripts/docker_health.py
Due: none

chore(ci): typo
  api/build_scripts/docker_health.py
Due: none

chore(ci): add logging on failure to start
  .github/workflows/api-workflow.yml
Due: none

chore(ci): docker logging
  api/build_scripts/docker_health.py
Due: none
