Repository CybercentreCanada/howler: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check-api, poetry-check-client, poetry-check-evidence, poetry-check-sentinel, lint-staged, bad-ui-imports

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - commit-msg

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.8.0
    hooks:
      # Run the linter.
      - id: ruff
        name: Ruff Linting
        args: [--fix, --output-format=concise]
      # Run the formatter.
      - id: ruff-format
        name: Ruff Formatting
  # - repo: https://github.com/compilerla/conventional-pre-commit
  #   rev: v4.3.0
  #   hooks:
  #     - id: conventional-pre-commit
  #       stages: [commit-msg]
  - repo: local
    hooks:
      - id: poetry-check-api
        name: poetry-check-api
        entry: hooks/check_poetry.sh
        args: [api]
        language: script
        stages: [pre-commit]
        files: ^api/.*\.(toml|lock)
      - id: poetry-check-client
        name: Poetry Check (client)
        entry: hooks/check_poetry.sh
        args: [client]
        language: script
        stages: [pre-commit]
        files: ^client/.*\.(toml|lock)
      - id: poetry-check-evidence
        name: Poetry Check (Evidence Plugin)
        entry: hooks/check_poetry.sh
        args: [plugins/evidence]
        language: script
        stages: [pre-commit]
        files: ^plugins/evidence/.*\.(toml|lock)
      - id: poetry-check-sentinel
        name: Poetry Check (Sentinel Plugin)
        entry: hooks/check_poetry.sh
        args: [plugins/sentinel]
        language: script
        stages: [pre-commit]
        files: ^plugins/sentinel/.*\.(toml|lock)
      - id: lint-staged
        name: lint-staged
        entry: ui/build_scripts/lint_staged.sh
        language: script
        stages: [pre-commit]
        files: ^ui/.*
      - id: bad-ui-imports
        name: Check for bad UI imports
        entry: ui/build_scripts/find_bad_imports.py
        language: python
        stages: [pre-commit]
        files: ^ui/.*
      - id: check-commit-msg
        name: Validate Commit Message
        entry: hooks/commit-msg.py
        language: python
        stages: [commit-msg]
        additional_dependencies: ["conventional-pre-commit", "rich"]
        verbose: true

chore: bump versions post release
  api/pyproject.toml
Due: poetry-check-api

ux work
  ui/src/components/routes/dossiers/PivotForm.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports

pr feedback
  api/howler/services/dossier_service.py
  api/test/unit/services/test_dossier_group_service.py
  ui/src/components/elements/hit/HitLinks.tsx
  ui/src/components/elements/hit/related/PivotLink.test.tsx
  ui/src/components/elements/hit/related/PivotLink.tsx
  ui/src/components/elements/hit/related/RelatedIcon.test.tsx
  ui/src/components/elements/hit/related/RelatedLink.test.tsx
  ui/src/components/elements/hit/related/RelatedLink.tsx
  ui/src/components/elements/hit/related/folder/PivotFlyoutContent.tsx
  ui/src/components/elements/hit/related/folder/PivotFolderMenu.test.tsx
  ui/src/components/elements/hit/related/folder/PivotFolderMenu.tsx
  ui/src/components/elements/hit/related/folder/PivotSubMenuItem.tsx
  ui/src/components/elements/hit/related/folder/types.d.ts
  ui/src/components/elements/hit/related/folder/utils.ts
  ui/src/components/routes/dossiers/PivotForm.tsx
  ui/src/components/routes/dossiers/utils.test.ts
  ui/src/components/routes/dossiers/utils.ts
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports

yet more refactors and cleanup
  api/howler/odm/models/pivot.py
  api/howler/odm/random_data.py
  ui/src/api/dossier/groups.test.ts
  ui/src/components/elements/hit/HitLinks.test.tsx
  ui/src/components/elements/hit/HitLinks.tsx
  ui/src/components/elements/hit/ResolvePivotUrl.ts
  ui/src/components/elements/hit/related/PivotLink.tsx
  ui/src/components/elements/hit/related/RelatedIcon.test.tsx
  ui/src/components/elements/hit/related/RelatedIcon.tsx
  ui/src/components/elements/hit/related/RelatedLink.test.tsx
  ui/src/components/elements/hit/related/RelatedLink.tsx
  ui/src/components/elements/hit/related/folder/PivotFlyoutContent.tsx
  ui/src/components/elements/hit/related/folder/PivotFolderMenu.tsx
  ui/src/components/elements/hit/related/folder/PivotSubMenuItem.tsx
  ui/src/components/elements/hit/related/folder/utils.ts
  ui/src/components/elements/hit/related/pivots/PivotFlyout.tsx
  ui/src/components/elements/hit/related/pivots/PivotFlyoutContent.test.tsx
  ui/src/components/elements/hit/related/pivots/PivotFlyoutContent.tsx
  ui/src/components/elements/hit/related/pivots/PivotFolderMenu.test.tsx
  ui/src/components/elements/hit/related/pivots/PivotFolderMenu.tsx
  ui/src/components/elements/hit/related/pivots/PivotLink.test.tsx
  ui/src/components/elements/hit/related/pivots/PivotLink.tsx
  ui/src/components/elements/hit/related/pivots/types.d.ts
  ui/src/components/elements/hit/related/pivots/utils.test.ts
  ui/src/components/elements/hit/related/pivots/utils.ts
  ui/src/components/routes/dossiers/PivotForm.test.tsx
  ui/src/components/routes/dossiers/PivotForm.tsx
  ui/src/components/routes/dossiers/utils.ts
  ui/src/plugins/HowlerPlugin.ts
  ui/src/plugins/clue/components/CluePivot.test.tsx
  ui/src/plugins/clue/components/CluePivot.tsx
  ui/src/plugins/clue/index.tsx
Due: lint-staged, bad-ui-imports

fix(api,ui): fix test errors, publishing
  .github/workflows/ui-workflow.yml
  api/test/integration/service/test_dossier_service.py
Due: none

fix(ui): another attempt at fixing ui publishing
  .github/workflows/ui-workflow.yml
Due: none

Clarify advanced search and dossier documentation (#596)
  ui/src/components/routes/help/DossierDocumentation.tsx
  ui/src/components/routes/help/markdown/en/advancedLanguages.md
  ui/src/components/routes/help/markdown/en/advancedLucene.md
  ui/src/components/routes/help/markdown/en/advancedOverview.md
  ui/src/components/routes/help/markdown/en/advancedResults.md
  ui/src/components/routes/help/markdown/en/dossiersLeads.md
  ui/src/components/routes/help/markdown/en/dossiersOverview.md
  ui/src/components/routes/help/markdown/en/dossiersQuery.md
  ui/src/components/routes/help/markdown/fr/advancedLanguages.md
  ui/src/components/routes/help/markdown/fr/advancedLucene.md
  ui/src/components/routes/help/markdown/fr/advancedOverview.md
  ui/src/components/routes/help/markdown/fr/advancedResults.md
  ui/src/components/routes/help/markdown/fr/dossiersLeads.md
  ui/src/components/routes/help/markdown/fr/dossiersOverview.md
  ui/src/components/routes/help/markdown/fr/dossiersQuery.md
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports

fix unit tests
  api/howler/odm/random_data.py
Due: none

fix(ui): eoverride error fix
  ui/package.json
Due: lint-staged, bad-ui-imports

removed error message for the usage of pivot which is no longer a limitation
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports

corrected some unittest
  api/howler/odm/random_data.py
  api/test/conftest.py
Due: none

more unittest stuff
  api/test/integration/service/test_dossier_service.py
Due: none

fix(ui): update howler's plugin system
  ui/package.json
  ui/pnpm-lock.yaml
  ui/pnpm-workspace.yaml
  ui/src/plugins/HowlerPlugin.ts
  ui/src/plugins/clue/Provider.tsx
Due: lint-staged, bad-ui-imports

fix(ui): view query spam
  ui/src/components/app/providers/FavouritesProvider.tsx
Due: lint-staged, bad-ui-imports

chore(api): split unit/integration tests
  .github/workflows/api-workflow.yml
Due: none

more review cleanup
  api/howler/odm/base.py
  api/howler/odm/models/pivot.py
  api/howler/services/dossier_service.py
  api/test/integration/service/test_dossier_service.py
  api/test/unit/odm/test_pivot.py
Due: none

more fixes
  api/howler/datastore/bulk.py
  api/howler/datastore/collection.py
  api/howler/datastore/utils.py
  api/howler/services/bundle_compat_service.py
  api/howler/services/case_service.py
  api/howler/services/hit_service.py
  api/test/integration/service/test_hit_service.py
  api/test/unit/services/test_case_service.py
Due: none

fix hit service test
  api/test/integration/service/test_hit_service.py
Due: none

more review work
  .github/copilot-instructions.md
  .github/workflows/ui-workflow.yml
  .gitignore
  client/.gitignore
  ui/package.json
  ui/scripts/prep_for_publish.py
  ui/scripts/set_version.py
  ui/scripts/test_diff.sh
  ui/src/components/elements/hit/HitLinks.test.tsx
  ui/src/components/elements/hit/PivotGroupMenuItem.test.tsx
  ui/src/components/elements/hit/PivotGroupMenuItem.tsx
  ui/src/components/elements/hit/related/pivots/PivotFlyout.tsx
  ui/src/components/elements/hit/related/pivots/PivotLink.tsx
  ui/src/components/elements/hit/related/pivots/types.d.ts
  ui/src/components/hooks/useMyPreferences.tsx
  ui/src/components/routes/dossiers/DossierEditor.tsx
  ui/src/components/routes/dossiers/PivotForm.tsx
  ui/src/components/routes/dossiers/utils.test.ts
  ui/src/components/routes/dossiers/utils.ts
Due: lint-staged, bad-ui-imports

chore: add agent skills
  .agents/skills/gh-address-comments/LICENSE.txt
  .agents/skills/gh-address-comments/SKILL.md
  .agents/skills/gh-address-comments/agents/openai.yaml
  .agents/skills/gh-address-comments/assets/github-small.svg
  .agents/skills/gh-address-comments/assets/github.png
  .agents/skills/gh-fix-ci/LICENSE.txt
  .agents/skills/gh-fix-ci/SKILL.md
  .agents/skills/gh-fix-ci/agents/openai.yaml
  .agents/skills/gh-fix-ci/assets/github-small.svg
  .agents/skills/gh-fix-ci/assets/github.png
  skills-lock.json
Due: none

fix tests
  ui/src/components/elements/hit/HitLinks.test.tsx
Due: lint-staged, bad-ui-imports

chore: refactor pyright functionality
  .github/copilot-instructions.md
  .github/workflows/api-workflow.yml
  .vscode/settings.json
  api/pyproject.toml
  client/pyproject.toml
  mcp/pyproject.toml
  plugins/evidence/pyproject.toml
  plugins/sentinel/pyproject.toml
  plugins/sync/pyproject.toml
  pyrightconfig.json
Due: poetry-check-api, poetry-check-client, poetry-check-evidence, poetry-check-sentinel

chore: add agent script folders
  .agents/skills/gh-address-comments/scripts/fetch_comments.py
  .agents/skills/gh-fix-ci/scripts/inspect_pr_checks.py
Due: none

migrated to AGENTS.md
  .github/copilot-instructions.md
  AGENTS.md
  api/.python-version
Due: none

feat(api): added bundle to case migration
  api/howler/datastore/migrations/bundle_to_case.py
  api/howler/datastore/migrations/runner.py
  api/test/unit/test_migrations.py
Due: none

fix: minor fixes
  .pre-commit-config.yaml
  api/howler/odm/random_data.py
  ui/vite.config.ts
Due: lint-staged, bad-ui-imports

fix(ui): allow customization of clue plugin
  ui/src/plugins/clue/Provider.test.tsx
  ui/src/plugins/clue/Provider.tsx
  ui/src/plugins/clue/index.tsx
  ui/src/plugins/clue/setup.test.tsx
  ui/src/plugins/clue/setup.ts
Due: lint-staged, bad-ui-imports

fix(ui): expose additional clue plugin options
  docs/RELEASES.md
  ui/src/plugins/clue/Provider.test.tsx
  ui/src/plugins/clue/Provider.tsx
Due: lint-staged, bad-ui-imports

fix(api): consolidate the event and hit log odms
  api/howler/api/v1/hit.py
  api/howler/odm/models/event.py
  api/howler/odm/models/howler_data.py
  api/howler/odm/models/log.py
  api/howler/services/case_service.py
  api/howler/services/hit_service.py
  api/test/unit/services/test_case_service.py
Due: none

case service fixes
  api/howler/services/case_service.py
Due: none

feat(ui): add interactivity to aggregation in case dashboard
  ui/src/components/routes/cases/detail/CaseSidebar.tsx
  ui/src/components/routes/cases/detail/aggregates/CaseAggregate.test.tsx
  ui/src/components/routes/cases/detail/aggregates/CaseAggregate.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports

fix(api): updated retention script to clean up record references
  api/howler/cronjobs/retention.py
  api/test/unit/test_retention.py
Due: none

fix tests
  api/test/unit/services/test_case_service.py
Due: none

feat(ui): added ability to add custom events to case
  api/howler/odm/models/event.py
  api/howler/odm/models/header.py
  api/howler/odm/models/howler_data.py
  api/howler/services/case_service.py
  api/test/unit/services/test_case_service.py
  api/test/unit/services/test_event_service.py
  ui/src/api/search/fields/event.ts
  ui/src/api/search/fields/index.ts
  ui/src/api/v2/index.ts
  ui/src/api/v2/ingest.ts
  ui/src/components/elements/event/EventPreview.tsx
  ui/src/components/routes/cases/detail/CaseSidebar.tsx
  ui/src/components/routes/cases/modals/AddEventModal.test.tsx
  ui/src/components/routes/cases/modals/AddEventModal.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports

fix(api): fix duplicate test module
  .pre-commit-config.yaml
  api/test/unit/test_retention_unit.py
  hooks/find_bad_imports.py
  hooks/find_duplicate_test_files.py
Due: none

pr feedback
  ui/src/components/routes/cases/detail/CaseSidebar.tsx
  ui/src/components/routes/cases/detail/aggregates/CaseAggregate.test.tsx
Due: lint-staged, bad-ui-imports

pr feedback
  api/howler/odm/models/log.py
Due: none
