Repository CybercentreCanada/howler: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check-api, poetry-check-client, poetry-check-evidence, poetry-check-sentinel, lint-staged, bad-ui-imports

poetry-check-api:
  name: poetry-check-api
  entry: hooks/check_poetry.sh
  args:
  - api
  language: script
  stages:
  - pre-commit

poetry-check-client:
  name: Poetry Check (client)
  entry: hooks/check_poetry.sh
  args:
  - client
  language: script
  stages:
  - pre-commit

poetry-check-evidence:
  name: Poetry Check (Evidence Plugin)
  entry: hooks/check_poetry.sh
  args:
  - plugins/evidence
  language: script
  stages:
  - pre-commit

poetry-check-sentinel:
  name: Poetry Check (Sentinel Plugin)
  entry: hooks/check_poetry.sh
  args:
  - plugins/sentinel
  language: script
  stages:
  - pre-commit

lint-staged:
  name: lint-staged
  entry: ui/build_scripts/lint_staged.sh
  language: script
  stages:
  - pre-commit

bad-ui-imports:
  name: Check for bad UI imports
  entry: ui/build_scripts/find_bad_imports.py
  language: python
  stages:
  - pre-commit

add analytics to dependency list
  ui/src/components/routes/overviews/Overviews.tsx
Due: lint-staged, bad-ui-imports

more validation test
  ui/src/tests/DossierGroupValidation.test.ts
Due: lint-staged, bad-ui-imports

added similarity as front end
  ui/src/utils/DossierGroupValidation.ts
Due: lint-staged, bad-ui-imports

draft for the pivot grouping
  ui/src/components/elements/hit/HitLinks.tsx
Due: lint-staged, bad-ui-imports

fix french grammar
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports

fix(ui): bugfixes in the UI (#572)
  docs/RELEASES.md
  ui/package.json
  ui/src/components/routes/hits/search/InformationPane.tsx
  ui/src/components/routes/hits/search/SearchPane.tsx
  ui/src/components/routes/hits/view/HitViewer.test.tsx
  ui/src/components/routes/hits/view/HitViewer.tsx
Due: lint-staged, bad-ui-imports

chore: bump versions post release
  api/pyproject.toml
  client/pyproject.toml
  ui/package.json
Due: poetry-check-api, poetry-check-client, lint-staged, bad-ui-imports

chore: update to proper release version
  docs/RELEASES.md
Due: none

feat: Added lucene query capability and better logins (#549)
  .github/workflows/mcp-workflow.yml
  .gitignore
  .pre-commit-config.yaml
  mcp/README.md
  mcp/build_scripts/coverage_reports.py
  mcp/build_scripts/run_tests.py
  mcp/diag_auth_check.json
  mcp/docker-compose.yml
  mcp/howler_mcp/api.py
  mcp/howler_mcp/auth.py
  mcp/howler_mcp/config.py
  mcp/howler_mcp/prompts.py
  mcp/howler_mcp/server.py
  mcp/howler_mcp/tools.py
  mcp/poetry.lock
  mcp/pyproject.toml
  mcp/requirements-main.txt
  mcp/test/api_unit_test.py
  mcp/test/network_connection_test.py
  mcp/test/test_api.py
  mcp/test/test_auth.py
  mcp/test/test_config.py
  mcp/test/test_network.py
  mcp/test/test_prompts.py
  mcp/test/test_server.py
  mcp/test/test_tools.py
  mcp/test/tools_unit_test.py
  pyrightconfig.json
Due: none

fix(mcp): allow kubernetes/docker-compose urls to be http
  mcp/howler_mcp/config.py
Due: none

fix(mcp): updated mcp config check
  mcp/howler_mcp/config.py
  mcp/test/test_config.py
Due: none

feat(plugins,api): create a plugin providing diffs and schema routes for sync (#502)
  api/howler/api/v1/utils/params.py
  api/howler/odm/base.py
  api/howler/odm/models/case.py
  api/howler/odm/models/howler_data.py
  api/howler/odm/models/record.py
  api/test/unit/odm/test_as_primitives.py
  api/test/unit/utils/test_params.py
  plugins/sync/.coveragerc.pytest
  plugins/sync/.gitignore
  plugins/sync/LICENSE
  plugins/sync/README.md
  plugins/sync/build_scripts/coverage_reports.py
  plugins/sync/build_scripts/run_tests.py
  plugins/sync/build_scripts/set_version.py
  plugins/sync/build_scripts/type_check.py
  plugins/sync/dummy.py
  plugins/sync/poetry.lock
  plugins/sync/poetry.toml
  plugins/sync/pyproject.toml
  plugins/sync/pytest.ini
  plugins/sync/setup.cfg
  plugins/sync/sync/__init__.py
  plugins/sync/sync/config.py
  plugins/sync/sync/iceberg/build.py
  plugins/sync/sync/iceberg/mappings.py
  plugins/sync/sync/manifest.yml
  plugins/sync/sync/odm/__init__.py
  plugins/sync/sync/routes/__init__.py
  plugins/sync/sync/routes/sync.py
  plugins/sync/sync/services/sync_service.py
  plugins/sync/sync/utils/parsers.py
  plugins/sync/test/conftest.py
  plugins/sync/test/integration/test_sync.py
  plugins/sync/test/unit/iceberg/test_build_schema.py
  plugins/sync/test/unit/sync_service/test_get_upserted_hits.py
  plugins/sync/test/unit/utils/test_parsers.py
Due: none

fix(mcp): additional mcp auth logging
  mcp/README.md
  mcp/docker-compose.yml
  mcp/howler_mcp/api.py
  mcp/howler_mcp/auth_logging.py
  mcp/howler_mcp/config.py
  mcp/howler_mcp/server.py
  mcp/test/test_auth_logging.py
  mcp/test/test_config.py
Due: none

feat(client): add support for refresh param (#565)
  client/howler_client/module/hit.py
  client/howler_client/module/user.py
  client/howler_client/module/v2/case.py
  client/howler_client/module/v2/ingest.py
  client/test/integration/test_refresh.py
Due: none

fix(mcp): allow configurable iconify server
  mcp/howler_mcp/config.py
  mcp/howler_mcp/tools.py
  mcp/test/test_config.py
Due: none

feat(mcp): add tool for adding dossiers to a specific hit
  mcp/README.md
  mcp/howler_mcp/api.py
  mcp/howler_mcp/prompts.py
  mcp/howler_mcp/tools.py
  mcp/test/test_prompts.py
  mcp/test/test_tools.py
Due: none

fix(mcp): improve request logging
  mcp/howler_mcp/auth_logging.py
  mcp/howler_mcp/request_logging.py
  mcp/howler_mcp/server.py
  mcp/test/test_request_logging.py
Due: none

fix(mcp): tightened validation of the dossier
  mcp/README.md
  mcp/howler_mcp/prompts.py
  mcp/howler_mcp/tools.py
  mcp/test/test_tools.py
Due: none

feat(mcp): add a howler link crafter for alert links
  mcp/README.md
  mcp/docker-compose.yml
  mcp/howler_mcp/config.py
  mcp/howler_mcp/prompts.py
  mcp/howler_mcp/tools.py
  mcp/test/test_prompts.py
  mcp/test/test_tools.py
Due: none

feat: added dev helper inside of howler mcp (#563)
  mcp/README.md
  mcp/dev/dev_setup.py
  mcp/howler_mcp/config.py
  mcp/poetry.lock
  mcp/pyproject.toml
  mcp/test/test_dev_setup.py
Due: none

fix(ui): invalidate dossiers with missing detections (#555)
  ui/src/components/elements/display/Modal.tsx
  ui/src/components/elements/display/modals/ConfirmDeleteModal.tsx
  ui/src/components/routes/overviews/OverviewCard.test.tsx
  ui/src/components/routes/overviews/OverviewCard.tsx
  ui/src/components/routes/overviews/Overviews.tsx
  ui/src/components/routes/templates/TemplateCard.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports

fix(ui): fixed plugin hook calls in hit viewer
  docs/RELEASES.md
  ui/package.json
  ui/src/components/routes/hits/search/InformationPane.tsx
  ui/src/components/routes/hits/view/HitViewer.test.tsx
  ui/src/components/routes/hits/view/HitViewer.tsx
Due: lint-staged, bad-ui-imports

fix(ui): further fixes for plugin viewing
  docs/RELEASES.md
  ui/package.json
  ui/src/components/routes/hits/search/InformationPane.tsx
  ui/src/components/routes/hits/shared/PluginViewing.tsx
  ui/src/components/routes/hits/view/HitViewer.test.tsx
  ui/src/components/routes/hits/view/HitViewer.tsx
Due: lint-staged, bad-ui-imports

fix(api): docker build static folder
  api/Dockerfile
Due: none

feat(ui): add case documentation to howler
  ui/src/components/app/App.tsx
  ui/src/components/hooks/useMyPreferences.tsx
  ui/src/components/hooks/useMySitemap.tsx
  ui/src/components/routes/help/CaseDocumentation.tsx
  ui/src/components/routes/help/Help.tsx
  ui/src/components/routes/help/markdown/en/casesFolders.md
  ui/src/components/routes/help/markdown/en/casesInvestigation.md
  ui/src/components/routes/help/markdown/en/casesItems.md
  ui/src/components/routes/help/markdown/en/casesOverview.md
  ui/src/components/routes/help/markdown/en/casesRecords.md
  ui/src/components/routes/help/markdown/en/casesRules.md
  ui/src/components/routes/help/markdown/en/casesSidebar.md
  ui/src/components/routes/help/markdown/en/casesSummary.md
  ui/src/components/routes/help/markdown/fr/casesFolders.md
  ui/src/components/routes/help/markdown/fr/casesInvestigation.md
  ui/src/components/routes/help/markdown/fr/casesItems.md
  ui/src/components/routes/help/markdown/fr/casesOverview.md
  ui/src/components/routes/help/markdown/fr/casesRecords.md
  ui/src/components/routes/help/markdown/fr/casesRules.md
  ui/src/components/routes/help/markdown/fr/casesSidebar.md
  ui/src/components/routes/help/markdown/fr/casesSummary.md
  ui/src/locales/en/help/main.json
  ui/src/locales/en/translation.json
  ui/src/locales/fr/help/main.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports

first draft of more docs
  ui/src/components/app/App.tsx
  ui/src/components/elements/display/DocumentationButton.test.tsx
  ui/src/components/elements/display/DocumentationButton.tsx
  ui/src/components/hooks/useMyPreferences.tsx
  ui/src/components/hooks/useMySitemap.tsx
  ui/src/components/routes/help/AdvancedDocumentation.tsx
  ui/src/components/routes/help/DossierDocumentation.tsx
  ui/src/components/routes/help/Help.tsx
  ui/src/components/routes/help/markdown/en/advancedLanguages.md
  ui/src/components/routes/help/markdown/en/advancedLucene.md
  ui/src/components/routes/help/markdown/en/advancedOverview.md
  ui/src/components/routes/help/markdown/en/advancedResults.md
  ui/src/components/routes/help/markdown/en/dossiersLeads.md
  ui/src/components/routes/help/markdown/en/dossiersOverview.md
  ui/src/components/routes/help/markdown/en/dossiersPivots.md
  ui/src/components/routes/help/markdown/en/dossiersQuery.md
  ui/src/components/routes/help/markdown/en/dossiersUsage.md
  ui/src/components/routes/help/markdown/fr/advancedLanguages.md
  ui/src/components/routes/help/markdown/fr/advancedLucene.md
  ui/src/components/routes/help/markdown/fr/advancedOverview.md
  ui/src/components/routes/help/markdown/fr/advancedResults.md
  ui/src/components/routes/help/markdown/fr/dossiersLeads.md
  ui/src/components/routes/help/markdown/fr/dossiersOverview.md
  ui/src/components/routes/help/markdown/fr/dossiersPivots.md
  ui/src/components/routes/help/markdown/fr/dossiersQuery.md
  ui/src/components/routes/help/markdown/fr/dossiersUsage.md
  ui/src/locales/en/help/main.json
  ui/src/locales/en/translation.json
  ui/src/locales/fr/help/main.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports

pivotgrouping now is able to find each button to get
  ui/src/utils/PivotGrouping.ts
Due: lint-staged, bad-ui-imports

fix type checking on tests
  ui/src/components/app/hooks/useMatchers.test.ts
  ui/src/components/app/providers/GridColumnsProvider.test.tsx
  ui/src/components/app/providers/ParameterProvider.test.tsx
  ui/src/components/app/providers/RecordSearchProvider.test.tsx
  ui/src/components/app/providers/SearchResponseProvider.test.tsx
  ui/src/components/app/providers/ViewProvider.test.tsx
  ui/src/components/elements/addons/layout/FlexOne.test.tsx
  ui/src/components/elements/addons/search/phrase/WordLexer.test.ts
  ui/src/components/elements/display/ChipPopper.test.tsx
  ui/src/components/elements/display/Image.test.tsx
  ui/src/components/elements/display/TextDivider.test.tsx
  ui/src/components/elements/hit/HitBanner.test.tsx
  ui/src/components/elements/record/RecordContextMenu.test.tsx
  ui/src/components/hooks/useMyTheme.test.ts
  ui/src/components/routes/analytics/AnalyticHitComments.test.tsx
  ui/src/components/routes/cases/search/CaseAssigneeFilter.test.tsx
  ui/src/components/routes/cases/search/CaseStatusFilter.test.tsx
  ui/src/components/routes/dossiers/DossierEditor.test.tsx
  ui/src/components/routes/hits/search/ViewLink.test.tsx
  ui/src/components/routes/overviews/markdownExtendedTokenProvider.test.ts
  ui/src/tests/MockLocalStorage.ts
  ui/src/utils/actionUtils.test.ts
  ui/src/utils/sessionStorage.test.ts
  ui/src/utils/utils.test.ts
Due: lint-staged, bad-ui-imports

finished pivotgrouping
  ui/src/tests/PivotGrouping.test.ts
  ui/src/utils/PivotGrouping.ts
Due: lint-staged, bad-ui-imports

forgot to rename the file properly for final
  ui/src/utils/pivotForest.ts
Due: lint-staged, bad-ui-imports

small type fix
  ui/src/api/index.ts
Due: lint-staged, bad-ui-imports

add plan
  plan.md
Due: none

fix(api): added functionality to allow sending auth token alongside action queue
  api/howler/cronjobs/action_queue_worker.py
  api/howler/odm/models/config.py
  api/howler/services/action_service.py
  api/howler/services/auth_service.py
  api/howler/services/hit_service.py
  api/howler/services/jwt_service.py
  api/pyproject.toml
  api/test/unit/config.yml
  api/test/unit/services/test_auth_service.py
  api/test/unit/services/test_enqueue_action.py
  api/test/unit/services/test_jwt_service.py
  api/test/unit/test_config.py
  docs/RELEASES.md
Due: poetry-check-api

Apply suggestions from code review
  api/howler/services/action_service.py
  api/howler/services/hit_service.py
Due: none

additional unit tests
  api/test/unit/services/test_auth_service.py
  api/test/unit/services/test_enqueue_action.py
  api/test/unit/services/test_jwt_service.py
Due: none

pr feedback
  api/howler/odm/models/config.py
  api/howler/security/utils.py
  api/howler/services/auth_service.py
  api/howler/services/jwt_service.py
  api/test/unit/config.yml
  api/test/unit/services/test_auth_service.py
  api/test/unit/services/test_enqueue_action.py
  api/test/unit/services/test_jwt_service.py
  api/test/unit/test_config.py
Due: none

Path conditions:
  poetry-check-api: any of: ^api/.*\.(toml|lock)
  poetry-check-client: any of: ^client/.*\.(toml|lock)
  poetry-check-evidence: any of: ^plugins/evidence/.*\.(toml|lock)
  poetry-check-sentinel: any of: ^plugins/sentinel/.*\.(toml|lock)
  lint-staged: any of: ^ui/.*
  bad-ui-imports: any of: ^ui/.*
