Repository CybercentreCanada/howler: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check-api, poetry-check-client, poetry-check-evidence, poetry-check-sentinel, lint-staged, bad-ui-imports

poetry-check-api:
  name: poetry-check-api
  entry: hooks/check_poetry.sh
  args:
  - api
  language: script
  stages:
  - pre-commit

poetry-check-client:
  name: Poetry Check (client)
  entry: hooks/check_poetry.sh
  args:
  - client
  language: script
  stages:
  - pre-commit

poetry-check-evidence:
  name: Poetry Check (Evidence Plugin)
  entry: hooks/check_poetry.sh
  args:
  - plugins/evidence
  language: script
  stages:
  - pre-commit

poetry-check-sentinel:
  name: Poetry Check (Sentinel Plugin)
  entry: hooks/check_poetry.sh
  args:
  - plugins/sentinel
  language: script
  stages:
  - pre-commit

lint-staged:
  name: lint-staged
  entry: ui/build_scripts/lint_staged.sh
  language: script
  stages:
  - pre-commit

bad-ui-imports:
  name: Check for bad UI imports
  entry: ui/build_scripts/find_bad_imports.py
  language: python
  stages:
  - pre-commit

feat(api): add wait for refresh optional param to main entity delete methods
  api/howler/api/v1/action.py
  api/howler/api/v1/analytic.py
  api/howler/api/v1/dossier.py
  api/howler/api/v1/overview.py
  api/howler/api/v1/template.py
  api/howler/api/v1/utils/string_utils.py
  api/howler/api/v1/view.py
Due: none

fix(ui): add context methods to modify search results in state instead of making search request after changes
  ui/src/api/search/overview.ts
  ui/src/components/app/providers/SearchResponseProvider.tsx
  ui/src/components/hooks/useMyApi.tsx
  ui/src/components/routes/action/view/ActionSearch.tsx
  ui/src/components/routes/analytics/AnalyticSearch.tsx
  ui/src/components/routes/dossiers/Dossiers.tsx
  ui/src/components/routes/overviews/OverviewViewer.tsx
  ui/src/components/routes/overviews/Overviews.tsx
  ui/src/components/routes/templates/Templates.tsx
  ui/src/components/routes/views/Views.tsx
Due: lint-staged, bad-ui-imports

feat(datastore): surface refresh param in delete and save
  api/howler/datastore/collection.py
Due: none

fix(api): remove commit from view delete
  api/howler/api/v1/view.py
Due: none

feat(ui): consistency - add success message after all main entity deletes
  ui/src/components/routes/action/view/ActionDetails.tsx
  ui/src/components/routes/action/view/ActionSearch.tsx
  ui/src/components/routes/overviews/OverviewViewer.tsx
  ui/src/components/routes/templates/TemplateViewer.tsx
  ui/src/components/routes/templates/Templates.tsx
  ui/src/components/routes/views/Views.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports

feat(ui): add wait for refresh option to del calls
  ui/src/api/action/index.ts
  ui/src/api/analytic/index.ts
  ui/src/api/dossier/index.ts
  ui/src/api/index.ts
  ui/src/api/overview/index.ts
  ui/src/api/template/index.ts
  ui/src/api/view/index.ts
Due: lint-staged, bad-ui-imports

fix(ui): wait for refresh on delete before upwards navigation
  ui/src/components/routes/action/useMyActionFunctions.tsx
  ui/src/components/routes/analytics/AnalyticDetails.tsx
Due: lint-staged, bad-ui-imports

test(api): check that refresh arg is forwarded to es if provided
  api/test/integration/api/test_wait_for_refresh.py
Due: none

chore(config): remove old eureka discovery flag from configuration (#400)
  api/howler/odm/models/config.py
Due: none

test(api): make sure entities created for test are writeable
  api/test/integration/api/test_wait_for_refresh.py
Due: none

fix(api): added more searchable fields into normalizer
  api/howler/datastore/constants.py
Due: none

fix(ui): await requests and throw errors in delete
  ui/src/components/routes/action/useMyActionFunctions.tsx
  ui/src/components/routes/dossiers/Dossiers.tsx
  ui/src/components/routes/overviews/OverviewViewer.tsx
  ui/src/components/routes/overviews/Overviews.tsx
  ui/src/components/routes/templates/TemplateViewer.tsx
  ui/src/components/routes/templates/Templates.tsx
Due: lint-staged, bad-ui-imports

added copilot suggestion
  api/howler/datastore/constants.py
Due: none

feat(api): added host.hostname to ecs fields
  .vscode/settings.json
  api/howler/odm/models/ecs/host.py
Due: none

fix pagination offset handling on remove
  ui/src/components/app/providers/SearchResponseProvider.tsx
  ui/src/components/elements/addons/search/SearchPagination.tsx
  ui/src/components/elements/display/ItemManager.tsx
  ui/src/components/routes/action/view/ActionSearch.tsx
  ui/src/components/routes/analytics/AnalyticSearch.tsx
  ui/src/components/routes/dossiers/Dossiers.tsx
  ui/src/components/routes/overviews/Overviews.tsx
  ui/src/components/routes/templates/Templates.tsx
  ui/src/components/routes/views/Views.tsx
Due: lint-staged, bad-ui-imports

fix(ui): remove unused variables/imports in tests and revert lockfile (#403)
  ui/src/components/elements/addons/buttons/CustomButton.test.tsx
  ui/src/components/elements/addons/layout/FlexOne.test.tsx
  ui/src/components/elements/addons/search/SearchPagination.test.tsx
  ui/src/components/elements/addons/search/SearchTotal.test.tsx
  ui/src/components/elements/display/DocumentationButton.test.tsx
  ui/src/components/elements/display/DynamicTabs.test.tsx
  ui/src/components/elements/display/HowlerCard.test.tsx
  ui/src/components/elements/display/Image.test.tsx
  ui/src/components/elements/display/QueryResultText.test.tsx
  ui/src/components/elements/display/TextDivider.test.tsx
  ui/src/components/elements/display/TypingIndicator.test.tsx
  ui/src/components/routes/403.test.tsx
  ui/src/components/routes/404.test.tsx
  ui/src/components/routes/ErrorBoundary.test.tsx
  ui/src/components/routes/ErrorOccured.test.tsx
  ui/src/components/routes/Logout.test.tsx
  ui/src/components/routes/home/AddNewCard.test.tsx
  ui/src/components/routes/home/ViewRefresh.test.tsx
  ui/src/components/routes/overviews/OverviewCard.test.tsx
  ui/src/components/routes/settings/SettingsSection.test.tsx
  ui/src/components/routes/templates/TemplateCard.test.tsx
Due: lint-staged, bad-ui-imports

gracefully handle null response, add initialiser, add tests
  ui/src/components/app/providers/SearchResponseProvider.test.tsx
  ui/src/components/app/providers/SearchResponseProvider.tsx
Due: lint-staged, bad-ui-imports

refactor: rename snakecase variables
  ui/src/components/app/providers/SearchResponseProvider.test.tsx
  ui/src/components/app/providers/SearchResponseProvider.tsx
  ui/src/components/routes/action/view/ActionSearch.tsx
  ui/src/components/routes/analytics/AnalyticSearch.tsx
  ui/src/components/routes/dossiers/Dossiers.tsx
  ui/src/components/routes/overviews/Overviews.tsx
  ui/src/components/routes/templates/Templates.tsx
  ui/src/components/routes/views/Views.tsx
Due: lint-staged, bad-ui-imports

Potential fix for pull request finding 'Unused local variable'
  api/test/integration/api/test_search.py
Due: none

fix(datastore): preserve bare `*` in `_expand_fl` and guard against empty fl entries (#404)
  api/howler/datastore/collection.py
  api/test/integration/api/test_search.py
  api/test/unit/test_expand_fl.py
Due: none

fix(odm): update random_data to mock howler.assessor field
  api/howler/odm/helper.py
  api/howler/odm/models/howler_data.py
  api/howler/odm/random_data.py
Due: none

set howler.assessor to current user when assess_hit is called
  api/howler/actions/demote.py
  api/howler/actions/promote.py
  api/howler/helper/hit.py
  api/howler/odm/random_data.py
Due: none

display assessor in hit row and card view
  ui/src/components/elements/hit/HitBanner.tsx
  ui/src/components/elements/hit/elements/Assigned.tsx
  ui/src/components/elements/hit/elements/HitUsers.tsx
  ui/src/components/routes/hits/search/grid/HitRow.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports

fix parentheses for visibility compound boolean
  ui/src/components/elements/hit/elements/HitUsers.tsx
Due: lint-staged, bad-ui-imports

clear assessor field on re-assign
  api/howler/helper/hit.py
Due: none

autogenerate ts declarations using generate_classes
  ui/src/models/entities/generated/Analytic.d.ts
  ui/src/models/entities/generated/ApiType.d.ts
  ui/src/models/entities/generated/Hit.d.ts
  ui/src/models/entities/generated/Howler.d.ts
  ui/src/models/entities/generated/Notebooks.d.ts
  ui/src/models/entities/generated/UserUser.d.ts
Due: lint-staged, bad-ui-imports

update type declarations to match models in api/odm
  ui/src/models/entities/generated/Analytic.d.ts
  ui/src/models/entities/generated/Howler.d.ts
  ui/src/models/entities/generated/Notebook.d.ts
Due: lint-staged, bad-ui-imports

Change process PID to long
  api/howler/odm/models/ecs/process.py
Due: none

Update docs
  documentation/docs/odm/class/parentparentprocess.md
  documentation/docs/odm/class/parentprocess.md
  documentation/docs/odm/class/process.md
Due: none

Reindex improvements
  api/howler/datastore/collection.py
  api/howler/external/reindex_data.py
  api/test/integration/test_datastore.py
Due: none

Potential fix for pull request finding
  api/howler/odm/models/ecs/file.py
Due: none

fix formatting
  api/howler/odm/models/ecs/file.py
Due: none

revert changes to ApiType.d.ts
  ui/src/models/entities/generated/ApiType.d.ts
Due: lint-staged, bad-ui-imports

fix(api)!: updated integer to long for file.size (#391)
  api/howler/odm/models/ecs/file.py
Due: none

fix(api)!: Change process pid data type to long (#414)
  api/howler/odm/models/ecs/process.py
  documentation/docs/odm/class/parentparentprocess.md
  documentation/docs/odm/class/parentprocess.md
  documentation/docs/odm/class/process.md
Due: none

Fix feedback
  api/howler/datastore/collection.py
  api/howler/external/reindex_data.py
  api/test/integration/test_datastore.py
Due: none

chore(api): update howler api version to v4 due to reindexing changes
  api/pyproject.toml
Due: poetry-check-api

check assessment not null to show assessor and remove useless conditional
  ui/src/components/elements/hit/elements/HitUsers.tsx
Due: lint-staged, bad-ui-imports

Path conditions:
  poetry-check-api: any of: ^api/.*\.(toml|lock)
  poetry-check-client: any of: ^client/.*\.(toml|lock)
  poetry-check-evidence: any of: ^plugins/evidence/.*\.(toml|lock)
  poetry-check-sentinel: any of: ^plugins/sentinel/.*\.(toml|lock)
  lint-staged: any of: ^ui/.*
  bad-ui-imports: any of: ^ui/.*
