Repository CybercentreCanada/howler: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check-api, poetry-check-client, poetry-check-evidence, poetry-check-sentinel, lint-staged, bad-ui-imports

poetry-check-api:
  name: poetry-check-api
  entry: hooks/check_poetry.sh
  args:
  - api
  language: script
  stages:
  - pre-commit

poetry-check-client:
  name: Poetry Check (client)
  entry: hooks/check_poetry.sh
  args:
  - client
  language: script
  stages:
  - pre-commit

poetry-check-evidence:
  name: Poetry Check (Evidence Plugin)
  entry: hooks/check_poetry.sh
  args:
  - plugins/evidence
  language: script
  stages:
  - pre-commit

poetry-check-sentinel:
  name: Poetry Check (Sentinel Plugin)
  entry: hooks/check_poetry.sh
  args:
  - plugins/sentinel
  language: script
  stages:
  - pre-commit

lint-staged:
  name: lint-staged
  entry: ui/build_scripts/lint_staged.sh
  language: script
  stages:
  - pre-commit

bad-ui-imports:
  name: Check for bad UI imports
  entry: ui/build_scripts/find_bad_imports.py
  language: python
  stages:
  - pre-commit

updated pivots and test
  api/howler/odm/helper.py
  api/howler/services/dossier_service.py
  api/test/integration/service/test_dossier_service.py
Due: none

replace assert on refresh=false with warning
  client/test/integration/test_refresh.py
Due: none

revert logging change to avoid spamming warnings
  api/howler/datastore/collection.py
Due: none

moved front end group to pivot
  ui/src/components/routes/dossiers/DossierEditor.tsx
  ui/src/components/routes/dossiers/PivotForm.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
  ui/src/models/entities/generated/Dossier.d.ts
  ui/src/models/entities/generated/Pivot.d.ts
Due: lint-staged, bad-ui-imports

fix(ui,api): fix sorting in view cards on dashboard
  api/howler/api/v2/search.py
  api/howler/services/search_service.py
  api/pyproject.toml
  api/test/integration/service/test_search_service.py
  api/test/unit/endpoints/test_search_endpoint.py
  docs/RELEASES.md
  ui/package.json
  ui/src/components/routes/home/ViewCard.test.tsx
  ui/src/components/routes/home/ViewCard.tsx
Due: poetry-check-api, lint-staged, bad-ui-imports

more unit tests, improve password/apikey vuln
  api/howler/api/v2/search.py
  api/howler/services/search_service.py
  api/test/integration/service/test_search_service.py
  api/test/unit/endpoints/test_search_endpoint.py
  docs/RELEASES.md
Due: none

fix(ui,api): fix sorting in view cards on dashboard (#566)
  api/howler/api/v2/search.py
  api/howler/services/search_service.py
  api/pyproject.toml
  api/test/integration/service/test_search_service.py
  api/test/unit/endpoints/test_search_endpoint.py
  docs/RELEASES.md
  ui/package.json
  ui/src/components/routes/home/ViewCard.test.tsx
  ui/src/components/routes/home/ViewCard.tsx
Due: poetry-check-api, lint-staged, bad-ui-imports

chore: bump versions post release
  api/pyproject.toml
  client/pyproject.toml
  ui/package.json
Due: poetry-check-api, poetry-check-client, lint-staged, bad-ui-imports

chore: update to proper release version
  docs/RELEASES.md
Due: none

feat: Added lucene query capability and better logins (#549)
  .github/workflows/mcp-workflow.yml
  .gitignore
  .pre-commit-config.yaml
  mcp/README.md
  mcp/build_scripts/coverage_reports.py
  mcp/build_scripts/run_tests.py
  mcp/diag_auth_check.json
  mcp/docker-compose.yml
  mcp/howler_mcp/api.py
  mcp/howler_mcp/auth.py
  mcp/howler_mcp/config.py
  mcp/howler_mcp/prompts.py
  mcp/howler_mcp/server.py
  mcp/howler_mcp/tools.py
  mcp/poetry.lock
  mcp/pyproject.toml
  mcp/requirements-main.txt
  mcp/test/api_unit_test.py
  mcp/test/network_connection_test.py
  mcp/test/test_api.py
  mcp/test/test_auth.py
  mcp/test/test_config.py
  mcp/test/test_network.py
  mcp/test/test_prompts.py
  mcp/test/test_server.py
  mcp/test/test_tools.py
  mcp/test/tools_unit_test.py
  pyrightconfig.json
Due: none

fix(mcp): allow kubernetes/docker-compose urls to be http
  mcp/howler_mcp/config.py
Due: none

feat(plugins,api): create a plugin providing diffs and schema routes for sync (#502)
  api/howler/api/v1/utils/params.py
  api/howler/odm/base.py
  api/howler/odm/models/case.py
  api/howler/odm/models/howler_data.py
  api/howler/odm/models/record.py
  api/test/unit/odm/test_as_primitives.py
  api/test/unit/utils/test_params.py
  plugins/sync/.coveragerc.pytest
  plugins/sync/.gitignore
  plugins/sync/LICENSE
  plugins/sync/README.md
  plugins/sync/build_scripts/coverage_reports.py
  plugins/sync/build_scripts/run_tests.py
  plugins/sync/build_scripts/set_version.py
  plugins/sync/build_scripts/type_check.py
  plugins/sync/dummy.py
  plugins/sync/poetry.lock
  plugins/sync/poetry.toml
  plugins/sync/pyproject.toml
  plugins/sync/pytest.ini
  plugins/sync/setup.cfg
  plugins/sync/sync/__init__.py
  plugins/sync/sync/config.py
  plugins/sync/sync/iceberg/build.py
  plugins/sync/sync/iceberg/mappings.py
  plugins/sync/sync/manifest.yml
  plugins/sync/sync/odm/__init__.py
  plugins/sync/sync/routes/__init__.py
  plugins/sync/sync/routes/sync.py
  plugins/sync/sync/services/sync_service.py
  plugins/sync/sync/utils/parsers.py
  plugins/sync/test/conftest.py
  plugins/sync/test/integration/test_sync.py
  plugins/sync/test/unit/iceberg/test_build_schema.py
  plugins/sync/test/unit/sync_service/test_get_upserted_hits.py
  plugins/sync/test/unit/utils/test_parsers.py
Due: none

fix(mcp): updated mcp config check
  mcp/howler_mcp/config.py
  mcp/test/test_config.py
Due: none

fix(mcp): additional mcp auth logging
  mcp/README.md
  mcp/docker-compose.yml
  mcp/howler_mcp/api.py
  mcp/howler_mcp/auth_logging.py
  mcp/howler_mcp/config.py
  mcp/howler_mcp/server.py
  mcp/test/test_auth_logging.py
  mcp/test/test_config.py
Due: none

fix(mcp): allow configurable iconify server
  mcp/howler_mcp/config.py
  mcp/howler_mcp/tools.py
  mcp/test/test_config.py
Due: none

feat(client): add support for refresh param (#565)
  client/howler_client/module/hit.py
  client/howler_client/module/user.py
  client/howler_client/module/v2/case.py
  client/howler_client/module/v2/ingest.py
  client/test/integration/test_refresh.py
Due: none

fix(mcp): improve request logging
  mcp/howler_mcp/auth_logging.py
  mcp/howler_mcp/request_logging.py
  mcp/howler_mcp/server.py
  mcp/test/test_request_logging.py
Due: none

feat(mcp): add tool for adding dossiers to a specific hit
  mcp/README.md
  mcp/howler_mcp/api.py
  mcp/howler_mcp/prompts.py
  mcp/howler_mcp/tools.py
  mcp/test/test_prompts.py
  mcp/test/test_tools.py
Due: none

fix(mcp): tightened validation of the dossier
  mcp/README.md
  mcp/howler_mcp/prompts.py
  mcp/howler_mcp/tools.py
  mcp/test/test_tools.py
Due: none

added dev_setup into the dev directory and explain how it use in the readme to help future developpement on the mcp server
  mcp/README.md
  mcp/dev/dev_setup.py
  mcp/pyproject.toml
  mcp/test/test_dev_setup.py
Due: none

remove unit test verifying something env dependent
  mcp/test/test_dev_setup.py
Due: none

made the file only accessible by owner. if this is not allowed by git might not be useful
  mcp/dev/dev_setup.py
Due: none

added dotenv, added warning, remove print, added confirmation option for destructive action
  mcp/dev/dev_setup.py
  mcp/howler_mcp/config.py
  mcp/test/test_dev_setup.py
Due: none

added back the poetry and readme update, did not follow last commit
  mcp/README.md
  mcp/poetry.lock
  mcp/pyproject.toml
Due: none

feat(mcp): add a howler link crafter for alert links
  mcp/README.md
  mcp/docker-compose.yml
  mcp/howler_mcp/config.py
  mcp/howler_mcp/prompts.py
  mcp/howler_mcp/tools.py
  mcp/test/test_prompts.py
  mcp/test/test_tools.py
Due: none

fixed search pane to show correct pagination
  ui/package.json
  ui/src/components/routes/hits/search/SearchPane.tsx
Due: lint-staged, bad-ui-imports

added viewing emit hooks to hit viewer
  ui/src/components/routes/hits/view/HitViewer.test.tsx
  ui/src/components/routes/hits/view/HitViewer.tsx
Due: lint-staged, bad-ui-imports

expand hitveiwer unit tests
  ui/src/components/routes/hits/view/HitViewer.test.tsx
Due: lint-staged, bad-ui-imports

pr feedback
  ui/src/components/routes/hits/search/InformationPane.tsx
  ui/src/components/routes/hits/view/HitViewer.test.tsx
  ui/src/components/routes/hits/view/HitViewer.tsx
Due: lint-staged, bad-ui-imports

release notes
  docs/RELEASES.md
Due: none

antoher release note
  docs/RELEASES.md
Due: none

created organises function
  api/howler/odm/models/pivot.py
  api/howler/services/dossier_service.py
  ui/src/components/elements/hit/HitLinks.tsx
  ui/src/components/routes/dossiers/DossierEditor.tsx
  ui/src/components/routes/dossiers/PivotForm.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
  ui/src/utils/DossierGroupValidation.ts
  ui/src/utils/PivotGrouping.ts
Due: lint-staged, bad-ui-imports

added unit test
  ui/src/tests/PivotGrouping.test.ts
  ui/src/utils/PivotGrouping.ts
Due: lint-staged, bad-ui-imports

feat: added dev helper inside of howler mcp (#563)
  mcp/README.md
  mcp/dev/dev_setup.py
  mcp/howler_mcp/config.py
  mcp/poetry.lock
  mcp/pyproject.toml
  mcp/test/test_dev_setup.py
Due: none

adding missing detection error flow for overviews - same as templates
  ui/src/components/elements/display/modals/ConfirmDeleteModal.tsx
  ui/src/components/routes/overviews/OverviewCard.tsx
  ui/src/components/routes/overviews/Overviews.tsx
  ui/src/components/routes/templates/TemplateCard.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports

fix tests and typing
  ui/src/components/elements/display/modals/ConfirmDeleteModal.tsx
  ui/src/components/routes/overviews/OverviewCard.test.tsx
  ui/src/components/routes/overviews/OverviewCard.tsx
Due: lint-staged, bad-ui-imports

set default modal height to auto
  ui/src/components/elements/display/Modal.tsx
Due: lint-staged, bad-ui-imports

style auto format
  ui/src/components/routes/action/edit/ActionEditor.tsx
  ui/src/components/routes/overviews/OverviewCard.test.tsx
  ui/src/components/routes/overviews/OverviewCard.tsx
  ui/src/components/routes/overviews/Overviews.tsx
Due: lint-staged, bad-ui-imports

formatting
  ui/src/components/routes/action/edit/ActionEditor.tsx
Due: lint-staged, bad-ui-imports

Path conditions:
  poetry-check-api: any of: ^api/.*\.(toml|lock)
  poetry-check-client: any of: ^client/.*\.(toml|lock)
  poetry-check-evidence: any of: ^plugins/evidence/.*\.(toml|lock)
  poetry-check-sentinel: any of: ^plugins/sentinel/.*\.(toml|lock)
  lint-staged: any of: ^ui/.*
  bad-ui-imports: any of: ^ui/.*
