Repository CybercentreCanada/howler: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check-api, poetry-check-client, poetry-check-evidence, poetry-check-sentinel, lint-staged, bad-ui-imports

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - commit-msg

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.8.0
    hooks:
      # Run the linter.
      - id: ruff
        name: Ruff Linting
        args: [--fix, --output-format=concise]
      # Run the formatter.
      - id: ruff-format
        name: Ruff Formatting
  # - repo: https://github.com/compilerla/conventional-pre-commit
  #   rev: v4.3.0
  #   hooks:
  #     - id: conventional-pre-commit
  #       stages: [commit-msg]
  - repo: local
    hooks:
      - id: poetry-check-api
        name: poetry-check-api
        entry: hooks/check_poetry.sh
        args: [api]
        language: script
        stages: [pre-commit]
        files: ^api/.*\.(toml|lock)
      - id: poetry-check-client
        name: Poetry Check (client)
        entry: hooks/check_poetry.sh
        args: [client]
        language: script
        stages: [pre-commit]
        files: ^client/.*\.(toml|lock)
      - id: poetry-check-evidence
        name: Poetry Check (Evidence Plugin)
        entry: hooks/check_poetry.sh
        args: [plugins/evidence]
        language: script
        stages: [pre-commit]
        files: ^plugins/evidence/.*\.(toml|lock)
      - id: poetry-check-sentinel
        name: Poetry Check (Sentinel Plugin)
        entry: hooks/check_poetry.sh
        args: [plugins/sentinel]
        language: script
        stages: [pre-commit]
        files: ^plugins/sentinel/.*\.(toml|lock)
      - id: lint-staged
        name: lint-staged
        entry: ui/build_scripts/lint_staged.sh
        language: script
        stages: [pre-commit]
        files: ^ui/.*
      - id: bad-ui-imports
        name: Check for bad UI imports
        entry: ui/build_scripts/find_bad_imports.py
        language: python
        stages: [pre-commit]
        files: ^ui/.*
      - id: check-commit-msg
        name: Validate Commit Message
        entry: hooks/commit-msg.py
        language: python
        stages: [commit-msg]
        additional_dependencies: ["conventional-pre-commit", "rich"]
        verbose: true

fix(api): fixing errors when getting alerts or updating alerts in an ilm index
  api/howler/api/v1/action.py
  api/howler/api/v2/ingest.py
  api/howler/datastore/collection.py
  api/howler/odm/mixins.py
  api/howler/services/case_service.py
  api/howler/services/dossier_service.py
  api/pyproject.toml
  api/test/unit/endpoints/test_ingest_endpoint.py
  api/test/unit/odm/test_mixins.py
  api/test/unit/services/test_case_service.py
  api/test/unit/test_ilm_collection.py
  docs/RELEASES.md
Due: poetry-check-api

pr feedback
  api/howler/datastore/collection.py
  docs/RELEASES.md
Due: none

fix(api): fixing errors when getting alerts or updating alerts in an ilm index (#553)
  api/howler/api/v1/action.py
  api/howler/api/v2/ingest.py
  api/howler/datastore/collection.py
  api/howler/odm/mixins.py
  api/howler/services/case_service.py
  api/howler/services/dossier_service.py
  api/pyproject.toml
  api/test/unit/endpoints/test_ingest_endpoint.py
  api/test/unit/odm/test_mixins.py
  api/test/unit/services/test_case_service.py
  api/test/unit/test_ilm_collection.py
  docs/RELEASES.md
Due: poetry-check-api

fix(api): fix typing.self import error on python 3.10
  api/howler/odm/mixins.py
  api/howler/utils/compat.py
  api/pyproject.toml
  docs/RELEASES.md
Due: poetry-check-api

fix(ui): fix legacy viewcard rendering on dashboard
  docs/RELEASES.md
  ui/package.json
  ui/src/components/routes/home/ViewCard.test.tsx
  ui/src/components/routes/home/ViewCard.tsx
Due: lint-staged, bad-ui-imports

fix(ui): test fix
  ui/src/components/routes/home/ViewCard.test.tsx
Due: lint-staged, bad-ui-imports

fix(api): fix update not respecting index location when updating record
  api/howler/api/v1/hit.py
  api/howler/external/check_duplicates.py
  api/howler/services/hit_service.py
  api/pyproject.toml
  api/test/integration/service/test_hit_service.py
  api/test/unit/test_check_duplicates.py
  docs/RELEASES.md
  ui/package.json
  ui/src/components/routes/ErrorBoundary.tsx
Due: poetry-check-api, lint-staged, bad-ui-imports

fix(api): add version check to update function
  api/howler/datastore/collection.py
Due: none

Potential fix for pull request finding
  api/howler/external/check_duplicates.py
Due: none

more update work
  api/howler/actions/transition.py
  api/howler/api/v1/hit.py
  api/howler/services/hit_service.py
  api/test/integration/api/test_actions.py
  api/test/integration/service/test_hit_service.py
  api/test/unit/actions/test_transition.py
Due: none

fix unit tests
  api/test/integration/service/test_hit_service.py
Due: none

fix(api): fix update not respecting index location when updating record (#554)
  api/howler/actions/transition.py
  api/howler/api/v1/hit.py
  api/howler/datastore/collection.py
  api/howler/external/check_duplicates.py
  api/howler/services/hit_service.py
  api/pyproject.toml
  api/test/integration/api/test_actions.py
  api/test/integration/service/test_hit_service.py
  api/test/unit/actions/test_transition.py
  api/test/unit/test_check_duplicates.py
  docs/RELEASES.md
  ui/package.json
  ui/src/components/routes/ErrorBoundary.tsx
Due: poetry-check-api, lint-staged, bad-ui-imports

chore: bump versions post release
  api/pyproject.toml
  client/pyproject.toml
  ui/package.json
Due: poetry-check-api, poetry-check-client, lint-staged, bad-ui-imports

chore: update to proper release version
  docs/RELEASES.md
Due: none

added mcp requirement and loggins
  mcp/README.md
  mcp/docker-compose.yml
  mcp/howler_mcp/api.py
  mcp/howler_mcp/auth.py
  mcp/howler_mcp/config.py
  mcp/howler_mcp/prompts.py
  mcp/howler_mcp/server.py
  mcp/howler_mcp/tools.py
  mcp/poetry.lock
  mcp/pyproject.toml
  mcp/test/api_unit_test.py
  mcp/test/auth_unit_test.py
  mcp/test/network_connection_test.py
  mcp/test/tools_unit_test.py
Due: none

applied copilot comments
  mcp/howler_mcp/config.py
  mcp/howler_mcp/tools.py
  mcp/poetry.lock
  mcp/test/tools_unit_test.py
Due: none

added ignore for the mcp.json file to avoid future token leaks :
  .gitignore
Due: none

small fix
  mcp/howler_mcp/api.py
  mcp/requirements-main.txt
  pyrightconfig.json
Due: none

removed useless verification and verified last copilot comments.
  mcp/howler_mcp/tools.py
Due: none

added back the safety net
  mcp/howler_mcp/tools.py
Due: none

more cleanup
  mcp/howler_mcp/prompts.py
  mcp/howler_mcp/server.py
  mcp/howler_mcp/tools.py
  mcp/test/tools_unit_test.py
Due: none

added same safety for access_token as the other calls
  mcp/howler_mcp/tools.py
Due: none

more cleanup
  mcp/poetry.lock
  mcp/pyproject.toml
  mcp/test/network_connection_test.py
Due: none

mcp
  mcp/howler_mcp/prompts.py
  mcp/howler_mcp/tools.py
Due: none

added unit test and function to create and modify dossiers
  mcp/test/tools_unit_test.py
Due: none

added possibility to add labels
  mcp/howler_mcp/api.py
  mcp/howler_mcp/prompts.py
  mcp/howler_mcp/tools.py
Due: none

added dossier and label requirement
  mcp/diag_auth_check.json
  mcp/test/api_unit_test.py
Due: none

pr cleanup
  mcp/howler_mcp/prompts.py
  mcp/howler_mcp/tools.py
  mcp/test/tools_unit_test.py
Due: none

pr cleanup
  mcp/test/tools_unit_test.py
Due: none

more update work
  mcp/howler_mcp/api.py
  mcp/test/api_unit_test.py
Due: none

change verifier class name
  mcp/howler_mcp/auth.py
  mcp/howler_mcp/server.py
  mcp/test/auth_unit_test.py
Due: none

more mcp work
  .github/workflows/mcp-workflow.yml
  mcp/README.md
  mcp/docker-compose.yml
  mcp/howler_mcp/tools.py
  mcp/poetry.lock
  mcp/pyproject.toml
  mcp/test/test_api.py
  mcp/test/test_auth.py
  mcp/test/test_network.py
  mcp/test/test_tools.py
Due: none

formatting
  mcp/howler_mcp/api.py
  mcp/howler_mcp/config.py
Due: none

pre-commit changes
  .pre-commit-config.yaml
Due: none

fix(api): fix action execution test
  api/howler/actions/transition.py
  api/test/unit/actions/test_transition.py
  docs/RELEASES.md
Due: none

added the path to deleting labels
  mcp/howler_mcp/api.py
  mcp/howler_mcp/tools.py
Due: none
