Repository CybercentreCanada/howler: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check-api, poetry-check-client, poetry-check-evidence, poetry-check-sentinel, lint-staged, bad-ui-imports

poetry-check-api:
  name: poetry-check-api
  entry: hooks/check_poetry.sh
  args:
  - api
  language: script
  stages:
  - pre-commit

poetry-check-client:
  name: Poetry Check (client)
  entry: hooks/check_poetry.sh
  args:
  - client
  language: script
  stages:
  - pre-commit

poetry-check-evidence:
  name: Poetry Check (Evidence Plugin)
  entry: hooks/check_poetry.sh
  args:
  - plugins/evidence
  language: script
  stages:
  - pre-commit

poetry-check-sentinel:
  name: Poetry Check (Sentinel Plugin)
  entry: hooks/check_poetry.sh
  args:
  - plugins/sentinel
  language: script
  stages:
  - pre-commit

lint-staged:
  name: lint-staged
  entry: ui/build_scripts/lint_staged.sh
  language: script
  stages:
  - pre-commit

bad-ui-imports:
  name: Check for bad UI imports
  entry: ui/build_scripts/find_bad_imports.py
  language: python
  stages:
  - pre-commit

pr feedback
  .github/workflows/pr-title-check.yml
  ui/src/components/app/providers/FieldProvider.test.tsx
  ui/src/components/app/providers/FieldProvider.tsx
  ui/src/components/routes/hits/search/shared/HitFilter.test.tsx
  ui/src/components/routes/hits/search/shared/HitFilter.tsx
Due: lint-staged, bad-ui-imports

pr feedback
  api/howler/api/v2/task.py
  api/howler/app.py
  api/howler/services/task_service.py
  api/test/unit/endpoints/test_task_endpoint.py
  api/test/unit/services/test_task_service.py
  ui/src/api/v2/index.test.ts
  ui/src/api/v2/index.ts
  ui/src/api/v2/task/index.test.ts
  ui/src/api/v2/task/index.ts
  ui/src/components/routes/home/TasksPanel.test.tsx
  ui/src/components/routes/home/TasksPanel.tsx
  ui/src/components/routes/home/ViewRefresh.test.tsx
  ui/src/components/routes/home/ViewRefresh.tsx
  ui/src/components/routes/home/index.test.tsx
  ui/src/components/routes/home/index.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports

pr feedback
  api/howler/api/v1/hit.py
  api/howler/api/v1/tool.py
  api/howler/services/correlation_service.py
  api/test/unit/services/test_correlation_service.py
Due: none

fix: ui test
  ui/src/components/app/providers/RecordSearchProvider.test.tsx
Due: lint-staged, bad-ui-imports

feat(ui): added ability to add custom events to case (#601)
  api/howler/odm/models/event.py
  api/howler/odm/models/header.py
  api/howler/odm/models/howler_data.py
  api/howler/services/case_service.py
  api/howler/services/event_service.py
  api/test/unit/services/test_case_service.py
  api/test/unit/services/test_event_service.py
  ui/src/api/search/fields/event.ts
  ui/src/api/search/fields/index.ts
  ui/src/api/v2/index.ts
  ui/src/api/v2/ingest.ts
  ui/src/components/elements/event/EventPreview.tsx
  ui/src/components/routes/cases/detail/CaseSidebar.tsx
  ui/src/components/routes/cases/modals/AddEventModal.test.tsx
  ui/src/components/routes/cases/modals/AddEventModal.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports

feat(api): added backfill support to case rules (#609)
  AGENTS.md
  api/howler/api/v1/hit.py
  api/howler/api/v1/tool.py
  api/howler/api/v2/case.py
  api/howler/api/v2/ingest.py
  api/howler/services/correlation_service.py
  api/test/integration/api/test_case_rules.py
  api/test/unit/endpoints/test_ingest_endpoint.py
  api/test/unit/services/test_correlation_service.py
  ui/src/api/v2/case/rules/backfill/count.ts
  ui/src/api/v2/case/rules/backfill/index.ts
  ui/src/api/v2/case/rules/index.ts
  ui/src/components/routes/cases/detail/CaseRules.test.tsx
  ui/src/components/routes/cases/detail/CaseRules.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports

pr feedback
  ui/src/components/routes/hits/search/shared/HitFilter.test.tsx
Due: lint-staged, bad-ui-imports

pr feedback
  api/howler/api/v2/task.py
  ui/src/components/routes/views/ViewComposer.test.tsx
Due: lint-staged, bad-ui-imports

feat(ui): added case and task panels for the dashboard (#607)
  api/howler/api/v2/task.py
  api/howler/app.py
  api/howler/odm/models/user.py
  api/howler/services/task_service.py
  api/test/unit/endpoints/test_task_endpoint.py
  api/test/unit/services/test_task_service.py
  ui/src/api/index.test.ts
  ui/src/api/index.ts
  ui/src/api/v2/index.test.ts
  ui/src/api/v2/index.ts
  ui/src/api/v2/search/index.test.ts
  ui/src/api/v2/search/index.ts
  ui/src/api/v2/task/index.test.ts
  ui/src/api/v2/task/index.ts
  ui/src/components/app/providers/RecordSearchProvider.test.tsx
  ui/src/components/hooks/useMyApi.tsx
  ui/src/components/routes/home/AddNewCard.tsx
  ui/src/components/routes/home/CasePanel.test.tsx
  ui/src/components/routes/home/CasePanel.tsx
  ui/src/components/routes/home/TasksPanel.test.tsx
  ui/src/components/routes/home/TasksPanel.tsx
  ui/src/components/routes/home/ViewCard.test.tsx
  ui/src/components/routes/home/ViewCard.tsx
  ui/src/components/routes/home/ViewRefresh.test.tsx
  ui/src/components/routes/home/ViewRefresh.tsx
  ui/src/components/routes/home/index.test.tsx
  ui/src/components/routes/home/index.tsx
  ui/src/components/routes/views/ViewComposer.test.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
  ui/src/models/entities/HowlerUser.d.ts
  ui/src/rest/AxiosClient.test.ts
  ui/src/rest/AxiosClient.ts
  ui/src/rest/FetchClient.test.ts
  ui/src/rest/FetchClient.ts
  ui/src/rest/index.ts
Due: lint-staged, bad-ui-imports

improvement(ui): added arbitrary hit field searching for filters (#637)
  .github/workflows/pr-title-check.yml
  docs/RELEASES.md
  ui/src/components/app/providers/FieldProvider.test.tsx
  ui/src/components/app/providers/FieldProvider.tsx
  ui/src/components/routes/hits/search/shared/HitFilter.test.tsx
  ui/src/components/routes/hits/search/shared/HitFilter.tsx
Due: lint-staged, bad-ui-imports

fix(client): fix client unit test
  api/howler/api/v1/action.py
  api/test/unit/endpoints/test_action_endpoint.py
  client/howler_client/common/utils.py
  client/howler_client/module/action.py
  client/howler_client/module/search/__init__.py
  client/test/integration/test_search.py
  client/test/unit/test_search_action.py
  docs/RELEASES.md
Due: none

Potential fix for pull request finding 'Correct “miliseconds” typo in action-search docstring'
  client/howler_client/module/search/__init__.py
Due: none

fix(client): fix client unit test (#638)
  api/howler/api/v1/action.py
  api/test/unit/endpoints/test_action_endpoint.py
  client/howler_client/common/utils.py
  client/howler_client/module/action.py
  client/howler_client/module/search/__init__.py
  client/test/integration/test_search.py
  client/test/unit/test_search_action.py
  docs/RELEASES.md
Due: none

feat(ui): ensure hitsummary aggregations add filters
  ui/src/components/elements/hit/HitSummary.test.tsx
  ui/src/components/elements/hit/HitSummary.tsx
Due: lint-staged, bad-ui-imports

fix(api): log the actual error messages in bulk executions
  api/howler/datastore/collection.py
  api/test/unit/test_bulk.py
Due: none

fix(api): fixed case rule handling for cases in previous ilm indexes
  api/howler/datastore/collection.py
  api/howler/services/correlation_service.py
  api/test/integration/test_ilm.py
  api/test/unit/services/test_correlation_service.py
  api/test/unit/services/test_ingest_correlation.py
  docs/RELEASES.md
Due: none

pr feedback
  ui/src/components/elements/hit/HitSummary.test.tsx
Due: lint-staged, bad-ui-imports

feat(ui): ensure hitsummary aggregations add filters (#639)
  ui/src/components/elements/hit/HitSummary.test.tsx
  ui/src/components/elements/hit/HitSummary.tsx
Due: lint-staged, bad-ui-imports

quick oxlint fix failure
  ui/src/plugins/clue/Provider.tsx
Due: lint-staged, bad-ui-imports

chore(ui): update localization checks
  hooks/check_translation.py
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports

pr review
  ui/src/plugins/clue/Provider.test.tsx
Due: lint-staged, bad-ui-imports

Update Provider.test.tsx
  ui/src/plugins/clue/Provider.test.tsx
Due: lint-staged, bad-ui-imports

fix(ui): flaky test
  ui/src/components/routes/views/ViewComposer.test.tsx
Due: lint-staged, bad-ui-imports

chore: set initial sync plugin release
  plugins/sync/pyproject.toml
Due: none

chore: update release please to v5
  .github/workflows/release-please.yml
Due: none

chore: added test verifying access control on single hit fetch
  api/test/integration/api/test_access_control.py
Due: none

fix: sync test imports correctly
  plugins/sync/sync/routes/sync.py
Due: none

chore: update github workflows for plugins
  .github/workflows/evidence-plugin-workflow.yml
  .github/workflows/sentinel-plugin-workflow.yml
  .github/workflows/sync-plugin-workflow.yml
Due: none

chore: consolidate coverage reports
  api/build_scripts/coverage_reports.py
  client/build_scripts/coverage_reports.py
  mcp/build_scripts/coverage_reports.py
  plugins/evidence/build_scripts/coverage_reports.py
  plugins/sentinel/build_scripts/coverage_reports.py
  plugins/sync/build_scripts/coverage_reports.py
  scripts/howler_coverage_report.py
  scripts/tests/test_coverage_report.py
Due: none

fixes
  ui/src/index.css
  ui/tsconfig.json
Due: lint-staged, bad-ui-imports

Pr review
  api/howler/odm/models/pivot.py
  api/howler/odm/random_data.py
  api/test/unit/odm/test_pivot.py
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/components/elements/hit/related/PivotLink.test.tsx
  ui/src/components/elements/hit/related/pivots/PivotLink.tsx
  ui/src/components/routes/dossiers/PivotForm.tsx
  ui/src/models/entities/generated/Pivot.d.ts
  ui/src/plugins/clue/Provider.tsx
Due: lint-staged, bad-ui-imports

correction from main
  ui/package.json
  ui/pnpm-lock.yaml
Due: lint-staged, bad-ui-imports

unit test corrections
  api/pyproject.toml
  ui/src/plugins/clue/Provider.test.tsx
Due: poetry-check-api, lint-staged, bad-ui-imports

chore: fix sentinel tests
  plugins/sentinel/sentinel/mapping/xdr_alert.py
  plugins/sentinel/test/unit/test_ingest.py
Due: none

chore: fix pyright validation
  api/pyproject.toml
Due: poetry-check-api

fix prs
  ui/src/plugins/clue/Provider.test.tsx
Due: lint-staged, bad-ui-imports

pr feedback
  ui/src/components/app/providers/ParameterProvider.test.tsx
  ui/src/components/app/providers/ParameterProvider.tsx
  ui/src/components/routes/hits/search/shared/HitFilter.test.tsx
  ui/src/components/routes/hits/search/shared/HitFilter.tsx
Due: lint-staged, bad-ui-imports

feat(ui): add ability to disable filters
  ui/src/components/app/providers/ParameterProvider.test.tsx
  ui/src/components/app/providers/ParameterProvider.tsx
  ui/src/components/app/providers/RecordSearchProvider.test.tsx
  ui/src/components/app/providers/RecordSearchProvider.tsx
  ui/src/components/elements/display/ChipPopper.test.tsx
  ui/src/components/elements/display/ChipPopper.tsx
  ui/src/components/routes/hits/search/shared/HitFilter.test.tsx
  ui/src/components/routes/hits/search/shared/HitFilter.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports

Path conditions:
  poetry-check-api: any of: ^api/.*\.(toml|lock)
  poetry-check-client: any of: ^client/.*\.(toml|lock)
  poetry-check-evidence: any of: ^plugins/evidence/.*\.(toml|lock)
  poetry-check-sentinel: any of: ^plugins/sentinel/.*\.(toml|lock)
  lint-staged: any of: ^ui/.*
  bad-ui-imports: any of: ^ui/.*
