Repository CybercentreCanada/howler: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check-api, poetry-check-client, poetry-check-evidence, poetry-check-sentinel, lint-staged, bad-ui-imports

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - commit-msg

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.8.0
    hooks:
      # Run the linter.
      - id: ruff
        name: Ruff Linting
        args: [--fix, --output-format=concise]
      # Run the formatter.
      - id: ruff-format
        name: Ruff Formatting
  # - repo: https://github.com/compilerla/conventional-pre-commit
  #   rev: v4.3.0
  #   hooks:
  #     - id: conventional-pre-commit
  #       stages: [commit-msg]
  - repo: local
    hooks:
      - id: poetry-check-api
        name: poetry-check-api
        entry: hooks/check_poetry.sh
        args: [api]
        language: script
        stages: [pre-commit]
        files: ^api/.*\.(toml|lock)
      - id: poetry-check-client
        name: Poetry Check (client)
        entry: hooks/check_poetry.sh
        args: [client]
        language: script
        stages: [pre-commit]
        files: ^client/.*\.(toml|lock)
      - id: poetry-check-evidence
        name: Poetry Check (Evidence Plugin)
        entry: hooks/check_poetry.sh
        args: [plugins/evidence]
        language: script
        stages: [pre-commit]
        files: ^plugins/evidence/.*\.(toml|lock)
      - id: poetry-check-sentinel
        name: Poetry Check (Sentinel Plugin)
        entry: hooks/check_poetry.sh
        args: [plugins/sentinel]
        language: script
        stages: [pre-commit]
        files: ^plugins/sentinel/.*\.(toml|lock)
      - id: lint-staged
        name: lint-staged
        entry: ui/build_scripts/lint_staged.sh
        language: script
        stages: [pre-commit]
        files: ^ui/.*
      - id: bad-ui-imports
        name: Check for bad UI imports
        entry: ui/build_scripts/find_bad_imports.py
        language: python
        stages: [pre-commit]
        files: ^ui/.*
      - id: check-commit-msg
        name: Validate Commit Message
        entry: hooks/commit-msg.py
        language: python
        stages: [commit-msg]
        additional_dependencies: ["conventional-pre-commit", "rich"]
        verbose: true

A bit more info
  hooks/commit-msg.py
Due: none

Added a PR title check
  .github/workflows/pr-title-check.yml
Due: none

style: added new commit style enforcement
  .github/workflows/pr-title-check.yml
  hooks/commit-msg.py
Due: none

style: fix pr title check
  .github/workflows/pr-title-check.yml
Due: none

feat: add custom rationale form
  api/howler/odm/models/analytic.py
  ui/src/components/routes/analytics/TriageSettings.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
  ui/src/models/entities/generated/TriageSettings.d.ts
Due: lint-staged, bad-ui-imports

implement the rationale modal
  ui/src/components/elements/display/modals/RationaleModal.tsx
Due: lint-staged, bad-ui-imports

completed rationale modal
  ui/src/components/elements/display/modals/RationaleModal.test.tsx
  ui/src/components/elements/display/modals/RationaleModal.tsx
  ui/src/tests/server-handlers.ts
Due: lint-staged, bad-ui-imports

pr feedback
  ui/src/components/app/providers/HitSearchProvider.tsx
Due: lint-staged, bad-ui-imports

fix: improved error reporting of howler action button in markdown
  ui/src/components/elements/display/ActionButton.tsx
  ui/src/components/elements/display/handlebars/helpers.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports

refactor(ui): first draft template improvements
  .vscode/settings.json
  api/howler/api/v1/template.py
  api/howler/cronjobs/template_migration.py
  api/howler/odm/models/template.py
  ui/src/api/template/index.ts
  ui/src/components/app/App.tsx
  ui/src/components/elements/SaveButton.tsx
  ui/src/components/elements/display/DocumentationButton.tsx
  ui/src/components/elements/hit/outlines/DefaultOutline.tsx
  ui/src/components/hooks/useMySitemap.tsx
  ui/src/components/routes/analytics/AnalyticTemplates.tsx
  ui/src/components/routes/dossiers/DossierEditor.tsx
  ui/src/components/routes/dossiers/validator.ts
  ui/src/components/routes/help/markdown/en/templates.md
  ui/src/components/routes/help/markdown/fr/templates.md
  ui/src/components/routes/templates/TemplateEditor.tsx
  ui/src/components/routes/templates/TemplateViewer.tsx
  ui/src/components/routes/templates/Templates.tsx
  ui/src/components/routes/views/ViewComposer.tsx
  ui/src/models/entities/generated/Template.d.ts
  ui/src/utils/react.ts
Due: lint-staged, bad-ui-imports

chore: fix pr title check
  .github/workflows/pr-title-check.yml
Due: none

pr feedback
  ui/src/components/routes/analytics/TriageSettings.tsx
Due: lint-staged, bad-ui-imports

feat(ui,api): add preset rationale configuration to howler analytics (#129)
  api/howler/odm/models/analytic.py
  ui/src/components/app/providers/HitSearchProvider.tsx
  ui/src/components/elements/display/modals/RationaleModal.test.tsx
  ui/src/components/elements/display/modals/RationaleModal.tsx
  ui/src/components/routes/analytics/TriageSettings.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
  ui/src/models/entities/generated/TriageSettings.d.ts
  ui/src/tests/server-handlers.ts
Due: lint-staged, bad-ui-imports

feat(ui): Adding documentation editor plugin
  ui/src/components/routes/help/ClientDocumentation.tsx
  ui/src/index.tsx
  ui/src/plugins/HowlerPlugin.ts
  ui/src/utils/utils.ts
Due: lint-staged, bad-ui-imports

Made plugins for documentations
  ui/src/components/routes/help/AuthDocumentation.tsx
  ui/src/components/routes/help/NotebookDocumentation.tsx
  ui/src/components/routes/help/RetentionDocumentation.tsx
  ui/src/components/routes/help/TemplateDocumentation.tsx
  ui/src/components/routes/help/ViewDocumentation.tsx
  ui/src/index.tsx
Due: lint-staged, bad-ui-imports

feat(api): allow custom cert specification to elastic client
  api/howler/datastore/collection.py
  api/howler/datastore/store.py
Due: none

style(api): add logging
  api/howler/datastore/store.py
Due: none

feat(api): allow specification of cert fingerprint to elasticsearch client
  api/howler/datastore/store.py
  api/howler/odm/models/config.py
Due: none

Fixing linter
  ui/src/index.tsx
Due: lint-staged, bad-ui-imports

Added specific route checking within plugin
  ui/src/index.tsx
Due: lint-staged, bad-ui-imports

Removed template plugin
  ui/src/index.tsx
Due: lint-staged, bad-ui-imports

feat(ui): added documentation editing plugin to return hello world (#134)
  ui/src/components/routes/help/AuthDocumentation.tsx
  ui/src/components/routes/help/ClientDocumentation.tsx
  ui/src/components/routes/help/NotebookDocumentation.tsx
  ui/src/components/routes/help/RetentionDocumentation.tsx
  ui/src/components/routes/help/TemplateDocumentation.tsx
  ui/src/components/routes/help/ViewDocumentation.tsx
  ui/src/plugins/HowlerPlugin.ts
  ui/src/utils/utils.ts
Due: lint-staged, bad-ui-imports

Updated package version
  ui/package.json
  ui/pnpm-lock.yaml
Due: lint-staged, bad-ui-imports

Changes get_classification to respect HWL_CONF_FOLDER if set, otherwise defaults to original location.
  api/howler/common/loader.py
Due: none

Changes get_classification to respect HWL_CONF_FOLDER if set, otherwise defaults to original location. (#135)
  api/howler/common/loader.py
Due: none

feat(ui): added howler.score as a valid sort field
  ui/src/components/routes/hits/search/shared/HitSort.tsx
Due: lint-staged, bad-ui-imports

modify title check
  .github/workflows/pr-title-check.yml
Due: none

feat(ui): added howler.score as a valid sort field (#138)
  .github/workflows/pr-title-check.yml
  ui/src/components/routes/hits/search/shared/HitSort.tsx
Due: lint-staged, bad-ui-imports

chore(ci): add dependabot config
  .github/dependabot.yml
  hooks/commit-msg.py
Due: none

chore: release notes
  docs/RELEASES.md
Due: none

chore(ci): changes to dependabot config
  .github/dependabot.yml
Due: none

Bump versions post-release
  api/pyproject.toml
  ui/package.json
Due: poetry-check-api, lint-staged, bad-ui-imports

Demo docker compose (#126)
  demo/README.md
  demo/docker-compose.yml
  demo/nginx.conf
Due: none
