Repository CybercentreCanada/howler: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check-api, poetry-check-client, poetry-check-evidence, poetry-check-sentinel, lint-staged, bad-ui-imports

poetry-check-api:
  name: poetry-check-api
  entry: hooks/check_poetry.sh
  args:
  - api
  language: script
  stages:
  - pre-commit

poetry-check-client:
  name: Poetry Check (client)
  entry: hooks/check_poetry.sh
  args:
  - client
  language: script
  stages:
  - pre-commit

poetry-check-evidence:
  name: Poetry Check (Evidence Plugin)
  entry: hooks/check_poetry.sh
  args:
  - plugins/evidence
  language: script
  stages:
  - pre-commit

poetry-check-sentinel:
  name: Poetry Check (Sentinel Plugin)
  entry: hooks/check_poetry.sh
  args:
  - plugins/sentinel
  language: script
  stages:
  - pre-commit

lint-staged:
  name: lint-staged
  entry: ui/build_scripts/lint_staged.sh
  language: script
  stages:
  - pre-commit

bad-ui-imports:
  name: Check for bad UI imports
  entry: ui/build_scripts/find_bad_imports.py
  language: python
  stages:
  - pre-commit

more cleanup
  ui/src/components/app/App.tsx
  ui/src/components/app/providers/AvatarProvider.tsx
  ui/src/components/app/providers/LocalStorageProvider.tsx
Due: lint-staged, bad-ui-imports

feat(api): generate index mappings from Pydantic schemas
  .github/copilot-instructions.md
  api/howler/datastore/collection.py
  api/howler/datastore/howler_store.py
  api/howler/datastore/store.py
  api/howler/datastore/support/schemas.py
  api/howler/models/extensions.py
  api/howler/models/fields.py
  api/howler/models/registry.py
  api/howler/models/schema.py
  api/howler/models/schema_defaults.py
  api/howler/odm/contract.py
  api/howler/plugins/config.py
  api/test/integration/test_schema_collection.py
  api/test/unit/models/test_extensions.py
  api/test/unit/models/test_fields.py
  api/test/unit/models/test_schema.py
  api/test/unit/odm/fixtures/odm_contract_inventory.json
  api/test/unit/test_ilm_collection.py
  api/test/unit/test_plugin_config.py
  api/test/unit/test_schema_collection.py
  plugins/evidence/evidence/manifest.yml
  plugins/evidence/pyproject.toml
  plugins/sentinel/pyproject.toml
  plugins/sentinel/sentinel/manifest.yml
Due: poetry-check-evidence, poetry-check-sentinel

merge working?
  ui/src/components/app/App.tsx
Due: lint-staged, bad-ui-imports

Revert "0 is a number"
  api/howler/services/dossier_service.py
  api/test/integration/service/test_dossier_service.py
  ui/src/tests/DossierGroupValidation.test.ts
  ui/src/utils/pivotGroupValidation.ts
Due: lint-staged, bad-ui-imports

correction
  api/howler/services/dossier_service.py
  api/test/integration/service/test_dossier_service.py
  ui/src/components/app/providers/PivotGroupProvider.tsx
  ui/src/components/elements/hit/PivotGroupMenuItem.tsx
  ui/src/components/elements/hit/related/RelatedLink.tsx
  ui/src/components/routes/dossiers/PivotForm.tsx
  ui/src/tests/DossierGroupValidation.test.ts
  ui/src/tests/pivotForest.test.ts
  ui/src/utils/pivotForest.ts
  ui/src/utils/pivotGroupValidation.ts
Due: lint-staged, bad-ui-imports

corrected duplication bug
  ui/src/api/dossier/groups.ts
  ui/src/components/elements/hit/HitLinks.test.tsx
  ui/src/components/elements/hit/HitLinks.tsx
  ui/src/components/elements/hit/PivotGroupMenuItem.test.tsx
  ui/src/components/elements/hit/related/PivotFolderMenu.tsx
  ui/src/tests/pivotGroupValidation.test.ts
  ui/src/utils/pivotForest.ts
Due: lint-staged, bad-ui-imports

pr review
  api/howler/services/dossier_service.py
  api/test/integration/service/test_dossier_service.py
  ui/src/components/elements/hit/related/PivotLink.tsx
  ui/src/utils/pivotGroupValidation.ts
Due: lint-staged, bad-ui-imports

added auto-complete for pivot group
  api/howler/api/v1/dossier.py
  api/howler/services/dossier_service.py
  ui/src/api/dossier/index.ts
  ui/src/components/routes/dossiers/PivotForm.tsx
Due: lint-staged, bad-ui-imports

corrected id
  ui/src/components/elements/hit/PivotGroupMenuItem.tsx
Due: lint-staged, bad-ui-imports

moved button location
  ui/src/components/elements/hit/PivotGroupMenuItem.tsx
  ui/src/components/hooks/useMyPreferences.tsx
Due: lint-staged, bad-ui-imports

pr review
  api/howler/services/dossier_service.py
  ui/src/components/elements/hit/related/PivotFolderMenu.test.tsx
  ui/src/components/elements/hit/related/PivotFolderMenu.tsx
Due: lint-staged, bad-ui-imports

cleaned up
  api/howler/api/v1/dossier.py
Due: none

fixes/tweaks
  ui/src/components/app/providers/AvatarProvider.tsx
  ui/src/components/elements/display/ItemManager.tsx
  ui/src/components/elements/record/RecordComments.tsx
  ui/src/components/routes/analytics/AnalyticHitComments.tsx
Due: lint-staged, bad-ui-imports

more fixes
  .github/copilot-instructions.md
  ui/src/api/action/index.ts
  ui/src/components/app/providers/ViewProvider.tsx
  ui/src/components/elements/display/json/JSONViewer.tsx
  ui/src/components/elements/hit/HitOutline.tsx
  ui/src/components/elements/hit/grid/RecordTable.tsx
  ui/src/components/elements/record/RecordContextMenu.tsx
  ui/src/components/elements/search/FuzzySearchBar.tsx
  ui/src/components/hooks/useLocalStorage.ts
  ui/src/components/hooks/useLocalStorageItem.test.tsx
  ui/src/components/hooks/useLocalStorageItem.tsx
  ui/src/components/hooks/useMyLocalStorage.ts
  ui/src/components/routes/action/view/ActionDetails.tsx
  ui/src/components/routes/analytics/AnalyticHitComments.tsx
  ui/src/components/routes/cases/detail/CaseSearch.tsx
  ui/src/components/routes/hits/search/SearchPane.tsx
  ui/src/components/routes/hits/search/grid/RecordGrid.tsx
  ui/src/components/routes/hits/view/HitViewer.tsx
  ui/src/components/routes/views/Views.tsx
Due: lint-staged, bad-ui-imports

partial: step 7 implementation
  .github/copilot-instructions.md
  api/build_scripts/generate_odm_contract.py
  api/howler/api/__init__.py
  api/howler/api/v1/analytic.py
  api/howler/api/v1/auth.py
  api/howler/api/v1/hit.py
  api/howler/api/v1/search.py
  api/howler/api/v2/search.py
  api/howler/cronjobs/view_cleanup.py
  api/howler/datastore/bulk.py
  api/howler/datastore/collection.py
  api/howler/datastore/howler_store.py
  api/howler/datastore/operations.py
  api/howler/datastore/store.py
  api/howler/datastore/support/elastic.py
  api/howler/datastore/utils.py
  api/howler/models/__init__.py
  api/howler/models/base.py
  api/howler/models/extensions.py
  api/howler/services/analytic_service.py
  api/howler/services/case_service.py
  api/howler/services/correlation_service.py
  api/howler/services/fuzzy_service.py
  api/howler/services/hit_service.py
  api/howler/services/lucene_service.py
  api/howler/services/search_service.py
  api/test/integration/plugins/test_odm_modification.py
  api/test/unit/models/test_base.py
  api/test/unit/models/test_extensions.py
  api/test/unit/services/test_case_service.py
  api/test/unit/services/test_correlation_service.py
  api/test/unit/services/test_lucene_service.py
  api/test/unit/services/test_step7_runtime_compat.py
  api/test/unit/test_bulk.py
  api/test/unit/test_datastore_utils.py
  api/test/unit/test_ilm_collection.py
  api/test/unit/test_ilm_config.py
  api/test/unit/test_response_functions.py
  plan.md
Due: none

fix(mcp): fixed mcp timeouts in httpx
  .github/copilot-instructions.md
  docs/RELEASES.md
  mcp/README.md
  mcp/docker-compose.yml
  mcp/howler_mcp/api.py
  mcp/howler_mcp/config.py
  mcp/howler_mcp/server.py
  mcp/pyproject.toml
  mcp/test/test_api.py
  mcp/test/test_server.py
Due: none

fix(mcp): fixed mcp timeouts in httpx (#583)
  .github/copilot-instructions.md
  docs/RELEASES.md
  mcp/README.md
  mcp/docker-compose.yml
  mcp/howler_mcp/api.py
  mcp/howler_mcp/config.py
  mcp/howler_mcp/server.py
  mcp/pyproject.toml
  mcp/test/test_api.py
  mcp/test/test_server.py
Due: none

fix(api): added logging for encryption key mismatch error
  api/howler/services/action_service.py
  api/pyproject.toml
  api/test/unit/services/test_enqueue_action.py
  docs/RELEASES.md
Due: poetry-check-api

fix(api): reconfigured action batch processor to better handle poorly decrypted tokens
  api/howler/services/action_service.py
  api/test/unit/services/test_enqueue_action.py
Due: none

chore: update dependabot config to do one python pr across directories
  .github/dependabot.yml
Due: none

chore: update vscode settings
  .vscode/settings.json
Due: none

chore: bump versions post release
  api/pyproject.toml
  client/pyproject.toml
  ui/package.json
Due: poetry-check-api, poetry-check-client, lint-staged, bad-ui-imports

chore: update to proper release version
  docs/RELEASES.md
Due: none

feat: Added lucene query capability and better logins (#549)
  .github/workflows/mcp-workflow.yml
  .gitignore
  .pre-commit-config.yaml
  mcp/README.md
  mcp/build_scripts/coverage_reports.py
  mcp/build_scripts/run_tests.py
  mcp/diag_auth_check.json
  mcp/docker-compose.yml
  mcp/howler_mcp/api.py
  mcp/howler_mcp/auth.py
  mcp/howler_mcp/config.py
  mcp/howler_mcp/prompts.py
  mcp/howler_mcp/server.py
  mcp/howler_mcp/tools.py
  mcp/poetry.lock
  mcp/pyproject.toml
  mcp/requirements-main.txt
  mcp/test/api_unit_test.py
  mcp/test/network_connection_test.py
  mcp/test/test_api.py
  mcp/test/test_auth.py
  mcp/test/test_config.py
  mcp/test/test_network.py
  mcp/test/test_prompts.py
  mcp/test/test_server.py
  mcp/test/test_tools.py
  mcp/test/tools_unit_test.py
  pyrightconfig.json
Due: none

fix(mcp): allow kubernetes/docker-compose urls to be http
  mcp/howler_mcp/config.py
Due: none

fix(mcp): updated mcp config check
  mcp/howler_mcp/config.py
  mcp/test/test_config.py
Due: none

feat(plugins,api): create a plugin providing diffs and schema routes for sync (#502)
  api/howler/api/v1/utils/params.py
  api/howler/odm/base.py
  api/howler/odm/models/case.py
  api/howler/odm/models/howler_data.py
  api/howler/odm/models/record.py
  api/test/unit/odm/test_as_primitives.py
  api/test/unit/utils/test_params.py
  plugins/sync/.coveragerc.pytest
  plugins/sync/.gitignore
  plugins/sync/LICENSE
  plugins/sync/README.md
  plugins/sync/build_scripts/coverage_reports.py
  plugins/sync/build_scripts/run_tests.py
  plugins/sync/build_scripts/set_version.py
  plugins/sync/build_scripts/type_check.py
  plugins/sync/dummy.py
  plugins/sync/poetry.lock
  plugins/sync/poetry.toml
  plugins/sync/pyproject.toml
  plugins/sync/pytest.ini
  plugins/sync/setup.cfg
  plugins/sync/sync/__init__.py
  plugins/sync/sync/config.py
  plugins/sync/sync/iceberg/build.py
  plugins/sync/sync/iceberg/mappings.py
  plugins/sync/sync/manifest.yml
  plugins/sync/sync/odm/__init__.py
  plugins/sync/sync/routes/__init__.py
  plugins/sync/sync/routes/sync.py
  plugins/sync/sync/services/sync_service.py
  plugins/sync/sync/utils/parsers.py
  plugins/sync/test/conftest.py
  plugins/sync/test/integration/test_sync.py
  plugins/sync/test/unit/iceberg/test_build_schema.py
  plugins/sync/test/unit/sync_service/test_get_upserted_hits.py
  plugins/sync/test/unit/utils/test_parsers.py
Due: none

fix(mcp): additional mcp auth logging
  mcp/README.md
  mcp/docker-compose.yml
  mcp/howler_mcp/api.py
  mcp/howler_mcp/auth_logging.py
  mcp/howler_mcp/config.py
  mcp/howler_mcp/server.py
  mcp/test/test_auth_logging.py
  mcp/test/test_config.py
Due: none

fix(mcp): allow configurable iconify server
  mcp/howler_mcp/config.py
  mcp/howler_mcp/tools.py
  mcp/test/test_config.py
Due: none

feat(client): add support for refresh param (#565)
  client/howler_client/module/hit.py
  client/howler_client/module/user.py
  client/howler_client/module/v2/case.py
  client/howler_client/module/v2/ingest.py
  client/test/integration/test_refresh.py
Due: none

fix(mcp): improve request logging
  mcp/howler_mcp/auth_logging.py
  mcp/howler_mcp/request_logging.py
  mcp/howler_mcp/server.py
  mcp/test/test_request_logging.py
Due: none

feat(mcp): add tool for adding dossiers to a specific hit
  mcp/README.md
  mcp/howler_mcp/api.py
  mcp/howler_mcp/prompts.py
  mcp/howler_mcp/tools.py
  mcp/test/test_prompts.py
  mcp/test/test_tools.py
Due: none

fix(mcp): tightened validation of the dossier
  mcp/README.md
  mcp/howler_mcp/prompts.py
  mcp/howler_mcp/tools.py
  mcp/test/test_tools.py
Due: none

feat(mcp): add a howler link crafter for alert links
  mcp/README.md
  mcp/docker-compose.yml
  mcp/howler_mcp/config.py
  mcp/howler_mcp/prompts.py
  mcp/howler_mcp/tools.py
  mcp/test/test_prompts.py
  mcp/test/test_tools.py
Due: none

fix(api): docker build static folder
  api/Dockerfile
Due: none

feat: added dev helper inside of howler mcp (#563)
  mcp/README.md
  mcp/dev/dev_setup.py
  mcp/howler_mcp/config.py
  mcp/poetry.lock
  mcp/pyproject.toml
  mcp/test/test_dev_setup.py
Due: none

fix(ui): invalidate dossiers with missing detections (#555)
  ui/src/components/elements/display/Modal.tsx
  ui/src/components/elements/display/modals/ConfirmDeleteModal.tsx
  ui/src/components/routes/overviews/OverviewCard.test.tsx
  ui/src/components/routes/overviews/OverviewCard.tsx
  ui/src/components/routes/overviews/Overviews.tsx
  ui/src/components/routes/templates/TemplateCard.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports

Path conditions:
  poetry-check-api: any of: ^api/.*\.(toml|lock)
  poetry-check-client: any of: ^client/.*\.(toml|lock)
  poetry-check-evidence: any of: ^plugins/evidence/.*\.(toml|lock)
  poetry-check-sentinel: any of: ^plugins/sentinel/.*\.(toml|lock)
  lint-staged: any of: ^ui/.*
  bad-ui-imports: any of: ^ui/.*
