Repository CybercentreCanada/howler: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check-api, poetry-check-client, poetry-check-evidence, poetry-check-sentinel, lint-staged, bad-ui-imports

poetry-check-api:
  name: poetry-check-api
  entry: hooks/check_poetry.sh
  args:
  - api
  language: script
  stages:
  - pre-commit

poetry-check-client:
  name: Poetry Check (client)
  entry: hooks/check_poetry.sh
  args:
  - client
  language: script
  stages:
  - pre-commit

poetry-check-evidence:
  name: Poetry Check (Evidence Plugin)
  entry: hooks/check_poetry.sh
  args:
  - plugins/evidence
  language: script
  stages:
  - pre-commit

poetry-check-sentinel:
  name: Poetry Check (Sentinel Plugin)
  entry: hooks/check_poetry.sh
  args:
  - plugins/sentinel
  language: script
  stages:
  - pre-commit

lint-staged:
  name: lint-staged
  entry: ui/build_scripts/lint_staged.sh
  language: script
  stages:
  - pre-commit

bad-ui-imports:
  name: Check for bad UI imports
  entry: ui/build_scripts/find_bad_imports.py
  language: python
  stages:
  - pre-commit

feat(api): allow specification of cert fingerprint to elasticsearch client
  api/howler/datastore/store.py
  api/howler/odm/models/config.py
Due: none

style(api): add logging
  api/howler/datastore/store.py
Due: none

feat(ui): added documentation editing plugin to return hello world (#134)
  ui/src/components/routes/help/AuthDocumentation.tsx
  ui/src/components/routes/help/ClientDocumentation.tsx
  ui/src/components/routes/help/NotebookDocumentation.tsx
  ui/src/components/routes/help/RetentionDocumentation.tsx
  ui/src/components/routes/help/TemplateDocumentation.tsx
  ui/src/components/routes/help/ViewDocumentation.tsx
  ui/src/plugins/HowlerPlugin.ts
  ui/src/utils/utils.ts
Due: lint-staged, bad-ui-imports

feat(ui): added howler.score as a valid sort field (#138)
  .github/workflows/pr-title-check.yml
  ui/src/components/routes/hits/search/shared/HitSort.tsx
Due: lint-staged, bad-ui-imports

Changes get_classification to respect HWL_CONF_FOLDER if set, otherwise defaults to original location. (#135)
  api/howler/common/loader.py
Due: none

chore(ci): add dependabot config
  .github/dependabot.yml
  hooks/commit-msg.py
Due: none

chore: release notes
  docs/RELEASES.md
Due: none

chore(ci): changes to dependabot config
  .github/dependabot.yml
Due: none

chore(ci): remove flake8
  .vscode/settings.json
  api/.flake8
  api/poetry.lock
  api/pyproject.toml
  client/.flake8
  plugins/evidence/.flake8
  plugins/sentinel/.flake8
Due: poetry-check-api

chore(ui,api): bump versions post-release
  api/pyproject.toml
  ui/package.json
Due: poetry-check-api, lint-staged, bad-ui-imports

Added include by function
  ui/src/components/routes/hits/search/HitContextMenu.tsx
Due: lint-staged, bad-ui-imports

Fixed styling of components
  ui/src/components/routes/hits/search/HitContextMenu.tsx
Due: lint-staged, bad-ui-imports

Fixing up translations and comments
  ui/src/components/routes/hits/search/HitContextMenu.tsx
  ui/src/locales/en/translation.json
Due: lint-staged, bad-ui-imports

fix(ui): add missing localization, malformed lucene query
  docs/RELEASES.md
  ui/package.json
  ui/src/components/elements/display/modals/RationaleModal.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports

fix: unit tests
  ui/src/components/elements/display/modals/RationaleModal.test.tsx
Due: lint-staged, bad-ui-imports

chore: small type fix
  api/howler/services/hit_service.py
Due: none

fix: more evil version updates
  .vscode/settings.json
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/components/app/providers/HitSearchProvider.tsx
Due: lint-staged, bad-ui-imports

fix: more evil version updates
  ui/package.json
  ui/pnpm-lock.yaml
Due: lint-staged, bad-ui-imports

fix: pin react-router to 6.30.1
  ui/package.json
Due: lint-staged, bad-ui-imports

chore: bump patch version
  ui/package.json
Due: lint-staged, bad-ui-imports

chore: commit pnpm lockfile
  ui/pnpm-lock.yaml
Due: lint-staged, bad-ui-imports

chore: fix publish step
  .github/workflows/ui-workflow.yml
Due: none

fix: ui publishing again
  .github/workflows/ui-workflow.yml
Due: none

ci: add oidc claims debugger
  .github/workflows/ui-workflow.yml
Due: none

ci: force publish step to npm instead of pnpm publish
  .github/workflows/ui-workflow.yml
Due: none

fix(ui): fixed issue with closing information pane
  ui/package.json
  ui/src/components/app/providers/ParameterProvider.tsx
Due: lint-staged, bad-ui-imports

fix: more evil version updates
  .vscode/settings.json
  ui/pnpm-lock.yaml
  ui/src/components/app/providers/HitSearchProvider.tsx
Due: lint-staged, bad-ui-imports

ci: update pr-title-check
  .github/workflows/pr-title-check.yml
Due: none

Path conditions:
  poetry-check-api: any of: ^api/.*\.(toml|lock)
  poetry-check-client: any of: ^client/.*\.(toml|lock)
  poetry-check-evidence: any of: ^plugins/evidence/.*\.(toml|lock)
  poetry-check-sentinel: any of: ^plugins/sentinel/.*\.(toml|lock)
  lint-staged: any of: ^ui/.*
  bad-ui-imports: any of: ^ui/.*
