Repository CybercentreCanada/howler: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check-api, poetry-check-client, poetry-check-evidence, poetry-check-sentinel, lint-staged, bad-ui-imports

poetry-check-api:
  name: poetry-check-api
  entry: hooks/check_poetry.sh
  args:
  - api
  language: script
  stages:
  - pre-commit

poetry-check-client:
  name: Poetry Check (client)
  entry: hooks/check_poetry.sh
  args:
  - client
  language: script
  stages:
  - pre-commit

poetry-check-evidence:
  name: Poetry Check (Evidence Plugin)
  entry: hooks/check_poetry.sh
  args:
  - plugins/evidence
  language: script
  stages:
  - pre-commit

poetry-check-sentinel:
  name: Poetry Check (Sentinel Plugin)
  entry: hooks/check_poetry.sh
  args:
  - plugins/sentinel
  language: script
  stages:
  - pre-commit

lint-staged:
  name: lint-staged
  entry: ui/build_scripts/lint_staged.sh
  language: script
  stages:
  - pre-commit

bad-ui-imports:
  name: Check for bad UI imports
  entry: ui/build_scripts/find_bad_imports.py
  language: python
  stages:
  - pre-commit

Changed to use howler.related
  api/howler/api/v2/case.py
Due: none

Removed cases from ECS related odm
  api/howler/odm/models/ecs/related.py
Due: none

Add alert to case (#206)
  api/howler/api/v2/case.py
  api/howler/odm/base.py
  api/howler/odm/helper.py
  api/howler/odm/models/case.py
  api/howler/odm/models/ecs/related.py
  api/howler/odm/random_data.py
Due: none

More fixes
  api/howler/api/v2/case.py
  api/howler/services/case_service.py
  api/test/unit/endpoints/test_case_endpoint.py
  api/test/unit/odm/test_case.py
  api/test/unit/services/test_case_service.py
Due: none

Added overview editing
  ui/src/components/elements/MarkdownEditor.tsx
  ui/src/components/routes/cases/detail/CaseAggregate.tsx
  ui/src/components/routes/cases/detail/CaseDashboard.tsx
  ui/src/components/routes/cases/detail/CaseOverview.tsx
  ui/src/components/routes/overviews/OverviewViewer.tsx
Due: lint-staged, bad-ui-imports

Add alert to case (#206)
  api/howler/api/v2/case.py
  api/howler/odm/base.py
  api/howler/odm/helper.py
  api/howler/odm/models/case.py
  api/howler/odm/models/ecs/related.py
  api/howler/odm/random_data.py
  api/pyproject.toml
Due: poetry-check-api

Change font color and icons
  ui/src/components/routes/cases/detail/sidebar/CaseFolder.tsx
Due: lint-staged, bad-ui-imports

no id needed
  api/howler/api/v2/case.py
  api/howler/odm/models/case.py
  api/howler/services/case_service.py
  api/test/unit/odm/test_case.py
Due: none

Change case creation, update tests (#207)
  api/howler/api/v2/case.py
  api/howler/odm/models/case.py
  api/howler/services/case_service.py
  api/pyproject.toml
  api/test/unit/endpoints/test_case_endpoint.py
  api/test/unit/odm/test_case.py
  api/test/unit/services/test_case_service.py
Due: poetry-check-api

add missing tests
  api/test/unit/services/test_case_service.py
Due: none

fix
  api/howler/services/case_service.py
  api/test/unit/services/test_case_service.py
Due: none

fix bugs
  api/howler/api/v2/case.py
  api/test/unit/endpoints/test_case_endpoint.py
Due: none

Add missing test (#210)
  api/howler/api/v2/case.py
  api/howler/services/case_service.py
  api/test/unit/endpoints/test_case_endpoint.py
  api/test/unit/services/test_case_service.py
Due: none

Added merging of keys whenever template switched
  ui/src/components/routes/templates/TemplateViewer.tsx
Due: lint-staged, bad-ui-imports

Fixing merge
  .github/workflows/ui-workflow.yml
  .vscode/settings.json
Due: none

Added case service stuff
  api/howler/api/v2/case.py
  api/howler/odm/models/case.py
  api/howler/services/case_service.py
Due: none

Massive updates to Case UI
  api/howler/actions/demote.py
  api/howler/actions/transition.py
  api/howler/api/v2/search.py
  api/howler/helper/hit.py
  api/howler/odm/base.py
  api/howler/odm/constants.py
  api/howler/odm/models/case.py
  api/howler/odm/models/howler_data.py
  api/howler/odm/random_data.py
  api/howler/services/config_service.py
  api/howler/services/hit_service.py
  api/test/integration/api/test_hit_transition.py
  api/test/unit/services/test_action_service.py
  plugins/sentinel/sentinel/actions/update_defender_xdr_alert.py
  plugins/sentinel/sentinel/actions/update_defender_xdr_incident.py
  ui/src/api/v2/search/facet.ts
  ui/src/api/v2/search/index.ts
  ui/src/components/elements/UserList.tsx
  ui/src/components/routes/analytics/AnalyticDetails.tsx
  ui/src/components/routes/cases/CaseViewer.tsx
  ui/src/components/routes/cases/detail/AlertPanel.tsx
  ui/src/components/routes/cases/detail/CaseDashboard.tsx
  ui/src/components/routes/cases/detail/CaseDetails.tsx
  ui/src/components/routes/cases/detail/CaseOverview.tsx
  ui/src/components/routes/cases/detail/CaseSidebar.tsx
  ui/src/components/routes/cases/detail/CaseTask.tsx
  ui/src/components/routes/cases/detail/RelatedCasePanel.tsx
  ui/src/components/routes/cases/detail/TaskPanel.tsx
  ui/src/components/routes/cases/detail/aggregates/CaseAggregate.tsx
  ui/src/components/routes/cases/detail/aggregates/SourceAggregate.tsx
  ui/src/components/routes/cases/hooks/useCase.ts
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
  ui/src/models/entities/generated/Case.d.ts
Due: lint-staged, bad-ui-imports

Merge 209
  ui/src/components/routes/cases/detail/sidebar/CaseFolder.tsx
Due: lint-staged, bad-ui-imports

formatting
  api/howler/odm/base.py
  api/howler/odm/helper.py
  api/howler/odm/models/ecs/related.py
Due: none

type check updates
  api/howler/api/v2/case.py
  api/howler/datastore/collection.py
  api/howler/odm/base.py
Due: none

darkness
  api/howler/api/v2/case.py
Due: none

more type changes
  api/howler/api/v1/action.py
  api/howler/api/v1/analytic.py
Due: none

yet more type changes
  api/howler/api/v1/user.py
Due: none

Moved logic for case item additions to case_service
  api/howler/api/v2/case.py
  api/howler/services/case_service.py
Due: none

moar test fixes
  api/howler/api/v2/ingest.py
  api/howler/datastore/howler_store.py
  api/test/integration/api/test_hit.py
Due: none

Update api/howler/services/case_service.py
  api/howler/services/case_service.py
Due: none

Case service adjustment to move logic out of endpoints (#217)
  api/howler/api/v2/case.py
  api/howler/services/case_service.py
Due: none

stablize type functionality
  api/howler/api/v2/case.py
  api/howler/services/case_service.py
Due: none

formatting
  api/howler/api/v2/case.py
Due: none

re-add hitbanner
  ui/src/components/routes/hits/search/InformationPane.tsx
Due: lint-staged, bad-ui-imports

case overloads
  api/howler/services/case_service.py
  api/test/unit/services/test_case_service.py
Due: none

fix informationpane again
  ui/src/components/elements/hit/HitBanner.tsx
  ui/src/components/routes/hits/search/InformationPane.tsx
Due: lint-staged, bad-ui-imports

case overloads (#218)
  api/howler/services/case_service.py
  api/test/unit/services/test_case_service.py
Due: none

hit summary fixes
  api/build_scripts/run_tests.py
  api/howler/odm/models/case.py
  ui/src/components/elements/hit/HitBanner.tsx
  ui/src/components/routes/cases/detail/CaseTask.tsx
  ui/src/components/routes/cases/detail/TaskPanel.tsx
  ui/src/locales/en/translation.json
Due: lint-staged, bad-ui-imports

omit killed case
  api/test/integration/api/test_analytic.py
Due: none

more tweaks,cleanup
  ui/src/components/routes/cases/detail/CaseTask.tsx
  ui/src/components/routes/cases/detail/RelatedCasePanel.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports

convert observable
  api/howler/api/v2/ingest.py
  api/howler/services/hit_service.py
Due: none

formatting
  api/howler/api/v2/ingest.py
Due: none

cases demo script, bug fix frontend
  api/howler/services/case_service.py
  demo/.gitignore
  demo/scripts/cases/create_phishing_case.py
  ui/src/components/routes/cases/detail/CaseDashboard.tsx
Due: lint-staged, bad-ui-imports

yet more fixes
  api/build_scripts/run_tests.py
  api/howler/api/v1/__init__.py
  api/howler/api/v2/__init__.py
  api/howler/api/v2/case.py
  api/howler/services/docs_service.py
  ui/src/components/routes/cases/detail/CaseTask.tsx
Due: lint-staged, bad-ui-imports

Path conditions:
  poetry-check-api: any of: ^api/.*\.(toml|lock)
  poetry-check-client: any of: ^client/.*\.(toml|lock)
  poetry-check-evidence: any of: ^plugins/evidence/.*\.(toml|lock)
  poetry-check-sentinel: any of: ^plugins/sentinel/.*\.(toml|lock)
  lint-staged: any of: ^ui/.*
  bad-ui-imports: any of: ^ui/.*
