Repository CybercentreCanada/howler: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check-api, poetry-check-client, poetry-check-evidence, poetry-check-sentinel, lint-staged, bad-ui-imports

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - commit-msg

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.8.0
    hooks:
      # Run the linter.
      - id: ruff
        name: Ruff Linting
        args: [--fix, --output-format=concise]
      # Run the formatter.
      - id: ruff-format
        name: Ruff Formatting
  # - repo: https://github.com/compilerla/conventional-pre-commit
  #   rev: v4.3.0
  #   hooks:
  #     - id: conventional-pre-commit
  #       stages: [commit-msg]
  - repo: local
    hooks:
      - id: poetry-check-api
        name: poetry-check-api
        entry: hooks/check_poetry.sh
        args: [api]
        language: script
        stages: [pre-commit]
        files: ^api/.*\.(toml|lock)
      - id: poetry-check-client
        name: Poetry Check (client)
        entry: hooks/check_poetry.sh
        args: [client]
        language: script
        stages: [pre-commit]
        files: ^client/.*\.(toml|lock)
      - id: poetry-check-evidence
        name: Poetry Check (Evidence Plugin)
        entry: hooks/check_poetry.sh
        args: [plugins/evidence]
        language: script
        stages: [pre-commit]
        files: ^plugins/evidence/.*\.(toml|lock)
      - id: poetry-check-sentinel
        name: Poetry Check (Sentinel Plugin)
        entry: hooks/check_poetry.sh
        args: [plugins/sentinel]
        language: script
        stages: [pre-commit]
        files: ^plugins/sentinel/.*\.(toml|lock)
      - id: lint-staged
        name: lint-staged
        entry: ui/build_scripts/lint_staged.sh
        language: script
        stages: [pre-commit]
        files: ^ui/.*
      - id: bad-ui-imports
        name: Check for bad UI imports
        entry: ui/build_scripts/find_bad_imports.py
        language: python
        stages: [pre-commit]
        files: ^ui/.*
      - id: check-commit-msg
        name: Validate Commit Message
        entry: hooks/commit-msg.py
        language: python
        stages: [commit-msg]
        additional_dependencies: ["conventional-pre-commit", "rich"]
        verbose: true

feat(ui): fixed case search, added additional filters
  ui/src/components/routes/cases/Cases.tsx
  ui/src/components/routes/cases/constants.ts
  ui/src/components/routes/cases/search/CaseAssigneeFilter.test.tsx
  ui/src/components/routes/cases/search/CaseAssigneeFilter.tsx
  ui/src/components/routes/cases/search/CaseDateFilter.test.tsx
  ui/src/components/routes/cases/search/CaseDateFilter.tsx
  ui/src/components/routes/cases/search/CaseStatusFilter.test.tsx
  ui/src/components/routes/cases/search/CaseStatusFilter.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
  ui/src/utils/constants.tsx
Due: lint-staged, bad-ui-imports

start work on bundle backwards compatibility
  api/howler/actions/add_to_bundle.py
  api/howler/actions/remove_from_bundle.py
  api/howler/api/v1/hit.py
  api/howler/api/v1/tool.py
  api/howler/services/bundle_compat_service.py
  plugins/sentinel/sentinel/routes/ingest.py
  plugins/sentinel/test/unit/test_ingest.py
Due: none

pr feedback
  ui/src/components/routes/cases/detail/CaseTimeline.test.tsx
  ui/src/components/routes/cases/detail/CaseTimeline.tsx
Due: lint-staged, bad-ui-imports

feat(ui): display mitre tactic/technique in case timeline (#305)
  ui/src/components/routes/cases/detail/CaseTimeline.test.tsx
  ui/src/components/routes/cases/detail/CaseTimeline.tsx
Due: lint-staged, bad-ui-imports

pr feedback
  ui/src/components/routes/cases/Cases.tsx
Due: lint-staged, bad-ui-imports

fix(ui): ensure embeeded related links in alerts are opened in new tab
  ui/src/components/elements/hit/HitLinks.tsx
Due: lint-staged, bad-ui-imports

feat(ui): fixed case search, added additional filters (#306)
  ui/src/components/routes/cases/Cases.tsx
  ui/src/components/routes/cases/constants.ts
  ui/src/components/routes/cases/search/CaseAssigneeFilter.test.tsx
  ui/src/components/routes/cases/search/CaseAssigneeFilter.tsx
  ui/src/components/routes/cases/search/CaseDateFilter.test.tsx
  ui/src/components/routes/cases/search/CaseDateFilter.tsx
  ui/src/components/routes/cases/search/CaseStatusFilter.test.tsx
  ui/src/components/routes/cases/search/CaseStatusFilter.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
  ui/src/utils/constants.tsx
Due: lint-staged, bad-ui-imports

Revert change; Use Chip instead of IconButton
  ui/src/components/elements/hit/HitBanner.tsx
Due: lint-staged, bad-ui-imports

style: apply prettier formatting
  ui/src/components/hooks/useMySitemap.tsx
  ui/src/components/routes/action/view/markdown/integrations.en.md
  ui/src/components/routes/action/view/markdown/integrations.fr.md
  ui/src/components/routes/help/markdown/en/retention.md
  ui/src/components/routes/help/markdown/fr/retention.md
  ui/src/components/routes/home/AddNewCard.tsx
  ui/src/components/routes/overviews/template/en.md
  ui/src/components/routes/overviews/template/fr.md
  ui/src/utils/menuUtils.ts
Due: lint-staged, bad-ui-imports

Add action runner basic and advanced roles
  api/howler/actions/add_label.py
  api/howler/actions/add_to_bundle.py
  api/howler/actions/change_field.py
  api/howler/actions/demote.py
  api/howler/actions/example_plugin.py
  api/howler/actions/prioritization.py
  api/howler/actions/promote.py
  api/howler/actions/remove_from_bundle.py
  api/howler/actions/remove_label.py
  api/howler/actions/transition.py
  api/howler/api/v1/action.py
  api/howler/common/loader.py
  api/howler/odm/models/user.py
Due: none

Fix the issues with role checking, update tests, docs
  api/howler/actions/__init__.py
  api/test/unit/actions/test_init.py
  api/test/utils/plugins/example_action.py
  documentation/docs/developer/random_data.fr.md
  documentation/docs/developer/random_data.md
  ui/src/components/routes/403.tsx
  ui/src/components/routes/action/edit/ActionEditor.tsx
  ui/src/components/routes/action/view/ActionSearch.tsx
  ui/src/components/routes/help/ActionIntroductionDocumentation.tsx
  ui/src/components/routes/hits/search/HitContextMenu.test.tsx
Due: lint-staged, bad-ui-imports

update the ui components with the actionrunner roles
  api/howler/actions/transition.py
  api/howler/odm/random_data.py
  ui/src/components/app/App.tsx
  ui/src/components/routes/403.tsx
  ui/src/components/routes/action/view/ActionDetails.tsx
  ui/src/components/routes/hits/search/HitContextMenu.tsx
  ui/src/models/entities/generated/ApiType.d.ts
Due: lint-staged, bad-ui-imports

Add safeguards/limits to basic roles
  api/howler/actions/__init__.py
  api/howler/actions/add_label.py
  api/howler/actions/add_to_bundle.py
  api/howler/actions/demote.py
  api/howler/actions/prioritization.py
  api/howler/actions/promote.py
  api/howler/actions/remove_from_bundle.py
  api/howler/actions/remove_label.py
  api/howler/actions/transition.py
  api/test/unit/actions/test_init.py
  docs/api/plugins.md
  documentation/docs/installation/deployment.md
Due: none

Pulling the filters from the parameters generated, and using thta instead of req_data
  api/howler/api/v1/search.py
Due: none

feat(api): add role resolution for oauth groups (#233)
  api/build_scripts/classification.yml
  api/build_scripts/generate_md_docs.py
  api/build_scripts/run_tests.py
  api/build_scripts/run_wrapped.py
  api/build_scripts/type_check.py
  api/howler/api/v1/user.py
  api/howler/common/classification.py
  api/howler/config.py
  api/howler/helper/azure.py
  api/howler/helper/oauth.py
  api/howler/helper/search.py
  api/howler/odm/models/config.py
  api/howler/odm/models/hit.py
  api/howler/odm/models/user.py
  api/howler/odm/random_data.py
  api/howler/odm/randomizer.py
  api/howler/services/jwt_service.py
  api/howler/services/user_service.py
  api/test/classification.yml
  api/test/integration/api/test_access_control.py
  api/test/integration/api/test_actions.py
  api/test/integration/api/test_doc.py
  api/test/integration/api/test_hit.py
  api/test/integration/api/test_hit_transition.py
  api/test/integration/api/test_user.py
  api/test/integration/test_websocket.py
  api/test/unit/endpoints/test_auth_endpoint.py
  api/test/unit/services/test_jwt_service.py
  api/test/unit/services/test_user_service.py
  api/test/unit/test_access_control.py
  api/test/unit/test_common.py
  api/test/unit/test_odm.py
  api/test/unit/utils/test_azure.py
Due: none

Add missing translations. Show all outcomes messages
  ui/src/components/routes/action/useMyActionFunctions.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports

Fix lint, ruff, format issues
  api/howler/actions/__init__.py
  ui/src/components/routes/action/view/ActionSearch.tsx
Due: lint-staged, bad-ui-imports

fix type errors
  api/howler/api/v1/tool.py
  api/howler/api/v2/ingest.py
  api/howler/services/hit_service.py
Due: none

added regression unit tests
  api/build_scripts/run_tests.py
  api/howler/api/v1/hit.py
  api/howler/api/v1/tool.py
  api/howler/odm/models/case.py
  api/howler/services/bundle_compat_service.py
  api/howler/services/case_service.py
  api/test/conftest.py
  api/test/integration/regression/__init__.py
  api/test/integration/regression/test_bundle_regression.py
Due: none

added contract test we can add to develop
  api/test/integration/regression/test_bundle_api_contract.py
Due: none

chore(api): add bundle regression test for case development work
  api/test/integration/regression/test_bundle_api_contract.py
Due: none

harmonized implementation with develop behaviour, added regression tests
  api/howler/api/v1/hit.py
  api/howler/services/bundle_compat_service.py
  api/test/integration/regression/test_bundle_api_contract.py
  api/test/integration/regression/test_bundle_regression.py
Due: none

added observable_service.exists
  api/howler/services/observable_service.py
Due: none

feat(ui): actions - show appropriate message according to outcome (#300)
  ui/src/components/routes/action/useMyActionFunctions.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports

fixed test_case unit test
  api/test/unit/odm/test_case.py
Due: none

pr feedback
  api/howler/api/v2/ingest.py
  api/howler/datastore/collection.py
  api/howler/services/hit_service.py
  api/howler/services/observable_service.py
Due: none

feat(ui): fixed observable details page
  ui/src/components/routes/cases/detail/ItemPage.tsx
  ui/src/components/routes/hits/search/InformationPane.tsx
Due: lint-staged, bad-ui-imports

feat(ui,api): added ability to live edit cases
  api/howler/api/socket.py
  api/howler/odm/helper.py
  api/howler/odm/models/howler_data.py
  api/howler/odm/models/observable.py
  api/howler/services/case_service.py
  api/howler/services/viewer_service.py
  api/howler/utils/socket_utils.py
  api/test/unit/services/test_case_service.py
  api/test/unit/services/test_viewer_service.py
  api/test/unit/test_socket_utils.py
  ui/src/api/index.ts
  ui/src/api/socket/index.ts
  ui/src/api/socket/viewers.test.ts
  ui/src/api/socket/viewers.ts
  ui/src/components/app/providers/SocketProvider.tsx
  ui/src/components/elements/hit/elements/Assigned.test.tsx
  ui/src/components/elements/hit/elements/Assigned.tsx
  ui/src/components/routes/cases/CaseViewer.test.tsx
  ui/src/components/routes/cases/CaseViewer.tsx
  ui/src/components/routes/cases/detail/CaseDetails.tsx
  ui/src/components/routes/cases/detail/CaseTask.tsx
  ui/src/components/routes/cases/hooks/useCase.test.ts
  ui/src/components/routes/cases/hooks/useCase.ts
  ui/src/models/entities/generated/Howler.d.ts
  ui/src/models/entities/generated/ObservableHowler.d.ts
  ui/src/models/socket/CaseUpdate.d.ts
  ui/src/models/socket/ViewersUpdate.d.ts
  ui/src/utils/socketUtils.test.ts
  ui/src/utils/socketUtils.ts
Due: lint-staged, bad-ui-imports

pr feedback
  api/howler/api/v2/ingest.py
  api/howler/services/case_service.py
  api/howler/services/hit_service.py
  api/howler/services/observable_service.py
  api/test/unit/test_socket.py
  ui/src/api/index.ts
  ui/src/api/socket/index.ts
  ui/src/api/socket/viewers.test.ts
  ui/src/api/socket/viewers.ts
  ui/src/components/app/hooks/useTitle.tsx
  ui/src/components/app/providers/SocketProvider.tsx
  ui/src/components/elements/hit/elements/Assigned.test.tsx
  ui/src/components/routes/cases/CaseViewer.test.tsx
  ui/src/components/routes/cases/CaseViewer.tsx
  ui/src/components/routes/cases/detail/CaseDetails.tsx
  ui/src/components/routes/hits/search/InformationPane.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
  ui/src/utils/socketUtils.ts
Due: lint-staged, bad-ui-imports

feat(api): ensure backwards compatibility for existing bundles when migrating to cases (#307)
  api/build_scripts/run_tests.py
  api/howler/actions/add_to_bundle.py
  api/howler/actions/remove_from_bundle.py
  api/howler/api/v1/hit.py
  api/howler/api/v1/tool.py
  api/howler/api/v2/ingest.py
  api/howler/datastore/collection.py
  api/howler/odm/models/case.py
  api/howler/services/bundle_compat_service.py
  api/howler/services/case_service.py
  api/howler/services/hit_service.py
  api/howler/services/observable_service.py
  api/test/conftest.py
  api/test/integration/regression/__init__.py
  api/test/integration/regression/test_bundle_api_contract.py
  api/test/integration/regression/test_bundle_regression.py
  api/test/unit/odm/test_case.py
  plugins/sentinel/sentinel/routes/ingest.py
  plugins/sentinel/test/unit/test_ingest.py
  ui/src/components/routes/cases/Cases.tsx
Due: lint-staged, bad-ui-imports

suggested changes
  ui/src/components/elements/hit/HitBanner.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports

feat: Add possiblity for plugins to register a function that will serve as the plugins' internal health check, to be displayed under /healthz/plugins endpoint
  api/howler/healthz.py
  api/howler/plugins/config.py
Due: none

feat: Add frontend component for plugins and tweaking internal health check to allow setting of importance of plugin for ui purposes
  api/howler/plugins/config.py
  ui/src/commons/components/topnav/AppBar.tsx
  ui/src/components/elements/SystemHealthStatus.test.tsx
  ui/src/components/elements/SystemHealthStatus.tsx
  ui/src/components/elements/display/Classification.tsx
  ui/src/components/hooks/useFetchHealth.test.tsx
  ui/src/components/hooks/useFetchHealth.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports

feat(ui,api): added ability to live edit cases (#317)
  api/howler/api/socket.py
  api/howler/api/v2/ingest.py
  api/howler/odm/helper.py
  api/howler/odm/models/howler_data.py
  api/howler/odm/models/observable.py
  api/howler/services/case_service.py
  api/howler/services/viewer_service.py
  api/howler/utils/socket_utils.py
  api/test/unit/services/test_case_service.py
  api/test/unit/services/test_viewer_service.py
  api/test/unit/test_socket.py
  api/test/unit/test_socket_utils.py
  ui/src/api/index.ts
  ui/src/api/socket/index.ts
  ui/src/api/socket/viewers.test.ts
  ui/src/api/socket/viewers.ts
  ui/src/components/app/hooks/useTitle.tsx
  ui/src/components/app/providers/SocketProvider.tsx
  ui/src/components/elements/hit/elements/Assigned.test.tsx
  ui/src/components/elements/hit/elements/Assigned.tsx
  ui/src/components/routes/cases/CaseViewer.test.tsx
  ui/src/components/routes/cases/CaseViewer.tsx
  ui/src/components/routes/cases/detail/CaseDetails.tsx
  ui/src/components/routes/cases/detail/CaseTask.tsx
  ui/src/components/routes/cases/hooks/useCase.test.ts
  ui/src/components/routes/cases/hooks/useCase.ts
  ui/src/components/routes/hits/search/InformationPane.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
  ui/src/models/entities/generated/Howler.d.ts
  ui/src/models/entities/generated/ObservableHowler.d.ts
  ui/src/models/socket/CaseUpdate.d.ts
  ui/src/models/socket/ViewersUpdate.d.ts
  ui/src/utils/socketUtils.test.ts
  ui/src/utils/socketUtils.ts
Due: lint-staged, bad-ui-imports

fix unit tests
  plugins/sentinel/poetry.lock
  plugins/sentinel/pyproject.toml
Due: poetry-check-sentinel

fix unit tests
  plugins/evidence/poetry.lock
  plugins/evidence/pyproject.toml
Due: poetry-check-evidence

Update PluginImportance functionality
  api/howler/plugins/config.py
Due: none

feat(ui,api): case rules
  api/howler/api/v2/case.py
  api/howler/odm/models/case.py
  api/howler/odm/random_data.py
  api/howler/services/case_service.py
  api/test/integration/api/test_case_rules.py
  api/test/unit/endpoints/test_case_endpoint.py
  api/test/unit/odm/test_case.py
  api/test/unit/services/test_case_service.py
  ui/src/api/v2/case/index.ts
  ui/src/api/v2/case/rules.ts
  ui/src/components/app/App.tsx
  ui/src/components/routes/cases/detail/CaseRules.test.tsx
  ui/src/components/routes/cases/detail/CaseRules.tsx
  ui/src/components/routes/cases/detail/CaseSidebar.test.tsx
  ui/src/components/routes/cases/detail/CaseSidebar.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
  ui/src/models/entities/generated/Rule.d.ts
Due: lint-staged, bad-ui-imports

fix tests
  api/test/integration/api/test_case_rules.py
  api/test/unit/odm/test_case.py
Due: none
