Repository CybercentreCanada/howler: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check-api, poetry-check-client, poetry-check-evidence, poetry-check-sentinel, lint-staged, bad-ui-imports

poetry-check-api:
  name: poetry-check-api
  entry: hooks/check_poetry.sh
  args:
  - api
  language: script
  stages:
  - pre-commit

poetry-check-client:
  name: Poetry Check (client)
  entry: hooks/check_poetry.sh
  args:
  - client
  language: script
  stages:
  - pre-commit

poetry-check-evidence:
  name: Poetry Check (Evidence Plugin)
  entry: hooks/check_poetry.sh
  args:
  - plugins/evidence
  language: script
  stages:
  - pre-commit

poetry-check-sentinel:
  name: Poetry Check (Sentinel Plugin)
  entry: hooks/check_poetry.sh
  args:
  - plugins/sentinel
  language: script
  stages:
  - pre-commit

lint-staged:
  name: lint-staged
  entry: ui/build_scripts/lint_staged.sh
  language: script
  stages:
  - pre-commit

bad-ui-imports:
  name: Check for bad UI imports
  entry: ui/build_scripts/find_bad_imports.py
  language: python
  stages:
  - pre-commit

stremlining code, implementing disabled views as well
  ui/src/components/app/providers/ParameterProvider.test.tsx
  ui/src/components/app/providers/ParameterProvider.tsx
  ui/src/components/app/providers/RecordSearchProvider.test.tsx
  ui/src/components/app/providers/RecordSearchProvider.tsx
  ui/src/components/routes/hits/search/ViewLink.test.tsx
  ui/src/components/routes/hits/search/ViewLink.tsx
  ui/src/components/routes/hits/search/shared/HitFilter.test.tsx
  ui/src/components/routes/hits/search/shared/HitFilter.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports

more parameter stuff
  ui/src/components/app/providers/ParameterProvider.tsx
Due: lint-staged, bad-ui-imports

chore: minor validation change
  api/howler/odm/base.py
Due: none

feat(ui): update tui
  ui/package.json
  ui/pnpm-lock.yaml
  ui/tui/a11y-4.0.10.tgz
  ui/tui/a11y-4.0.12.tgz
  ui/tui/apps-4.0.10.tgz
  ui/tui/apps-4.0.12.tgz
  ui/tui/core-4.0.10.tgz
  ui/tui/core-4.0.12.tgz
  ui/tui/drawer-4.0.10.tgz
  ui/tui/drawer-4.0.12.tgz
Due: lint-staged, bad-ui-imports

chore: i18next update
  ui/package.json
  ui/pnpm-lock.yaml
Due: lint-staged, bad-ui-imports

chore: fix release templates
  .github/workflows/api-workflow.yml
  .github/workflows/client-workflow.yml
  .github/workflows/evidence-plugin-workflow.yml
  .github/workflows/mcp-workflow.yml
  .github/workflows/sentinel-plugin-workflow.yml
  .github/workflows/sync-plugin-workflow.yml
  .github/workflows/ui-workflow.yml
Due: none

pr feedback
  ui/src/components/routes/hits/search/ViewLink.tsx
Due: lint-staged, bad-ui-imports

pr feedback
  ui/src/components/app/providers/ParameterProvider.test.tsx
  ui/src/components/app/providers/ParameterProvider.tsx
Due: lint-staged, bad-ui-imports

pr feedback
  ui/src/components/routes/hits/search/shared/HitSort.test.tsx
  ui/src/components/routes/hits/search/shared/HitSort.tsx
  ui/src/components/routes/hits/search/shared/SearchSpan.test.tsx
  ui/src/components/routes/hits/search/shared/SearchSpan.tsx
Due: lint-staged, bad-ui-imports

chore: test fixes
  api/test/integration/api/test_wait_for_refresh.py
  client/test/integration/test_v2_search.py
Due: none

feat(ui): add case documentation to howler
  ui/src/components/app/App.tsx
  ui/src/components/hooks/useMyPreferences.tsx
  ui/src/components/routes/help/CaseDocumentation.tsx
  ui/src/components/routes/help/Help.tsx
  ui/src/components/routes/help/markdown/en/casesFolders.md
  ui/src/components/routes/help/markdown/en/casesInvestigation.md
  ui/src/components/routes/help/markdown/en/casesItems.md
  ui/src/components/routes/help/markdown/en/casesOverview.md
  ui/src/components/routes/help/markdown/en/casesRecords.md
  ui/src/components/routes/help/markdown/en/casesRules.md
  ui/src/components/routes/help/markdown/en/casesSidebar.md
  ui/src/components/routes/help/markdown/en/casesSummary.md
  ui/src/components/routes/help/markdown/fr/casesFolders.md
  ui/src/components/routes/help/markdown/fr/casesInvestigation.md
  ui/src/components/routes/help/markdown/fr/casesItems.md
  ui/src/components/routes/help/markdown/fr/casesOverview.md
  ui/src/components/routes/help/markdown/fr/casesRecords.md
  ui/src/components/routes/help/markdown/fr/casesRules.md
  ui/src/components/routes/help/markdown/fr/casesSidebar.md
  ui/src/components/routes/help/markdown/fr/casesSummary.md
  ui/src/locales/en/help/main.json
  ui/src/locales/en/translation.json
  ui/src/locales/fr/help/main.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports

first draft of more docs
  ui/src/components/app/App.tsx
  ui/src/components/elements/display/DocumentationButton.test.tsx
  ui/src/components/elements/display/DocumentationButton.tsx
  ui/src/components/hooks/useMyPreferences.tsx
  ui/src/components/routes/help/AdvancedDocumentation.tsx
  ui/src/components/routes/help/DossierDocumentation.tsx
  ui/src/components/routes/help/Help.tsx
  ui/src/components/routes/help/markdown/en/advancedLanguages.md
  ui/src/components/routes/help/markdown/en/advancedLucene.md
  ui/src/components/routes/help/markdown/en/advancedOverview.md
  ui/src/components/routes/help/markdown/en/advancedResults.md
  ui/src/components/routes/help/markdown/en/dossiersLeads.md
  ui/src/components/routes/help/markdown/en/dossiersOverview.md
  ui/src/components/routes/help/markdown/en/dossiersPivots.md
  ui/src/components/routes/help/markdown/en/dossiersQuery.md
  ui/src/components/routes/help/markdown/en/dossiersUsage.md
  ui/src/components/routes/help/markdown/fr/advancedLanguages.md
  ui/src/components/routes/help/markdown/fr/advancedLucene.md
  ui/src/components/routes/help/markdown/fr/advancedOverview.md
  ui/src/components/routes/help/markdown/fr/advancedResults.md
  ui/src/components/routes/help/markdown/fr/dossiersLeads.md
  ui/src/components/routes/help/markdown/fr/dossiersOverview.md
  ui/src/components/routes/help/markdown/fr/dossiersPivots.md
  ui/src/components/routes/help/markdown/fr/dossiersQuery.md
  ui/src/components/routes/help/markdown/fr/dossiersUsage.md
  ui/src/locales/en/help/main.json
  ui/src/locales/en/translation.json
  ui/src/locales/fr/help/main.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports

Clarify advanced search and dossier documentation (#596)
  ui/src/components/routes/help/DossierDocumentation.tsx
  ui/src/components/routes/help/markdown/en/advancedLanguages.md
  ui/src/components/routes/help/markdown/en/advancedLucene.md
  ui/src/components/routes/help/markdown/en/advancedOverview.md
  ui/src/components/routes/help/markdown/en/advancedResults.md
  ui/src/components/routes/help/markdown/en/dossiersLeads.md
  ui/src/components/routes/help/markdown/en/dossiersOverview.md
  ui/src/components/routes/help/markdown/en/dossiersQuery.md
  ui/src/components/routes/help/markdown/fr/advancedLanguages.md
  ui/src/components/routes/help/markdown/fr/advancedLucene.md
  ui/src/components/routes/help/markdown/fr/advancedOverview.md
  ui/src/components/routes/help/markdown/fr/advancedResults.md
  ui/src/components/routes/help/markdown/fr/dossiersLeads.md
  ui/src/components/routes/help/markdown/fr/dossiersOverview.md
  ui/src/components/routes/help/markdown/fr/dossiersQuery.md
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports

chore: update release please script to set friendly release names
  .github/workflows/release-please.yml
Due: none

pr feedback
  ui/src/components/app/App.tsx
  ui/src/components/routes/help/AdvancedDocumentation.tsx
  ui/src/components/routes/help/CaseDocumentation.tsx
  ui/src/components/routes/help/DossierDocumentation.tsx
Due: lint-staged, bad-ui-imports

pr feedback
  ui/src/components/routes/help/Help.test.tsx
  ui/src/components/routes/help/Help.tsx
Due: lint-staged, bad-ui-imports

feat(client,api): added elasticsearch scroll support
  api/howler/api/v1/search.py
  api/howler/services/search_service.py
  api/test/integration/api/test_search.py
  api/test/integration/service/test_search_service.py
  client/howler_client/module/search/__init__.py
  client/howler_client/module/search/scroll.py
  client/test/unit/test_search_scroll.py
Due: none

pr feedback
  ui/src/components/routes/help/AdvancedDocumentation.test.tsx
  ui/src/components/routes/help/CaseDocumentation.test.tsx
  ui/src/components/routes/help/DossierDocumentation.test.tsx
  ui/src/components/routes/help/markdown/en/dossiersUsage.md
  ui/src/components/routes/help/markdown/fr/dossiersUsage.md
Due: lint-staged, bad-ui-imports

pr feedback
  api/howler/services/search_service.py
  api/test/integration/service/test_search_service.py
Due: none

feat(ui): add ability to disable filters (#640)
  ui/src/components/app/providers/ParameterProvider.test.tsx
  ui/src/components/app/providers/ParameterProvider.tsx
  ui/src/components/app/providers/RecordSearchProvider.test.tsx
  ui/src/components/app/providers/RecordSearchProvider.tsx
  ui/src/components/elements/display/ChipPopper.test.tsx
  ui/src/components/elements/display/ChipPopper.tsx
  ui/src/components/routes/hits/search/ViewLink.test.tsx
  ui/src/components/routes/hits/search/ViewLink.tsx
  ui/src/components/routes/hits/search/shared/HitFilter.test.tsx
  ui/src/components/routes/hits/search/shared/HitFilter.tsx
  ui/src/components/routes/hits/search/shared/HitSort.test.tsx
  ui/src/components/routes/hits/search/shared/HitSort.tsx
  ui/src/components/routes/hits/search/shared/SearchSpan.test.tsx
  ui/src/components/routes/hits/search/shared/SearchSpan.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports

Updating validation of actions with pydantic
  api/howler/actions/__init__.py
  api/howler/actions/add_label.py
  api/howler/actions/add_to_bundle.py
  api/howler/actions/add_to_case.py
  api/howler/actions/change_field.py
  api/howler/actions/demote.py
  api/howler/actions/example_plugin.py
  api/howler/actions/models.py
  api/howler/actions/prioritization.py
  api/howler/actions/promote.py
  api/howler/actions/remove_from_bundle.py
  api/howler/actions/remove_label.py
  api/howler/actions/transition.py
  api/howler/api/v1/action.py
  api/howler/odm/random_data.py
  api/howler/services/action_service.py
  api/test/unit/actions/test_add_to_bundle.py
  api/test/unit/actions/test_add_to_case.py
  api/test/unit/actions/test_init.py
  api/test/unit/actions/test_remove_from_bundle.py
Due: none

chore: update dev release version calculation
  .github/workflows/ui-workflow.yml
Due: none

pr feedback
  api/howler/api/v1/search.py
  api/howler/services/search_service.py
  api/test/integration/api/test_search.py
  api/test/integration/service/test_search_service.py
  client/howler_client/module/search/scroll.py
  client/test/unit/test_search_scroll.py
Due: none

pr feedback
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports

pr feedback
  ui/src/components/elements/display/Markdown.tsx
  ui/src/components/routes/help/AdvancedDocumentation.test.tsx
  ui/src/components/routes/help/CaseDocumentation.test.tsx
  ui/src/components/routes/help/DossierDocumentation.test.tsx
  ui/src/components/routes/help/markdown/en/casesRecords.md
  ui/src/components/routes/help/markdown/en/dossiersOverview.md
  ui/src/components/routes/help/markdown/fr/casesRecords.md
  ui/src/components/routes/help/markdown/fr/dossiersOverview.md
Due: lint-staged, bad-ui-imports

pr feedback
  api/test/integration/api/test_search.py
Due: none

refactor(ui,api): updated pivots to have a description
  api/howler/odm/models/pivot.py
  api/howler/odm/random_data.py
  api/pyproject.toml
  api/test/unit/odm/test_pivot.py
  ui/src/components/elements/hit/PivotTooltip.tsx
  ui/src/components/elements/hit/related/PivotLink.test.tsx
  ui/src/components/elements/hit/related/pivots/PivotLink.tsx
  ui/src/components/routes/dossiers/PivotForm.test.tsx
  ui/src/components/routes/dossiers/PivotForm.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
  ui/src/models/entities/generated/Pivot.d.ts
Due: poetry-check-api, lint-staged, bad-ui-imports

pr feedback
  api/howler/api/search_utils.py
  api/howler/api/v1/search.py
  api/howler/api/v2/search.py
  api/test/integration/api/test_search.py
  api/test/unit/endpoints/test_search_endpoint.py
  api/test/unit/test_search_api_utils.py
Due: none

pr feedback
  .github/workflows/client-workflow.yml
  api/howler/api/v2/search.py
  api/test/unit/endpoints/test_search_endpoint.py
Due: none

more documentation updates
  ui/src/components/routes/help/AdvancedDocumentation.test.tsx
  ui/src/components/routes/help/CaseDocumentation.test.tsx
  ui/src/components/routes/help/CaseDocumentation.tsx
  ui/src/components/routes/help/DossierDocumentation.test.tsx
  ui/src/components/routes/help/markdown/en/advancedLucene.md
  ui/src/components/routes/help/markdown/en/advancedOverview.md
  ui/src/components/routes/help/markdown/en/advancedResults.md
  ui/src/components/routes/help/markdown/en/casesFolders.md
  ui/src/components/routes/help/markdown/en/casesOverview.md
  ui/src/components/routes/help/markdown/en/casesRecords.md
  ui/src/components/routes/help/markdown/en/casesRules.md
  ui/src/components/routes/help/markdown/en/casesSidebar.md
  ui/src/components/routes/help/markdown/en/dossiersPivots.md
  ui/src/components/routes/help/markdown/fr/advancedLucene.md
  ui/src/components/routes/help/markdown/fr/advancedOverview.md
  ui/src/components/routes/help/markdown/fr/advancedResults.md
  ui/src/components/routes/help/markdown/fr/casesFolders.md
  ui/src/components/routes/help/markdown/fr/casesOverview.md
  ui/src/components/routes/help/markdown/fr/casesRecords.md
  ui/src/components/routes/help/markdown/fr/casesRules.md
  ui/src/components/routes/help/markdown/fr/casesSidebar.md
  ui/src/components/routes/help/markdown/fr/dossiersPivots.md
Due: lint-staged, bad-ui-imports

Path conditions:
  poetry-check-api: any of: ^api/.*\.(toml|lock)
  poetry-check-client: any of: ^client/.*\.(toml|lock)
  poetry-check-evidence: any of: ^plugins/evidence/.*\.(toml|lock)
  poetry-check-sentinel: any of: ^plugins/sentinel/.*\.(toml|lock)
  lint-staged: any of: ^ui/.*
  bad-ui-imports: any of: ^ui/.*
