Repository CybercentreCanada/howler: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check-api, poetry-check-client, poetry-check-evidence, poetry-check-sentinel, lint-staged, bad-ui-imports

poetry-check-api:
  name: poetry-check-api
  entry: hooks/check_poetry.sh
  args:
  - api
  language: script
  stages:
  - pre-commit

poetry-check-client:
  name: Poetry Check (client)
  entry: hooks/check_poetry.sh
  args:
  - client
  language: script
  stages:
  - pre-commit

poetry-check-evidence:
  name: Poetry Check (Evidence Plugin)
  entry: hooks/check_poetry.sh
  args:
  - plugins/evidence
  language: script
  stages:
  - pre-commit

poetry-check-sentinel:
  name: Poetry Check (Sentinel Plugin)
  entry: hooks/check_poetry.sh
  args:
  - plugins/sentinel
  language: script
  stages:
  - pre-commit

lint-staged:
  name: lint-staged
  entry: ui/build_scripts/lint_staged.sh
  language: script
  stages:
  - pre-commit

bad-ui-imports:
  name: Check for bad UI imports
  entry: ui/build_scripts/find_bad_imports.py
  language: python
  stages:
  - pre-commit

fixing tests
  api/howler/api/base.py
  api/howler/api/socket.py
  api/howler/api/v1/__init__.py
  api/howler/api/v1/action.py
  api/howler/api/v1/auth.py
  api/howler/api/v1/clue.py
  api/howler/api/v1/dossier.py
  api/howler/api/v1/help.py
  api/howler/api/v1/hit.py
  api/howler/api/v1/notebook.py
  api/howler/api/v1/overview.py
  api/howler/api/v1/search.py
  api/howler/api/v1/template.py
  api/howler/api/v1/tool.py
  api/howler/api/v1/user.py
  api/howler/api/v1/view.py
  api/howler/api/v2/__init__.py
  api/howler/api/v2/ingest.py
  api/howler/api/v2/search.py
  api/howler/security/login.py
  api/pyproject.toml
  pyrightconfig.json
Due: poetry-check-api

fixing tests
  api/howler/security/__init__.py
Due: none

fixing tests
  api/howler/api/v1/analytic.py
  api/howler/api/v2/case.py
  api/howler/api/v2/fuzzy.py
Due: none

fixing tests
  api/test/integration/service/test_dossier_service.py
Due: none

test(api): establish ODM compatibility baseline
  api/build_scripts/generate_odm_contract.py
  api/howler/odm/contract.py
  api/test/unit/odm/fixtures/odm_contract_inventory.json
  api/test/unit/odm/test_contract.py
Due: none

chore(elasticsearch): prepare 8.19 upgrade baseline
  api/dev/docker-compose.yml
  api/howler/external/elasticsearch_preflight.py
  api/howler/odm/contract.py
  api/test/unit/odm/fixtures/odm_contract_inventory.json
  api/test/unit/test_elasticsearch_preflight.py
  demo/docker-compose.yml
  documentation/docs/installation/elasticsearch_9_preflight.md
  documentation/mkdocs.yml
Due: none

test fixes
  api/test/unit/endpoints/test_auth_endpoint.py
  api/test/unit/endpoints/test_case_endpoint.py
  api/test/unit/endpoints/test_ingest_endpoint.py
  api/test/unit/endpoints/test_search_endpoint.py
  api/test/unit/services/test_fuzzy_service.py
Due: none

step 3
  api/dev/docker-compose.yml
  api/howler/api/v1/search.py
  api/howler/api/v2/search.py
  api/howler/odm/contract.py
  api/howler/services/lucene_service.py
  api/poetry.lock
  api/pyproject.toml
  api/test/unit/endpoints/test_search_endpoint.py
  api/test/unit/odm/fixtures/odm_contract_inventory.json
  api/test/unit/odm/test_contract.py
  client/test/docker-compose.yml
  demo/docker-compose.yml
  documentation/docs/installation/deployment.md
  documentation/docs/installation/elasticsearch_9_preflight.md
  mcp/docker-compose.yml
  plugins/evidence/poetry.lock
  plugins/sentinel/poetry.lock
  plugins/sync/poetry.lock
Due: poetry-check-api, poetry-check-evidence, poetry-check-sentinel

fix tests
  api/test/unit/endpoints/test_notebook.py
  api/test/unit/services/test_auth_service.py
  api/test/unit/services/test_enqueue_action.py
  api/test/unit/services/test_jwt_service.py
Due: none

update logging
  api/howler/cronjobs/action_queue_worker.py
  api/howler/services/correlation_service.py
Due: none

feat(api): build Pydantic model foundation
  api/howler/models/__init__.py
  api/howler/models/base.py
  api/howler/models/construction.py
  api/howler/models/fields.py
  api/howler/models/registry.py
  api/test/unit/models/test_base.py
  api/test/unit/models/test_construction.py
  api/test/unit/models/test_fields.py
  api/test/unit/odm/fixtures/odm_contract_inventory.json
Due: none

chore: bump versions post release
  api/pyproject.toml
  client/pyproject.toml
  ui/package.json
Due: poetry-check-api, poetry-check-client, lint-staged, bad-ui-imports

chore: update to proper release version
  docs/RELEASES.md
Due: none

feat: Added lucene query capability and better logins (#549)
  .github/workflows/mcp-workflow.yml
  .gitignore
  .pre-commit-config.yaml
  mcp/README.md
  mcp/build_scripts/coverage_reports.py
  mcp/build_scripts/run_tests.py
  mcp/diag_auth_check.json
  mcp/docker-compose.yml
  mcp/howler_mcp/api.py
  mcp/howler_mcp/auth.py
  mcp/howler_mcp/config.py
  mcp/howler_mcp/prompts.py
  mcp/howler_mcp/server.py
  mcp/howler_mcp/tools.py
  mcp/poetry.lock
  mcp/pyproject.toml
  mcp/requirements-main.txt
  mcp/test/api_unit_test.py
  mcp/test/network_connection_test.py
  mcp/test/test_api.py
  mcp/test/test_auth.py
  mcp/test/test_config.py
  mcp/test/test_network.py
  mcp/test/test_prompts.py
  mcp/test/test_server.py
  mcp/test/test_tools.py
  mcp/test/tools_unit_test.py
  pyrightconfig.json
Due: none

fix(mcp): allow kubernetes/docker-compose urls to be http
  mcp/howler_mcp/config.py
Due: none

feat(plugins,api): create a plugin providing diffs and schema routes for sync (#502)
  api/howler/api/v1/utils/params.py
  api/howler/odm/base.py
  api/howler/odm/models/case.py
  api/howler/odm/models/howler_data.py
  api/howler/odm/models/record.py
  api/test/unit/odm/test_as_primitives.py
  api/test/unit/utils/test_params.py
  plugins/sync/.coveragerc.pytest
  plugins/sync/.gitignore
  plugins/sync/LICENSE
  plugins/sync/README.md
  plugins/sync/build_scripts/coverage_reports.py
  plugins/sync/build_scripts/run_tests.py
  plugins/sync/build_scripts/set_version.py
  plugins/sync/build_scripts/type_check.py
  plugins/sync/dummy.py
  plugins/sync/poetry.lock
  plugins/sync/poetry.toml
  plugins/sync/pyproject.toml
  plugins/sync/pytest.ini
  plugins/sync/setup.cfg
  plugins/sync/sync/__init__.py
  plugins/sync/sync/config.py
  plugins/sync/sync/iceberg/build.py
  plugins/sync/sync/iceberg/mappings.py
  plugins/sync/sync/manifest.yml
  plugins/sync/sync/odm/__init__.py
  plugins/sync/sync/routes/__init__.py
  plugins/sync/sync/routes/sync.py
  plugins/sync/sync/services/sync_service.py
  plugins/sync/sync/utils/parsers.py
  plugins/sync/test/conftest.py
  plugins/sync/test/integration/test_sync.py
  plugins/sync/test/unit/iceberg/test_build_schema.py
  plugins/sync/test/unit/sync_service/test_get_upserted_hits.py
  plugins/sync/test/unit/utils/test_parsers.py
Due: none

fix(mcp): additional mcp auth logging
  mcp/README.md
  mcp/docker-compose.yml
  mcp/howler_mcp/api.py
  mcp/howler_mcp/auth_logging.py
  mcp/howler_mcp/config.py
  mcp/howler_mcp/server.py
  mcp/test/test_auth_logging.py
  mcp/test/test_config.py
Due: none

fix(mcp): updated mcp config check
  mcp/howler_mcp/config.py
  mcp/test/test_config.py
Due: none

fix(mcp): allow configurable iconify server
  mcp/howler_mcp/config.py
  mcp/howler_mcp/tools.py
  mcp/test/test_config.py
Due: none

feat(mcp): add tool for adding dossiers to a specific hit
  mcp/README.md
  mcp/howler_mcp/api.py
  mcp/howler_mcp/prompts.py
  mcp/howler_mcp/tools.py
  mcp/test/test_prompts.py
  mcp/test/test_tools.py
Due: none

feat(client): add support for refresh param (#565)
  client/howler_client/module/hit.py
  client/howler_client/module/user.py
  client/howler_client/module/v2/case.py
  client/howler_client/module/v2/ingest.py
  client/test/integration/test_refresh.py
Due: none

fix(mcp): tightened validation of the dossier
  mcp/README.md
  mcp/howler_mcp/prompts.py
  mcp/howler_mcp/tools.py
  mcp/test/test_tools.py
Due: none

fix(mcp): improve request logging
  mcp/howler_mcp/auth_logging.py
  mcp/howler_mcp/request_logging.py
  mcp/howler_mcp/server.py
  mcp/test/test_request_logging.py
Due: none

feat(mcp): add a howler link crafter for alert links
  mcp/README.md
  mcp/docker-compose.yml
  mcp/howler_mcp/config.py
  mcp/howler_mcp/prompts.py
  mcp/howler_mcp/tools.py
  mcp/test/test_prompts.py
  mcp/test/test_tools.py
Due: none

feat: added dev helper inside of howler mcp (#563)
  mcp/README.md
  mcp/dev/dev_setup.py
  mcp/howler_mcp/config.py
  mcp/poetry.lock
  mcp/pyproject.toml
  mcp/test/test_dev_setup.py
Due: none

fix(api): docker build static folder
  api/Dockerfile
Due: none

fix(ui): invalidate dossiers with missing detections (#555)
  ui/src/components/elements/display/Modal.tsx
  ui/src/components/elements/display/modals/ConfirmDeleteModal.tsx
  ui/src/components/routes/overviews/OverviewCard.test.tsx
  ui/src/components/routes/overviews/OverviewCard.tsx
  ui/src/components/routes/overviews/Overviews.tsx
  ui/src/components/routes/templates/TemplateCard.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports

fix(api): ruff validation
  api/pyproject.toml
Due: poetry-check-api

updated back end to accept group keyword in dossier
  api/howler/api/v1/dossier.py
  api/howler/odm/models/dossier.py
  api/howler/services/dossier_service.py
Due: none

applied request of removing the description section for the tool tips
  ui/src/components/elements/hit/PivotTooltip.tsx
Due: lint-staged, bad-ui-imports

added minimal ui for grouping
  ui/src/components/routes/dossiers/DossierEditor.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
  ui/src/models/entities/generated/Dossier.d.ts
Due: lint-staged, bad-ui-imports

updated odm dossier to accept the list
  api/howler/odm/models/dossier.py
Due: none

corrected smalls error, passed unit tests
  api/howler/services/dossier_service.py
  api/test/integration/service/test_dossier_service.py
Due: none

moved front end group to pivot
  ui/src/components/routes/dossiers/DossierEditor.tsx
  ui/src/components/routes/dossiers/PivotForm.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
  ui/src/models/entities/generated/Dossier.d.ts
  ui/src/models/entities/generated/Pivot.d.ts
Due: lint-staged, bad-ui-imports

created organises function
  api/howler/odm/models/pivot.py
  api/howler/services/dossier_service.py
  ui/src/components/elements/hit/HitLinks.tsx
  ui/src/components/routes/dossiers/DossierEditor.tsx
  ui/src/components/routes/dossiers/PivotForm.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
  ui/src/utils/DossierGroupValidation.ts
  ui/src/utils/PivotGrouping.ts
Due: lint-staged, bad-ui-imports

added backend verification for the new odm path
  api/howler/services/dossier_service.py
  api/test/integration/service/test_dossier_service.py
Due: none

added unit test update dossier group
  api/test/integration/service/test_dossier_service.py
Due: none

Path conditions:
  poetry-check-api: any of: ^api/.*\.(toml|lock)
  poetry-check-client: any of: ^client/.*\.(toml|lock)
  poetry-check-evidence: any of: ^plugins/evidence/.*\.(toml|lock)
  poetry-check-sentinel: any of: ^plugins/sentinel/.*\.(toml|lock)
  lint-staged: any of: ^ui/.*
  bad-ui-imports: any of: ^ui/.*
