Repository CybercentreCanada/howler: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check-api, poetry-check-client, poetry-check-evidence, poetry-check-sentinel, lint-staged, bad-ui-imports

poetry-check-api:
  name: poetry-check-api
  entry: hooks/check_poetry.sh
  args:
  - api
  language: script
  stages:
  - pre-commit

poetry-check-client:
  name: Poetry Check (client)
  entry: hooks/check_poetry.sh
  args:
  - client
  language: script
  stages:
  - pre-commit

poetry-check-evidence:
  name: Poetry Check (Evidence Plugin)
  entry: hooks/check_poetry.sh
  args:
  - plugins/evidence
  language: script
  stages:
  - pre-commit

poetry-check-sentinel:
  name: Poetry Check (Sentinel Plugin)
  entry: hooks/check_poetry.sh
  args:
  - plugins/sentinel
  language: script
  stages:
  - pre-commit

lint-staged:
  name: lint-staged
  entry: ui/build_scripts/lint_staged.sh
  language: script
  stages:
  - pre-commit

bad-ui-imports:
  name: Check for bad UI imports
  entry: ui/build_scripts/find_bad_imports.py
  language: python
  stages:
  - pre-commit

chore(ci): more workflow stuff
  .github/workflows/api-workflow.yml
  api/dev/docker-compose.yml
Due: none

chore(ci): bump es version
  api/dev/docker-compose.yml
Due: none

chore(ci): more work debugging elastic issues
  api/dev/docker-compose.yml
Due: none

chore(api): remove very verbose logging
  api/dev/docker-compose.yml
  api/howler/datastore/collection.py
Due: none

fix(api): updated howler-helm chart to remove minio (#189)
  howler-helm/Chart.lock
  howler-helm/Chart.yaml
  howler-helm/charts/minio-11.10.7.tgz
  howler-helm/values.yaml
Due: none

Added UI testing for include by functionality
  ui/src/components/routes/hits/search/HitContextMenu.test.tsx
Due: lint-staged, bad-ui-imports

Added functionality
  ui/src/components/routes/hits/search/HitContextMenu.test.tsx
  ui/src/components/routes/hits/search/HitContextMenu.tsx
Due: lint-staged, bad-ui-imports

fix(api): fixed new lucene explanation bug in latest elasticsearch v8
  api/howler/services/lucene_service.py
  api/howler/utils/lucene.py
  api/test/integration/service/test_queries.txt
  api/test/unit/test_config.py
Due: none

feat(api): enabled pyright, started fixing bugs
  .github/workflows/api-workflow.yml
  .vscode/extensions.json
  .vscode/settings.json
  api/.gitignore
  api/howler/common/classification.py
  api/howler/datastore/collection.py
  api/howler/helper/oauth.py
  api/howler/services/jwt_service.py
  api/howler/services/lucene_service.py
  api/howler/services/user_service.py
  api/poetry.lock
  api/pyproject.toml
  pyrightconfig.json
Due: poetry-check-api

more pyright fixes
  api/howler/api/v1/hit.py
  api/howler/datastore/collection.py
  api/howler/datastore/types.py
  api/howler/helper/oauth.py
  api/howler/services/hit_service.py
Due: none

wrapped up type checking
  .pre-commit-config.yaml
  api/pyproject.toml
Due: poetry-check-api

remove the pre-commit for now
  .pre-commit-config.yaml
  api/howler/datastore/bulk.py
Due: none

allow commas
  .github/workflows/pr-title-check.yml
Due: none

test fixes
  .github/workflows/ui-workflow.yml
  api/howler/api/v1/user.py
  api/howler/odm/models/user.py
  api/test/__init__.py
  api/test/integration/__init__.py
  api/test/integration/api/__init__.py
  api/test/integration/api/test_actions.py
  api/test/integration/api/test_analytic.py
  api/test/integration/api/test_auth.py
  api/test/integration/api/test_bundles.py
  api/test/integration/api/test_comment.py
  api/test/integration/api/test_create_apikey.py
  api/test/integration/api/test_create_process.py
  api/test/integration/api/test_doc.py
  api/test/integration/api/test_dossier.py
  api/test/integration/api/test_etag.py
  api/test/integration/api/test_help.py
  api/test/integration/api/test_hit.py
  api/test/integration/api/test_hit_transition.py
  api/test/integration/api/test_odm_errors.py
  api/test/integration/api/test_overview.py
  api/test/integration/api/test_quota.py
  api/test/integration/api/test_search.py
  api/test/integration/api/test_template.py
  api/test/integration/api/test_user.py
  api/test/integration/api/test_view.py
  api/test/integration/cronjobs/test_view_cleanup.py
  api/test/integration/service/test_lucene_service.py
  api/test/integration/test_websocket.py
  api/test/unit/endpoints/test_notebook.py
  api/test/unit/odm/test_hit_fields.py
  pyrightconfig.json
Due: none

final test fixes
  api/test/integration/plugins/test_plugin_actions.py
  api/test/integration/plugins/test_plugin_routes.py
Due: none

Adding test cases
  ui/src/components/routes/hits/search/HitContextMenu.test.tsx
  ui/src/components/routes/hits/search/HitContextMenu.tsx
Due: lint-staged, bad-ui-imports

ruff formatting
  api/howler/actions/__init__.py
  api/howler/actions/transition.py
  api/howler/common/classification.py
  api/howler/common/logging/__init__.py
  api/howler/datastore/collection.py
  api/howler/datastore/store.py
  api/howler/external/generate_sigma_rules.py
  api/howler/helper/oauth.py
  api/howler/helper/workflow.py
  api/howler/helper/ws.py
  api/howler/odm/base.py
  api/howler/odm/models/config.py
  api/howler/odm/models/ecs/client.py
  api/howler/odm/models/ecs/code_signature.py
  api/howler/odm/models/ecs/email.py
  api/howler/odm/models/ecs/file.py
  api/howler/odm/models/ecs/geo.py
  api/howler/odm/models/ecs/rule.py
  api/howler/odm/models/ecs/url.py
  api/howler/odm/models/howler_data.py
  api/howler/odm/randomizer.py
  api/howler/remote/datatypes/queues/priority.py
  api/howler/services/analytic_service.py
  api/howler/services/user_service.py
Due: none

add explicit pytz dependency
  api/poetry.lock
  api/pyproject.toml
Due: poetry-check-api

removing unused dependencies
  api/poetry.lock
  api/pyproject.toml
Due: poetry-check-api

removing more unused dependencies
  api/poetry.lock
  api/pyproject.toml
Due: poetry-check-api

formatting fixes
  client/howler_client/common/utils.py
Due: none

fix(api): performance improvements to dict_utils.flatten (#183)
  api/howler/utils/dict_utils.py
Due: none

fix(api): mypy type fixes
  api/howler/datastore/collection.py
  api/howler/services/dossier_service.py
  api/howler/services/template_service.py
  api/howler/services/user_service.py
Due: none

fix(api): some more mypy type fixes
  api/howler/cronjobs/view_cleanup.py
  api/howler/datastore/migrations/fix_process.py
  api/howler/services/analytic_service.py
  api/howler/services/overview_service.py
Due: none

fix(api): fixed search errrors in user search
  api/howler/api/v1/search.py
  api/howler/datastore/collection.py
  api/test/integration/api/test_user_search.py
Due: none

chore(ci): update the build system to cirvumvent docker issues
  .github/workflows/api-workflow.yml
  api/build_scripts/docker_health.py
  api/build_scripts/keycloak_health.py
  api/dev/docker-compose.yml
  api/howler/services/lucene_service.py
  api/howler/utils/lucene.py
  api/test/integration/service/test_queries.txt
Due: none

remove pyright checking for now
  .github/workflows/api-workflow.yml
Due: none

Fixing lock file
  ui/pnpm-lock.yaml
Due: lint-staged, bad-ui-imports

Took develop lockfile
  ui/pnpm-lock.yaml
Due: lint-staged, bad-ui-imports

Fixing package.json
  ui/package.json
Due: lint-staged, bad-ui-imports

bump version
  api/pyproject.toml
Due: poetry-check-api

more test coverage
  api/test/integration/api/test_user_search.py
Due: none

fix(api): fixed issues with user search (#194)
  .github/workflows/api-workflow.yml
  api/build_scripts/docker_health.py
  api/build_scripts/keycloak_health.py
  api/dev/docker-compose.yml
  api/howler/api/v1/search.py
  api/howler/datastore/collection.py
  api/howler/services/lucene_service.py
  api/howler/utils/lucene.py
  api/pyproject.toml
  api/test/integration/api/test_user_search.py
  api/test/integration/service/test_queries.txt
Due: poetry-check-api

chore(ci): changes to dependabot config
  .github/dependabot.yml
Due: none

chore(ci): remove flake8
  .vscode/settings.json
  api/.flake8
  api/poetry.lock
  api/pyproject.toml
  client/.flake8
  plugins/evidence/.flake8
  plugins/sentinel/.flake8
Due: poetry-check-api

chore(ui,api): bump versions post-release
  api/pyproject.toml
  ui/package.json
Due: poetry-check-api, lint-staged, bad-ui-imports

fix: more evil version updates
  ui/package.json
  ui/pnpm-lock.yaml
Due: lint-staged, bad-ui-imports

fix: more evil version updates
  .vscode/settings.json
  ui/pnpm-lock.yaml
Due: lint-staged, bad-ui-imports

Path conditions:
  poetry-check-api: any of: ^api/.*\.(toml|lock)
  poetry-check-client: any of: ^client/.*\.(toml|lock)
  poetry-check-evidence: any of: ^plugins/evidence/.*\.(toml|lock)
  poetry-check-sentinel: any of: ^plugins/sentinel/.*\.(toml|lock)
  lint-staged: any of: ^ui/.*
  bad-ui-imports: any of: ^ui/.*
