Repository CybercentreCanada/howler: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check-api, poetry-check-client, poetry-check-evidence, poetry-check-sentinel, lint-staged, bad-ui-imports

poetry-check-api:
  name: poetry-check-api
  entry: api/build_scripts/check_poetry.sh
  language: script
  stages:
  - pre-commit

poetry-check-client:
  name: poetry-check-client
  entry: client/build_scripts/check_poetry.sh
  language: script
  stages:
  - pre-commit

poetry-check-evidence:
  name: poetry-check-evidence
  entry: plugins/evidence/build_scripts/check_poetry.sh
  language: script
  stages:
  - pre-commit

poetry-check-sentinel:
  name: poetry-check-sentinel
  entry: plugins/sentinel/build_scripts/check_poetry.sh
  language: script
  stages:
  - pre-commit

lint-staged:
  name: lint-staged
  entry: ui/build_scripts/lint_staged.sh
  language: script
  stages:
  - pre-commit

bad-ui-imports:
  name: bad-ui-imports
  entry: ui/build_scripts/find_bad_imports.py
  language: python
  stages:
  - pre-commit

Fixed bug where null viewIds would trigger search error (#119)
  ui/src/components/app/providers/ViewProvider.tsx
  ui/src/components/routes/hits/search/HitBrowser.tsx
Due: lint-staged, bad-ui-imports

Context menu changes
  ui/src/components/routes/hits/search/HitContextMenu.tsx
Due: lint-staged, bad-ui-imports

Remove console.log
  ui/src/components/routes/hits/search/HitContextMenu.tsx
Due: lint-staged, bad-ui-imports

Import changes
  ui/src/components/routes/hits/search/HitContextMenu.tsx
Due: lint-staged, bad-ui-imports

PR Feedback
  ui/src/components/routes/hits/search/HitContextMenu.tsx
Due: lint-staged, bad-ui-imports

PR Feedback, test fixes
  ui/src/api/search/count/hit.ts
  ui/src/api/search/explain/hit.ts
  ui/src/api/search/facet/hit.ts
  ui/src/api/search/grouped/hit.ts
  ui/src/api/search/histogram/hit.ts
  ui/src/api/search/hit.ts
  ui/src/components/app/providers/HitSearchProvider.tsx
  ui/src/components/app/providers/ParameterProvider.tsx
  ui/src/components/app/providers/ViewProvider.test.tsx
  ui/src/components/elements/hit/aggregate/HitGraph.tsx
  ui/src/components/routes/advanced/luceneCompletionProvider.ts
  ui/src/components/routes/dossiers/DossierEditor.test.tsx
  ui/src/components/routes/help/ActionIntroductionDocumentation.tsx
  ui/src/components/routes/hits/search/HitBrowser.tsx
  ui/src/components/routes/hits/search/HitContextMenu.test.tsx
  ui/src/components/routes/hits/search/HitContextMenu.tsx
  ui/src/components/routes/hits/search/HitQuery.tsx
  ui/src/components/routes/views/ViewComposer.tsx
  ui/src/utils/constants.tsx
Due: lint-staged, bad-ui-imports

Added Exclude By function to Hit Context Menu (#121)
  ui/src/api/search/count/hit.ts
  ui/src/api/search/explain/hit.ts
  ui/src/api/search/facet/hit.ts
  ui/src/api/search/grouped/hit.ts
  ui/src/api/search/histogram/hit.ts
  ui/src/api/search/hit.ts
  ui/src/components/app/providers/HitSearchProvider.tsx
  ui/src/components/app/providers/ParameterProvider.tsx
  ui/src/components/app/providers/ViewProvider.test.tsx
  ui/src/components/elements/hit/aggregate/HitGraph.tsx
  ui/src/components/routes/advanced/luceneCompletionProvider.ts
  ui/src/components/routes/dossiers/DossierEditor.test.tsx
  ui/src/components/routes/help/ActionIntroductionDocumentation.tsx
  ui/src/components/routes/hits/search/HitBrowser.tsx
  ui/src/components/routes/hits/search/HitContextMenu.test.tsx
  ui/src/components/routes/hits/search/HitContextMenu.tsx
  ui/src/components/routes/hits/search/HitQuery.tsx
  ui/src/components/routes/views/ViewComposer.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
  ui/src/setupTests.ts
  ui/src/tests/server-handlers.ts
  ui/src/tests/utils.ts
  ui/src/utils/constants.tsx
Due: lint-staged, bad-ui-imports

Show previous rationales in rationale modal
  ui/src/components/elements/display/modals/RationaleModal.tsx
  ui/src/components/hooks/useHitActions.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports

PR Feedback
  ui/src/components/elements/display/modals/RationaleModal.tsx
Due: lint-staged, bad-ui-imports

Show previous rationales in rationale modal (#113)
  ui/src/components/elements/display/modals/RationaleModal.tsx
  ui/src/components/hooks/useHitActions.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports

Some minor updates
  api/howler/datastore/collection.py
  ui/src/components/elements/display/Classification.tsx
Due: lint-staged, bad-ui-imports

Add index mapping output to reindex_data.py
  api/howler/external/reindex_data.py
Due: none

Added add_namespace unit tests
  api/test/integration/test_datastore_add_namespace.py
Due: none

Fix add_namespace as it relates to index mappings
  api/howler/odm/base.py
Due: none

added remove_namespace function
  api/howler/odm/base.py
  api/test/integration/test_datastore_add_namespace.py
Due: none

Fixes to reindexing
  api/howler/datastore/collection.py
  api/howler/external/reindex_data.py
Due: none

Added additional functionality to ViewLink
  ui/src/components/routes/hits/search/ViewLink.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports

Update ui/src/locales/en/translation.json
  ui/src/locales/en/translation.json
Due: lint-staged, bad-ui-imports

Update ui/src/components/routes/hits/search/ViewLink.tsx
  ui/src/components/routes/hits/search/ViewLink.tsx
Due: lint-staged, bad-ui-imports

Added unit tests, improved accessibility
  ui/src/components/routes/hits/search/ViewLink.test.tsx
  ui/src/components/routes/hits/search/ViewLink.tsx
  ui/src/tests/utils.ts
Due: lint-staged, bad-ui-imports

Added additional functionality to ViewLink (#122)
  ui/src/components/routes/hits/search/ViewLink.test.tsx
  ui/src/components/routes/hits/search/ViewLink.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
  ui/src/tests/utils.ts
Due: lint-staged, bad-ui-imports

Added release notes
  api/version.txt
  docs/RELEASES.md
Due: none

Added DossierCard tests
  ui/src/components/elements/display/HowlerAvatar.tsx
  ui/src/components/routes/dossiers/DossierCard.test.tsx
  ui/src/tests/utils.ts
Due: lint-staged, bad-ui-imports

Improvements to the dossier page
  ui/src/components/routes/dossiers/DossierCard.tsx
  ui/src/components/routes/dossiers/DossierEditor.tsx
  ui/src/components/routes/dossiers/LeadForm.tsx
  ui/src/components/routes/dossiers/PivotForm.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports

Added tests
  ui/src/components/routes/dossiers/DossierCard.test.tsx
Due: lint-staged, bad-ui-imports

PR Feedback
  ui/src/components/routes/dossiers/DossierCard.tsx
  ui/src/components/routes/dossiers/DossierEditor.tsx
  ui/src/components/routes/dossiers/LeadForm.tsx
  ui/src/components/routes/dossiers/PivotForm.tsx
Due: lint-staged, bad-ui-imports

Fixed unit tests
  ui/src/components/routes/dossiers/DossierEditor.test.tsx
  ui/src/components/routes/dossiers/PivotForm.tsx
Due: lint-staged, bad-ui-imports

Update changelog
  docs/RELEASES.md
Due: none

Improvements to the dossier page (#123)
  docs/RELEASES.md
  ui/src/components/routes/dossiers/DossierCard.test.tsx
  ui/src/components/routes/dossiers/DossierCard.tsx
  ui/src/components/routes/dossiers/DossierEditor.test.tsx
  ui/src/components/routes/dossiers/DossierEditor.tsx
  ui/src/components/routes/dossiers/LeadForm.tsx
  ui/src/components/routes/dossiers/PivotForm.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports

Fix dossier loading to properly handle changing selections (#109)
  ui/src/components/elements/hit/related/PivotLink.tsx
  ui/src/components/routes/hits/search/InformationPane.tsx
Due: lint-staged, bad-ui-imports

Bump versions post-release
  api/pyproject.toml
  ui/package.json
Due: poetry-check-api, lint-staged, bad-ui-imports

Changed layout of search refinements
  ui/src/components/app/App.tsx
  ui/src/components/routes/hits/search/SearchPane.tsx
  ui/src/components/routes/hits/search/shared/HitFilter.tsx
  ui/src/components/routes/hits/search/shared/HitSort.tsx
  ui/src/components/routes/hits/search/shared/QuerySettings.tsx
  ui/src/components/routes/hits/search/shared/SearchSpan.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports

More work on chip formats
  ui/src/components/elements/display/ChipPopper.tsx
  ui/src/components/routes/hits/search/shared/HitFilter.tsx
  ui/src/components/routes/hits/search/shared/HitSort.tsx
  ui/src/components/routes/hits/search/shared/QuerySettings.tsx
  ui/src/components/routes/hits/search/shared/SearchSpan.tsx
  ui/src/components/routes/views/ViewComposer.tsx
Due: lint-staged, bad-ui-imports

added ChipPopper.test.tsx
  ui/src/components/elements/display/ChipPopper.test.tsx
Due: lint-staged, bad-ui-imports

Added demo docker-compose file
  demo/docker-compose.yml
  demo/nginx.conf
Due: none

Documentation, compose file tweaks
  demo/README.md
  demo/docker-compose.yml
Due: none

Moving documentation around
  .vscode/extensions.json
  CONTRIBUTING.md
  documentation/docs/RELEASES.md
  documentation/docs/developer/backend.md
  documentation/docs/developer/backend/overview.fr.md
  documentation/docs/developer/backend/overview.md
  documentation/docs/developer/backend/plugins.md
  documentation/docs/developer/backend/random_data.fr.md
  documentation/docs/developer/backend/random_data.md
  documentation/docs/developer/frontend/overview.fr.md
  documentation/docs/developer/frontend/overview.md
  documentation/docs/developer/frontend/plugins.md
  documentation/docs/developer/migration/v3.md
  documentation/docs/developer/patching.md
Due: none

Bump to 2.15.1
  ui/package.json
Due: lint-staged, bad-ui-imports

Path conditions:
  poetry-check-api: any of: ^api/.*\.(toml|lock)
  poetry-check-client: any of: ^client/.*\.(toml|lock)
  poetry-check-evidence: any of: ^plugins/evidence/.*\.(toml|lock)
  poetry-check-sentinel: any of: ^plugins/sentinel/.*\.(toml|lock)
  lint-staged: any of: ^ui/.*
  bad-ui-imports: any of: ^ui/.*
