Repository CybercentreCanada/howler: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check-api, poetry-check-client, poetry-check-evidence, poetry-check-sentinel, lint-staged, bad-ui-imports

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - commit-msg

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.8.0
    hooks:
      # Run the linter.
      - id: ruff
        name: Ruff Linting
        args: [--fix, --output-format=concise]
      # Run the formatter.
      - id: ruff-format
        name: Ruff Formatting
  # - repo: https://github.com/compilerla/conventional-pre-commit
  #   rev: v4.3.0
  #   hooks:
  #     - id: conventional-pre-commit
  #       stages: [commit-msg]
  - repo: local
    hooks:
      - id: poetry-check-api
        name: poetry-check-api
        entry: hooks/check_poetry.sh
        args: [api]
        language: script
        stages: [pre-commit]
        files: ^api/.*\.(toml|lock)
      - id: poetry-check-client
        name: Poetry Check (client)
        entry: hooks/check_poetry.sh
        args: [client]
        language: script
        stages: [pre-commit]
        files: ^client/.*\.(toml|lock)
      - id: poetry-check-evidence
        name: Poetry Check (Evidence Plugin)
        entry: hooks/check_poetry.sh
        args: [plugins/evidence]
        language: script
        stages: [pre-commit]
        files: ^plugins/evidence/.*\.(toml|lock)
      - id: poetry-check-sentinel
        name: Poetry Check (Sentinel Plugin)
        entry: hooks/check_poetry.sh
        args: [plugins/sentinel]
        language: script
        stages: [pre-commit]
        files: ^plugins/sentinel/.*\.(toml|lock)
      - id: lint-staged
        name: lint-staged
        entry: ui/build_scripts/lint_staged.sh
        language: script
        stages: [pre-commit]
        files: ^ui/.*
      - id: bad-ui-imports
        name: Check for bad UI imports
        entry: ui/build_scripts/find_bad_imports.py
        language: python
        stages: [pre-commit]
        files: ^ui/.*
      - id: check-commit-msg
        name: Validate Commit Message
        entry: hooks/commit-msg.py
        language: python
        stages: [commit-msg]
        additional_dependencies: ["conventional-pre-commit", "rich"]
        verbose: true

small code fix
  api/howler/api/v1/hit.py
Due: none

fix tests
  api/howler/utils/socket_utils.py
Due: none

more test fixes
  api/howler/api/socket.py
  api/test/integration/test_websocket.py
  api/test/unit/test_socket.py
  api/test/unit/test_socket_utils.py
Due: none

pr feedback
  api/howler/services/case_service.py
  api/test/unit/endpoints/test_classification_access_control.py
Due: none

added migration script
  api/howler/datastore/collection.py
  api/howler/datastore/migrations/action_owner.py
  api/howler/datastore/migrations/runner.py
  api/howler/external/README.md
  api/howler/external/run_migrations.py
  api/howler/odm/models/migration.py
  api/pyproject.toml
  api/test/integration/test_migrations.py
  api/test/unit/test_ilm_collection.py
  api/test/unit/test_migration_cli.py
  api/test/unit/test_migrations.py
  docs/api/CONTRIBUTING.md
  docs/api/codebase.md
  documentation/docs/installation/deployment.md
  documentation/docs/migration.md
  documentation/mkdocs.yml
Due: poetry-check-api

view improvements
  api/howler/api/v1/view.py
  api/howler/datastore/howler_store.py
  api/howler/datastore/migrations/__init__.py
  api/howler/datastore/migrations/action_owner.py
  api/howler/datastore/migrations/base.py
  api/howler/odm/models/migration.py
  api/test/integration/api/test_view.py
  api/test/unit/test_ilm_config.py
  ui/src/components/routes/help/markdown/en/views.md
  ui/src/components/routes/help/markdown/fr/views.md
  ui/src/components/routes/views/Views.tsx
Due: lint-staged, bad-ui-imports

chore: bump versions post release
  api/pyproject.toml
Due: poetry-check-api

fix(api): ruff validation
  api/pyproject.toml
Due: poetry-check-api

feat: group similar dossier pivots
  api/howler/api/v1/dossier.py
  api/howler/odm/helper.py
  api/howler/odm/models/pivot.py
  api/howler/services/dossier_service.py
  api/test/integration/service/test_dossier_service.py
  ui/src/api/dossier/groups.ts
  ui/src/api/dossier/index.ts
  ui/src/components/app/App.tsx
  ui/src/components/app/providers/PivotGroupProvider.tsx
  ui/src/components/elements/display/HowlerCard.tsx
  ui/src/components/elements/hit/HitLinks.test.tsx
  ui/src/components/elements/hit/HitLinks.tsx
  ui/src/components/elements/hit/PivotGroupMenuItem.test.tsx
  ui/src/components/elements/hit/PivotGroupMenuItem.tsx
  ui/src/components/elements/hit/PivotTooltip.tsx
  ui/src/components/elements/hit/related/PivotFolderMenu.test.tsx
  ui/src/components/elements/hit/related/PivotFolderMenu.tsx
  ui/src/components/elements/hit/related/PivotLink.tsx
  ui/src/components/elements/hit/related/RelatedLink.tsx
  ui/src/components/hooks/useMyPreferences.tsx
  ui/src/components/routes/dossiers/DossierEditor.tsx
  ui/src/components/routes/dossiers/PivotForm.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
  ui/src/models/entities/generated/Pivot.d.ts
  ui/src/tests/DossierGroupValidation.test.ts
  ui/src/tests/pivotForest.test.ts
  ui/src/tests/pivotGroupValidation.test.ts
  ui/src/utils/constants.tsx
  ui/src/utils/pivotForest.ts
  ui/src/utils/pivotGroupValidation.ts
Due: lint-staged, bad-ui-imports

fix(api): working on type fixes for redis
  api/howler/remote/datatypes/__init__.py
  api/howler/remote/datatypes/hash.py
  api/howler/remote/datatypes/lock.py
  api/howler/remote/datatypes/queues/priority.py
  api/howler/remote/datatypes/set.py
  api/howler/remote/datatypes/user_quota_tracker.py
Due: none

more test fixes
  ui/src/components/app/providers/ViewProvider.tsx
  ui/src/components/elements/hit/HitOutline.tsx
  ui/src/components/hooks/useLocalStorageItem.tsx
  ui/src/components/hooks/useMyLocalStorage.ts
Due: lint-staged, bad-ui-imports

more cleanup
  ui/src/components/app/providers/GridColumnsProvider.tsx
  ui/src/components/app/providers/ParameterProvider.tsx
  ui/src/components/app/providers/RecordSearchProvider.tsx
  ui/src/components/app/providers/SearchResponseProvider.tsx
  ui/src/components/elements/EditRow.tsx
  ui/src/components/elements/addons/layout/vsbox/VSBox.tsx
  ui/src/components/elements/addons/layout/vsbox/VSBoxHeader.tsx
  ui/src/components/elements/addons/lists/TuiListProvider.tsx
  ui/src/components/elements/addons/search/phrase/index.ts
  ui/src/components/elements/display/markdownPlugins/tabs.ts
  ui/src/components/elements/hit/HitBanner.test.tsx
  ui/src/components/hooks/useLocalStorageItem.tsx
  ui/src/components/hooks/useMyUser.tsx
  ui/src/components/hooks/useParamState.ts
  ui/src/components/routes/cases/detail/CaseTask.tsx
  ui/src/components/routes/hits/search/shared/CustomSort.tsx
  ui/src/plugins/clue/components/CluePivot.tsx
  ui/src/tests/MockLocalStorage.ts
  ui/src/utils/classificationParser.ts
  ui/src/utils/utils.ts
  ui/src/utils/xsrf.ts
Due: lint-staged, bad-ui-imports

release notes
  docs/RELEASES.md
Due: none

fix(ui): fix unit tests
  ui/src/components/elements/hit/HitSummary.tsx
  ui/src/tests/MockLocalStorage.ts
Due: lint-staged, bad-ui-imports

fix(ui): more minor updates
  ui/pnpm-lock.yaml
  ui/src/components/elements/EditRow.tsx
  ui/src/components/elements/addons/layout/vsbox/VSBox.tsx
  ui/src/components/elements/addons/layout/vsbox/VSBoxHeader.tsx
  ui/src/components/elements/hit/HitOutline.tsx
  ui/src/components/routes/cases/detail/CaseDashboard.tsx
  ui/src/components/routes/cases/detail/CaseObservables.tsx
  ui/src/components/routes/cases/detail/sidebar/CaseFolder.tsx
  ui/src/components/routes/cases/modals/ResolveModal.tsx
  ui/src/components/routes/dossiers/PivotForm.tsx
Due: lint-staged, bad-ui-imports

review
  .vscode/settings.json
  api/howler/odm/models/pivot.py
  api/howler/services/dossier_service.py
  api/test/integration/api/test_dossier.py
  api/test/unit/endpoints/test_dossier_endpoint.py
  api/test/unit/services/test_dossier_service.py
  ui/src/api/dossier/groups.ts
  ui/src/components/app/App.tsx
  ui/src/components/app/providers/PivotGroupProvider.tsx
  ui/src/components/elements/hit/HitLinks.test.tsx
  ui/src/components/elements/hit/HitLinks.tsx
  ui/src/components/elements/hit/PivotGroupMenuItem.test.tsx
  ui/src/components/elements/hit/PivotGroupMenuItem.tsx
  ui/src/components/elements/hit/related/PivotFolderMenu.test.tsx
  ui/src/components/elements/hit/related/PivotFolderMenu.tsx
  ui/src/components/elements/hit/related/PivotFolderMenu/PivotFlyoutContent.tsx
  ui/src/components/elements/hit/related/PivotFolderMenu/PivotSubMenuItem.tsx
  ui/src/components/elements/hit/related/PivotFolderMenu/index.tsx
  ui/src/components/elements/hit/related/PivotFolderMenu/types.d.ts
  ui/src/components/elements/hit/related/PivotFolderMenu/utils.ts
  ui/src/components/elements/hit/related/PivotLink.tsx
  ui/src/components/elements/hit/related/RelatedLink.test.tsx
  ui/src/components/elements/hit/related/RelatedLink.tsx
  ui/src/models/entities/generated/Pivot.d.ts
  ui/src/utils/pivotForest.ts
  ui/src/utils/pivotGroupValidation.ts
Due: lint-staged, bad-ui-imports

fix ui test
  ui/src/components/elements/hit/HitOutline.test.tsx
Due: lint-staged, bad-ui-imports

chore(api): split unit/integration tests
  .github/workflows/api-workflow.yml
Due: none

corrected unit test
  hooks/oxlint.sh
  ui/src/tests/DossierGroupValidation.test.ts
  ui/src/tests/pivotGroupValidation.test.ts
Due: lint-staged, bad-ui-imports

small fix
  ui/src/components/elements/membership/MembershipManagement.tsx
Due: lint-staged, bad-ui-imports

more corrections
  .vscode/settings.json
  api/howler/api/v1/dossier.py
  api/howler/odm/helper.py
  api/howler/odm/models/pivot.py
  api/howler/services/dossier_service.py
  api/test/integration/api/test_dossier.py
  api/test/integration/service/test_dossier_service.py
  api/test/unit/services/test_dossier_group_service.py
  hooks/oxlint.sh
  ui/src/components/elements/hit/PivotTooltip.tsx
Due: lint-staged, bad-ui-imports

fix ui tests
  ui/src/components/elements/UserList.test.tsx
  ui/src/components/elements/UserList.tsx
  ui/src/components/routes/dossiers/DossierCard.test.tsx
Due: lint-staged, bad-ui-imports

fix api tests, pr feedback
  api/howler/api/v1/view.py
  api/howler/services/dossier_service.py
  api/howler/services/permission_service.py
  api/test/integration/api/test_hit.py
  api/test/integration/service/test_hit_service.py
  api/test/unit/services/test_permission_service.py
Due: none

fix edit checks on action
  api/howler/api/v1/action.py
Due: none

fix tests
  api/test/integration/api/test_view.py
  api/test/integration/service/test_dossier_service.py
  api/test/unit/services/test_permission_service.py
Due: none

Apply batched suggestions from code review
  api/howler/api/v1/action.py
  api/howler/odm/models/permission_request.py
Due: none

fix migration logic
  api/howler/api/v1/action.py
  api/howler/datastore/migrations/action_owner.py
  api/howler/datastore/migrations/runner.py
  api/howler/external/README.md
  documentation/docs/migration.md
Due: none
