Repository CybercentreCanada/howler: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check-api, poetry-check-client, poetry-check-evidence, poetry-check-sentinel, lint-staged

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.8.0
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix, --output-format=concise]
      # Run the formatter.
      - id: ruff-format
  - repo: local
    hooks:
      - id: poetry-check-api
        name: poetry-check-api
        entry: api/build_scripts/check_poetry.sh
        language: script
        stages: [pre-commit]
        files: ^api/.*\.(toml|lock)
      - id: poetry-check-client
        name: poetry-check-client
        entry: client/build_scripts/check_poetry.sh
        language: script
        stages: [pre-commit]
        files: ^client/.*\.(toml|lock)
      - id: poetry-check-evidence
        name: poetry-check-evidence
        entry: plugins/evidence/build_scripts/check_poetry.sh
        language: script
        stages: [pre-commit]
        files: ^plugins/evidence/.*\.(toml|lock)
      - id: poetry-check-sentinel
        name: poetry-check-sentinel
        entry: plugins/sentinel/build_scripts/check_poetry.sh
        language: script
        stages: [pre-commit]
        files: ^plugins/sentinel/.*\.(toml|lock)
      - id: lint-staged
        name: lint-staged
        entry: ui/build_scripts/lint_staged.sh
        language: script
        stages: [pre-commit]
        files: ^ui/.*

SPBK-3709: Added translations
  ui/src/components/routes/hits/search/HitQuery.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged

Convert docker images to alpine (#60)
  .github/workflows/api-workflow.yml
  api/docker/Dockerfile
  api/poetry.lock
  api/pyproject.toml
  ui/docker/Dockerfile
Due: poetry-check-api, lint-staged

Added clear query button (#61)
  ui/src/components/routes/hits/search/HitQuery.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged

Fixed missing AnalyticsProvider
  ui/src/components/app/App.tsx
Due: lint-staged

Fix clear button
  ui/src/components/routes/hits/search/HitQuery.tsx
Due: lint-staged

SPBK-3708: Added more information and url links to references
  ui/src/components/routes/help/SearchDocumentation.tsx
Due: lint-staged

Improved advanced search functionality
  ui/.prettierignore
  ui/src/components/routes/advanced/QueryBuilder.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged

PR Feedback
  .prettierignore
  .vscode/settings.json
  ui/.prettierignore
  ui/src/locales/en/translation.json
Due: lint-staged

SPBK-3708: Added all documentation, and english text
  ui/src/components/routes/help/SearchDocumentation.tsx
  ui/src/locales/en/help/search.json
Due: lint-staged

SPBK-3708: Added french translations
  ui/src/locales/en/help/search.json
  ui/src/locales/fr/help/search.json
Due: lint-staged

Translation fix
  ui/src/locales/fr/translation.json
Due: lint-staged

type fix
  ui/src/components/routes/advanced/QueryBuilder.tsx
Due: lint-staged

Type fix
  ui/src/components/routes/advanced/QueryBuilder.tsx
Due: lint-staged

Localized howler helpers
  ui/src/components/elements/display/handlebars/helpers.tsx
  ui/src/components/routes/overviews/startingTemplate.ts
Due: lint-staged

Improved template localization
  .vscode/settings.json
  ui/src/components/routes/overviews/startingTemplate.ts
  ui/src/components/routes/overviews/template.en.md
  ui/src/components/routes/overviews/template.fr.md
Due: lint-staged

Fixed JSON search to always show on information pane
  ui/src/components/elements/display/json/JSONViewer.tsx
  ui/src/components/routes/hits/search/InformationPane.tsx
Due: lint-staged

Added documentation for Text vs Keyword in Howler (#63)
  ui/src/components/routes/help/SearchDocumentation.tsx
  ui/src/locales/en/help/search.json
  ui/src/locales/fr/help/search.json
Due: lint-staged

Improved advanced search functionality (#62)
  .prettierignore
  .vscode/settings.json
  ui/.prettierignore
  ui/src/components/routes/advanced/QueryBuilder.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged

PR Feedback
  ui/src/components/elements/display/json/JSONViewer.tsx
  ui/src/components/routes/hits/search/InformationPane.tsx
  ui/src/utils/stringUtils.ts
Due: lint-staged

Reoving commit usage in codebase
  api/howler/actions/transition.py
  api/howler/api/v1/action.py
  api/howler/api/v1/analytic.py
  api/howler/api/v1/dossier.py
  api/howler/api/v1/hit.py
  api/howler/api/v1/tool.py
  api/howler/api/v1/view.py
  api/howler/cronjobs/retention.py
  api/howler/cronjobs/rules.py
  api/howler/services/analytic_service.py
  api/howler/services/dossier_service.py
  api/howler/services/hit_service.py
  api/howler/services/user_service.py
  api/test/integration/api/test_actions.py
  api/test/integration/api/test_analytic.py
  api/test/integration/api/test_bundles.py
  api/test/integration/api/test_comment.py
  api/test/integration/api/test_dossier.py
  api/test/integration/api/test_etag.py
  api/test/integration/api/test_hit.py
  api/test/integration/api/test_hit_transition.py
  api/test/integration/api/test_overview.py
  api/test/integration/api/test_search.py
  api/test/integration/api/test_template.py
  api/test/integration/api/test_user.py
  api/test/integration/api/test_view.py
  api/test/integration/cronjobs/test_rules.py
  api/test/integration/service/test_lucene_service.py
  api/test/integration/test_datastore.py
  api/test/integration/test_datastore_odm.py
  api/test/unit/actions/test_add_to_bundle.py
  api/test/unit/actions/test_remove_from_bundle.py
  api/test/unit/services/test_action_service.py
Due: none

Working on tests
  api/howler/api/v1/analytic.py
  api/howler/api/v1/hit.py
  api/test/integration/api/test_actions.py
  api/test/integration/api/test_analytic.py
Due: none

Fix hit tests
  api/test/integration/api/test_hit.py
Due: none

Fixing datastore tests
  api/howler/api/v1/view.py
  api/test/integration/api/test_view.py
  api/test/integration/test_datastore.py
Due: none

SPBK-3710: Added assessor field
  api/howler/odm/models/howler_data.py
Due: none

Fixes to test action service
  api/test/unit/services/test_action_service.py
Due: none

Added release notes
  docs/RELEASES.md
Due: none

Trim whitespace
  docs/RELEASES.md
Due: none

Fixed rule tests
  api/howler/cronjobs/rules.py
Due: none

Fixed dossier tests
  api/test/integration/api/test_dossier.py
Due: none

Fixed overview tests
  api/test/integration/api/test_overview.py
Due: none

More test fixes
  api/test/integration/api/test_template.py
  api/test/unit/actions/test_add_to_bundle.py
Due: none

Fix lucene service test
  api/test/integration/service/test_lucene_service.py
Due: none

Fixed JSON search to always show on information pane (#65)
  ui/src/components/elements/display/json/JSONViewer.tsx
  ui/src/components/routes/hits/search/InformationPane.tsx
  ui/src/utils/stringUtils.ts
Due: lint-staged

SPBK-3707: Added documentation for howler fields
  ui/src/components/app/App.tsx
  ui/src/components/hooks/useMyPreferences.tsx
  ui/src/components/routes/help/TriageDocumentation.tsx
Due: lint-staged

Update release notes
  docs/RELEASES.md
Due: none

More test fixes
  api/test/integration/test_datastore_odm.py
  api/test/unit/actions/test_add_to_bundle.py
  api/test/unit/actions/test_remove_from_bundle.py
Due: none

More work on tests
  api/howler/api/v1/overview.py
  api/howler/odm/random_data.py
Due: none

Fixed dossier and analytic fetching logic on information pane
  ui/src/components/app/hooks/useMatchers.tsx
  ui/src/components/routes/hits/search/InformationPane.tsx
Due: lint-staged

Fixed associated tests
  ui/src/components/app/hooks/useMatchers.test.ts
Due: lint-staged
