Repository CybercentreCanada/howler: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check-api, poetry-check-client, poetry-check-evidence, poetry-check-sentinel, lint-staged, bad-ui-imports

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - commit-msg

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.8.0
    hooks:
      # Run the linter.
      - id: ruff
        name: Ruff Linting
        args: [--fix, --output-format=concise]
      # Run the formatter.
      - id: ruff-format
        name: Ruff Formatting
  # - repo: https://github.com/compilerla/conventional-pre-commit
  #   rev: v4.3.0
  #   hooks:
  #     - id: conventional-pre-commit
  #       stages: [commit-msg]
  - repo: local
    hooks:
      - id: poetry-check-api
        name: poetry-check-api
        entry: hooks/check_poetry.sh
        args: [api]
        language: script
        stages: [pre-commit]
        files: ^api/.*\.(toml|lock)
      - id: poetry-check-client
        name: Poetry Check (client)
        entry: hooks/check_poetry.sh
        args: [client]
        language: script
        stages: [pre-commit]
        files: ^client/.*\.(toml|lock)
      - id: poetry-check-evidence
        name: Poetry Check (Evidence Plugin)
        entry: hooks/check_poetry.sh
        args: [plugins/evidence]
        language: script
        stages: [pre-commit]
        files: ^plugins/evidence/.*\.(toml|lock)
      - id: poetry-check-sentinel
        name: Poetry Check (Sentinel Plugin)
        entry: hooks/check_poetry.sh
        args: [plugins/sentinel]
        language: script
        stages: [pre-commit]
        files: ^plugins/sentinel/.*\.(toml|lock)
      - id: lint-staged
        name: lint-staged
        entry: ui/build_scripts/lint_staged.sh
        language: script
        stages: [pre-commit]
        files: ^ui/.*
      - id: bad-ui-imports
        name: Check for bad UI imports
        entry: ui/build_scripts/find_bad_imports.py
        language: python
        stages: [pre-commit]
        files: ^ui/.*
      - id: check-commit-msg
        name: Validate Commit Message
        entry: hooks/commit-msg.py
        language: python
        stages: [commit-msg]
        additional_dependencies: ["conventional-pre-commit", "rich"]
        verbose: true

fix howler client test
  client/test/integration/test_hit.py
Due: none

more test fixing whacamole
  api/test/integration/regression/test_bundle_regression.py
Due: none

more howler client test updates
  client/test/integration/test_hit.py
Due: none

fix howler client test again
  client/test/integration/test_hit.py
Due: none

more fixes to search
  api/howler/api/v2/search.py
  api/howler/helper/search.py
  api/howler/services/search_service.py
  ui/src/components/elements/display/ChipPopper.tsx
  ui/src/components/routes/cases/Cases.tsx
Due: lint-staged, bad-ui-imports

more notes on access control
  api/howler/api/v2/search.py
  api/howler/odm/models/case.py
Due: none

argh
  client/test/integration/test_hit.py
Due: none

fix client test again
  client/test/integration/test_hit.py
Due: none

update search service errors
  api/test/integration/service/test_search_service.py
Due: none

fix various test errors/issues
  .github/workflows/ui-workflow.yml
  .pre-commit-config.yaml
  api/howler/api/v1/hit.py
  api/howler/api/v1/tool.py
  api/howler/api/v2/search.py
  api/howler/helper/search.py
  api/howler/odm/models/case.py
  api/howler/services/search_service.py
  api/test/integration/api/test_wait_for_refresh.py
  api/test/integration/regression/test_bundle_regression.py
  api/test/integration/service/test_search_service.py
  client/test/integration/test_hit.py
  client/test/integration/test_v2_search.py
  plugins/evidence/poetry.lock
  plugins/sentinel/poetry.lock
  ui/build_scripts/check_translation.py
  ui/src/components/elements/display/ChipPopper.tsx
  ui/src/components/elements/display/HowlerCard.test.tsx
  ui/src/components/elements/hit/HitBanner.tsx
  ui/src/components/elements/hit/elements/Assigned.tsx
  ui/src/components/routes/cases/Cases.tsx
  ui/src/components/routes/hits/search/grid/RecordRow.tsx
Due: poetry-check-evidence, poetry-check-sentinel, lint-staged, bad-ui-imports

pr feedback
  api/howler/odm/random_data.py
  ui/src/api/v2/case/items.ts
  ui/src/components/routes/cases/detail/TaskPanel.tsx
Due: lint-staged, bad-ui-imports

pr feedback
  ui/src/components/routes/cases/detail/TaskPanel.tsx
Due: lint-staged, bad-ui-imports

test fixes
  api/howler/services/case_service.py
  ui/src/components/routes/cases/detail/CaseSidebar.test.tsx
  ui/src/components/routes/cases/detail/CaseTask.test.tsx
  ui/src/components/routes/cases/detail/TaskPanel.test.tsx
Due: lint-staged, bad-ui-imports

Redis resilience, upgrade redis-py
  api/howler/odm/models/config.py
  api/howler/remote/datatypes/__init__.py
  api/poetry.lock
  api/pyproject.toml
  api/test/unit/test_redis_datatypes.py
Due: poetry-check-api

fix types
  api/howler/remote/datatypes/hash.py
Due: none

Fix pyright
  api/howler/remote/datatypes/counters.py
  api/howler/remote/datatypes/user_quota_tracker.py
  api/test/integration/test_event_sink.py
Due: none

Review copilot review
  api/howler/remote/datatypes/__init__.py
Due: none

Adjust tests
  api/test/unit/test_redis_datatypes.py
Due: none

add layout and grid settings to view model
  api/howler/odm/models/view.py
Due: none

add list/grid toggle in view composer
  ui/src/components/elements/view/LayoutToggle.tsx
  ui/src/components/routes/hits/search/shared/LayoutSettings.tsx
  ui/src/components/routes/views/ViewComposer.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports

extract search action buttons into component and use in list and grid layout
  ui/src/components/routes/hits/search/SearchPane.tsx
  ui/src/components/routes/hits/search/grid/HitGrid.tsx
  ui/src/components/routes/hits/search/shared/BundleParentMenu.tsx
  ui/src/components/routes/hits/search/shared/LayoutSettings.tsx
  ui/src/components/routes/hits/search/shared/SearchActionMenu.tsx
Due: lint-staged, bad-ui-imports

create hook to handle parsing grid columns from views and local storage
  api/howler/odm/models/view.py
  ui/src/components/elements/hit/grid/HitTable.tsx
  ui/src/components/hooks/useGridColumns.tsx
  ui/src/components/routes/hits/search/grid/HitGrid.tsx
  ui/src/components/routes/views/ViewComposer.tsx
Due: lint-staged, bad-ui-imports

extract HitTable component from HitGrid
  ui/src/components/elements/hit/HitContextMenu.test.tsx
  ui/src/components/elements/hit/HitContextMenu.tsx
  ui/src/components/elements/hit/grid/AddColumnModal.tsx
  ui/src/components/elements/hit/grid/ColumnHeader.tsx
  ui/src/components/elements/hit/grid/EnhancedCell.tsx
  ui/src/components/elements/hit/grid/HitRow.tsx
  ui/src/components/elements/hit/grid/HitTable.tsx
  ui/src/components/routes/hits/search/SearchPane.tsx
  ui/src/components/routes/hits/search/grid/HitGrid.tsx
  ui/src/components/routes/home/ViewCard.tsx
Due: lint-staged, bad-ui-imports

fix resolve modal layout
  ui/src/components/routes/cases/modals/ResolveModal.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports

feat(ui,api): add better case handling in cases sidebar (#425)
  api/howler/odm/random_data.py
  api/howler/services/case_service.py
  api/test/unit/services/test_case_service.py
  ui/src/api/v2/case/items.ts
  ui/src/components/routes/cases/detail/CaseSidebar.test.tsx
  ui/src/components/routes/cases/detail/CaseTask.test.tsx
  ui/src/components/routes/cases/detail/CaseTask.tsx
  ui/src/components/routes/cases/detail/TaskPanel.test.tsx
  ui/src/components/routes/cases/detail/TaskPanel.tsx
  ui/src/components/routes/cases/detail/sidebar/CaseFolder.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports

generate classes and manually revert known issues
  ui/src/models/entities/generated/Column.d.ts
  ui/src/models/entities/generated/Host.d.ts
  ui/src/models/entities/generated/Settings.d.ts
Due: lint-staged, bad-ui-imports

test fixes
  ui/src/components/routes/cases/detail/CaseAssets.test.tsx
  ui/src/components/routes/cases/modals/ResolveModal.test.tsx
  ui/src/tests/server-handlers.ts
Due: lint-staged, bad-ui-imports

sidebar layout change
  ui/src/components/routes/cases/detail/CaseSidebar.tsx
Due: lint-staged, bad-ui-imports

convert grid hook to provider and handle widths
  ui/src/components/app/App.tsx
  ui/src/components/app/providers/GridColumnsProvider.tsx
  ui/src/components/elements/hit/grid/HitTable.tsx
  ui/src/components/hooks/useGridColumns.tsx
  ui/src/components/routes/hits/search/HitBrowser.tsx
  ui/src/components/routes/hits/search/grid/HitGrid.tsx
  ui/src/components/routes/views/ViewComposer.tsx
Due: lint-staged, bad-ui-imports

set width as optional and simplify provider
  api/howler/odm/models/view.py
  ui/src/components/app/App.tsx
  ui/src/components/app/providers/GridColumnsProvider.tsx
  ui/src/components/elements/hit/grid/HitTable.tsx
  ui/src/components/routes/views/ViewComposer.tsx
Due: lint-staged, bad-ui-imports

feat(ui): reworked asset page
  ui/src/components/routes/cases/detail/CaseAssets.test.tsx
  ui/src/components/routes/cases/detail/CaseAssets.tsx
  ui/src/components/routes/cases/detail/assets/Asset.tsx
  ui/src/components/routes/cases/detail/assets/AssetTable.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports

Set unlimited socket timeout for worker queue
  api/howler/remote/datatypes/__init__.py
  api/test/unit/test_redis_datatypes.py
Due: none

feat(api): upgrade redis-py and improve redis resiliency (#428)
  api/howler/odm/models/config.py
  api/howler/remote/datatypes/__init__.py
  api/howler/remote/datatypes/counters.py
  api/howler/remote/datatypes/hash.py
  api/howler/remote/datatypes/user_quota_tracker.py
  api/poetry.lock
  api/pyproject.toml
  api/test/integration/test_event_sink.py
  api/test/unit/test_redis_datatypes.py
Due: poetry-check-api

updated the set_privilege_mapping to not re-write and do what it was intended
  api/howler/odm/models/action.py
  api/howler/odm/models/dossier.py
  api/howler/odm/models/view.py
Due: none

corrected wrong if statement at delete dossier
  api/howler/api/v1/dossier.py
Due: none

corrected some error in unit test for memberships
  api/test/integration/api/test_dossier.py
Due: none

added comment for clarity and removed option to remove owner
  api/howler/api/v1/action.py
  api/howler/odm/models/dossier.py
  api/howler/odm/models/view.py
Due: none

able to grab member option for ui and send a update request for a view through the backend
  api/howler/api/v1/action.py
  ui/src/api/action/index.ts
  ui/src/components/routes/action/view/ActionDetails.tsx
Due: lint-staged, bad-ui-imports

action has a working username search bar and is able to comunicate with the api
  api/howler/api/v1/user.py
  ui/src/api/user/index.ts
  ui/src/components/routes/action/view/ActionDetails.tsx
Due: lint-staged, bad-ui-imports

changed button name for clarity
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports
