Repository CybercentreCanada/howler: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check-api, poetry-check-client, poetry-check-evidence, poetry-check-sentinel, lint-staged, bad-ui-imports

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - commit-msg

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.8.0
    hooks:
      # Run the linter.
      - id: ruff
        name: Ruff Linting
        args: [--fix, --output-format=concise]
      # Run the formatter.
      - id: ruff-format
        name: Ruff Formatting
  # - repo: https://github.com/compilerla/conventional-pre-commit
  #   rev: v4.3.0
  #   hooks:
  #     - id: conventional-pre-commit
  #       stages: [commit-msg]
  - repo: local
    hooks:
      - id: poetry-check-api
        name: poetry-check-api
        entry: hooks/check_poetry.sh
        args: [api]
        language: script
        stages: [pre-commit]
        files: ^api/.*\.(toml|lock)
      - id: poetry-check-client
        name: Poetry Check (client)
        entry: hooks/check_poetry.sh
        args: [client]
        language: script
        stages: [pre-commit]
        files: ^client/.*\.(toml|lock)
      - id: poetry-check-evidence
        name: Poetry Check (Evidence Plugin)
        entry: hooks/check_poetry.sh
        args: [plugins/evidence]
        language: script
        stages: [pre-commit]
        files: ^plugins/evidence/.*\.(toml|lock)
      - id: poetry-check-sentinel
        name: Poetry Check (Sentinel Plugin)
        entry: hooks/check_poetry.sh
        args: [plugins/sentinel]
        language: script
        stages: [pre-commit]
        files: ^plugins/sentinel/.*\.(toml|lock)
      - id: lint-staged
        name: lint-staged
        entry: ui/build_scripts/lint_staged.sh
        language: script
        stages: [pre-commit]
        files: ^ui/.*
      - id: bad-ui-imports
        name: Check for bad UI imports
        entry: ui/build_scripts/find_bad_imports.py
        language: python
        stages: [pre-commit]
        files: ^ui/.*
      - id: check-commit-msg
        name: Validate Commit Message
        entry: hooks/commit-msg.py
        language: python
        stages: [commit-msg]
        additional_dependencies: ["conventional-pre-commit", "rich"]
        verbose: true

few more issue solved
  api/howler/api/v1/action.py
  api/howler/api/v1/dossier.py
  api/howler/api/v1/helper/permission_helper.py
  api/howler/api/v1/view.py
  api/test/integration/api/test_correlation.py
  ui/src/api/dossier/index.ts
  ui/src/api/view/index.ts
Due: lint-staged, bad-ui-imports

corrected issue, now can use ctrl-left click to action multiple hit at once with an action
  ui/src/components/elements/record/RecordContextMenu.test.tsx
  ui/src/components/elements/record/RecordContextMenu.tsx
Due: lint-staged, bad-ui-imports

the test is longer then the update :(
  ui/src/components/elements/record/RecordContextMenu.test.tsx
Due: lint-staged, bad-ui-imports

feat(client): update typing for create call, bump version
  client/howler_client/module/hit.py
  client/pyproject.toml
Due: poetry-check-client

fix: ui test
  ui/src/components/routes/cases/detail/AlertPanel.test.tsx
Due: lint-staged, bad-ui-imports

fix(ui): allowing multi action using right click (#513)
  ui/src/components/elements/record/RecordContextMenu.test.tsx
  ui/src/components/elements/record/RecordContextMenu.tsx
Due: lint-staged, bad-ui-imports

chore(ui): bump react-router to v7
  ui/package.json
  ui/pnpm-lock.yaml
Due: lint-staged, bad-ui-imports

fix(ui): update react-router to latest v7
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/components/elements/ContextMenu.tsx
  ui/src/components/elements/hit/HitOverview.tsx
  ui/src/components/routes/cases/detail/CaseOverview.tsx
  ui/src/components/routes/overviews/OverviewViewer.tsx
  ui/src/index.css
Due: lint-staged, bad-ui-imports

fix(ui): links in observable table and timeline now work correctly
  .vscode/settings.json
  api/howler/odm/models/case.py
  ui/src/components/app/App.tsx
  ui/src/components/hooks/useMySitemap.tsx
  ui/src/components/routes/cases/CaseViewer.tsx
  ui/src/components/routes/cases/detail/CaseObservables.test.tsx
  ui/src/components/routes/cases/detail/CaseObservables.tsx
  ui/src/components/routes/cases/detail/CaseTimeline.test.tsx
  ui/src/components/routes/cases/detail/CaseTimeline.tsx
  ui/src/components/routes/cases/detail/observables/Observable.test.tsx
  ui/src/components/routes/cases/detail/observables/Observable.tsx
  ui/src/components/routes/cases/detail/observables/ObservableTable.test.tsx
  ui/src/components/routes/cases/detail/observables/ObservableTable.tsx
  ui/src/components/routes/cases/detail/types.d.ts
  ui/src/components/routes/cases/detail/utils.test.ts
  ui/src/components/routes/cases/detail/utils.ts
Due: lint-staged, bad-ui-imports

update app.tsx
  ui/src/components/app/App.tsx
  ui/src/components/routes/ErrorBoundary.test.tsx
  ui/src/components/routes/ErrorBoundary.tsx
  ui/src/components/routes/cases/CaseViewer.tsx
Due: lint-staged, bad-ui-imports

fix tests
  ui/src/components/routes/cases/detail/observables/ObservableTable.test.tsx
Due: lint-staged, bad-ui-imports

fix tests
  api/test/unit/odm/test_case.py
Due: none

vscode settings fix
  .vscode/settings.json
Due: none

pair programming stuff
  .vscode/settings.json
  api/howler/api/v1/action.py
  api/howler/api/v1/dossier.py
  api/howler/api/v1/helper/permission_helper.py
  api/howler/api/v1/utils/permission_helper.py
  api/howler/api/v1/view.py
  api/howler/odm/models/permission_request.py
  api/howler/services/permission_service.py
  api/test/unit/helper/test_permission_helper.py
  api/test/unit/services/test_permission_service.py
  ui/src/api/action/index.ts
  ui/src/api/dossier/index.ts
  ui/src/api/permission.ts
  ui/src/api/utils/createPermissionsApi.ts
  ui/src/api/view/index.ts
  ui/src/components/elements/MembershipManagement.tsx
  ui/src/components/elements/UserList.tsx
  ui/src/components/routes/action/view/ActionDetails.tsx
  ui/src/components/routes/dossiers/DossierEditor.tsx
  ui/src/components/routes/views/ViewComposer.tsx
Due: lint-staged, bad-ui-imports

Enabling strict checking in TypeScript configuration (#525)
  ui/src/commons/components/utils/hooks/useFullscreenStatus.tsx
  ui/src/components/routes/hits/search/shared/HitFilter.tsx
  ui/src/components/routes/hits/view/HitViewer.tsx
  ui/src/components/routes/home/AddNewCard.tsx
  ui/src/components/routes/home/ViewCard.tsx
  ui/src/components/routes/overviews/OverviewViewer.tsx
  ui/src/components/routes/settings/SecuritySection.tsx
  ui/src/components/routes/templates/TemplateViewer.tsx
  ui/src/plugins/HowlerPlugin.ts
  ui/src/plugins/clue/components/CluePivotForm.tsx
  ui/src/plugins/clue/components/ClueTypography.tsx
  ui/src/plugins/clue/index.tsx
  ui/src/utils/actionUtils.ts
  ui/src/utils/classificationParser.ts
  ui/src/utils/utils.ts
  ui/tsconfig.json
Due: lint-staged, bad-ui-imports

added ability to generate luecen querry for the llm with information, as well as remade the docstring to be following the google format as the rest of the howler project
  mcp/howler_mcp/prompts.py
  mcp/howler_mcp/tools.py
Due: none

added unit test for new tool
  mcp/test/tools_unit_test.py
Due: none

added documentation to all mcp fucntion
  mcp/howler_mcp/api.py
  mcp/howler_mcp/auth.py
  mcp/howler_mcp/server.py
Due: none

added comments for unclear area
  mcp/howler_mcp/tools.py
Due: none

update
  ui/src/components/routes/dossiers/DossierEditor.tsx
  ui/src/components/routes/views/ViewComposer.tsx
Due: lint-staged, bad-ui-imports

merge unknown catch pr
  ui/src/components/app/providers/RecordSearchProvider.tsx
  ui/src/components/elements/display/HandlebarsMarkdown.tsx
  ui/src/components/elements/hit/HitLabels.tsx
  ui/src/components/elements/hit/HitSummary.tsx
  ui/src/components/hooks/useMyApi.tsx
  ui/src/components/routes/advanced/QueryBuilder.tsx
  ui/src/components/routes/hits/view/HitViewer.tsx
  ui/src/components/routes/views/ViewComposer.tsx
  ui/src/plugins/clue/helpers.tsx
  ui/tsconfig.json
Due: lint-staged, bad-ui-imports

Remove unintended `ui/package-lock.json` from branch (#529)
  ui/src/commons/components/app/hooks/useAppUser.tsx
  ui/src/commons/components/app/providers/AppUserProvider.tsx
  ui/src/commons/components/notification/Notification.tsx
  ui/src/components/app/drawers/AssignUserDrawer.tsx
  ui/src/components/app/providers/RecordProvider.tsx
  ui/src/components/app/providers/RecordSearchProvider.tsx
  ui/src/components/elements/addons/lists/TuiList.tsx
  ui/src/components/elements/addons/lists/TuiListBase.tsx
  ui/src/components/elements/addons/lists/TuiListElement.tsx
  ui/src/components/elements/display/HandlebarsMarkdown.tsx
  ui/src/components/elements/display/ItemManager.tsx
  ui/src/components/elements/hit/HitActions.tsx
  ui/src/components/elements/hit/HitLabels.tsx
  ui/src/components/elements/hit/actions/ButtonActions.tsx
  ui/src/components/elements/hit/aggregate/HitGraph.tsx
  ui/src/components/elements/hit/grid/RecordTable.tsx
  ui/src/components/hooks/useRecordSelection.tsx
  ui/src/components/routes/action/useMyActionFunctions.tsx
  ui/src/components/routes/admin/users/UserEditor.tsx
  ui/src/components/routes/help/ApiDocumentation.tsx
  ui/src/components/routes/help/SearchDocumentation.tsx
  ui/src/components/routes/home/AddNewCard.tsx
  ui/src/components/routes/settings/Settings.tsx
  ui/src/plugins/clue/setup.ts
  ui/tsconfig.json
Due: lint-staged, bad-ui-imports

Potential fix for pull request finding
  client/howler_client/module/hit.py
Due: none

feat(client): update typing for create call, bump version (#515)
  client/howler_client/module/hit.py
  client/pyproject.toml
Due: poetry-check-client

added tool for the model to be able to read specific fields and updated prompts to make it more obvious what the model should do when building a querry
  mcp/howler_mcp/prompts.py
  mcp/howler_mcp/tools.py
Due: none

added method to make the querry smaller and more manageable by the llm.
  mcp/howler_mcp/prompts.py
  mcp/howler_mcp/tools.py
Due: none

added dev setup to remove and use later, this is use to not loose it
  mcp/howler_mcp/dev_setup.py
Due: none

fix(ui): links in observable table and timeline now work correctly (#519)
  .vscode/settings.json
  api/howler/odm/models/case.py
  api/test/unit/odm/test_case.py
  ui/src/components/hooks/useMySitemap.tsx
  ui/src/components/routes/ErrorBoundary.test.tsx
  ui/src/components/routes/ErrorBoundary.tsx
  ui/src/components/routes/cases/detail/CaseObservables.test.tsx
  ui/src/components/routes/cases/detail/CaseObservables.tsx
  ui/src/components/routes/cases/detail/CaseTimeline.test.tsx
  ui/src/components/routes/cases/detail/CaseTimeline.tsx
  ui/src/components/routes/cases/detail/observables/Observable.test.tsx
  ui/src/components/routes/cases/detail/observables/Observable.tsx
  ui/src/components/routes/cases/detail/observables/ObservableTable.test.tsx
  ui/src/components/routes/cases/detail/observables/ObservableTable.tsx
  ui/src/components/routes/cases/detail/types.d.ts
  ui/src/components/routes/cases/detail/utils.test.ts
  ui/src/components/routes/cases/detail/utils.ts
Due: lint-staged, bad-ui-imports

fix: formatting
  api/howler/datastore/README.md
  api/howler/odm/README.md
  api/howler/remote/datatypes/README.md
Due: none

fix: test error
  plugins/sentinel/sentinel/mapping/sentinel_incident.py
Due: none

chore(ci): added release notes script
  scripts/releasenotes.sh
Due: none

chore(api,ui): post-release version bumps
  api/pyproject.toml
  ui/package.json
Due: poetry-check-api, lint-staged, bad-ui-imports

fix(client): update client test dependencies
  client/test/config/config.yml
  client/test/docker-compose.yml
Due: none

fix(ci): more prettier work
  ui/build_scripts/prettier.sh
Due: lint-staged, bad-ui-imports

fix(ci): bypass lint-staged
  .pre-commit-config.yaml
  documentation/docs/developer/frontend.fr.md
  documentation/docs/developer/frontend.md
  ui/build_scripts/prep_for_publish.py
  ui/build_scripts/prettier.sh
  ui/package.json
  ui/src/components/hooks/useMySitemap.tsx
  ui/src/components/routes/action/useMyActionFunctions.tsx
  ui/src/components/routes/action/view/markdown/integrations.en.md
  ui/src/components/routes/action/view/markdown/integrations.fr.md
  ui/src/components/routes/help/markdown/en/retention.md
  ui/src/components/routes/help/markdown/fr/retention.md
  ui/src/components/routes/home/AddNewCard.tsx
  ui/src/components/routes/overviews/template/en.md
  ui/src/components/routes/overviews/template/fr.md
  ui/src/utils/menuUtils.ts
Due: lint-staged, bad-ui-imports

feat(ui): Open links in a new tab; Add Clickable Source Alert Link on Hitcard (#301)
  ui/src/components/elements/hit/HitBanner.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports

feat(ui,api): add action runner roles for granular action execution control (#316)
  api/howler/actions/__init__.py
  api/howler/actions/add_label.py
  api/howler/actions/add_to_bundle.py
  api/howler/actions/change_field.py
  api/howler/actions/demote.py
  api/howler/actions/example_plugin.py
  api/howler/actions/prioritization.py
  api/howler/actions/promote.py
  api/howler/actions/remove_from_bundle.py
  api/howler/actions/remove_label.py
  api/howler/actions/transition.py
  api/howler/api/v1/action.py
  api/howler/common/loader.py
  api/howler/odm/models/user.py
  api/howler/odm/random_data.py
  api/test/integration/api/test_actions.py
  api/test/unit/actions/test_init.py
  api/test/utils/plugins/example_action.py
  docs/api/plugins.md
  documentation/docs/developer/random_data.fr.md
  documentation/docs/developer/random_data.md
  documentation/docs/installation/deployment.md
  ui/pnpm-lock.yaml
  ui/src/components/app/App.tsx
  ui/src/components/routes/403.tsx
  ui/src/components/routes/action/edit/ActionEditor.tsx
  ui/src/components/routes/action/view/ActionDetails.tsx
  ui/src/components/routes/action/view/ActionSearch.tsx
  ui/src/components/routes/help/ActionIntroductionDocumentation.tsx
  ui/src/components/routes/hits/search/HitContextMenu.test.tsx
  ui/src/components/routes/hits/search/HitContextMenu.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
  ui/src/models/entities/generated/ApiType.d.ts
Due: lint-staged, bad-ui-imports

feat: ODM inheritance and plugin support (#331)
  api/howler/odm/base.py
  api/howler/utils/compat.py
  api/test/unit/test_odm.py
Due: none

fix(api): id field validator allows nested fields
  api/howler/odm/base.py
Due: none

fix(api): fixed issues with cert properties when es connection is reset
  api/howler/datastore/store.py
Due: none
