Repository CybercentreCanada/howler: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check-api, poetry-check-client, poetry-check-evidence, poetry-check-sentinel, lint-staged, bad-ui-imports

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - commit-msg

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.8.0
    hooks:
      # Run the linter.
      - id: ruff
        name: Ruff Linting
        args: [--fix, --output-format=concise]
      # Run the formatter.
      - id: ruff-format
        name: Ruff Formatting
  # - repo: https://github.com/compilerla/conventional-pre-commit
  #   rev: v4.3.0
  #   hooks:
  #     - id: conventional-pre-commit
  #       stages: [commit-msg]
  - repo: local
    hooks:
      - id: poetry-check-api
        name: poetry-check-api
        entry: hooks/check_poetry.sh
        args: [api]
        language: script
        stages: [pre-commit]
        files: ^api/.*\.(toml|lock)
      - id: poetry-check-client
        name: Poetry Check (client)
        entry: hooks/check_poetry.sh
        args: [client]
        language: script
        stages: [pre-commit]
        files: ^client/.*\.(toml|lock)
      - id: poetry-check-evidence
        name: Poetry Check (Evidence Plugin)
        entry: hooks/check_poetry.sh
        args: [plugins/evidence]
        language: script
        stages: [pre-commit]
        files: ^plugins/evidence/.*\.(toml|lock)
      - id: poetry-check-sentinel
        name: Poetry Check (Sentinel Plugin)
        entry: hooks/check_poetry.sh
        args: [plugins/sentinel]
        language: script
        stages: [pre-commit]
        files: ^plugins/sentinel/.*\.(toml|lock)
      - id: lint-staged
        name: lint-staged
        entry: ui/build_scripts/lint_staged.sh
        language: script
        stages: [pre-commit]
        files: ^ui/.*
      - id: bad-ui-imports
        name: Check for bad UI imports
        entry: ui/build_scripts/find_bad_imports.py
        language: python
        stages: [pre-commit]
        files: ^ui/.*
      - id: check-commit-msg
        name: Validate Commit Message
        entry: hooks/commit-msg.py
        language: python
        stages: [commit-msg]
        additional_dependencies: ["conventional-pre-commit", "rich"]
        verbose: true

add usage hints for all helpers
  ui/src/components/elements/display/handlebars/helpers.tsx
Due: lint-staged, bad-ui-imports

updates to the ui
  ui/1
  ui/src/api/v2/case/items.ts
  ui/src/components/elements/record/RecordContextMenu.tsx
  ui/src/components/routes/cases/detail/CaseSidebar.test.tsx
  ui/src/components/routes/cases/detail/CaseSidebar.tsx
  ui/src/components/routes/cases/detail/CaseTask.test.tsx
  ui/src/components/routes/cases/detail/CaseTask.tsx
  ui/src/components/routes/cases/detail/ItemPage.tsx
  ui/src/components/routes/cases/detail/TaskPanel.test.tsx
  ui/src/components/routes/cases/detail/TaskPanel.tsx
  ui/src/components/routes/cases/detail/observables/Observable.test.tsx
  ui/src/components/routes/cases/detail/sidebar/CaseFolder.test.tsx
  ui/src/components/routes/cases/detail/sidebar/CaseFolder.tsx
  ui/src/components/routes/cases/detail/sidebar/CaseFolderContextMenu.test.tsx
  ui/src/components/routes/cases/detail/sidebar/CaseFolderContextMenu.tsx
  ui/src/components/routes/cases/detail/sidebar/FolderEntry.test.tsx
  ui/src/components/routes/cases/detail/sidebar/FolderEntry.tsx
  ui/src/components/routes/cases/detail/sidebar/types.d.ts
  ui/src/components/routes/cases/detail/sidebar/utils.test.ts
  ui/src/components/routes/cases/detail/sidebar/utils.ts
  ui/src/components/routes/cases/modals/AddItemToCaseModal.tsx
  ui/src/components/routes/cases/modals/AddRecordToCaseModal.test.tsx
  ui/src/components/routes/cases/modals/AddRecordToCaseModal.tsx
  ui/src/components/routes/cases/modals/AddToCaseModal.tsx
  ui/src/components/routes/cases/modals/RenameItemModal.tsx
  ui/src/components/routes/cases/modals/hooks.ts
  ui/src/components/routes/cases/utils.ts
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
  ui/src/models/entities/generated/Task.d.ts
Due: lint-staged, bad-ui-imports

fix(ui): add response.rows to dependency list for search (#477)
  ui/src/components/app/providers/HitSearchProvider.tsx
Due: lint-staged, bad-ui-imports

pr feedback
  api/howler/actions/add_to_bundle.py
  api/howler/services/analytic_service.py
  api/howler/services/dossier_service.py
  api/howler/services/hit_service.py
  api/howler/services/user_service.py
Due: none

pr feedback
  ui/src/components/routes/cases/detail/CaseSidebar.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports

fix tests
  api/test/unit/endpoints/test_case_endpoint.py
  api/test/unit/odm/test_case.py
  api/test/unit/services/test_case_service.py
Due: none

fix tests
  api/howler/actions/remove_from_bundle.py
  api/howler/services/bundle_compat_service.py
  api/howler/services/case_service.py
Due: none

Fix backend issues
  api/poetry.lock
  api/pyproject.toml
  plugins/tsx_user_status/README.md
  plugins/tsx_user_status/pyproject.toml
  plugins/tsx_user_status/test/integration/test_status_integration.py
  plugins/tsx_user_status/test/unit/test_status_service.py
  plugins/tsx_user_status/tsx_user_status/constants.py
  plugins/tsx_user_status/tsx_user_status/routes/user_status.py
  plugins/tsx_user_status/tsx_user_status/services/user_status_service.py
  plugins/tsx_user_tags/README.md
  ui/src/api/status/index.ts
  ui/src/plugins/tsx_hooks/user_status/useFetchStatuses.ts
  ui/src/plugins/tsx_user_status/utils.ts
Due: poetry-check-api, lint-staged, bad-ui-imports

fix(ui): update AnalystPresenceSnackbar to always display Alert component
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/plugins/tsx_analyst_presence/components/AnalystPresenceSnackbar.tsx
Due: lint-staged, bad-ui-imports

added markdown rendering and editing support
  ui/src/components/elements/display/Classification.tsx
  ui/src/components/elements/display/ClassificationChip.tsx
  ui/src/components/routes/cases/detail/CaseSidebar.tsx
  ui/src/components/routes/cases/detail/ItemPage.test.tsx
  ui/src/components/routes/cases/detail/ItemPage.tsx
  ui/src/components/routes/cases/detail/MarkdownPage.test.tsx
  ui/src/components/routes/cases/detail/MarkdownPage.tsx
  ui/src/components/routes/cases/modals/AddToCaseModal.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
  ui/src/models/entities/generated/ApiType.d.ts
  ui/src/models/entities/generated/Item.d.ts
  ui/src/utils/classificationParser.ts
Due: lint-staged, bad-ui-imports

fix(ui): resolve analyst presence crash and console warnings
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/plugins/tsx_analyst_presence/components/AnalystPresenceTable.tsx
  ui/src/plugins/tsx_analyst_presence/components/AnalystPresenceTableDetailsStatus.tsx
  ui/src/plugins/tsx_analyst_presence/locales/tsx_analyst_presence.en.json
Due: lint-staged, bad-ui-imports

aesthetic change
  ui/src/components/routes/cases/detail/MarkdownPage.tsx
Due: lint-staged, bad-ui-imports

fiuxed remove_from_bundle
  api/howler/actions/remove_from_bundle.py
Due: none

additional ui tests
  ui/src/components/routes/cases/detail/CaseSearch.test.tsx
  ui/src/components/routes/cases/detail/RelatedCasePanel.test.tsx
Due: lint-staged, bad-ui-imports

fix(api): more classification type fixes
  api/howler/common/classification.py
  api/howler/config.py
  api/howler/odm/base.py
Due: none

fix(ui): update tsconfig to remove errors
  ui/src/components/elements/addons/layout/FlexVertical.test.tsx
  ui/src/components/elements/addons/layout/vsbox/VSBoxContent.test.tsx
  ui/src/components/routes/home/HomeSettings.test.tsx
  ui/src/rest/AxiosClient.test.ts
  ui/tsconfig.json
Due: lint-staged, bad-ui-imports

fix(ui): pin npm version to 11 to bypass sigstore error
  .github/workflows/ui-workflow.yml
Due: none

chore(ui): update typescript to v7
  .github/copilot-instructions.md
  docs/RELEASES.md
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/index.tsx
  ui/tsconfig.json
Due: lint-staged, bad-ui-imports

more layout work
  ui/.oxlintrc.json
  ui/src/components/elements/hit/HitDetails.tsx
  ui/src/components/hooks/useMyApi.tsx
Due: lint-staged, bad-ui-imports

Potential fix for pull request finding 'CodeQL / Inefficient regular expression'
  ui/src/components/routes/overviews/markdownExtendedTokenProvider.ts
Due: lint-staged, bad-ui-imports

package updates
  .github/workflows/ui-workflow.yml
Due: none

pr feedback
  api/howler/actions/add_to_bundle.py
  api/howler/actions/add_to_case.py
  api/howler/odm/random_data.py
  api/howler/services/bundle_compat_service.py
  api/howler/services/case_service.py
  api/howler/services/correlation_service.py
  api/test/unit/actions/test_add_to_case.py
Due: none

Potential fix for pull request finding
  ui/src/components/routes/cases/detail/sidebar/utils.ts
Due: lint-staged, bad-ui-imports

PR feedback
  ui/1
  ui/src/components/routes/cases/detail/sidebar/CaseFolderContextMenu.tsx
  ui/src/components/routes/cases/detail/sidebar/FolderEntry.tsx
Due: lint-staged, bad-ui-imports

PR feedback
  ui/src/components/routes/cases/detail/sidebar/CaseFolder.tsx
  ui/src/components/routes/cases/utils.ts
Due: lint-staged, bad-ui-imports

PR feedback
  ui/src/components/routes/cases/modals/AddToCaseModal.tsx
Due: lint-staged, bad-ui-imports

PR feedback
  ui/src/components/routes/cases/detail/CaseTask.tsx
Due: lint-staged, bad-ui-imports

fix(ui): add response.rows to dependency list for search (#477)
  ui/src/components/app/providers/RecordSearchProvider.tsx
Due: lint-staged, bad-ui-imports

fix(api): more classification type fixes
  api/howler/common/classification.py
  api/howler/config.py
Due: none

fix(ui): update axios mock for named create import (#482)
  ui/src/rest/AxiosClient.test.ts
Due: lint-staged, bad-ui-imports

test fixes
  ui/src/components/routes/cases/detail/CaseTask.test.tsx
  ui/src/components/routes/cases/detail/CaseTask.tsx
Due: lint-staged, bad-ui-imports

implementing some feedback
  api/howler/odm/models/action.py
  ui/build_scripts/lint_staged.sh
  ui/src/api/user/index.ts
  ui/src/components/elements/MembershipManagement.tsx
  ui/src/components/routes/action/view/ActionDetails.tsx
  ui/src/components/routes/dossiers/DossierEditor.tsx
  ui/src/components/routes/views/ViewComposer.tsx
  ui/src/models/entities/generated/Action.d.ts
  ui/src/models/entities/generated/Dossier.d.ts
Due: lint-staged, bad-ui-imports

pr feedback
  api/howler/odm/random_data.py
  ui/src/components/routes/cases/detail/CaseTask.test.tsx
  ui/src/components/routes/cases/detail/CaseTask.tsx
  ui/src/components/routes/cases/detail/observables/Observable.tsx
Due: lint-staged, bad-ui-imports

fix tests
  ui/src/components/routes/cases/detail/observables/Observable.test.tsx
Due: lint-staged, bad-ui-imports
