Repository CybercentreCanada/howler: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check-api, poetry-check-client, poetry-check-evidence, poetry-check-sentinel, lint-staged, bad-ui-imports

poetry-check-api:
  name: poetry-check-api
  entry: hooks/check_poetry.sh
  args:
  - api
  language: script
  stages:
  - pre-commit

poetry-check-client:
  name: Poetry Check (client)
  entry: hooks/check_poetry.sh
  args:
  - client
  language: script
  stages:
  - pre-commit

poetry-check-evidence:
  name: Poetry Check (Evidence Plugin)
  entry: hooks/check_poetry.sh
  args:
  - plugins/evidence
  language: script
  stages:
  - pre-commit

poetry-check-sentinel:
  name: Poetry Check (Sentinel Plugin)
  entry: hooks/check_poetry.sh
  args:
  - plugins/sentinel
  language: script
  stages:
  - pre-commit

lint-staged:
  name: lint-staged
  entry: ui/build_scripts/lint_staged.sh
  language: script
  stages:
  - pre-commit

bad-ui-imports:
  name: Check for bad UI imports
  entry: ui/build_scripts/find_bad_imports.py
  language: python
  stages:
  - pre-commit

feat(plugins,api): create a plugin providing diffs and schema routes for sync (#502)
  api/howler/api/v1/utils/params.py
  api/howler/odm/base.py
  api/howler/odm/models/case.py
  api/howler/odm/models/howler_data.py
  api/howler/odm/models/record.py
  api/test/unit/odm/test_as_primitives.py
  api/test/unit/utils/test_params.py
  plugins/sync/.coveragerc.pytest
  plugins/sync/.gitignore
  plugins/sync/LICENSE
  plugins/sync/README.md
  plugins/sync/build_scripts/coverage_reports.py
  plugins/sync/build_scripts/run_tests.py
  plugins/sync/build_scripts/set_version.py
  plugins/sync/build_scripts/type_check.py
  plugins/sync/dummy.py
  plugins/sync/poetry.lock
  plugins/sync/poetry.toml
  plugins/sync/pyproject.toml
  plugins/sync/pytest.ini
  plugins/sync/setup.cfg
  plugins/sync/sync/__init__.py
  plugins/sync/sync/config.py
  plugins/sync/sync/iceberg/build.py
  plugins/sync/sync/iceberg/mappings.py
  plugins/sync/sync/manifest.yml
  plugins/sync/sync/odm/__init__.py
  plugins/sync/sync/routes/__init__.py
  plugins/sync/sync/routes/sync.py
  plugins/sync/sync/services/sync_service.py
  plugins/sync/sync/utils/parsers.py
  plugins/sync/test/conftest.py
  plugins/sync/test/integration/test_sync.py
  plugins/sync/test/unit/iceberg/test_build_schema.py
  plugins/sync/test/unit/sync_service/test_get_upserted_hits.py
  plugins/sync/test/unit/utils/test_parsers.py
Due: none

chore(api): split unit/integration tests
  .github/workflows/api-workflow.yml
Due: none

more updates
  api/howler/actions/transition.py
  api/howler/api/v1/hit.py
  api/howler/cronjobs/action_queue_worker.py
  api/howler/datastore/collection.py
  api/howler/services/bundle_compat_service.py
  api/test/integration/api/test_etag.py
  api/test/integration/api/test_hit_transition.py
  api/test/integration/regression/test_bundle_api_contract.py
  api/test/integration/test_ilm.py
  api/test/unit/services/test_bundle_compat_service.py
  api/test/unit/test_ilm_collection.py
Due: none

more cleanup
  api/howler/api/v2/ingest.py
  api/howler/datastore/collection.py
  api/howler/datastore/exceptions.py
  api/howler/odm/random_data.py
  api/howler/services/event_service.py
  api/howler/services/hit_service.py
  api/test/unit/endpoints/test_case_endpoint.py
  api/test/unit/endpoints/test_ingest_endpoint.py
  api/test/unit/services/test_event_service.py
  api/test/unit/test_bulk.py
  api/test/unit/test_ilm_collection.py
  ui/src/plugins/store.ts
Due: lint-staged, bad-ui-imports

more version work
  .github/copilot-instructions.md
  api/howler/datastore/bulk.py
  api/howler/datastore/collection.py
  api/howler/datastore/utils.py
  api/howler/services/hit_service.py
  api/test/integration/service/test_hit_service.py
  api/test/unit/test_bulk.py
Due: none

fix wonky import
  api/howler/datastore/utils.py
Due: none

pr feedback
  api/howler/datastore/collection.py
  api/howler/datastore/howler_store.py
  api/howler/services/case_service.py
Due: none

pr feedback
  api/howler/api/v2/ingest.py
Due: none

more code review
  api/howler/actions/transition.py
  api/howler/api/v1/hit.py
Due: none

added minimal ui for grouping
  ui/src/components/routes/dossiers/DossierEditor.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
  ui/src/models/entities/generated/Dossier.d.ts
Due: lint-staged, bad-ui-imports

applied request of removing the description section for the tool tips
  ui/src/components/elements/hit/PivotTooltip.tsx
Due: lint-staged, bad-ui-imports

updated back end to accept group keyword in dossier
  api/howler/api/v1/dossier.py
  api/howler/odm/models/dossier.py
  api/howler/services/dossier_service.py
Due: none

updated odm dossier to accept the list
  api/howler/odm/models/dossier.py
Due: none

updated service and odm to accept string, verify them. should be a string to keep parent child relation similar to directory
  api/howler/odm/models/dossier.py
  api/howler/services/dossier_service.py
Due: none

updated type from other update, ruff didn't like it
  api/howler/services/dossier_service.py
Due: none

added backend verification for the new odm path
  api/howler/services/dossier_service.py
  api/test/integration/service/test_dossier_service.py
Due: none

standardise the random in helper as well as added the group portion for dossier
  api/howler/odm/helper.py
Due: none

added unit test update dossier group
  api/test/integration/service/test_dossier_service.py
Due: none

corrected smalls error, passed unit tests
  api/howler/services/dossier_service.py
  api/test/integration/service/test_dossier_service.py
Due: none

fix(api): execution error in action system
  api/howler/cronjobs/action_queue_worker.py
  api/howler/services/action_service.py
  api/pyproject.toml
  api/test/integration/service/test_action_service.py
  api/test/unit/services/test_enqueue_action.py
  docs/RELEASES.md
Due: poetry-check-api

pr feedback
  docs/RELEASES.md
Due: none

added front end safe guard for dossiers group
  ui/src/components/routes/dossiers/DossierEditor.tsx
  ui/src/components/routes/help/DossierGroupValidation.tsx
Due: lint-staged, bad-ui-imports

translation added
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports

fix(api): execution error in action system (#564)
  api/howler/cronjobs/action_queue_worker.py
  api/howler/services/action_service.py
  api/pyproject.toml
  api/test/integration/service/test_action_service.py
  api/test/unit/services/test_enqueue_action.py
  docs/RELEASES.md
Due: poetry-check-api

corrected save error from dossier editor
  ui/src/components/routes/dossiers/DossierEditor.tsx
Due: lint-staged, bad-ui-imports

chore: bump versions post release
  api/pyproject.toml
  client/pyproject.toml
  ui/package.json
Due: poetry-check-api, poetry-check-client, lint-staged, bad-ui-imports

chore: update to proper release version
  docs/RELEASES.md
Due: none

feat: Added lucene query capability and better logins (#549)
  .github/workflows/mcp-workflow.yml
  .gitignore
  .pre-commit-config.yaml
  mcp/README.md
  mcp/build_scripts/coverage_reports.py
  mcp/build_scripts/run_tests.py
  mcp/diag_auth_check.json
  mcp/docker-compose.yml
  mcp/howler_mcp/api.py
  mcp/howler_mcp/auth.py
  mcp/howler_mcp/config.py
  mcp/howler_mcp/prompts.py
  mcp/howler_mcp/server.py
  mcp/howler_mcp/tools.py
  mcp/poetry.lock
  mcp/pyproject.toml
  mcp/requirements-main.txt
  mcp/test/api_unit_test.py
  mcp/test/network_connection_test.py
  mcp/test/test_api.py
  mcp/test/test_auth.py
  mcp/test/test_config.py
  mcp/test/test_network.py
  mcp/test/test_prompts.py
  mcp/test/test_server.py
  mcp/test/test_tools.py
  mcp/test/tools_unit_test.py
  pyrightconfig.json
Due: none

fix(mcp): allow kubernetes/docker-compose urls to be http
  mcp/howler_mcp/config.py
Due: none

fix(mcp): updated mcp config check
  mcp/howler_mcp/config.py
  mcp/test/test_config.py
Due: none

fix(mcp): additional mcp auth logging
  mcp/README.md
  mcp/docker-compose.yml
  mcp/howler_mcp/api.py
  mcp/howler_mcp/auth_logging.py
  mcp/howler_mcp/config.py
  mcp/howler_mcp/server.py
  mcp/test/test_auth_logging.py
  mcp/test/test_config.py
Due: none

add refresh test for ingest create
  api/howler/datastore/collection.py
  client/test/integration/test_refresh.py
Due: none

add refresh param for write calls defaulting to false
  client/howler_client/module/hit.py
  client/howler_client/module/user.py
  client/howler_client/module/v2/case.py
  client/howler_client/module/v2/ingest.py
Due: none

moved dossier to pivot, will be more useful
  api/howler/api/v1/dossier.py
  api/howler/odm/models/dossier.py
  api/howler/odm/models/pivot.py
  api/howler/services/dossier_service.py
Due: none

Path conditions:
  poetry-check-api: any of: ^api/.*\.(toml|lock)
  poetry-check-client: any of: ^client/.*\.(toml|lock)
  poetry-check-evidence: any of: ^plugins/evidence/.*\.(toml|lock)
  poetry-check-sentinel: any of: ^plugins/sentinel/.*\.(toml|lock)
  lint-staged: any of: ^ui/.*
  bad-ui-imports: any of: ^ui/.*
