Repository CybercentreCanada/howler: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check-api, poetry-check-client, poetry-check-evidence, poetry-check-sentinel, lint-staged, bad-ui-imports

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - commit-msg

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.8.0
    hooks:
      # Run the linter.
      - id: ruff
        name: Ruff Linting
        args: [--fix, --output-format=concise]
      # Run the formatter.
      - id: ruff-format
        name: Ruff Formatting
  # - repo: https://github.com/compilerla/conventional-pre-commit
  #   rev: v4.3.0
  #   hooks:
  #     - id: conventional-pre-commit
  #       stages: [commit-msg]
  - repo: local
    hooks:
      - id: poetry-check-api
        name: poetry-check-api
        entry: hooks/check_poetry.sh
        args: [api]
        language: script
        stages: [pre-commit]
        files: ^api/.*\.(toml|lock)
      - id: poetry-check-client
        name: Poetry Check (client)
        entry: hooks/check_poetry.sh
        args: [client]
        language: script
        stages: [pre-commit]
        files: ^client/.*\.(toml|lock)
      - id: poetry-check-evidence
        name: Poetry Check (Evidence Plugin)
        entry: hooks/check_poetry.sh
        args: [plugins/evidence]
        language: script
        stages: [pre-commit]
        files: ^plugins/evidence/.*\.(toml|lock)
      - id: poetry-check-sentinel
        name: Poetry Check (Sentinel Plugin)
        entry: hooks/check_poetry.sh
        args: [plugins/sentinel]
        language: script
        stages: [pre-commit]
        files: ^plugins/sentinel/.*\.(toml|lock)
      - id: lint-staged
        name: lint-staged
        entry: ui/build_scripts/lint_staged.sh
        language: script
        stages: [pre-commit]
        files: ^ui/.*
      - id: bad-ui-imports
        name: Check for bad UI imports
        entry: ui/build_scripts/find_bad_imports.py
        language: python
        stages: [pre-commit]
        files: ^ui/.*
      - id: check-commit-msg
        name: Validate Commit Message
        entry: hooks/commit-msg.py
        language: python
        stages: [commit-msg]
        additional_dependencies: ["conventional-pre-commit", "rich"]
        verbose: true

fix: ui test
  ui/src/components/routes/cases/detail/AlertPanel.test.tsx
Due: lint-staged, bad-ui-imports

fix(ui): fix async handlebars handling
  ui/src/components/elements/display/HandlebarsMarkdown.tsx
Due: lint-staged, bad-ui-imports

chore(ui): bump react-router to v7
  ui/package.json
  ui/pnpm-lock.yaml
Due: lint-staged, bad-ui-imports

fix(ui): update react-router to latest v7
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/components/elements/ContextMenu.tsx
  ui/src/components/elements/hit/HitOverview.tsx
  ui/src/components/routes/cases/detail/CaseOverview.tsx
  ui/src/components/routes/overviews/OverviewViewer.tsx
  ui/src/index.css
Due: lint-staged, bad-ui-imports

fix(ui): links in observable table and timeline now work correctly (#519)
  .vscode/settings.json
  api/howler/odm/models/case.py
  api/test/unit/odm/test_case.py
  ui/src/components/hooks/useMySitemap.tsx
  ui/src/components/routes/ErrorBoundary.test.tsx
  ui/src/components/routes/ErrorBoundary.tsx
  ui/src/components/routes/cases/detail/CaseObservables.test.tsx
  ui/src/components/routes/cases/detail/CaseObservables.tsx
  ui/src/components/routes/cases/detail/CaseTimeline.test.tsx
  ui/src/components/routes/cases/detail/CaseTimeline.tsx
  ui/src/components/routes/cases/detail/observables/Observable.test.tsx
  ui/src/components/routes/cases/detail/observables/Observable.tsx
  ui/src/components/routes/cases/detail/observables/ObservableTable.test.tsx
  ui/src/components/routes/cases/detail/observables/ObservableTable.tsx
  ui/src/components/routes/cases/detail/types.d.ts
  ui/src/components/routes/cases/detail/utils.test.ts
  ui/src/components/routes/cases/detail/utils.ts
Due: lint-staged, bad-ui-imports

feat(client): update typing for create call, bump version (#515)
  client/howler_client/module/hit.py
  client/pyproject.toml
Due: poetry-check-client

chore: bump ui to v3
  ui/package.json
Due: lint-staged, bad-ui-imports

chore: bump versions post release
  api/pyproject.toml
  client/pyproject.toml
  ui/package.json
Due: poetry-check-api, poetry-check-client, lint-staged, bad-ui-imports

chore: update to proper release version
  docs/RELEASES.md
Due: none

removed useless function, used f1 instead.
  mcp/howler_mcp/prompts.py
  mcp/howler_mcp/tools.py
Due: none

fix formatting
  .pre-commit-config.yaml
  ui/src/components/routes/action/edit/ActionEditor.tsx
Due: lint-staged, bad-ui-imports

fix(api): fix case correlation to execute on v1 ingestion
  api/howler/api/v1/hit.py
  api/howler/api/v1/tool.py
  api/howler/api/v2/ingest.py
  api/howler/services/correlation_service.py
  api/pyproject.toml
  api/test/integration/api/test_correlation.py
  api/test/unit/endpoints/test_ingest_endpoint.py
  api/test/unit/services/test_correlation_service.py
  docs/RELEASES.md
Due: poetry-check-api

fix imports
  api/howler/api/v1/hit.py
  api/howler/api/v1/tool.py
  api/howler/api/v2/ingest.py
Due: none

more layout fixes
  api/howler/api/v2/ingest.py
  api/howler/services/correlation_service.py
  api/test/unit/services/test_ingest_correlation.py
Due: none

pr feedback
  api/test/unit/endpoints/test_ingest_endpoint.py
  api/test/unit/services/test_correlation_service.py
Due: none

test fixes
  api/test/unit/services/test_correlation_service.py
Due: none

fix(api): fix case correlation to execute on v1 ingestion (#540)
  api/howler/api/v1/hit.py
  api/howler/api/v1/tool.py
  api/howler/api/v2/ingest.py
  api/howler/services/correlation_service.py
  api/pyproject.toml
  api/test/integration/api/test_correlation.py
  api/test/unit/endpoints/test_ingest_endpoint.py
  api/test/unit/services/test_correlation_service.py
  api/test/unit/services/test_ingest_correlation.py
  docs/RELEASES.md
Due: poetry-check-api

removed function made useless by lucene querry and added security
  mcp/howler_mcp/api.py
  mcp/howler_mcp/config.py
  mcp/howler_mcp/prompts.py
  mcp/howler_mcp/tools.py
Due: none

updated prompt to align with new tools
  mcp/howler_mcp/prompts.py
Due: none

updated old information and unit test
  mcp/README.md
  mcp/howler_mcp/tools.py
  mcp/pyproject.toml
  mcp/test/network_connection_test.py
  mcp/test/tools_unit_test.py
Due: none

updated unit test and auth exception
  mcp/howler_mcp/auth.py
  mcp/howler_mcp/tools.py
  mcp/test/api_unit_test.py
  mcp/test/auth_unit_test.py
Due: none

do not reject 0 as an offset. time to go home
  mcp/howler_mcp/tools.py
Due: none

init empty iceberg plugin
  plugins/iceberg/.coveragerc.pytest
  plugins/iceberg/.gitignore
  plugins/iceberg/LICENSE
  plugins/iceberg/README.md
  plugins/iceberg/build_scripts/coverage_reports.py
  plugins/iceberg/build_scripts/run_tests.py
  plugins/iceberg/build_scripts/set_version.py
  plugins/iceberg/build_scripts/type_check.py
  plugins/iceberg/dummy.py
  plugins/iceberg/iceberg/__init__.py
  plugins/iceberg/iceberg/config.py
  plugins/iceberg/iceberg/manifest.yml
  plugins/iceberg/iceberg/odm/__init__.py
  plugins/iceberg/iceberg/routes/__init__.py
  plugins/iceberg/poetry.lock
  plugins/iceberg/poetry.toml
  plugins/iceberg/pyproject.toml
  plugins/iceberg/pytest.ini
  plugins/iceberg/setup.cfg
Due: none

add endpoint for getting new or updated hits within an optional interval
  plugins/iceberg/iceberg/manifest.yml
  plugins/iceberg/iceberg/routes/sync.py
  plugins/iceberg/iceberg/services/sync_service.py
  plugins/iceberg/pyproject.toml
  plugins/iceberg/test/conftest.py
  plugins/iceberg/test/integration/test_sync.py
  plugins/iceberg/test/unit/sync_service/test_get_upserted_hits.py
Due: none

use parse_parameters instead of request.params and add docs
  plugins/iceberg/iceberg/routes/sync.py
  plugins/iceberg/test/integration/test_sync.py
Due: none

renamed iceberg plugin -> sync plugin
  plugins/iceberg/README.md
  plugins/iceberg/iceberg/manifest.yml
  plugins/sync/.coveragerc.pytest
  plugins/sync/.gitignore
  plugins/sync/LICENSE
  plugins/sync/README.md
  plugins/sync/build_scripts/coverage_reports.py
  plugins/sync/build_scripts/run_tests.py
  plugins/sync/build_scripts/set_version.py
  plugins/sync/build_scripts/type_check.py
  plugins/sync/dummy.py
  plugins/sync/poetry.lock
  plugins/sync/poetry.toml
  plugins/sync/pyproject.toml
  plugins/sync/pytest.ini
  plugins/sync/setup.cfg
  plugins/sync/sync/__init__.py
  plugins/sync/sync/config.py
  plugins/sync/sync/manifest.yml
  plugins/sync/sync/odm/__init__.py
  plugins/sync/sync/routes/__init__.py
  plugins/sync/sync/routes/sync.py
  plugins/sync/sync/services/sync_service.py
  plugins/sync/test/conftest.py
  plugins/sync/test/integration/test_sync.py
  plugins/sync/test/unit/sync_service/test_get_upserted_hits.py
Due: none

poetry update lockfile and update pyproject
  plugins/sync/poetry.lock
  plugins/sync/pyproject.toml
Due: none

protect sync endpoint with api_login
  plugins/sync/sync/routes/sync.py
Due: none

support paging for hit_diffs
  plugins/sync/sync/routes/sync.py
  plugins/sync/sync/services/sync_service.py
  plugins/sync/test/integration/test_sync.py
  plugins/sync/test/unit/sync_service/test_get_upserted_hits.py
Due: none

use spark to infer schema from hit json
  plugins/sync/poetry.lock
  plugins/sync/pyproject.toml
  plugins/sync/sync/routes/sync.py
  plugins/sync/sync/services/sync_service.py
Due: none

add parser for datetime and required option to parser funcs in params decorator
  api/howler/api/v1/utils/params.py
  api/test/unit/utils/test_params.py
  plugins/sync/sync/routes/sync.py
  plugins/sync/sync/utils/parsers.py
  plugins/sync/test/conftest.py
  plugins/sync/test/integration/test_sync.py
  plugins/sync/test/unit/sync_service/test_get_upserted_hits.py
  plugins/sync/test/unit/utils/test_parsers.py
Due: none

return struct jsonValue and add basic schema route test
  plugins/sync/sync/routes/sync.py
  plugins/sync/test/integration/test_sync.py
Due: none

use odm datetime format and fix typing
  plugins/sync/sync/services/sync_service.py
Due: none

fix build scripts
  plugins/sync/build_scripts/run_tests.py
  plugins/sync/build_scripts/type_check.py
Due: none

check that from_date is after to_date
  plugins/sync/sync/routes/sync.py
Due: none

add spark schema builder from odm
  api/howler/odm/base.py
  plugins/sync/sync/iceberg/build.py
  plugins/sync/sync/iceberg/mappings.py
  plugins/sync/test/unit/iceberg/test_build_schema.py
Due: none

use build_schema in sync api instead of spark infer schema
  plugins/sync/sync/iceberg/build.py
  plugins/sync/sync/routes/sync.py
  plugins/sync/sync/services/sync_service.py
  plugins/sync/test/integration/test_sync.py
Due: none

fix as_primitives also recurse on child field types
  api/howler/odm/base.py
  api/test/unit/odm/test_as_primitives.py
Due: none
