Repository CybercentreCanada/howler: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check-api, poetry-check-client, poetry-check-evidence, poetry-check-sentinel, lint-staged, bad-ui-imports

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - commit-msg

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.8.0
    hooks:
      # Run the linter.
      - id: ruff
        name: Ruff Linting
        args: [--fix, --output-format=concise]
      # Run the formatter.
      - id: ruff-format
        name: Ruff Formatting
  # - repo: https://github.com/compilerla/conventional-pre-commit
  #   rev: v4.3.0
  #   hooks:
  #     - id: conventional-pre-commit
  #       stages: [commit-msg]
  - repo: local
    hooks:
      - id: poetry-check-api
        name: poetry-check-api
        entry: hooks/check_poetry.sh
        args: [api]
        language: script
        stages: [pre-commit]
        files: ^api/.*\.(toml|lock)
      - id: poetry-check-client
        name: Poetry Check (client)
        entry: hooks/check_poetry.sh
        args: [client]
        language: script
        stages: [pre-commit]
        files: ^client/.*\.(toml|lock)
      - id: poetry-check-evidence
        name: Poetry Check (Evidence Plugin)
        entry: hooks/check_poetry.sh
        args: [plugins/evidence]
        language: script
        stages: [pre-commit]
        files: ^plugins/evidence/.*\.(toml|lock)
      - id: poetry-check-sentinel
        name: Poetry Check (Sentinel Plugin)
        entry: hooks/check_poetry.sh
        args: [plugins/sentinel]
        language: script
        stages: [pre-commit]
        files: ^plugins/sentinel/.*\.(toml|lock)
      - id: lint-staged
        name: lint-staged
        entry: ui/build_scripts/lint_staged.sh
        language: script
        stages: [pre-commit]
        files: ^ui/.*
      - id: bad-ui-imports
        name: Check for bad UI imports
        entry: ui/build_scripts/find_bad_imports.py
        language: python
        stages: [pre-commit]
        files: ^ui/.*
      - id: check-commit-msg
        name: Validate Commit Message
        entry: hooks/commit-msg.py
        language: python
        stages: [commit-msg]
        additional_dependencies: ["conventional-pre-commit", "rich"]
        verbose: true

patch -> put
  api/howler/api/v2/case.py
  api/test/integration/api/test_case_rules.py
  api/test/unit/endpoints/test_case_endpoint.py
Due: none

more work on case rules
  ui/src/api/v2/case/items.ts
  ui/src/api/v2/case/rules.ts
  ui/src/components/elements/display/ChipPopper.tsx
  ui/src/components/routes/cases/detail/CaseRules.test.tsx
  ui/src/components/routes/cases/detail/CaseRules.tsx
  ui/src/components/routes/cases/detail/CaseTimeline.test.tsx
  ui/src/components/routes/cases/detail/CreateRuleDialog.test.tsx
  ui/src/components/routes/cases/detail/CreateRuleDialog.tsx
  ui/src/components/routes/cases/modals/RenameItemModal.tsx
  ui/src/components/routes/cases/modals/ResolveModal.test.tsx
Due: lint-staged, bad-ui-imports

fixing unit tests
  api/test/integration/api/test_case_rules.py
  api/test/unit/odm/test_case.py
Due: none

fixing unit tests
  api/test/unit/odm/test_case.py
Due: none

added backend case rule implementation
  api/diff.txt
  api/howler/api/socket.py
  api/howler/api/v2/ingest.py
  api/howler/app.py
  api/howler/cronjobs/correlation.py
  api/howler/datastore/collection.py
  api/howler/odm/models/config.py
  api/howler/services/case_service.py
  api/howler/services/correlation_service.py
  api/howler/services/event_service.py
  api/requirements.md
  api/test/integration/api/test_correlation.py
  api/test/unit/config.yml
  api/test/unit/services/test_correlation_service.py
Due: none

fix tests
  api/diff.txt
  api/test/unit/odm/test_case.py
Due: none

fixing types
  api/howler/services/event_service.py
Due: none

update case service
  api/howler/services/case_service.py
Due: none

updated case_service
  api/howler/services/case_service.py
Due: none

test fixes
  api/howler/datastore/collection.py
  api/howler/services/case_service.py
  api/test/unit/services/test_case_service.py
Due: none

additional coverage updates
  api/howler/services/event_service.py
  api/test/unit/services/test_case_service.py
  api/test/unit/services/test_correlation_service.py
  api/test/unit/services/test_event_service.py
Due: none

pr feedback
  api/howler/odm/random_data.py
  api/howler/services/event_service.py
  api/test/unit/endpoints/test_case_endpoint.py
  ui/src/components/routes/cases/detail/CaseRules.tsx
Due: lint-staged, bad-ui-imports

fix tests
  ui/src/components/routes/cases/detail/CaseRules.test.tsx
Due: lint-staged, bad-ui-imports

Update api/requirements.md
  api/requirements.md
Due: none

fix(ui): bump the number of actions available in the right click menu
  ui/src/components/routes/hits/search/HitContextMenu.tsx
Due: lint-staged, bad-ui-imports

chore: updated release notes
  docs/RELEASES.md
Due: none

feat(ci): add postrelease script
  scripts/postrelease.sh
Due: none

feat(ci): add release script
  scripts/release.sh
Due: none

chore(ci): update release script
  hooks/commit-msg.py
  scripts/release.sh
Due: none

chore(ci): added release notes script
  scripts/releasenotes.sh
Due: none

chore(api,ui): post-release version bumps
  api/pyproject.toml
  ui/package.json
Due: poetry-check-api, lint-staged, bad-ui-imports

initiate object variable.
  api/howler/odm/models/action.py
  api/howler/odm/models/dossier.py
  api/howler/odm/models/view.py
  api/poetry.lock
Due: poetry-check-api

view admin can delete view
  api/howler/api/v1/view.py
Due: none

fix eslint issue
  ui/.eslintrc
Due: lint-staged, bad-ui-imports

feat: allow view admin to delete
  api/howler/api/v1/dossier.py
  api/howler/api/v1/view.py
Due: none

fix(client): update client test dependencies
  client/test/config/config.yml
  client/test/docker-compose.yml
Due: none

fix line length
  api/howler/actions/__init__.py
Due: none

allowed action admin to remove actions
  api/howler/api/v1/action.py
  api/howler/api/v1/dossier.py
  api/howler/api/v1/view.py
Due: none

fix(ci): bypass lint-staged
  .pre-commit-config.yaml
  documentation/docs/developer/frontend.fr.md
  documentation/docs/developer/frontend.md
  ui/build_scripts/prep_for_publish.py
  ui/build_scripts/prettier.sh
  ui/package.json
  ui/src/components/hooks/useMySitemap.tsx
  ui/src/components/routes/action/useMyActionFunctions.tsx
  ui/src/components/routes/action/view/markdown/integrations.en.md
  ui/src/components/routes/action/view/markdown/integrations.fr.md
  ui/src/components/routes/help/markdown/en/retention.md
  ui/src/components/routes/help/markdown/fr/retention.md
  ui/src/components/routes/home/AddNewCard.tsx
  ui/src/components/routes/overviews/template/en.md
  ui/src/components/routes/overviews/template/fr.md
  ui/src/utils/menuUtils.ts
Due: lint-staged, bad-ui-imports

fix(ci): more prettier work
  ui/build_scripts/prettier.sh
Due: lint-staged, bad-ui-imports

add forbidden test, fix random_data
  api/howler/odm/random_data.py
  api/test/integration/api/test_actions.py
Due: none

formatting fixes
  client/howler_client/common/utils.py
Due: none

added verification that the user is a member of the dossier before changing it
  api/howler/api/v1/action.py
  api/howler/api/v1/dossier.py
  api/howler/odm/models/action.py
  api/howler/odm/models/dossier.py
  api/howler/odm/models/view.py
  api/howler/services/dossier_service.py
Due: none

added verification before modification of an action
  api/howler/api/v1/action.py
  api/howler/odm/models/action.py
  api/howler/services/dossier_service.py
Due: none

fix ui
  ui/pnpm-lock.yaml
  ui/src/components/routes/403.tsx
  ui/src/components/routes/action/view/ActionSearch.tsx
Due: lint-staged, bad-ui-imports
