Repository CybercentreCanada/howler: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check-api, poetry-check-client, poetry-check-evidence, poetry-check-sentinel, lint-staged, bad-ui-imports

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - commit-msg

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.8.0
    hooks:
      # Run the linter.
      - id: ruff
        name: Ruff Linting
        args: [--fix, --output-format=concise]
      # Run the formatter.
      - id: ruff-format
        name: Ruff Formatting
  # - repo: https://github.com/compilerla/conventional-pre-commit
  #   rev: v4.3.0
  #   hooks:
  #     - id: conventional-pre-commit
  #       stages: [commit-msg]
  - repo: local
    hooks:
      - id: poetry-check-api
        name: poetry-check-api
        entry: hooks/check_poetry.sh
        args: [api]
        language: script
        stages: [pre-commit]
        files: ^api/.*\.(toml|lock)
      - id: poetry-check-client
        name: Poetry Check (client)
        entry: hooks/check_poetry.sh
        args: [client]
        language: script
        stages: [pre-commit]
        files: ^client/.*\.(toml|lock)
      - id: poetry-check-evidence
        name: Poetry Check (Evidence Plugin)
        entry: hooks/check_poetry.sh
        args: [plugins/evidence]
        language: script
        stages: [pre-commit]
        files: ^plugins/evidence/.*\.(toml|lock)
      - id: poetry-check-sentinel
        name: Poetry Check (Sentinel Plugin)
        entry: hooks/check_poetry.sh
        args: [plugins/sentinel]
        language: script
        stages: [pre-commit]
        files: ^plugins/sentinel/.*\.(toml|lock)
      - id: lint-staged
        name: lint-staged
        entry: ui/build_scripts/lint_staged.sh
        language: script
        stages: [pre-commit]
        files: ^ui/.*
      - id: bad-ui-imports
        name: Check for bad UI imports
        entry: ui/build_scripts/find_bad_imports.py
        language: python
        stages: [pre-commit]
        files: ^ui/.*
      - id: check-commit-msg
        name: Validate Commit Message
        entry: hooks/commit-msg.py
        language: python
        stages: [commit-msg]
        additional_dependencies: ["conventional-pre-commit", "rich"]
        verbose: true

Fixing code
  api/howler/api/v1/search.py
  api/howler/datastore/collection.py
  ui/src/components/elements/hit/aggregate/HitGraph.tsx
Due: lint-staged, bad-ui-imports

Fixing up code
  api/howler/api/v1/search.py
  ui/src/components/elements/hit/aggregate/HitGraph.tsx
Due: lint-staged, bad-ui-imports

PR comments
  api/howler/api/v1/search.py
  api/howler/datastore/collection.py
Due: none

working on folder moving
  ui/src/components/routes/cases/detail/CaseSidebar.tsx
  ui/src/components/routes/cases/detail/sidebar/CaseFolder.tsx
  ui/src/components/routes/cases/detail/sidebar/FolderEntry.tsx
  ui/src/components/routes/cases/detail/sidebar/types.d.ts
  ui/src/components/routes/cases/detail/sidebar/utils.ts
Due: lint-staged, bad-ui-imports

new style changes
  ui/src/components/routes/cases/detail/CaseSidebar.tsx
  ui/src/components/routes/cases/detail/sidebar/FolderEntry.tsx
Due: lint-staged, bad-ui-imports

feat(ui): added multistage case triage to resolve modal (#276)
  ui/src/components/elements/hit/HitCard.tsx
  ui/src/components/routes/cases/CaseViewer.tsx
  ui/src/components/routes/cases/detail/sidebar/CaseFolder.tsx
  ui/src/components/routes/cases/modals/ResolveModal.test.tsx
  ui/src/components/routes/cases/modals/ResolveModal.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports

aggressive network call optimization, finished moving alerts
  ui/src/components/app/hooks/useMatchers.tsx
  ui/src/components/app/providers/UserListProvider.tsx
  ui/src/components/elements/UserList.tsx
  ui/src/components/elements/hit/HitBanner.tsx
  ui/src/components/elements/hit/HitCard.tsx
  ui/src/components/elements/hit/HitOutline.tsx
  ui/src/components/elements/hit/elements/AnalyticLink.tsx
  ui/src/components/hooks/useMySitemap.tsx
  ui/src/components/routes/cases/detail/AlertPanel.tsx
  ui/src/components/routes/cases/detail/CaseDashboard.tsx
  ui/src/components/routes/cases/detail/CaseSidebar.tsx
  ui/src/components/routes/cases/detail/aggregates/CaseAggregate.tsx
  ui/src/components/routes/cases/detail/aggregates/SourceAggregate.tsx
  ui/src/components/routes/cases/detail/sidebar/CaseFolder.tsx
Due: lint-staged, bad-ui-imports

Added a query body for EQL similar to search function
  api/howler/datastore/collection.py
Due: none

fix tree usage
  ui/src/components/routes/cases/detail/sidebar/CaseFolder.tsx
  ui/src/components/routes/cases/detail/sidebar/CaseFolderContextMenu.test.tsx
  ui/src/components/routes/cases/detail/sidebar/CaseFolderContextMenu.tsx
  ui/src/components/routes/cases/detail/sidebar/types.d.ts
  ui/src/components/routes/cases/detail/sidebar/utils.test.ts
  ui/src/components/routes/cases/detail/sidebar/utils.ts
Due: lint-staged, bad-ui-imports

Writing test cases
  api/test/integration/api/test_search.py
Due: none

Adding more test cases
  api/test/integration/api/test_search.py
Due: none

more minor fixes
  ui/src/components/routes/cases/detail/sidebar/CaseFolder.test.tsx
  ui/src/components/routes/cases/detail/sidebar/CaseFolder.tsx
Due: lint-staged, bad-ui-imports

feat(api): set upstream python image to chainguard
  .github/workflows/api-workflow.yml
  api/Dockerfile
Due: none

feat(api): set upstream python image to chainguard (#284)
  .github/workflows/api-workflow.yml
  api/Dockerfile
Due: none

Added more test cases
  api/test/integration/api/test_search.py
Due: none

feat(api): set upstream python image to chainguard (#284)
  .github/workflows/api-workflow.yml
  api/Dockerfile
  api/poetry.lock
  api/pyproject.toml
Due: poetry-check-api

feat(ui): migrate ui to chainguard images
  .github/workflows/ui-workflow.yml
  ui/Dockerfile
Due: lint-staged, bad-ui-imports

fix(ui): fixed ui image build
  ui/Dockerfile
  ui/nginx.conf
Due: lint-staged, bad-ui-imports

fix(api): fixed issue command for new chainguard image
  api/Dockerfile
Due: none

chore(api): fix chainguard entrypoint
  api/Dockerfile
Due: none

refactor(api): Refactor reindex script
  api/howler/external/README.md
  api/howler/external/reindex_data.py
Due: none

refactor(api): Refactor reindex script (#286)
  api/howler/external/README.md
  api/howler/external/reindex_data.py
Due: none

Remove elasticAPM and implement OTEL
  api/howler/api/v1/clue.py
  api/howler/app.py
  api/howler/helper/oauth.py
  api/howler/odm/models/config.py
  api/howler/security/__init__.py
  api/howler/security/utils.py
  api/howler/services/auth_service.py
  api/howler/services/user_service.py
  api/howler/telemetry.py
  api/poetry.lock
  api/pyproject.toml
Due: poetry-check-api

chore(api): add howler plugin directory to base image, fix test build image
  .github/workflows/api-workflow.yml
  api/Dockerfile
Due: none

fix(api): include tzdata package to circumvent chainguard image issues
  api/poetry.lock
  api/pyproject.toml
Due: poetry-check-api

Add opentelemetry spans
  api/howler/api/socket.py
  api/howler/datastore/collection.py
  api/howler/security/utils.py
  api/howler/services/auth_service.py
  api/howler/services/config_service.py
  api/howler/services/event_service.py
  api/howler/services/hit_service.py
  api/howler/services/user_service.py
Due: none

fix(api): installing tzdata in new chainguard image
  api/Dockerfile
Due: none

fix(ui): fix offset error in table view
  docs/RELEASES.md
  ui/package.json
  ui/src/components/app/providers/HitSearchProvider.test.tsx
  ui/src/components/app/providers/HitSearchProvider.tsx
Due: lint-staged, bad-ui-imports

pr feedback
  ui/src/components/app/providers/UserListProvider.tsx
  ui/src/components/elements/hit/HitCard.tsx
  ui/src/components/hooks/useMySitemap.tsx
  ui/src/components/routes/cases/detail/CaseSidebar.tsx
  ui/src/components/routes/cases/detail/sidebar/FolderEntry.tsx
Due: lint-staged, bad-ui-imports

more updates to functionality, unit tests
  ui/src/components/app/providers/ParameterProvider.test.tsx
  ui/src/components/elements/hit/HitCard.tsx
  ui/src/components/routes/cases/detail/CaseSidebar.test.tsx
  ui/src/components/routes/cases/detail/CaseSidebar.tsx
  ui/src/components/routes/cases/detail/sidebar/CaseFolder.test.tsx
  ui/src/components/routes/cases/detail/sidebar/CaseFolder.tsx
  ui/src/components/routes/cases/detail/sidebar/FolderEntry.test.tsx
  ui/src/components/routes/cases/detail/sidebar/FolderEntry.tsx
  ui/src/components/routes/cases/detail/sidebar/RootDropZone.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
  ui/src/tests/mocks.tsx
Due: lint-staged, bad-ui-imports

small style change
  ui/src/components/routes/cases/detail/sidebar/FolderEntry.tsx
Due: lint-staged, bad-ui-imports

small change to dashboard
  ui/src/components/routes/cases/detail/RelatedCasePanel.tsx
Due: lint-staged, bad-ui-imports

chore: normalize logging string format style (#275)
  api/build_scripts/generate_classes.py
  api/howler/api/v1/auth.py
  api/howler/api/v1/clue.py
  api/howler/api/v1/hit.py
  api/howler/api/v1/tool.py
  api/howler/app.py
  api/howler/common/loader.py
  api/howler/cronjobs/retention.py
  api/howler/cronjobs/rules.py
  api/howler/cronjobs/view_cleanup.py
  api/howler/datastore/collection.py
  api/howler/datastore/migrations/fix_process.py
  api/howler/helper/discover.py
  api/howler/odm/helper.py
  api/howler/odm/random_data.py
  api/howler/remote/datatypes/__init__.py
  api/howler/security/__init__.py
  api/howler/security/socket.py
  api/howler/services/event_service.py
Due: none

fix(ui): fix offset error in table view (#288)
  docs/RELEASES.md
  ui/package.json
  ui/src/components/app/providers/HitSearchProvider.test.tsx
  ui/src/components/app/providers/HitSearchProvider.tsx
Due: lint-staged, bad-ui-imports

Add alternative telemetry backend for azure monitor
  api/howler/app.py
  api/howler/odm/models/config.py
  api/howler/telemetry.py
  api/poetry.lock
  api/pyproject.toml
Due: poetry-check-api

feat(ui): added the ability to move case items between folders (#278)
  ui/src/components/app/hooks/useMatchers.tsx
  ui/src/components/app/providers/ParameterProvider.test.tsx
  ui/src/components/app/providers/UserListProvider.tsx
  ui/src/components/elements/UserList.tsx
  ui/src/components/elements/hit/HitBanner.tsx
  ui/src/components/elements/hit/HitCard.tsx
  ui/src/components/elements/hit/HitOutline.tsx
  ui/src/components/elements/hit/elements/AnalyticLink.tsx
  ui/src/components/hooks/useMySitemap.tsx
  ui/src/components/routes/cases/detail/AlertPanel.tsx
  ui/src/components/routes/cases/detail/CaseDashboard.tsx
  ui/src/components/routes/cases/detail/CaseSidebar.test.tsx
  ui/src/components/routes/cases/detail/CaseSidebar.tsx
  ui/src/components/routes/cases/detail/RelatedCasePanel.tsx
  ui/src/components/routes/cases/detail/aggregates/CaseAggregate.tsx
  ui/src/components/routes/cases/detail/aggregates/SourceAggregate.tsx
  ui/src/components/routes/cases/detail/sidebar/CaseFolder.test.tsx
  ui/src/components/routes/cases/detail/sidebar/CaseFolder.tsx
  ui/src/components/routes/cases/detail/sidebar/CaseFolderContextMenu.test.tsx
  ui/src/components/routes/cases/detail/sidebar/CaseFolderContextMenu.tsx
  ui/src/components/routes/cases/detail/sidebar/FolderEntry.test.tsx
  ui/src/components/routes/cases/detail/sidebar/FolderEntry.tsx
  ui/src/components/routes/cases/detail/sidebar/RootDropZone.tsx
  ui/src/components/routes/cases/detail/sidebar/types.d.ts
  ui/src/components/routes/cases/detail/sidebar/utils.test.ts
  ui/src/components/routes/cases/detail/sidebar/utils.ts
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
  ui/src/tests/mocks.tsx
Due: lint-staged, bad-ui-imports

Add check for env var and remove extra config options
  api/howler/telemetry.py
Due: none

Add app as parameter for instrumentation
  api/howler/app.py
Due: none

Check for OTLP endpoint
  api/howler/telemetry.py
Due: none

lock depends
  api/poetry.lock
Due: poetry-check-api
